<div class="container-fluid">
  <div class="row proposal">
    <div class="col-md-12">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="personal">
          <form [formGroup]="personal" (submit)="personalDetails(stepper, personal.value)">
            <ng-template matStepLabel>PROPOSER DETAILS</ng-template>
            <mat-accordion class="mt-4 w-100 float-left">
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{groupName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row mt-3">
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">PROPOSER DETAILS</h6>
                    <div class="row">
                      <div class="col-md-2">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="personalTitle">
                            <mat-option value="Mr">Mr</mat-option>
                            <mat-option value="Mrs">Ms</mat-option>
                            <mat-option value="Mrs">Mrs</mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.personalTitle.errors?.required">Title is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="personalFirstname"  (keypress)="data($event)" autocomplete="off" required >
                          <mat-error *ngIf="personal.controls.personalFirstname.errors?.required">First Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="personalLastname"  (keypress)="data($event)" autocomplete="off" required >
                          <mat-error *ngIf="personal.controls.personalLastname.errors?.required">Last Name is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="personalDob" (dateInput)="addEvent($event)" (dateChange)="addEventSelect($event)"  (keypress)="dobkeyPress($event)"  minlength="10"  maxlength="10" autocomplete="off" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="personal.controls.personalDob.errors?.required">DOB is required</mat-error>
                      </mat-form-field>
                        <div class="error" *ngIf="dobError != ''">{{dobError}}</div>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Occupation" formControlName="personalOccupation" (change)="changeOccupation()" autocomplete="off" required>
                            <mat-option *ngFor="let occupation of occupationList" [value]="occupation.occupation_code">
                              {{occupation.occupation_name}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.personalOccupation.errors?.required">Occupation is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Annual Income" (keypress)="keyPress($event)"    maxlength="15" formControlName="personalIncome" autocomplete="off">
                        <!--<mat-error *ngIf="personal.controls.personalIncome.errors?.required">Annual Income is required</mat-error>-->
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Aadhar Number" (keypress)="keyPress($event)"  minlength="12"  maxlength="12" formControlName="personalAadhar" autocomplete="off">
                        <mat-error *ngIf="personal.controls.personalAadhar.hasError('minlength')">Aadhar Number isn't long enough, minimum of 12 characters</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PAN Number" class="text-uppercase" minlength="10"  maxlength="10" (keypress)="keyEvent($event)" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" formControlName="personalPan" autocomplete="off">
                        <mat-error *ngIf="personal.controls.personalPan.hasError('minlength')">PAN Number isn't long enough, minimum of 10 characters</mat-error>
                        <mat-error *ngIf="personal.controls.personalPan.hasError('pattern')"> Enter Valid PAN Number</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="GST Number" class="text-uppercase"   minlength="15"  maxlength="15" (keypress)="keyEvent($event)" formControlName="personalGst" pattern="^([0-9]){2}([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}([0-9]){1}([a-zA-Z]){1}([a-zA-Z0-9]){1}?$" autocomplete="off">
                        <mat-error *ngIf="personal.controls.personalGst.hasError('minlength')">GST Number isn't long enough, minimum of 15 characters</mat-error>
                        <mat-error *ngIf="personal.controls.personalGst.hasError('pattern')">Enter Vaild GST</mat-error>

                      </mat-form-field></div>

                      <div class="col-md-6">
                        <div class="row">
                          <div class="col">
                            <p>Previous Medical insurance</p>
                            <mat-radio-group (change)="PreviousInsure($event)" formControlName="previousinsuranceChecked">
                              <mat-radio-button value="true" class="mr-3">Yes</mat-radio-button>
                              <mat-radio-button value="false" [checked]="true">No</mat-radio-button>
                            </mat-radio-group>
                          </div>
                          <div class="col" *ngIf="previousInsuranceStatus">
                            <mat-form-field class="w-100">
                              <mat-select placeholder="Previous Medical insurance" formControlName="previousinsurance" [required]="previousInsuranceStatus">
                                <mat-option *ngFor="let preInsurence of previousinsurance" [value]="preInsurence" >{{preInsurence}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="personal.controls.previousinsurance.errors?.required">Previous Medical insurance is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <!--<div class="col-md-6" *ngIf="previousInsuranceStatus == 'yes'">-->
                      <!--<mat-form-field class="w-100">-->
                      <!--<input matInput placeholder="Previous Medical insurance"  formControlName="previousinsurance">-->
                      <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.previousinsurance.errors?.required">Previous Medical insurance is required</mat-error>&ndash;&gt;-->
                      <!--</mat-form-field>-->
                      <!--</div>-->

                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID" formControlName="personalEmail" autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalEmail.errors?.required">Email ID is required</mat-error>
                          <mat-error *ngIf="personal.controls.personalEmail.hasError('pattern')">Enter valid Email</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Mobile Number"  (keypress)="keyPress($event)"   maxlength="10" formControlName="personalMobile" autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalMobile.errors?.required">Mobile Number is required</mat-error>
                        <!--<mat-error *ngIf="personal.controls.personalMobile.hasError('minlength')">Mobile Number isn't long enough, minimum of 10 characters</mat-error>-->
                        <mat-error *ngIf="personal.controls.personalMobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Alternate Number" maxlength="20"  formControlName="personalAltnumber" (keypress)="onAlternative($event)" (keyup)="alternateChange($event)" autocomplete="off">
                        <!--<mat-error *ngIf="personal.controls.personalAltnumber.errors?.required">Alternate Number is required</mat-error>-->
                        <!--<mat-error *ngIf="personal.controls.personalAltnumber.hasError('minlength')">Mobile Number isn't long enough, minimum of 10 characters</mat-error>-->
                        <!--<mat-error *ngIf="personal.controls.personalAltnumber.hasError('pattern')">Enter Valid  Mobile Number</mat-error>-->
                        <!--<mat-error *ngIf="!personal.controls.personalAltnumber.hasError('mismatchedPasswords')">Personal mobile number do match. Please enter another phone number </mat-error>-->
                      </mat-form-field>
                        <div class="error" *ngIf="mobileNumber != '' && mobileNumber != 'true'">{{mobileNumber}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green"> PROPOSER COMMUNICATION ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="personalAddress" autocomplete="off" required></textarea>
                          <mat-error *ngIf="personal.controls.personalAddress.errors?.required">Address1 is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="personalAddress2" autocomplete="off" required></textarea>
                          <mat-error *ngIf="personal.controls.personalAddress2.errors?.required">Address2 is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPostal($event.target.value, 'personal')" formControlName="personalPincode" autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="personal.controls.personalPincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="personal.controls.personalPincode.hasError('pattern')">Enter Valid  Pin</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100" >
                        <mat-select placeholder="City" formControlName="personalCity"  (change)="getCityId( 'personal')" autocomplete="off" required>
                          <mat-option *ngFor="let city of personalCitys" [value]= 'city.city_id'>
                            {{city.city_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.personalCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="personalState" autocomplete="off" required readonly>
                        <mat-error *ngIf="personal.controls.personalState.errors?.required">State is required</mat-error>

                      </mat-form-field></div>

                      <div class="col-md-6"><mat-form-field class="w-100" >
                        <mat-select placeholder="Area" formControlName="personalArea" autocomplete="off" required>
                          <mat-option *ngFor="let area of areaNames" [value]= 'area.areaID'>
                            {{area.areaName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.personalArea.errors?.required">Area is required</mat-error>
                      </mat-form-field></div>



                    </div>
                  </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">PROPOSER RESIDENCE ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12"><mat-checkbox formControlName="sameas" (change)="sameAddress($event)"><strong>Same as Communication Address</strong></mat-checkbox></div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="residenceAddress" autocomplete="off" [readonly]="inputReadonly"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="residenceAddress2" autocomplete="off" [readonly]="inputReadonly"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="add($event)" minlength="6"   maxlength="6" (input)="getPostal($event.target.value, 'residence')"  formControlName="residencePincode" [readonly]="inputReadonly" autocomplete="off">
                        <mat-error *ngIf="personal.controls.residencePincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="personal.controls.residencePincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="personal.controls.residencePincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100" >
                        <mat-select placeholder="City" formControlName="residenceCity"  (change)="getCityId('residence')"  autocomplete="off">
                          <mat-option *ngFor="let citys of residenceCitys" [value]= 'citys.city_id'>
                            {{citys.city_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.residenceCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="residenceState"  autocomplete="off" readonly>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100" >
                        <mat-select placeholder="Area" formControlName="residenceArea"   autocomplete="off" >
                          <mat-option *ngFor="let rarea of rAreaNames" [value]= 'rarea.areaID'>
                            {{rarea.areaName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.residenceArea.errors?.required">Area is required</mat-error>
                      </mat-form-field></div>
                      <!--<div class="col-md-6"><mat-form-field class="w-100">-->
                      <!--<input matInput placeholder="Email ID" formControlName="residenceEmail" >-->
                      <!--</mat-form-field></div>-->
                      <!--<div class="col-md-6"><mat-form-field class="w-100">-->
                      <!--<input matInput placeholder="Mobile Number" (keypress)="keyPress($event)" minlength="10"  maxlength="10" formControlName="residenceMobile" >-->
                      <!--<mat-error *ngIf="personal.controls.residenceMobile.hasError('minlength')">Mobile Number isn't long enough, minimum of 10 characters</mat-error>-->

                      <!--</mat-form-field></div>-->
                      <!--<div class="col-md-6"><mat-form-field class="w-100">-->
                      <!--<input matInput placeholder="Alternate Number" (keypress)="keyPress($event)" minlength="10"  maxlength="10" formControlName="residenceAltnumber">-->
                      <!--<mat-error *ngIf="personal.controls.residenceAltnumber.hasError('minlength')">Mobile Number isn't long enough, minimum of 10 characters</mat-error>-->

                      <!--</mat-form-field></div>-->
                    </div>
                  </div>


                  <div class="col-md-12 p-3 box-card">
                    <h6 class="color-green">SOCIAL STATUS</h6>
                    <mat-radio-group  formControlName="socialStatus" (change)="changeSocialStatus(socialStatus)">
                      <mat-radio-button value="false" class="mr-3">Yes</mat-radio-button>
                      <mat-radio-button value="true" [checked]="socialStatus == true" >No</mat-radio-button>
                    </mat-radio-group>
                    <p><strong>Please choose "Yes" in case of BPL (Below Poverty Line) families, Disabled Persons etc, Persons working in Unorganized/Informal Sectors</strong></p>
                    <div class="row">
                      <div class="col-md-6 ">
                        <p>Please choose "Yes" if you are working in Unorganized Sector</p>
                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="socialAnswer1" >
                          <mat-button-toggle value="1" [checked]="socialNo" [disabled]="socialStatus">Yes</mat-button-toggle>
                          <mat-button-toggle value="0" [checked]="socialNo" [disabled]="socialStatus">No</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                      <div class="col-md-6">
                        <p>Please choose "Yes" if you are working in informal Sector</p>
                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="socialAnswer2" >
                          <mat-button-toggle value="1" [checked]="socialNo" [disabled]="socialStatus">Yes</mat-button-toggle>
                          <mat-button-toggle value="0" [checked]="socialNo" [disabled]="socialStatus">No</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6 ">
                        <p>Please choose "Yes" if you are Economically Vulnerable or Backward Classes</p>
                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="socialAnswer3" >
                          <mat-button-toggle value="1" [checked]="socialNo" [disabled]="socialStatus">Yes</mat-button-toggle>
                          <mat-button-toggle value="0" [checked]="socialNo" [disabled]="socialStatus">No</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                      <div class="col-md-6">
                        <p>Please Choose “Yes” if you are physical challenged person </p>
                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="socialAnswer4" >
                          <mat-button-toggle value="1" [checked]="socialNo" [disabled]="socialStatus">Yes</mat-button-toggle>
                          <mat-button-toggle value="0" [checked]="socialNo" [disabled]="socialStatus">No</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>

                  </div>
                  <p class="w-100 mb-0"><mat-checkbox  formControlName="illnessCheck" (change)="criticalIllness($event)">Does any member proposed to be insured, suffered or are suffering form any disease/ailment/adverse medical condition of any kind especially Heart attack/Stroke/Cancer/Renal disorder/Alzheimer's disease/Parkinson's disease</mat-checkbox></p>
                  <div class="proposal-buttom mt-3 text-right w-100">
                    <button mat-raised-button color="primary" [disabled]="stopNext"  type="submit">Next</button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
        </mat-step>
        <mat-step [stepControl]="">

          <ng-template matStepLabel >INSURED DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{groupName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matStepLabel>INSURED DETAILS</ng-template>
              <div class="row mt-3" >
                <div class="col-md-12 box-card pt-3"  *ngFor="let item of familyMembers; let i = index">
                  <h6 class="color-green">INSURED DETAILS ({{item.type}})</h6>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Name" [(ngModel)]="item.ins_name"  (keypress)="data($event)" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6"><mat-form-field class="w-100">
                      <input matInput [matDatepicker]="insureddob" [max]="today" [(ngModel)]="item.ins_dob" placeholder="DOB (DD/MM/YYYY)" (dateInput)="addEventInsurer($event, i, item.type)" (dateChange)="addEventInsurerSelect($event, i, item.type)" (keypress)="dobkeyPress($event)"  minlength="10"  maxlength="10"  required>
                      <mat-datepicker-toggle matSuffix [for]="insureddob"></mat-datepicker-toggle>
                      <mat-datepicker #insureddob></mat-datepicker>
                    </mat-form-field>
                      <div class="error" *ngIf="item.ageRestriction != ''">{{item.ageRestriction}}</div>
                      <div class="error" *ngIf="insurerDobError != ''">{{insurerDobError}}</div>
                    </div>
                    <!--<div class="col-md-6"><mat-form-field class="w-100">-->
                    <!--<input matInput placeholder="Age" (keypress)="keyPress($event)"  maxlength="3" [ngModel]="item.ins_dob | age " readonly >-->
                    <!--</mat-form-field></div>-->
                    <div class="col-md-6" *ngIf="item.type == 'Self'">
                      <mat-form-field class="w-100">
                      <mat-select  placeholder="Gender" [(ngModel)]="item.ins_gender" required>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                      </mat-select>
                    </mat-form-field></div>
                    <div class="col-md-6" *ngIf="item.type != 'Self'">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Gender" [(ngModel)]="item.ins_gender" required readonly>
                      </mat-form-field></div>
                    <div class="col-md-6" >
                      <p class="mr-3" *ngIf="buyProductdetails.product_id != '7'">Do you have any health problem?<span class="error">*</span></p>
                      <p class="mr-3" *ngIf="buyProductdetails.product_id == '7'">Do you have any health problems? Has the person proposed for insurance been advised for treatment of sub-fertility / infertility?<span class="error">*</span></p>
                        <div  fxLayoutAlign="start center">
                      <mat-radio-group [(ngModel)]="item.illness" (change)="illnessStatus($event, i)" required>
                        <mat-radio-button value="true" class="mr-3">Yes</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                      </mat-radio-group>
                      <mat-form-field class="w-100" *ngIf="item.illness == 'true'">
                        <input matInput placeholder="Illness" [(ngModel)]="item.ins_illness" required >
                      </mat-form-field>
                    </div>
                    </div>
                    <div class="col-md-6"><mat-form-field class="w-100">
                      <input matInput placeholder="Height(cms)" (keypress)="keyPress($event)"  maxlength="3"  [(ngModel)]="item.ins_height" required >
                    </mat-form-field></div>
                    <div class="col-md-6"><mat-form-field class="w-100">
                      <input matInput placeholder="Weight(kgs)" (keypress)="keyPress($event)"  maxlength="3" [(ngModel)]="item.ins_weight" required >
                    </mat-form-field></div>
                    <div class="col-md-6">
                      <mat-form-field class="w-100">
                        <mat-select placeholder="Occupation" [(ngModel)]="item.ins_occupation_id" required>
                          <mat-option *ngFor="let occupation of occupationList" value="{{occupation.occupation_code}}">
                            {{occupation.occupation_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6"><mat-form-field class="w-100">
                      <input matInput placeholder="Annual Income" (keypress)="keyPress($event)"   maxlength="15" [(ngModel)]="item.insurincome">
                    </mat-form-field></div>
                    <div class="col-md-6"><mat-form-field class="w-100">
                      <mat-select placeholder="Relationship with Proposer" [(ngModel)]="item.ins_relationship" required>
                        <mat-option *ngFor="let relationship of relationshipList" value="{{relationship.relationship_code}}" >
                          {{relationship.relationship_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field></div>
                    <div class="col-md-12" *ngIf="buyProductdetails.product_id == 6">
                      <p>Additional premium applicable</p>
                      <mat-radio-group [(ngModel)]="item.ins_hospital_cash" required >
                        <mat-radio-button value="1" class="mr-3">Yes</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-6" *ngIf="buyProductdetails.product_id == 6">
                      <strong>(cash benefit of Rs.1000/- for each and every completed day of hospitalization subject to a maximum of 7 days per hospitalization and 14 days per policy year .Date of admission and Date of discharge not considered.)</strong>
                    </div>
                    <div class="col-md-12 " *ngIf="(buyProductdetails.product_id == 9 || buyProductdetails.product_id == 8) && (item.ins_age >= 18 || item.ins_age == null)">
                      <p>personal Accident Applicable</p>
                      <mat-radio-group [(ngModel)]="item.ins_personal_accident_applicable" (change)="personalAccident($event, i)"  required [disabled]="item.ins_accident_status" >
                        <mat-radio-button value="2" class="mr-3">Yes</mat-radio-button>
                        <mat-radio-button value="0" checked="true">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                      <hr>
                    <div class="col-md-6" *ngIf="(buyProductdetails.product_id == 9 || buyProductdetails.product_id == 8) && (item.ins_age >= 18 || item.ins_age == null)">
                      <p>Does your occupation require you to engage in manual labour?</p>
                      <mat-radio-group [(ngModel)]="item.engage_manual_status" (change)="engageWinter($event, i, 'manual')" required  >
                        <mat-radio-button value="2" class="mr-3">Yes</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                      </mat-radio-group>
                      <div class="col-md-12"><mat-form-field class="w-100" *ngIf="item.engage_manual_status != '0' ">
                        <input matInput placeholder="Engage Manual Labour" [(ngModel)]="item.ins_engage_manual_labour" required>
                      </mat-form-field></div>
                    </div>
                      <div class="col-md-6 " *ngIf="(buyProductdetails.product_id == 9 || buyProductdetails.product_id == 8) && (item.ins_age >= 18 || item.ins_age == null)">
                          <p>Do you engage in or propose to engage in any activity or sport which is hazardous or adventurous in nature such as racing mountaineering winter sports etc.</p>
                          <mat-radio-group [(ngModel)]="item.engage_winter_status" (change)="engageWinter($event, i, 'winter')" required  >
                              <mat-radio-button value="2" class="mr-3">Yes</mat-radio-button>
                              <mat-radio-button value="0">No</mat-radio-button>
                          </mat-radio-group>
                        <div class="col-md-12"><mat-form-field class="w-100" *ngIf="item.engage_winter_status != '0' ">
                          <input matInput placeholder="Engage Winter Sport" [(ngModel)]="item.ins_engage_winter_sports" required>
                        </mat-form-field></div>
                      </div>

                  </div>
                  <div class="proposal-buttom mt-3 mb-3 text-right w-100" *ngIf="familyMembers.length - 1 == i">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary"  type="submit" (click)="InsureDetails(stepper, i, 'Insured Details')">Next</button>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-step>
        <mat-step [stepControl]="">
          <ng-template matStepLabel>NOMINEE DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{groupName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matStepLabel>INSURED DETAILS</ng-template>
              <div class="row mt-3" *ngFor="let list of nomineeDate; let i = index">
                <div class="col-md-12 " >
                  <mat-card *ngFor="let nomineeadd of list.nominee; let ci = index" [ngStyle]="{'background-color':nomineeadd.colorStatus === 'green' ? '#dbf1ee' : '#f5f5f5' }">
                    <h6 class="color-green mb-3" >NOMINEE DETAILS  <span class="add-nominee"> <button mat-raised-button color="primary" [disabled]="nomineeadd.addBtn" class="float-right" (click)="addNominee('add')"> <i class="material-icons">add</i> Add Nominee</button> <button mat-raised-button [disabled]="nomineeadd.removeBtn" (click)="addNominee('delete')" class="mr-3" color="accent"><i class="material-icons">delete_sweep</i> Remove</button></span></h6>
                    <div class="row"  >
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Name of Nominee" [(ngModel)]="nomineeadd.nname" (keypress)="data($event)" autocomplete="off" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-2"><mat-form-field class="w-100">
                        <input matInput placeholder="Age" (keypress)="keyPress($event)"  (keyup)="typeAge(nomineeadd.nage, i, ci)" maxlength="3" [(ngModel)]="nomineeadd.nage"  >
                      </mat-form-field></div>
                        <div class="col-md-4"><mat-form-field class="w-100">
                            <mat-select placeholder="Relationship with Proposer" [(ngModel)]="nomineeadd.nrelationship" >
                                <mat-option *ngFor="let relationship of relationshipList" value="{{relationship.relationship_name}}" >
                                    {{relationship.relationship_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field></div>
                      <!--<div class="col-md-4"><mat-form-field class="w-100">-->
                        <!--<input matInput placeholder="Relationship with Proposer" [(ngModel)]="nomineeadd.nrelationship" required>-->
                      <!--</mat-form-field></div>-->
                      <div class="col-md-2"><mat-form-field class="w-100">
                        <input matInput placeholder="% Of the Claim" [(ngModel)]="nomineeadd.nclaim" (keypress)="keyPress($event)"   maxlength="3" (keyup)="claimPercent(nomineeadd.nclaim)"  >
                      </mat-form-field></div>
                    </div>
                    <h6 class="color-green  mt-4" *ngIf="nomineeadd.ageSetting">APPOINTEE DETAILS {{nomineeadd.ageSetting}}</h6>
                    <div class="row" *ngIf="nomineeadd.ageSetting">
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Name of Appointee" [(ngModel)]="nomineeadd.aname" [required]="nomineeadd.nage < 18 && nomineeadd.nage != '' " (keypress)="data($event)">
                        </mat-form-field>
                      </div>
                      <div class="col-md-2"><mat-form-field class="w-100">
                        <input matInput placeholder="Age" (keypress)="keyPress($event)"   maxlength="3" [(ngModel)]="nomineeadd.aage" [required]="nomineeadd.nage < 18 && nomineeadd.nage != ''" >
                      </mat-form-field></div>
                        <div class="col-md-4"><mat-form-field class="w-100">
                            <mat-select placeholder="Relationship with Proposer" [(ngModel)]="nomineeadd.arelationship" [required]="nomineeadd.nage < 18 && nomineeadd.nage != ''">
                                <mat-option *ngFor="let relationship of relationshipList" value="{{relationship.relationship_code}}" >
                                    {{relationship.relationship_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field></div>
                      <!--<div class="col-md-4"><mat-form-field class="w-100">-->
                        <!--<input matInput placeholder="Relationship with Proposer" [(ngModel)]="nomineeadd.arelationship" [required]="nomineeadd.nage < 18">-->
                      <!--</mat-form-field></div>-->
                    <!--</div><br><br>-->
                    </div>
                  </mat-card>

                </div>
                <!--<div class="col-md-6 box-card pt-3">-->
                <!--<h6 class="color-green text-center mb-3">PREVIOUS INSURER DETAILS</h6>-->
                <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                <!--<mat-form-field class="w-100">-->
                <!--<input matInput placeholder="Previous Policy Number" [(ngModel)]="list.policynumber">-->
                <!--</mat-form-field>-->
                <!--</div>-->


                <!--<div class="col-md-6">-->
                <!--<p>Any Claims in the Past 3 Years?</p>-->
                <!--<mat-radio-group [(ngModel)]="list.anyclaims" required>-->
                <!--<mat-radio-button value="1" class="mr-3" checked>yes</mat-radio-button>-->
                <!--<mat-radio-button value="0">No</mat-radio-button>-->
                <!--</mat-radio-group>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="proposal-buttom mt-3 text-right w-100">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-raised-button color="primary"  type="submit" (click)="nomineeDetails(stepper, i, 'Nominee Details')"  >Next</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-step>
        <mat-step [stepControl]="">
          <ng-template matStepLabel>SUMMARY</ng-template>
          <section class="summary-details" *ngIf="summaryData">
            <div class="row">
              <div class="col-md-4"> <h4>{{summaryData.group_name}} / <span style="font-size: 17px; color: #666;">Sum Insured: &nbsp;<i class="fas fa-rupee-sign"></i> {{buyProductdetails.suminsured_amount}}</span></h4></div>
              <div class="col-md-8">
                <ul class="summary-head">
                  <li><span>Insurer:</span> &nbsp;<img src="{{webhost + '/' + buyProductdetails.company_logo}}" class="img-thumbnail" style="width: 125px;" /> </li>
                  <li><span>Premium:</span> &nbsp; <span><i class="fas fa-rupee-sign"></i> {{summaryData.proposal_details[0].premium}}</span> /</li>
                  <li><span>Service Tax:</span> &nbsp;<span><i class="fas fa-rupee-sign"></i> {{summaryData.proposal_details[0].serviceTax}}</span> /</li>
                  <li><span>Total Premium:</span> &nbsp;<span><i class="fas fa-rupee-sign"></i> {{summaryData.proposal_details[0].totalPremium}}</span> </li>
                  <li></li>
                </ul>
              </div>
            </div>

            <h5 class="mt-3 sub-title">PROPOSER DETAILS </h5>
            <div class="row box-card">
              <div class="col-md-6">
                <div class="p-3">
                  <h6>PROPOSER DETAILS</h6>
                  <ul class="m-0 list-group">
                    <li class="list-group-item"><strong>Name:</strong> {{summaryData.proposer_name}}</li>
                    <li class="list-group-item"><strong>D.O.B:</strong> {{summaryData.prop_dob}}</li>
                    <!--<li class="list-group-item"><strong>Age:</strong> -</li>-->
                    <!--<li class="list-group-item"><strong>Occupation:</strong> {{summaryData.occupation_name}}</li>-->
                    <li class="list-group-item"><strong>Annual Income:</strong> {{summaryData.prop_annual_income | currency: 'INR'}}</li>
                    <li class="list-group-item"><strong>Aadhar Number:</strong> {{summaryData.prop_aadhar_no}}</li>
                    <li class="list-group-item"><strong>PAN Number:</strong> {{summaryData.prop_pan_no}}</li>
                    <li class="list-group-item"><strong>GST Number:</strong> {{summaryData.gst_id_no}}</li>
                    <li class="list-group-item"><strong>Previous Medical Insurence:</strong> {{summaryData.previous_medical_insurance}}</li>
                  </ul>
                </div>
              </div>

              <div class="col-md-6">
                <h6 class="color-green  mt-3">SOCIAL STATUS</h6>
                <div class="row">
                  <div class="col-md-6">
                    <p>Please choose "Yes" if you are working in UnOrganized Sector</p>
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                      <mat-button-toggle value="1" [checked]="summaryData.social_status_bpl == 1" disabled>Yes</mat-button-toggle>
                      <mat-button-toggle value="0" [checked]="summaryData.social_status_bpl == 0" disabled>No</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <div class="col-md-6">
                    <p>Please choose "Yes" if you are working in informal Sector</p>
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                      <mat-button-toggle value="1" [checked]="summaryData.social_status_disabled == 1" disabled>Yes</mat-button-toggle>
                      <mat-button-toggle value="0" [checked]="summaryData.social_status_disabled == 0" disabled>No</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6 ">
                    <p>Please choose "Yes" if you are Economically Vulnerable or Backward Classes</p>
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                      <mat-button-toggle value="1" [checked]="summaryData.social_status_informal == 1" disabled>Yes</mat-button-toggle>
                      <mat-button-toggle value="0" [checked]="summaryData.social_status_informal == 0" disabled>No</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <div class="col-md-6">
                    <p>Please choose “Yes” if you are Other Categories of Persons</p>
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                      <mat-button-toggle value="1" [checked]="summaryData.social_status_unorganized == 1" disabled>Yes</mat-button-toggle>
                      <mat-button-toggle value="0" [checked]="summaryData.social_status_unorganized == 0" disabled>No</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-3">
                  <h6>PROPOSER COMMUNICATION DETAILS</h6>
                  <ul class="m-0 list-group">
                    <li class="list-group-item"><strong>Address 1:</strong> {{summaryData.prop_comm_address1}}</li>
                    <li class="list-group-item"><strong>Address 2:</strong> {{summaryData.prop_comm_address2}}</li>
                    <li class="list-group-item"><strong>PIN code:</strong>  {{summaryData.prop_comm_pincode}}</li>
                    <li class="list-group-item"><strong>City:</strong> {{summaryCity}}</li>
                    <li class="list-group-item"><strong>Area:</strong> {{sumAreaNameComm}}</li>
                    <li class="list-group-item"><strong>State:</strong> {{summaryData.prop_comm_state}}</li>
                    <li class="list-group-item"><strong>Email Id:</strong> {{summaryData.proposer_email}}</li>
                    <li class="list-group-item"><strong>Mobile Number:</strong> {{summaryData.proposer_mobile}}</li>
                    <li class="list-group-item"><strong>Alternate Number:</strong> {{summaryData.prop_alternate_mobile}}</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class=" p-3">
                  <h6>PROPOSER RESIDENCE DETAILS</h6>
                  <ul class="m-0 list-group">
                    <li class="list-group-item"><strong>Address 1:</strong> {{summaryData.prop_res_address1}}</li>
                    <li class="list-group-item"><strong>Address 2:</strong> {{summaryData.prop_res_address2}}</li>
                    <li class="list-group-item"><strong>PIN code:</strong>  {{summaryData.prop_res_pincode}}</li>
                    <li class="list-group-item"><strong>City:</strong> {{rSummaryCity}}</li>
                    <li class="list-group-item"><strong>Area:</strong> {{sumAreaName}}</li>
                    <li class="list-group-item"><strong>State:</strong> {{summaryData.prop_res_state}}</li>
                  </ul>
                </div>
              </div>
            </div>

            <h5 class="mt-3 sub-title">INSURED DETAILS </h5>
            <div class="row box-card">
              <div class="col-md-6 " *ngFor="let family of summaryData.insured_details">
                <div class="p-3">
                  <h6>INSURED DETAILS ({{family.ins_member_typename}}) </h6>
                  <ul class="m-0 list-group">
                    <li class="list-group-item"><strong>Name:</strong> {{family.ins_name}}</li>
                    <li class="list-group-item"><strong>D.O.B:</strong> {{family.ins_dob}}</li>
                    <li class="list-group-item"><strong>Gender:</strong> {{family.ins_gender}}</li>
                    <li class="list-group-item"><strong>Illness:</strong> {{family.ins_illness}}</li>
                    <li class="list-group-item"><strong>Height:</strong> {{family.ins_height}}</li>
                    <li class="list-group-item"><strong>Weight:</strong> {{family.ins_weight}}</li>
                    <li class="list-group-item"><strong>Occupation:</strong> {{family.occupation_name}}</li>
                    <li class="list-group-item"><strong>Relationship with Proposer:</strong> {{family.relationship_name}}</li>
                    <li *ngIf="this.buyProductdetails.product_id == 6" class="list-group-item"><strong>Hospital Cash:</strong> {{family.ins_hospital_cash}}</li>
                    <li *ngIf="this.buyProductdetails.product_id == 8 || this.buyProductdetails.product_id == 9" class="list-group-item"><strong>personal Accident Applicable:</strong> {{family.ins_is_personal_accident_applicable}}</li>
                    <li *ngIf="this.buyProductdetails.product_id == 8 || this.buyProductdetails.product_id == 9" class="list-group-item"><strong>Engage Manual Labour:</strong> {{family.ins_engage_manual_labour}}</li>
                    <li *ngIf="this.buyProductdetails.product_id == 8 || this.buyProductdetails.product_id == 9" class="list-group-item"><strong>Engage Winter Sports:</strong> {{family.ins_engage_winter_sports}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <h5 class="mt-3 sub-title">NOMINEE DETAILS </h5>
            <div class="row box-card">
              <div class="col-md-12 ">
                <div class="p-3">
                  <div class="row">
                    <div class="col-md-6">
                      <h6>NOMINEE DETAILS  </h6>
                      <ul class="m-0 list-group">
                        <li class="list-group-item"><strong>Nominee name:</strong> {{summaryData.nominee_name_one}}</li>
                        <li class="list-group-item"><strong>Age:</strong> {{summaryData.nominee_age_one}}</li>
                        <li class="list-group-item"><strong>Relationship with Proposer:</strong> {{summaryData.nominee_relationship_one}}</li>
                        <li class="list-group-item"><strong>% of Claim:</strong> {{summaryData.nominee_percentclaim_one | limitTo : 3}}</li>
                      </ul>
                    </div>
                    <div class="col-md-6" *ngIf="summaryData.nominee_age_one < 18">
                      <h6>APPOINTEE DETAILS  </h6>
                      <ul class="m-0 list-group">
                        <li class="list-group-item"><strong>Appointee name:</strong> {{summaryData.appointee_name_one}}</li>
                        <li class="list-group-item"><strong>Age:</strong> {{summaryData.appointee_age_one}}</li>
                        <li class="list-group-item"><strong>Relationship with Proposer:</strong> {{summaryData.appointee_relationship_one | limitTo : 3}}</li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf=" summaryData.nominee_percentclaim_one < 100">
                <div class="row">
                  <div class="col-md-6">
                    <h6>NOMINEE DETAILS 2 </h6>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Nominee name:</strong> {{summaryData.nominee_name_two}}</li>
                      <li class="list-group-item"><strong>Age:</strong> {{summaryData.nominee_age_two}}</li>
                      <li class="list-group-item"><strong>Relationship with Proposer:</strong> {{summaryData.nominee_relationship_two}}</li>
                      <li class="list-group-item"><strong>% of Claim:</strong> {{summaryData.nominee_percentclaim_two | limitTo : 3}}</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h6>APPOINTEE DETAILS 2 </h6>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Appointee name:</strong> {{summaryData.appointee_name_two}}</li>
                      <li class="list-group-item"><strong>Age:</strong> {{summaryData.appointee_age_two}}</li>
                      <li class="list-group-item"><strong>Relationship with Proposer:</strong> {{summaryData.appointee_relationship_two | limitTo : 3}}</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <p class="mt-2 pl-3"><mat-checkbox [(ngModel)]="declaration">I hereby declare all  the  details provided above is correct</mat-checkbox></p>
          </section>
          <hr>
          <div class="row">
            <div class="col-md-12 text-center">

              <button mat-raised-button color="primary" [disabled]="!declaration" (click)="payNow();">Pay Now</button>
            </div>
          </div>
          <div class="proposal-buttom mt-3 text-right w-100">
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>


