<!--<title>{{metaTitle}}</title>-->
<!--<meta name="keywords" [content]=metaGroupPa.keyword />-->
<!--<meta name="description" [content]=metaGroupPa.descrition />-->

<div class="container dashboard h-100 d-none d-sm-none d-lg-block d-md-none d-xl-block" fxLayoutAlign="start start">
  <div class="row my-flex-card">
    <h2 class="w-100 text-center" style="color: #32326D;"><img src="assets/img/group-personal-accidents.svg" class="logo-size">&nbsp;Group Personal Accident</h2>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block">
          <div class="aboutImg">
            <img src="assets/img/Group-Personal-Accident-1.jpg"  class="w-100">
            <div class="aboutContent">
              <h4>About Group Personal Accident</h4>
              <p style="text-align: left;">Your accident affects others too. We can help you...… <button class="btn btn-sm" style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"><span><a scrollTo href="#knowMoreShow" style="color: #000000;">Know more</a></span></button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-block AllFormView">
            <mat-card class="p-4" style="background: linear-gradient(to top, #194C85 0%, #2F86D6 100%) !important; color:#fff;">
              <h2 class="w-100 text-center" >Let us assist you</h2>
              <form [formGroup]="perapp">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <mat-select  placeholder="Insurance Type" formControlName ="insurance" required>
                        <mat-option value="shopkeepers">Shopkeepers</mat-option>
                        <mat-option value="marine">Marine Cargo Policy</mat-option>
                        <mat-option value="money">Money Insurance</mat-option>
                        <mat-option value="fire">Fire Policy</mat-option>
                        <mat-option value="burglary">Burglary Policy</mat-option>
                        <mat-option value="machinery">Machinery Breakdown Policy</mat-option>
                        <mat-option value="electronics">Electronics Equiptment Policy</mat-option>
                        <mat-option value="contractors">Contractors All Risk Policy</mat-option>
                        <mat-option value="house-holders">House Holders Policy</mat-option>
                        <mat-option value="public-liability">Public Liability</mat-option>
                        <mat-option value="professional">Professional Indemnity Policy</mat-option>
                        <mat-option value="workmen-compensation">Workmen Compensation</mat-option>
                      </mat-select>
                      <mat-error *ngIf="perapp.controls.insurance.errors?.required">Insurance Type is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Company Name" formControlName="name" required>
                      <mat-error *ngIf="perapp.controls.name.errors?.required">Company Name is required</mat-error>
                      <mat-error *ngIf="perapp.controls.name.hasError('minlength')">Company Name isn't long enough, minimum of 3 characters</mat-error>
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Contact Person" formControlName="contactperson" (keypress)="data($event)" required>
                      <mat-error *ngIf="perapp.controls.contactperson.errors?.required">Contact Person is required</mat-error>
                      <mat-error *ngIf="perapp.controls.contactperson.hasError('minlength')">Contact Person isn't long enough, minimum of 10 characters</mat-error>
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Mobile" formControlName="mobile" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">
                      <mat-error *ngIf="perapp.controls.mobile.errors?.required">Mobile number is required</mat-error>
                      <mat-error *ngIf="perapp.controls.mobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                      <mat-error *ngIf="perapp.controls.mobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                      <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Email" formControlName="email" required>
                      <mat-error *ngIf="perapp.controls.email.errors?.required">Email is required</mat-error>
                      <mat-error *ngIf="perapp.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="PinCode"   pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPincodeDetails($event.target.value, 'personal')" formControlName="pincode" autocomplete="off"  required>
                      <mat-error *ngIf="perapp.controls.pincode.errors?.required">Pincode is required</mat-error>
                      <mat-error *ngIf="perapp.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                      <mat-error *ngIf="perapp.controls.pincode.hasError('required')">Pincode required</mat-error>
                      <mat-error *ngIf="perapp.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                      <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-select  placeholder="Fix an Appointment (Call / Meet in Person)" formControlName="appointmentwith" required>
                        <mat-option value="call">Call</mat-option>
                        <mat-option value="meetinperson">Meet in Person</mat-option>
                      </mat-select>
                      <mat-error *ngIf="perapp.controls.appointmentwith.errors?.required">Fix Appointment is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput [matDatepicker]="picker" placeholder="Appointment Date (DD/MM/YYYY)" formControlName="appdate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" maxlength="10" minlength="10" required>
                      <mat-error *ngIf="perapp.controls.appdate.errors?.required">Appointment Date is required</mat-error>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Appointment Time (HH:MM)" type="time" atp-time-picker  formControlName="apptime" required />
                      <mat-error *ngIf="perapp.controls.apptime.errors?.required">Appointment Time is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 text-center mt-3">
                    <button mat-button type="submit" style="background: #fff; color: #000" [disabled]="(!perapp.valid ) || (!pincodeErrors)" (click)="perKeeper(perapp.value)">Submit</button>
                    <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                  </div>
                </div>
              </form>
            </mat-card>
          </div>
        </div>
      </div>

    <section id="knowMoreShow">
      <div class="col-12 mt-4 border border-dark p-4">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center" style="color: #32326D"><img src="assets/img/group-personal-accidents.svg" class="logo-size"> About Group Personal Accident</h3>
          </div>
          <p>The personal accident insurance for employees insured as a group can be issued on a named or unnamed basis. The premium will also have the added advantages of group discount and low claim discount. There could be a loading if the claims ratio is high. Another advantage is that the policy can be issued for the employees whilst at work only for which a substantial premium reduction will be there.</p>
          <ol type="1" class="pl-5">
            <li>The benefit under the Personal Accidental Death section is payable when an Injury results in the loss of life of the Insured solely due to accidental injury.</li>
            <li>Accidental Injury means bodily injury caused solely and directly by violent, accidental, external and visible means and should necessarily occur during the Insured Period of 12 months from the date of inception of the policy.</li>
            <li>The definition of Injury does not extend to other non physical consequences such as mental, nervous or emotional disorders, depression or anxiety of any Accident and these are specifically  excluded in the Personal Accident  Policy</li>
            <li>The definition of Accident means a sudden, unforeseen and unexpected physical event caused by external, violent and visible means.</li>
            <li>The policy on opting the widest cover provides for weekly compensation benefit to the extent of 1 % of sum insured every week for approximately 100 weeks ( The percentage and number of weeks varies from insurer to insurer) till such time that the insured is able to resume his /  her normal activities.</li>
            <li>The Personal Accident policy has a coverage / compensation for Temporary Total Disablement and Temporary Partial Disablements on a fixed percentage basis if the insured opts with the TTD and TPD benefits apart from the death benefit.</li>
          </ol>
          <p></p>
          <p></p>
          <p></p>
          <br>
          <br>

          <p class="know-note-content"> NOTE: THE BRIEF WRITE UP YOU FIND IN THIS WEBSITE FOR VARIOUS POLICIES
            IS ONLY A SYNOPSIS. THE DETAIL EXTENT OF COVERAGE WITH THE TERMS &
            CONDITIONS WILL BE SENT BY US TO YOUR MAIL ID ON REQUEST TO US. PLEASE
            MAIL TO CUSTOMERCARE@VIZZAFIN.COM</p>
        </div>
      </div>
    </section>

  </div>
</div>
<div class="container dashboard h-100 d-block d-sm-block d-lg-none d-md-block d-xl-none" fxLayoutAlign="start start">
  <div class="row my-flex-card">
    <h2 class="w-100 text-center" style="color: #32326D;"><img src="assets/img/group-personal-accidents.svg" class="logo-size">&nbsp;Group Personal Accident</h2>
    <p class="w-100 text-center"><button class="btn btn-sm" style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"><span><a scrollTo href="#knowMoreShow1" style="color: #000000;">Know more</a></span></button></p>

    <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
      <!--<div class="card">-->
        <!--<div class="card-block">-->
          <!--<div class="aboutImg">-->
            <!--<img src="assets/img/Group-Personal-Accident-1.jpg"  class="w-100">-->
            <!--<div class="aboutContent">-->
              <!--<h4>About Group Personal Accident</h4>-->
              <!--<p style="text-align: left;">Your accident affects others too. We can help you...… <button class="btn btn-sm" style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"><span><a scrollTo href="#knowMoreShow" style="color: #000000;">Know more</a></span></button></p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-block AllFormView">
            <mat-card class="p-4" style="background: linear-gradient(to top, #194C85 0%, #2F86D6 100%) !important; color:#fff;">
              <h2 class="w-100 text-center" >Let us assist you</h2>
              <form [formGroup]="perapp">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <mat-select  placeholder="Insurance Type" formControlName ="insurance" required>
                        <mat-option value="shopkeepers">Shopkeepers</mat-option>
                        <mat-option value="marine">Marine Cargo Policy</mat-option>
                        <mat-option value="money">Money Insurance</mat-option>
                        <mat-option value="fire">Fire Policy</mat-option>
                        <mat-option value="burglary">Burglary Policy</mat-option>
                        <mat-option value="machinery">Machinery Breakdown Policy</mat-option>
                        <mat-option value="electronics">Electronics Equiptment Policy</mat-option>
                        <mat-option value="contractors">Contractors All Risk Policy</mat-option>
                        <mat-option value="house-holders">House Holders Policy</mat-option>
                        <mat-option value="public-liability">Public Liability</mat-option>
                        <mat-option value="professional">Professional Indemnity Policy</mat-option>
                        <mat-option value="workmen-compensation">Workmen Compensation</mat-option>
                      </mat-select>
                      <mat-error *ngIf="perapp.controls.insurance.errors?.required">Insurance Type is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Company Name" formControlName="name" required>
                      <mat-error *ngIf="perapp.controls.name.errors?.required">Company Name is required</mat-error>
                      <mat-error *ngIf="perapp.controls.name.hasError('minlength')">Company Name isn't long enough, minimum of 3 characters</mat-error>
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Contact Person" formControlName="contactperson" (keypress)="data($event)" required>
                      <mat-error *ngIf="perapp.controls.contactperson.errors?.required">Contact Person is required</mat-error>
                      <mat-error *ngIf="perapp.controls.contactperson.hasError('minlength')">Contact Person isn't long enough, minimum of 10 characters</mat-error>
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Mobile" formControlName="mobile" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">
                      <mat-error *ngIf="perapp.controls.mobile.errors?.required">Mobile number is required</mat-error>
                      <mat-error *ngIf="perapp.controls.mobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                      <mat-error *ngIf="perapp.controls.mobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                      <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Email" formControlName="email" required>
                      <mat-error *ngIf="perapp.controls.email.errors?.required">Email is required</mat-error>
                      <mat-error *ngIf="perapp.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="PinCode"   pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPincodeDetails($event.target.value, 'personal')" formControlName="pincode" autocomplete="off"  required>
                      <mat-error *ngIf="perapp.controls.pincode.errors?.required">Pincode is required</mat-error>
                      <mat-error *ngIf="perapp.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                      <mat-error *ngIf="perapp.controls.pincode.hasError('required')">Pincode required</mat-error>
                      <mat-error *ngIf="perapp.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                      <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-select  placeholder="Fix an Appointment (Call / Meet in Person)" formControlName="appointmentwith" required>
                        <mat-option value="call">Call</mat-option>
                        <mat-option value="meetinperson">Meet in Person</mat-option>
                      </mat-select>
                      <mat-error *ngIf="perapp.controls.appointmentwith.errors?.required">Fix Appointment is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput [matDatepicker]="picker2" placeholder="Appointment Date (DD/MM/YYYY)" formControlName="appdate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" maxlength="10" minlength="10" required>
                      <mat-error *ngIf="perapp.controls.appdate.errors?.required">Appointment Date is required</mat-error>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Appointment Time (HH:MM)" type="time" atp-time-picker  formControlName="apptime" required />
                      <mat-error *ngIf="perapp.controls.apptime.errors?.required">Appointment Time is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 text-center mt-3">
                    <button mat-button type="submit" style="background: #fff; color: #000" [disabled]="(!perapp.valid ) || (!pincodeErrors)" (click)="perKeeper(perapp.value)">Submit</button>
                    <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                  </div>
                </div>
              </form>
            </mat-card>
          </div>
        </div>
      </div>

    <section id="knowMoreShow1">
      <div class="col-12 mt-4 border border-dark p-4">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center" style="color: #32326D"><img src="assets/img/group-personal-accidents.svg" class="logo-size"> About Group Personal Accident</h3>
          </div>
          <p>The personal accident insurance for employees insured as a group can be issued on a named or unnamed basis. The premium will also have the added advantages of group discount and low claim discount. There could be a loading if the claims ratio is high. Another advantage is that the policy can be issued for the employees whilst at work only for which a substantial premium reduction will be there.</p>
          <ol type="1" class="pl-5">
            <li>The benefit under the Personal Accidental Death section is payable when an Injury results in the loss of life of the Insured solely due to accidental injury.</li>
            <li>Accidental Injury means bodily injury caused solely and directly by violent, accidental, external and visible means and should necessarily occur during the Insured Period of 12 months from the date of inception of the policy.</li>
            <li>The definition of Injury does not extend to other non physical consequences such as mental, nervous or emotional disorders, depression or anxiety of any Accident and these are specifically  excluded in the Personal Accident  Policy</li>
            <li>The definition of Accident means a sudden, unforeseen and unexpected physical event caused by external, violent and visible means.</li>
            <li>The policy on opting the widest cover provides for weekly compensation benefit to the extent of 1 % of sum insured every week for approximately 100 weeks ( The percentage and number of weeks varies from insurer to insurer) till such time that the insured is able to resume his /  her normal activities.</li>
            <li>The Personal Accident policy has a coverage / compensation for Temporary Total Disablement and Temporary Partial Disablements on a fixed percentage basis if the insured opts with the TTD and TPD benefits apart from the death benefit.</li>
          </ol>
          <p></p>
          <p></p>
          <p></p>
          <br>
          <br>

          <p class="know-note-content"> NOTE: THE BRIEF WRITE UP YOU FIND IN THIS WEBSITE FOR VARIOUS POLICIES
            IS ONLY A SYNOPSIS. THE DETAIL EXTENT OF COVERAGE WITH THE TERMS &
            CONDITIONS WILL BE SENT BY US TO YOUR MAIL ID ON REQUEST TO US. PLEASE
            MAIL TO CUSTOMERCARE@VIZZAFIN.COM</p>
        </div>
      </div>
    </section>

  </div>
</div>
