
        <mat-card class="custom-card list about-us">
            <!--<mat-card-header class="bg-primary p-2 mb-2">-->
                <!--<mat-card-title class="m-0">-->
                    <!--<h4 class="m-0">Frequently asked questions (FAQ)</h4>-->
                <!--</mat-card-title>-->
            <!--</mat-card-header>-->
            <mat-card-content>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 1) How will the app upgrade to the newest version? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    All updates will be in the existing medium present in the already prevalent operating system, which
                    is App Store and Play Store. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 2) What types of files are accepted by the app? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Currently JPEG and PNG files can be uploaded and in the future you can also upload PDF files. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 3) What are the different platforms that support this app? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    iOS and Android are the two platforms that support the application. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 4) Which are the areas you currently provide your services to? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    The doctor and patient can register from any area in Chennai. Currently we have partnered with lab
                    and diagnostic centres and pharmacies in the following pincodes-
                    600017,600018,600033,600024,600004, and 600028. We plan to cover all areas of Chennai in the near
                    future. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 5) I booked an appointment through you with a doctor. Why was I made to wait in the clinic
                            then? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    We strive to give highest preference to MediTimes appointments albeit there could be a possibility
                    that the doctor is attending to some unforseen emergency and hence a minor delay is caused. We do
                    understand the value of your time and we will minimise the possibility of any such delays in future. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 6) Do I have to show the MediTimes Booking ID when visiting a clinic/hospital for my
                            appointment? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    It is not mandatory to have your booking ID when you visit an establishment . But it always helps to
                    have your appointment confirmation SMS or email (which contain the booking ID) handy while
                    contacting the clinic or MediTimes Support. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 7) Can I schedule an appointment for my friends/family/dependents? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, this option is available to all friends/family/dependants who have been added to your profile
                    through the 'Me & My Family' tab, available in the Hamburger menu. Once you have selected your
                    preferred doctor, and wish to book an appointment with the same, you can choose the patient at the
                    'booking confirmation page' by selecting the patient name from the 'Patient Name' drop down. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 8) Can I reschedule/Cancel my appointment? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, the appointment can be cancelled by accessing the 'Appointments' tab in the Hamburger menu.
                    Once the appointment is cancelled, the reschedule option will also be available in the same
                    appointment card. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 9) How do I delete my account? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Currently, you can send us a request for deletion form the 'Contact Us' page, following which we
                    shall initiate the process to delete your profile once you confirm the same. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 10) Is my information secure? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    We use the highest degree of security when it comes to handeling your private information. The only
                    time your patient records are shared with a doctor are when you choose to have an appointment with
                    him/her and is used only for medical purposes. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 11) How do I edit my profile? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    You have the option to edit your profile from the 'Me & My Family' option in the Hamburger menu,
                    when you can select your profile and then select the edit option provided on the topright hand
                    corner of the page. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 12) Can I add family/dependant? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, after selecting the "Me & My Family" tab, click on '+New Member' and add the details of your
                    family/friends. If he/she is already a MediTimes user, their profile details would automatically get
                    populated. If they are not a MediTimes User, their profile details have to be filled by you. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 13) If I do not want to order the medicines or take the tests prescribed by the doctor, what
                            do I do? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    In the 'Order Medicines' page, and choose the 'No Thanks' option at the bottom of this page. This
                    would remove the medicines prescribed by the doctor from the Order Medicines page. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 14) Where can I complete an order for a prescription provided by a MediTimes doctor? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    When the MediTimes doctor has prescribed medicines, the 'Order Medicines' tab would display an
                    'Order Pending' status. Clicking on this card would lead you to a sceen which displays the
                    prescription image, prescribed by the doctor. You can also choose the number of days you would like
                    the medicines for through the 'No. of days' option provided in the same page. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 15) How do I place the same order again with the pharmacy? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    The 'Repeat order'option is there in both the 'Order Medicine' tab as well as in the pharmacy order
                    history in the main menu. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 16) Can I order medicines apart from the the one prescribed by the doctor? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, in the 'Order Medicine' tab, click on the card that contains the 'No Order Pending' status.
                    Once you do so, you can either place your order by uploading the prescription image though the
                    'camera or gallery' option, or you can choose your medicines through the 'Choose Medicine' option.
                    In this case, the prescription can either be attached while choosing the medicines, or produced at
                    the time of delivery and an option for this would be provided before placing the order. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 17) Where do I view my lab test reports? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    You can view the lab and diagnostic reports from the 'Medical Records' option povided in the home
                    screen. It can aso be found inside the 'Me & My Family' tab within your profile. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 18) How do I choose tests other than those recommended by a MediTimes Doctor? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Once you click on the 'Lab & Diagnostics' option from the home page, you can click on your profile
                    card, within which you can select your preffered lab, whhich then has a 'Choose tests' option where
                    you can select the tests you want to do. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 19) How do I choose Labs other than those recommended by a MediTimes Doctor? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Upon clicking on the Lab & Diagnostics tab, choose your profile card, Post which using the find labs
                    option, you can select on a lab which is displayed based on your location. You can even search for
                    labs using the tests you wish to take as a search criteria. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 20) How do I use the home sample facility offered by the MediTimes app? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    After choosing the lab, in the 'Book Test' page, the home sample option will be provided if the lab
                    offers home sample collection. Once the patient books the lab test, the lab representative will
                    immediately call the patient and fix a mutually convenient time to conduct the same. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 21) Where can I view my bill once I paid for my medicines? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    The bill can be viewed in your records in the 'Me & My Family' option, as well as in the 'Medical
                    Records' option in the home page, under 'Pharmacy Bills' option. This option can be accessed by
                    clicking on the dropdown given. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 22) Can I track my order delivery status? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    The order can be traced in terms of the status of the same, i.e. you will know when it is
                    dispatched, however we currently do not have a mechanism in place to track the representative
                    responsible for delivery. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 23) Can I choose the number of days i want the medicines for? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    Yes, by going into the 'Order Medicine' page, and clicking on your profile card, the number of days
                    option will be displayed once the precription and other required details are filled. You can then
                    enter the number of days, as per your requirement. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 24) Do I need to send a meditimes lab/diagnostic report manually to a meditimes doctor </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    The doctor and you will both receive a notification as soon as the reports have been uploaded,
                    directly in your apps. </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong> 25) Does adding a friend/family member/dependent give me access to their health records? </strong> </mat-panel-title>
                    </mat-expansion-panel-header>
                    You can add a friend or family member by using the '+New Member' option in the 'Me & My Family' tab.
                    Once they accept your request, that would give you permission to access their records as well.
                    However, they also have the discretion to revoke the same as well. </mat-expansion-panel>
            </mat-card-content>
        </mat-card>


