<div class="container-fluid">
  <form [formGroup]="form">
<mat-card>
<div class="row">
  <div class="col-md-12">
    <h5 style="text-align: center">UPLOAD YOUR RESUME</h5>
    <h6>We will get back to you at the earliest.</h6>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <mat-form-field class="w-100">
      <input matInput placeholder="First Name" formControlName="name"  autocomplete="off" required >
      <!--<mat-error *ngIf="form.controls.personalFirstname.errors?.required">First Name is required</mat-error>-->
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <mat-form-field class="w-100">
      <input matInput placeholder="Last Name" formControlName="email" autocomplete="off" required >
      <!--<mat-error *ngIf="form.controls.personalLastname.errors?.required">Email is required</mat-error>-->
    </mat-form-field>
  </div>
    </div>
  <br>
  <div class="row">
    <input type="file"  (change)="readUrl($event)" >
    <label class="custom-file-label"><span class="error">*</span>
       upoload </label>
  </div>

    <br>
  <div style="text-align: center">
    <button mat-raised-button color="primary" (click)="update()"> Sumbit</button>
  </div>
  <br>

  <strong>OR</strong>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Name" formControlName="name"  autocomplete="off" required >
        <!--<mat-error *ngIf="form.controls.personalFirstname.errors?.required">First Name is required</mat-error>-->
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Father's Name" formControlName="fathername" autocomplete="off" required >
        <!--<mat-error *ngIf="form.controls.personalLastname.errors?.required">Email is required</mat-error>-->
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Mobile No" formControlName="mobileno"  autocomplete="off" required >
        <!--<mat-error *ngIf="form.controls.personalFirstname.errors?.required">First Name is required</mat-error>-->
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" formControlName="email" autocomplete="off" required >
        <!--<mat-error *ngIf="form.controls.personalLastname.errors?.required">Email is required</mat-error>-->
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-50">
      <textarea matInput col="50" row="5"  placeholder="Address" formControlName="address" ></textarea>
        <!--<input matInput placeholder="area">-->
      </mat-form-field>
    </div>

      <div class="col-md-3">
        <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="DOB (DD/MM/YYYY)"   formControlName="dob" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!--<mat-error *ngIf="form.controls.personalDob.errors?.required">DOB is required</mat-error>-->
        </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="age" formControlName="age">
      </mat-form-field>
    </div>
  </div>
<div class="row">
  <mat-radio-group  >
    <input type="radio" formControlName="gender" value="1">Male</input>
    <input type="radio" formControlName="gender" value="2">Female</input>
    <input type="radio"  formControlName="gender" value="3">other</input>

  </mat-radio-group>
</div>
  <br>
  <h3>Educational Qualification</h3>
  <div>
    <mat-form-field class="w-100">
    <input matInput formControlName="educationhsc" placeholder="HSC ( Name of the Institution ,year of passing, Percentage )*">
    </mat-form-field><br>
    <mat-form-field class="w-100" >
    <input matInput formControlName="educationug" placeholder="UG ( Name of the Institution ,year of passing, Percentage )*">
    </mat-form-field><br>
    <mat-form-field class="w-100" >
    <input  matInput  formControlName="educationpg" placeholder="PG ( Name of the Institution ,year of passing, Percentage )*">
    </mat-form-field>
  </div>
  <h3>Experience</h3>
  <div>
    <mat-form-field class="w-100">
    <input  matInput  formControlName="experience1" placeholder="1 ( Name of the Organisation , Designation , years of expierience )*">
    </mat-form-field><br>
    <mat-form-field class="w-100">
    <input matInput  formControlName="experience2" placeholder="2 ( Name of the Organisation , Designation , years of expierience )*">
    </mat-form-field><br>
    <mat-form-field class="w-100">
    <input matInput formControlName="experience3" placeholder="3 ( Name of the Organisation , Designation , years of expierience )*"><br>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="w-100">
    <!--<div class="col-md-12">-->
    <textarea matInput col="30" rows="5"formControlName="applicantskills" placeholder="Your Skills"></textarea>
    <!--</div>-->
    </mat-form-field>
  </div>
  <div style="text-align: center">
    <button mat-raised-button color="primary" (click)="onsubmit()"> Sumbit</button>
  </div>
</mat-card>
</form>
</div>