
<section class="d-none d-sm-none d-xl-block d-lg-block d-md-none">
    <div  class="bg-career">
        <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
            <form #myForm="ngForm" [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30"  fxFlex.sm="60" class="career-style">
                <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner " style="border-radius: 10px">
                  <h4 style="color: #28a745">We will get back to you at the earliest.</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Name" formControlName="name" (keypress)="nameValidate($event)" required  maxlength="30">
                                <mat-icon matSuffix>person</mat-icon>
                                <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
                            </mat-form-field >
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Mobile number" formControlName="mobileno" (keypress)="numberValidate($event)" required minlength="10"  maxlength="10">
                                <mat-icon matSuffix>call</mat-icon>
                                <mat-error *ngIf="form.controls.mobileno.errors?.required">Mobile number is required</mat-error>
                                <mat-error *ngIf="form.controls.mobileno.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                            </mat-form-field >
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Email" formControlName="email"  required>
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                                <mat-error *ngIf="form.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>

                            </mat-form-field >
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">

                            <mat-select  placeholder="Job Profile" formControlName="profile"  required>
                                <mat-option *ngFor="let status of job" value= {{status.job_id}}> {{status.job_desc}} </mat-option>
                            </mat-select>
                             <mat-error *ngIf="form.controls.profile.errors?.required">Job Profile is required</mat-error>

                            </mat-form-field>
                            <!--<mat-icon matSuffix>search</mat-icon>-->
                        </div>

                        <!--<div class="col-md-6">-->
                            <!--<input type="file" class="custom-file-input" (select)="uploadProof($event)">-->
                            <!--<label class="custom-file-label"><span class="error">*</span>-->
                                <!--Attach Your Resume</label>-->

                        <!--</div>-->
                        <div class="col-md-6">
                                <div class="custom-file mt-3">
                                    <input type="file"  class="custom-file-input" accept=".doc, .docx, .pdf" (change)="uploadProof($event)"   aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label"> Upload Your Resume <span class="error">*</span></label>
                                </div>
                            <p class="error" *ngIf="!uploadTypeTest">Your Resume is required</p>
                            <img *ngIf="imageSrc != ''" id="blah" [src]="imageSrc || 'http://placehold.it/180'" width="100px" height="100px" alt="your image" />
                            <p class="mt-2" style="color: green;">{{uploadAddressProofName}}</p>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <textarea matInput placeholder="Cover Letter" formControlName="cover" autocomplete="off" required></textarea>
                                <!--<i class="fas fa-location-arrow"></i>-->
                                <mat-icon matSuffix>arrow</mat-icon>
                            <mat-error *ngIf="form.controls.cover.errors?.required">Cover Letter is required</mat-error>
                            </mat-form-field >

                        </div>
                    </div>
                    <button mat-raised-button class="mt-3" color="primary"  (click)="update(form.value)">Submit</button>

                </mat-card>
            </form>
        </div>
    </div>
</section>
