<div fxLayoutWrap fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60" class="flex-p">

    <h3 class="text-center w-100" style="color:#44004E;"><img src="assets/img/bell.png" class="logo-size">&nbsp;Renew Existing Policy</h3>

    <mat-card style="background: linear-gradient(to bottom, #f2dbdc 0%, #c4daf8 100%);">

      <div class="container-fluid">
        <section class="row">
          <div class="insurance-renewal w-100">
              <div class="container">
                <div class="row" fxLayoutAlign="center center">
                  <div class="col-md-12 pr-4" >
                    <form #myForm="ngForm" [formGroup]="form">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Proposer Name" formControlName="Proposername" (keypress)="data($event)" maxlength="50" required>
                          <mat-error *ngIf="form.controls.Proposername.errors?.required">Proposer Name is required</mat-error>
                          <mat-error *ngIf="form.controls.Proposername.hasError('minlength')">Proposer Name isn't long enough, minimum of 3 characters</mat-error>
                          <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mobile No" formControlName="Proposermobile" (keypress)="keyPress($event)"  minlength="10"  maxlength="10" required>
                          <mat-error *ngIf="form.controls.Proposermobile.errors?.required">Mobile number is required</mat-error>
                          <mat-error *ngIf="form.controls.Proposermobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                          <mat-error *ngIf="form.controls.Proposermobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Insurance Policy Type" formControlName="insurepolicytype" required>
                            <mat-option value="{{type.policy_type_name}}" *ngFor="let type of policyTypes" >{{type.policy_type_name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.controls.insurepolicytype.errors?.required">Insurance Policy Type is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Policy No" formControlName="insurepolicyno" maxlength="30" required>
                          <mat-error *ngIf="form.controls.insurepolicyno.errors?.required">Insurance Policy No is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Premium Amount" formControlName="insurepremiumamount" (keypress)="keyPress($event)" maxlength="20" required>
                          <mat-error *ngIf="form.controls.insurepremiumamount.errors?.required">Premium Amount is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Insurance Company Name" formControlName="insurecompanyname" required>
                            <mat-option *ngFor="let list of companyList" value="{{list.insure_company_name}}">{{list.insure_company_name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.controls.insurecompanyname.errors?.required">Insurance Company Name is required</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                      <div class="col-md-12 text-center">
                        <button mat-raised-button class="bg-danger text-white" (click)="renewExixtingPolicy(form.value)">Set Remider</button>
                      </div>
                    </form>
                  </div>
                  <div style="width: 100%; height: 10px; border-bottom: 1px solid black; text-align: center; margin-top:10px;">
                    <span style="font-size: 12px; background-color: #D6D4ED; padding: 0 10px;">
                      (or) <!--Padding is optional-->
                    </span>
                  </div>
                  <div class="row pt-4 btn-uploade">
                    <!--<div class="h-border-bottom text-center"></div>-->
                    <div class="col-md-12">
                      <h4 class="text-center">Upload your policy here</h4>
                    </div>
                      <div class="col-md-6">
                          <div class="custom-file">
                              <input type="file"  class="custom-file-input" accept=".doc, .docx, .pdf, image/*" (change)="readUrl($event)"   aria-describedby="inputGroupFileAddon01">
                              <label class="custom-file-label"> Upload Your Attachment <span class="error">*</span></label>
                          </div>
                          <p class="error" *ngIf="!uploadTypeTest">Your Attachment is required</p>
                          <img *ngIf="fileUploadPathDOCX !=''" src="assets/img/upload-icons/docx-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                          <img *ngIf="fileUploadPathDOC !=''" src="assets/img/upload-icons/doc-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                          <img *ngIf="fileUploadPathPDF !=''" src="assets/img/upload-icons/pdf-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                          <img *ngIf="fileUploadPath !=''" src="{{webhost + '/' + fileUploadPath}}" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                          <p *ngIf="filePath !=''" class="mt-1" style="color: green;">{{filePath}}</p>
                      </div>
                    <div class="col-md-6 whatsapp">
                      <p fxLayoutAlign="center center" class="w-100">  <i class="fab fa-whatsapp"></i> <span>WhatApp your policy<br> @ 86085 00088</span></p>
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    <button mat-raised-button class="bg-danger text-white" (click)="renewExixtingPolicyUpload()">Set Remider</button>
                  </div>
                  <!--<div class="col-md-12 text-right mt-3">-->
                    <!--<button mat-button type="reset" style="color: #000"><i class="material-icons">refresh</i> Reset</button>-->
                  <!--</div>-->
                </div>
              </div>

          </div>
        </section>
      </div>
    </mat-card>
  </div>
</div>
