<div *ngIf="status!=200" class="bg-map">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" (ngSubmit)="login()" fxFlex.sm="60" class="mt-login">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                <span class="box-content-header"><img src="assets/img/vizza-logoNew.svg" style="height: 78px;"> </span>
                <mat-form-field class="w-100">
                    <input matInput placeholder="Mobile number" formControlName="username" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="form.controls.username.errors?.required">Mobile number is required</mat-error>
                    <mat-error *ngIf="form.controls.username.hasError('minlength')">Mobile number isn't long enough, minimum of 10 characters</mat-error>
                </mat-form-field >
                <mat-form-field class="w-100">
                    <input matInput placeholder="Password" formControlName="password" required minlength="5" [type]="hide ? 'password' : 'text'">
                    <mat-icon style="cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                </mat-form-field>
                <!--<mat-form-field class="w-100">-->
                <!--<input matInput placeholder="Password" formControlName="password" required minlength="6">-->
                <!--<mat-icon matSuffix>vpn_key</mat-icon>-->
                <!--<mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>-->
                <!--<mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>-->
                <!--</mat-form-field>-->
                <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100 mt-2" type="button" type="submit">Login</button>
                <div class="login-options">
                    <div><a [routerLink]="['/forgotpassword']">Forgot Password ?</a></div>
                    <!--<div><span>Do not have an account ?</span> <a [routerLink]="['/register']" > Sign Up</a></div>-->
                </div>
            </mat-card>
        </form>
    </div>
</div>
