<section class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
<div  class="bg-map">

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

    <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mt-login">
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner" style="border-radius: 10px">
        <!--<span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logo.png"> </span>-->
        <mat-card-subtitle><h3>Forg0ot Password</h3></mat-card-subtitle>

        <p class="text-center"><strong>Forgot Password? </strong> We just need your registered phone number to sent your password reset instruction</p>
        <mat-form-field class="w-100">
          <input matInput placeholder="Mobile Number" (keypress)="keyPress($event)" formControlName="mobilenumber" minlength="10" maxlength="10" required >
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="form.controls.mobilenumber.errors?.required">Mobile number is required</mat-error>
          <mat-error *ngIf="form.controls.mobilenumber.hasError('minlength')">Mobile Number isn't long enough, minimum of 10 characters</mat-error>

        </mat-form-field>
        <button mat-button class=" w-100 mb-2 mt-2 secondary-bg-color" type="submit" (click)="forgot()">Reset Password</button>
        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100" type="button" [routerLink]="['/pos']">Login</button>
        <div class="login-options">
          <div><span>Do not have an account ?</span> <a [routerLink]="['/register']"> Sign Up</a></div>
        </div>
      </mat-card>
    </form>

  </div>

</div>
</section>

<section class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
  <div  class="bg-map">

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

      <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mt-login">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner" style="border-radius: 10px; width: fit-content !important">
          <!--<span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logo.png"> </span>-->
          <mat-card-subtitle><h3>Forg0ot Password</h3></mat-card-subtitle>

          <p class="text-center"><strong>Forgot Password? </strong> We just need your registered phone number to sent your password reset instruction</p>
          <mat-form-field class="w-100">
            <input matInput placeholder="Mobile Number" (keypress)="keyPress($event)" formControlName="mobilenumber" minlength="10" maxlength="10" required >
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="form.controls.mobilenumber.errors?.required">Mobile number is required</mat-error>
            <mat-error *ngIf="form.controls.mobilenumber.hasError('minlength')">Mobile Number isn't long enough, minimum of 10 characters</mat-error>

          </mat-form-field>
          <button mat-button class=" w-100 mb-2 mt-2 secondary-bg-color" type="submit" (click)="forgot()">Reset Password</button>
          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100" type="button" [routerLink]="['/pos']">Login</button>
          <div class="login-options">
            <div><span>Do not have an account ?</span> <a [routerLink]="['/register']"> Sign Up</a></div>
          </div>
        </mat-card>
      </form>

    </div>

  </div>
</section>
