<div class="container">
  <mat-card>
    <form [formGroup]="metaDetail">
      <div class="container">
            <div class="row" >
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Component" formControlName="component" readonly>
                  <mat-error *ngIf="metaDetail.controls.component.errors?.required">Component is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Path" formControlName="path" readonly>
                  <mat-error *ngIf="metaDetail.controls.path.errors?.required">Path is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Title" formControlName="title">
                  <mat-error *ngIf="metaDetail.controls.title.errors?.required">Title is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Description" formControlName="description">
                  <mat-error *ngIf="metaDetail.controls.description.errors?.required">Description is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-chip-list w-100">
                  <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let item of items" [selectable]="selectable"
                              [removable]="removable" (removed)="remove(item)">
                      {{item.name}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Keyword"
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addi($event)" formControlName="keyword">
                  </mat-chip-list>
                </mat-form-field>
              </div>
              </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center" style="margin-top: 20px;">
            <button mat-raised-button color="primary" (click)="update(metaDetail.value)">Update</button>
          </div>
        </div>
    </form>
  </mat-card>
</div>


