<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-horizontal-stepper  #stepper>
          <ng-template matStepLabel > PROPOSER DETAILS</ng-template>
          <mat-accordion class=" w-100 float-left">
            <form [formGroup]="proposer" >
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title> PROPOSER DETAILS </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row mt-1">
                  <div class="col-md-12 box-card pt-3">
                  </div>
                </div>
              </mat-expansion-panel>
            </form>
          </mat-accordion>
          <mat-step [stepControl]="">
          </mat-step>
        </mat-horizontal-stepper>
      </div>
      </div>
  </div>
</section>