<!--<div fxLayoutWrap>
  <div class="main2" fxLayout="row" fxLayout.xs="column" fxFlex>
    <div fxFlex="1 5 20%" fxFlexOrder fxFlexOrder.xs="2" class="flex-m"> div - 1 </div>
    <div fxFlex="5 1 60%" fxFlexOrder fxFlexOrder.xs="1" class="flex-m"> div - 2</div>
    <div fxFlex="1 1 20%" fxFlexOrder fxFlexOrder.xs="3" class="flex-m"> div - 3</div>
  </div>  
</div>


  <div fxLayoutWrap fxLayout="row" fxLayout.xs="column" class="main3">
    <div fxFlex="33" class="flex-p"> <p>fxFlex="33"</p> </div>
    <div fxFlex="67" class="flex-p"> <p>fxFlex="67"</p> </div>
    <div fxFlex="50" class="flex-p"> <p>fxFlex="50"</p> </div>
    <div fxFlex class="flex-p"> <p> def </p></div>
  </div>

  <div fxLayoutWrap fxLayout="row" fxLayout.xs="column" class="main3">
    <div fxFlex="50" class="flex-p"> <p>fxFlex="50"</p></div>
    <div fxFlex="50" class="flex-p"> <p>fxFlex="50"</p> </div>
    <div fxFlex="33.3" class="flex-p"> <p>fxFlex="33"</p> </div>
    <div fxFlex="33.3" class="flex-p"> <p>fxFlex="33"</p> </div>
    <div fxFlex="33.3" class="flex-p"> <p>fxFlex="33"</p> </div>
    <div fxFlex class="flex-p"> <p> def </p></div>
  </div>


<style>
  .main2 > div{
    background: red;
    /*padding: 40px;*/
  }

  .main3 > div > p{
    height: 50px;
    background: blue;
  }
</style>-->
