<!--desktop view-->
<div class="container dashboard h-100 d-none d-sm-none d-md-none d-lg-block" fxLayoutAlign="start start">
  <div class="row my-flex-card">
    <h2 class="w-100 text-center" style="color:#6A6477;"><img src="assets/img/bike-insurance.png" class="logo-size">&nbsp;Motor Bike Insurance</h2>
    <!--<div fxLayout="row" fxLayoutAlign="center stretch">-->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block">
          <div class="aboutImg">
            <img src="assets/img/Motor-Two-wheeler-inner-banner.png" class="w-100">
            <div class="aboutContent">
              <h4>About Bike Insurance</h4>
              <p style="text-align: left;">There is no time to explain, Don’t let accidents..… <button class="btn btn-sm"  style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"> Know More</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block AllFormView">
          <mat-card class="p-4" style="background: linear-gradient(to top, #6CBCD5 0%, #7F8688 100%) !important; color:#fff;">
            <h2 class="w-100 text-center" >Get Instant Quotes</h2>
            <form [formGroup]="bikeInsurance">

              <div class="row">
                  <mat-form-field class="w-100">
                  <input matInput placeholder="Vehicle No" formControlName="vehicalNumber" maxlength="10" (keyup)="vehicalNum()" required>
                  <mat-error *ngIf="bikeInsurance.controls.vehicalNumber.errors?.required">Vehicle No is required</mat-error>
                  <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="picker1" placeholder="Registration Date (DD/MM/YYYY)" (keyup)="policyDate()" (keypress)="dobValidate($event); policyStartDate() " formControlName="registrationDate"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="bikeInsurance.controls.registrationDate.errors?.required">Registration Date is required</mat-error>

                  </mat-form-field>
                  <mat-form-field class="w-100" >
                      <input matInput [matDatepicker]="picker2" placeholder="Previous Policy ExpiryDate (DD/MM/YYYY)" (keyup)="policyEndDate()" (keypress)="dobValidate($event)" formControlName="previousPolicyExpiry"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-error *ngIf="bikeInsurance.controls.registrationDate.errors?.required">Registration Date is required</mat-error>

                  </mat-form-field>
                <p class="mt-2">Previous Claim: </p>
                <mat-radio-group class="pl-3 mt-2" formControlName="previousClaim" (keyup)="previousclaim()" (change)="claim()">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="w-100" *ngIf="bikeInsurance.controls['previousClaim'].value == 'Yes'" (keyup)="claimAmount()">
                    <mat-select placeholder="Claim Amount"  formControlName="claimamount"  required>
                        <mat-option *ngFor="let paCity of claimDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                    </mat-select>
                </mat-form-field>
                  <div *ngIf="listDetails">
                  <mat-form-field class="w-100">
                      <input matInput placeholder="ChasissNumber" formControlName="chasissNumber"  required>
                      <mat-error *ngIf="bikeInsurance.controls.chasissNumber.errors?.required">ChasissNumber is required</mat-error>
                      <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-select placeholder="Vehicle Manufacture"  formControlName="manufacture"  required>
                          <mat-option *ngFor="let paCity of manifactureDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                      </mat-select>
                      <!--<mat-error *ngIf="bikeInsurance.controls.manufacture.errors?.required">Vehicle Manufacture is required</mat-error>-->
                      <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-select placeholder="Vehical Model"  formControlName="model"  required>
                          <mat-option *ngFor="let paCity of modelDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                      </mat-select>
                      <!--<mat-error *ngIf="bikeInsurance.controls.fuelType.errors?.required">Fuel Type is required</mat-error>-->
                      <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-select placeholder="Vehicle CC"  formControlName="vehicleCC"  required>
                          <mat-option *ngFor="let paCity of ccDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                      </mat-select>
                      <!--<mat-error *ngIf="bikeInsurance.controls.vehicleCC.errors?.required">Vehicle No is required</mat-error>-->
                      <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Manufacture Year(YYYY)"  formControlName="manufactureYear"  required>

                          <!--<mat-error *ngIf="bikeInsurance.controls.vehicleCC.errors?.required">Vehicle No is required</mat-error>-->
                          <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                      </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-select placeholder="Variant"  formControlName="variant"  required>
                          <mat-option *ngFor="let paCity of variantDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                      </mat-select>
                      <!--<mat-error *ngIf="bikeInsurance.controls.variant.errors?.required">Variant is required</mat-error>-->
                      <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  </div>
                <div class="col-md-12 text-center mt-3">
                  <button mat-raised-button color="primary" (click)="bike(bikeInsurance.value)">Submit</button>
                  <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>



<!--mobile view-->
<div class="container dashboard h-100 d-block d-sm-block d-md-block d-lg-none" fxLayoutAlign="start start">
    <div class="row my-flex-card">
        <h2 class="w-100 text-center" style="color:#6A6477;"><img src="assets/img/bike-insurance.png" class="logo-size">&nbsp;Motor Bike Insurance</h2>
        <div class="col-12">
            <div class="card">
                <div class="card-block AllFormView">
                    <mat-card class="p-4" style="background: linear-gradient(to top, #6CBCD5 0%, #7F8688 100%) !important; color:#fff;">
                        <h2 class="w-100 text-center" >Get Instant Quotes</h2>
                        <form [formGroup]="bikeInsurance">

                            <div class="row">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Vehicle No" formControlName="vehicalNumber" maxlength="10" required>
                                    <mat-error *ngIf="bikeInsurance.controls.vehicalNumber.errors?.required">Vehicle No is required</mat-error>
                                    <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <input matInput [matDatepicker]="picker11" placeholder="Registration Date (DD/MM/YYYY)" [max]="minDate" (keypress)="dobValidate($event)" formControlName="registrationDate"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                    <mat-datepicker #picker11></mat-datepicker>
                                    <mat-error *ngIf="bikeInsurance.controls.registrationDate.errors?.required">Registration Date is required</mat-error>

                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <input matInput [matDatepicker]="picker12" placeholder="Previous Policy ExpiryDate (DD/MM/YYYY)" [max]="minDate" (keypress)="dobValidate($event)" formControlName="previousPolicyExpiry"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                    <mat-datepicker #picker12></mat-datepicker>
                                    <mat-error *ngIf="bikeInsurance.controls.registrationDate.errors?.required">Registration Date is required</mat-error>

                                </mat-form-field>
                                <p class="mt-2">Previous Claim: </p>
                                <mat-radio-group class="pl-3 mt-2" formControlName="previousClaim" (change)="claim()">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                                <mat-form-field class="w-100" *ngIf="bikeInsurance.controls['previousClaim'].value == 'Yes'">
                                    <mat-select placeholder="Claim Amount"  formControlName="claimamount"  required>
                                        <mat-option *ngFor="let paCity of claimDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="listDetails">
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="ChasissNumber" formControlName="chasissNumber"  required>
                                        <mat-error *ngIf="bikeInsurance.controls.chasissNumber.errors?.required">ChasissNumber is required</mat-error>
                                        <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <mat-select placeholder="Vehicle Manufacture"  formControlName="manufacture"  required>
                                            <mat-option *ngFor="let paCity of manifactureDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                                        </mat-select>
                                        <!--<mat-error *ngIf="bikeInsurance.controls.manufacture.errors?.required">Vehicle Manufacture is required</mat-error>-->
                                        <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <mat-select placeholder="Vehical Model"  formControlName="model"  required>
                                            <mat-option *ngFor="let paCity of modelDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                                        </mat-select>
                                        <!--<mat-error *ngIf="bikeInsurance.controls.fuelType.errors?.required">Fuel Type is required</mat-error>-->
                                        <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <mat-select placeholder="Vehicle CC"  formControlName="vehicleCC"  required>
                                            <mat-option *ngFor="let paCity of ccDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                                        </mat-select>
                                        <!--<mat-error *ngIf="bikeInsurance.controls.vehicleCC.errors?.required">Vehicle No is required</mat-error>-->
                                        <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-select placeholder="Variant"  formControlName="variant"  required>
                                            <mat-option *ngFor="let paCity of variantDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                                        </mat-select>
                                        <!--<mat-error *ngIf="bikeInsurance.controls.variant.errors?.required">Variant is required</mat-error>-->
                                        <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                                    </mat-form-field>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <button mat-raised-button color="primary" (click)="bike(bikeInsurance.value)">Submit</button>
                                    <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>


<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<mat-select  placeholder="Insurance Type" formControlName ="insurance" required>-->
<!--<mat-option value="shopkeepers">Shopkeepers</mat-option>-->
<!--<mat-option value="marine">Marine Cargo Policy</mat-option>-->
<!--<mat-option value="money">Money Insurance</mat-option>-->
<!--<mat-option value="fire">Fire Policy</mat-option>-->
<!--<mat-option value="burglary">Burglary Policy</mat-option>-->
<!--<mat-option value="machinery">Machinery Breakdown Policy</mat-option>-->
<!--<mat-option value="electronics">Electronics Equiptment Policy</mat-option>-->
<!--<mat-option value="contractors">Contractors All Risk Policy</mat-option>-->
<!--<mat-option value="house-holders">House Holders Policy</mat-option>-->
<!--<mat-option value="public-liability">Public Liability</mat-option>-->
<!--<mat-option value="professional">Professional Indemnity Policy</mat-option>-->
<!--<mat-option value="workmen-compensation">Workmen Compensation</mat-option>-->
<!--</mat-select>-->
<!--<mat-error *ngIf="bikeapp.controls.insurance.errors?.required">Insurance Type is required</mat-error>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Company Name" formControlName="name" (keypress)="nameValidate($event)" required>-->
<!--<mat-error *ngIf="bikeapp.controls.name.errors?.required">Company Name is required</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.name.hasError('minlength')">Company Name isn't long enough, minimum of 3 characters</mat-error>-->

<!--<mat-icon matSuffix>person</mat-icon>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Contact Person" formControlName="contactperson" (keypress)="nameValidate($event)" required>-->
<!--<mat-error *ngIf="bikeapp.controls.contactperson.errors?.required">Contact Person is required</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.contactperson.hasError('minlength')">Contact Person isn't long enough, minimum of 10 characters</mat-error>-->
<!--<mat-icon matSuffix>person</mat-icon>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Mobile" formControlName="mobile" (keypress)="numberValidate($event)" required minlength="10"  maxlength="10">-->
<!--<mat-error *ngIf="bikeapp.controls.mobile.errors?.required">Mobile number is required</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.mobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.mobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>-->
<!--<mat-icon matSuffix>call</mat-icon>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Email" formControlName="email" required>-->
<!--<mat-error *ngIf="bikeapp.controls.email.errors?.required">Email is required</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>-->
<!--<mat-icon matSuffix>email</mat-icon>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="PinCode" pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"   maxlength="6" (input)="getPincodeDetails($event.target.value, 'personal')" formControlName="pincode" autocomplete="off" required>-->
<!--<mat-error *ngIf="bikeapp.controls.pincode.errors?.required">Pincode is required</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.pincode.hasError('required')">Pincode required</mat-error>-->
<!--<mat-error *ngIf="bikeapp.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>-->
<!--<mat-icon matSuffix>place</mat-icon>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<mat-select  placeholder="Fix an Appointment (Call / Meet in Person)" formControlName="appointmentwith" required>-->
<!--<mat-option value="call">Call</mat-option>-->
<!--<mat-option value="meetinperson">Meet in Person</mat-option>-->
<!--</mat-select>-->
<!--<mat-error *ngIf="bikeapp.controls.appointmentwith.errors?.required">Appointment is required</mat-error>-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Appintment Date(DD/MM/YYYY)" formControlName="appdate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" (keypress)="dobValidate($event)"  autocomplete="off" maxlength="10" minlength="10" required>-->
<!--<mat-error *ngIf="bikeapp.controls.appdate.errors?.required">Appintment Date is required</mat-error>-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->
<!--<div class="error" *ngIf="dobError != ''">{{dobError}}</div>-->
<!--</div>-->
<!--<div class="col-md-6 mt-3">-->
<!--<ngb-timepicker placeholder="Appointment Time" [(ngModel)]="time" [meridian]="meridian" formControlName="apptime" (keypress)="numberValidate($event)" required></ngb-timepicker>-->
<!--</div>-->
