<!--<title>{{metaTitle}}</title>-->
<!--<meta name="keywords" [content]=metaBike.keyword />-->
<!--<meta name="description" [content]=metaBike.descrition />-->


<div class="container h-100 d-none d-sm-none d-md-none d-lg-block" fxLayoutAlign="start start" id="bike-home">
    <div class="row my-flex-card">
        <h2 class="w-100 text-center" style="color:#6A6477;"><img src="assets/img/bike-insurance.png" class="logo-size">&nbsp;Motor Bike Insurance</h2>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <div class="aboutImg">
                        <img src="assets/img/Motor-Two-wheeler-inner-banner.png" class="w-100">
                        <div class="aboutContent">
                            <h4>About Bike Insurance</h4>
                           <p style="text-align: left;">There is no time to explain, Don’t let accidents..… <button class="btn btn-sm" style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"><span><a scrollTo href="#knowMoreShow" style="color: #000000;">Know more</a></span></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <div  class="col-md-6 col-sm-12 col-xs-12">
            <div class="card" style="background: linear-gradient(to top, #6bbdd7 0%, #7e8689 100%) !important;">
                <div class="card-block">
                    <mat-tab-group #tabGroup   class="travel-box AllFormView" (selectedIndexChange)="getType($event)">
                        <mat-tab label="first">
                            <ng-template mat-tab-label>
                                New Policy
                            </ng-template>
                            <form [formGroup]="bikeInsurance">
                                <div class="row">

                                    <div class="col-md-12">
                                        <mat-form-field class="w-100 text-left">
                                            <input matInput [matDatepicker]="picker1" placeholder="Registration Date (DD/MM/YYYY)"  [min]="minDate" (keyup)="setSession()" (keypress)="dobValidate($event)" formControlName="registrationDateNew"  (dateInput)="addEvent($event, 'regitser')"  (dateChange)="addEvent($event, 'regitser')"  maxlength="10" minlength="10" [required]="typeList == 'new'">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-error *ngIf="bikeInsurance.controls.registrationDate.errors?.required">Registration Date is required</mat-error>
                                        </mat-form-field>
                                        <div class="error" *ngIf="dobError != ''">{{dobError}}</div>

                                    </div>
                                    <!--<div class="col-md-12">-->
                                        <!--<mat-form-field class="w-100 text-left">-->
                                            <!--<mat-placeholder>RTO AREA-->
                                            <!--</mat-placeholder>-->
                                            <!--<mat-select  formControlName="city"  (change)="rtoCity()" [required]="typeList == 'new'">-->
                                                <!--<mat-option *ngFor="let paCity of cityDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>-->
                                            <!--</mat-select>-->
                                            <!--<mat-error *ngIf="bikeInsurance.controls.city.errors?.required">city is required</mat-error>-->
                                        <!--</mat-form-field>-->
                                    <!--</div>-->

                                    <div class="col-md-12" *ngIf="typeList == 'new'">
                                        <mat-placeholder>RTO AREA<span class="color-red">*</span></mat-placeholder>
                                        <ngx-select-dropdown (change)="getCityLists($event);rtoCity()" [multiple]="true" formControlName="city"  [config]="config" [options]="getRtoDetails"></ngx-select-dropdown>

                                        <!--<ngx-select-dropdown  [config]="config"  formControlName="city" (change)="rtoCity();getCityLists()" [options]="cityDetails">-->
                                        <!--</ngx-select-dropdown>-->
                                        <div class="color-red" *ngIf="CityValid">City is required</div>

                                    </div>

                                </div>
                                <div class="col-md-12 text-center mt-3">
                                    <button mat-raised-button color="primary"  (click)="quationFirstStep(bikeInsurance.value)">Submit</button>
                                    <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                                </div>
                            </form>
                        </mat-tab>

                        <mat-tab >
                            <ng-template mat-tab-label>
                                Renewal Policy
                            </ng-template>
                            <form [formGroup]="bikeInsurance">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="w-100 text-left">
                                            <input matInput placeholder="Vehicle No"  class="text-uppercase" formControlName="vehicalNumber"    (keypress)="idValidate($event)" (keyup)="setSession()" (input)="vehicaleValidate()" [required]="typeList != 'new'">
                                            <mat-error *ngIf="bikeInsurance.controls.vehicalNumber.errors?.required">Vehicle No is required</mat-error>
                                            <mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('pattern')">Enter Vaild Vehicle Number </mat-error>
                                            <!--<mat-error *ngIf="bikeInsurance.controls.vehicalNumber.hasError('minlength')">Vehicle No isn't long enough, minimum of 9 characters</mat-error>-->
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="w-100 text-left">
                                            <input matInput [matDatepicker]="picker4" placeholder="Registration Date (DD/MM/YYYY)"  [max]="minDate" (keyup)="setSession()" (keypress)="dobValidate($event)" formControlName="registrationDate"  (dateInput)="addEvent($event, 'regitser')"  (dateChange)="addEvent($event, 'regitser')"  maxlength="10" minlength="10"  [required]="typeList != 'new'">
                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                            <mat-datepicker #picker4 ></mat-datepicker>
                                            <mat-error *ngIf="bikeInsurance.controls.registrationDate.errors?.required">Registration Date is required</mat-error>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="w-100 text-left">
                                            <input matInput [matDatepicker]="picker2" placeholder="Previous Policy StartDate (DD/MM/YYYY)" [min]="bikeInsurance.controls['registrationDate'].value" (keyup)="setSession()" (keypress)="dobValidate($event)" formControlName="previousPolicyStart"  (dateInput)="addstart($event)"  (dateChange)="addstart($event)"  maxlength="10" minlength="10"  [required]="typeList != 'new'">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                            <mat-error *ngIf="bikeInsurance.controls.previousPolicyStart.errors?.required">Start Date is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="w-100 text-left">
                                            <input matInput [matDatepicker]="picker3" placeholder="Previous Policy ExpiryDate (DD/MM/YYYY)" [min]="bikeInsurance.controls['previousPolicyStart'].value"  (keyup)="setSession()" (keypress)="dobValidate($event)" formControlName="previousPolicyExpiry"  (dateInput)="addend($event)"  (dateChange)="addend($event)"  maxlength="10" minlength="10"  [required]="typeList != 'new'">
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                            <mat-error *ngIf="bikeInsurance.controls.previousPolicyExpiry.errors?.required">End Date is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field class="w-100 text-left">
                                            <mat-select placeholder="Previous Company" formControlName="previousCompany"   [required]="typeList != 'new'">
                                                <mat-option *ngFor="let title of companyList | keys" value="{{title.key}}" > {{title.value}} </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="bikeInsurance.controls.previousCompany.errors?.required">Previous Company is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                            <p class="mt-2">Previous Claim ? <span class="error">*</span></p>
                                            <mat-radio-group class="pl-3 mt-2" formControlName="previousClaim" (change)="setSession();changeNcbAmt()"  [required]="typeList != 'new'">
                                            <mat-radio-button value="Yes">Yes</mat-radio-button>
                                            <mat-radio-button value="No">No</mat-radio-button>
                                            </mat-radio-group>
                                    </div>
                                    <div class="col-md-10" *ngIf="bikeInsurance.controls['previousClaim'].value == 'No'">
                                        <mat-form-field class="w-100 text-left">
                                            <mat-placeholder> NCB Percent(%) <span class="error">*</span></mat-placeholder>
                                            <mat-select (change)="setSession()" formControlName="ncb"  >
                                           <mat-option *ngFor="let paCity of claimDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                                           </mat-select>
                                           <mat-error *ngIf="bikeInsurance.controls.ncb.errors?.required">Ncb is required</mat-error>
                                       </mat-form-field>
                                   </div>
                                    <div class="col-md-2" *ngIf="bikeInsurance.controls['previousClaim'].value == 'No'">
                                            <mat-icon class="mt-3" aria-hidden="false" aria-label="Example home icon" matTooltip="Please confirm that the No Claim Bonus (NCB)% provided by you is accurate. If found incorrect, Insurance company may reject any claims made. You can check the NCB% from your previous insurance policy.">help</mat-icon>
                                    </div>

                               </div>
                               <div class="col-md-12 text-center mt-3">
                               <button mat-raised-button color="primary"  (click)="quationFirstStep(bikeInsurance.value)">Submit</button>
                               <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                               </div>
                           </form>
                       </mat-tab>

                   </mat-tab-group>
               </div>
           </div>
       </div>


        <section id="knowMoreShow">
            <div class="col-12 mt-4 border border-dark p-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center" style="color: #6A6477 "><img src="assets/img/bike-insurance.png" class="logo-size"> About Bike Insurance</h4>
                    </div>
                    <p>The owners of motor vehicles are not aware of  the important aspects of the risks andliabilities associated with owning and /or driving a  motor vehicle. Even though the Motor insurance policies can be bought or renewed online through internet the renewal dates are missed and the vehicle plies on the road without insurance. It is essential to know that as the owner of the vehicle the liability if any in the event of an accident rests on the motor vehicle owner and all negligence arising out of driving is with the driver. </p>
                    <p>The motor vehicle insurance has two parts</p>
                    <ol class="pl-5" type="i">
                        <li>The Own damage portion which takes care of damages and theft of the vehicle</li>
                        <li>The liability portion which takes care of liabilities arising at the time of an accident. The Third party damages could be Third party injury, Third party property damages, injury or death of the driver / conductor / cleaner / coolies. If the vehicle is not adequately insured the owner and the driver of the vehicle are at a huge risk from all angles.</li>
                    </ol>
                    <p>The introduction of long term Third party liability insurance in India is to be considered as a blessing in disguise to some extent. At the same time the probabilities of the risk of forgetting to renew the liability insurance prior to its expiry increases. The Own damage portion is also anticipating a change in the existing pattern very shortly. Motor vehicle insurance has also seen a slight betterment in tune with the international standards like the bumper to bumper cover.</p>
                    <p>Please feel free to get in touch with us for any help in motor vehicle insurance. You can contact us by email at cutomercare@vizzafin.comFOR ALL RENEWALS AND MOTOR VEHICLE INSURANCE RELATED QUERIES.</p>

                </div>
            </div>
        </section>

    </div>
</div>




