<div class="flex-p text-right">
  <button mat-raised-button color="primary" type="button" class="button-right" (click)="speical()"><i class="material-icons">
    add
  </i> Add</button>

</div>
<section>
  <div class="flex-p">
    <div class="row">
      <div class="col-md-12">
        <div class="text-right h-100">
          <mat-form-field class="w-25">
            <input matInput placeholder="Search By Name..." (keyup)="updateFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div fxLayout="column">
        <div class="flex-p">

          <ngx-datatable
                  #table
                  class="material"
                  [headerHeight]="50"
                  [limit]="10"
                  [columnMode]="'force'"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [rows]="rows"
                  [count]="total"
                  [loadingIndicator]="loadingIndicator"
                  [selected]="selected"
                  [selectionType]="'checkbox'">


            <ngx-datatable-column name="S.No">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <div>{{rowIndex+1}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" Customer Name">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.customer_name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Company Name">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.company_name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Designation">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.designation}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="status">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value"><span *ngIf="row.status == '1'">Active</span><span *ngIf="row.status != '1'">InActive</span></ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Approved">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <mat-slide-toggle (change)="approve()"></mat-slide-toggle>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="profile">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <div>
                  <span class="imageclose mr-2"><img src="{{webhost + '/' + row.profile_pic}}" style="height:50px;width: 100px;"/></span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <i class="material-icons" (click)=edit(row) style="cursor: pointer" >
                  edit
                </i>

                <i class="material-icons" style="cursor: pointer" >
                  delete
                </i>

              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

    </div>
  </div>

</section>
