<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu ">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
        <mat-toolbar color="primary">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
                <!--<img [src]="userImage" alt="user-image" width="80" class="rounded mat-elevation-z6">-->
                <!--<p>Emilio Verdines <br> <small>Web developer</small></p>-->
                <mat-icon style="height: 40px!important;">person</mat-icon>
                <p>{{settings.username | uppercase}}  </p>
            </div>
        </mat-toolbar>
        <!--<a mat-menu-item routerLink="profile">-->
            <!--<mat-icon>person</mat-icon>-->
            <!--<span>{{fristName | uppercase}}</span>-->
        <!--</a>-->
        <a mat-menu-item routerLink="settings">
            <mat-icon class="matIclass">remove_red_eye</mat-icon>
            <!--<i class="material-icons">remove_red_eye</i>-->
            <span class="color-blue" [routerLink]="['/pos-profile']">View Profile</span>
        </a>
        <a mat-menu-item >
            <mat-icon class="matIclass">lock</mat-icon>
            <span class="color-blue" (click)="passwordChange()">Change Password</span>
        </a>
        <!--<a mat-menu-item routerLink="help">-->
            <!--<mat-icon>help</mat-icon>-->
            <!--<span>Help</span>-->
        <!--</a>-->
        <div class="divider"></div>
        <a mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span (click)="logout();">Log out</span>
        </a>
    <!--</span>-->
</mat-menu>