<div *ngIf="status!=200" class="bg-map">

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

    <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mt-login">
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
        <span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logoNew.svg"> </span>
        <p class="text-center"><strong>Forgot Password? </strong> We just need your registered phone number to sent your password reset instruction</p>
        <mat-form-field class="w-100">
          <input matInput placeholder="Mobile Number" formControlName="mobilenumber" >
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="form.controls.mobilenumber.errors?.required">Mobile number is required</mat-error>

        </mat-form-field>
        <button mat-raised-button color="warn" class="mat-elevation-z12 box-button w-100 mb-3 mt-2" type="submit" (click)="forgot()">Reset Password</button>
        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100" type="button" [routerLink]="['/login']">Login</button>
        <div class="login-options">
          <div><span>Do not have an account ?</span> <a [routerLink]="['/register']"> Sign Up</a></div>
        </div>
      </mat-card>
    </form>

  </div>

</div>
