<div class="container">
    <div class="card p-3">
  <h2 class="text-center" style="color:#5d965d !important; ">FAQ</h2>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <input matInput placeholder="Search ..." [(ngModel)]="searchval" (input)="updateFilter($event);faqQuestions()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
  <div class="row">
    <div class="col-md-12">


          <table class="qesTable able table-striped mt-3" *ngFor="let item of faqQuestionsList; let i = index" style="width:1000px !important;">
              <thead class="m-3"  [ngStyle]="{'background-color': '#306DA6','color':'#fff','height': '40px','font-size': '20px','text-align': 'center'}"  *ngIf="item.contents !=''">
              <tr>
                  <th scope="col">{{item.heading}} </th>

              </tr>
              </thead>
            <tr *ngFor="let subQes of item.contents ; let j = index" >
              <td >
                <span style="font-weight: bold;color: #28a745;">{{j + 1}}){{subQes.content_qstn}}</span> <br>
                  <ul *ngFor="let list of subQes.content_ans ; let k = index"><li *ngIf="list!= ''" style="margin-left: 48px;">{{list}}</li> </ul>


              </td>



            </tr>
          </table>
        </div>
    </div>
  </div>

</div>


<!--<mat-accordion *ngFor="let item of faqQuestionsList; let i = index">-->
<!--<mat-expansion-panel [expanded]="i==i">-->
<!--<mat-expansion-panel-header   [ngStyle]="{'background-color': '#306DA6','color':'#fff'}"  *ngIf="item.contents !=''">-->
<!--<mat-panel-title>-->
<!--{{item.heading}}-->
<!--</mat-panel-title>-->

<!--</mat-expansion-panel-header>-->
<!--<table class="qesTable able table-striped">-->
<!--<tr *ngFor="let subQes of item.contents ; let j = index" >-->
<!--<td >-->
<!--{{j + 1}}) {{subQes.content_qstn}}<br>-->
<!--{{subQes.content_ans}}-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->

<!--</mat-expansion-panel>-->

<!--</mat-accordion>-->






