 <section class="vizza-home">
<header class="w-100">
  <img src="assets/img/home/home-slider.png" class="w-100" alt="">
 </header>
 <div class="container-fluid">
  <section class="row h-product">
   <div class="col-md-4">
    <figure>
     <img src="assets/img/home/compare-icon.png" alt="">
     <figcaption>
      <h3>Compare</h3>
      <p>Compare over a 100 policies in real time.
       Filter through policies to find the ones that
       fit your criteria or select based on their network
       map.</p>
     </figcaption>
    </figure>
   </div>
   <div class="col-md-4">
    <figure>
     <img src="assets/img/home/Insure-icon.png" alt="">
     <figcaption>
      <h3>Compare</h3>
      <p>We make it easy for you to decide and buy
       your policy, helping you through each step
       of the process.</p>
     </figcaption>
    </figure>
   </div>
   <div class="col-md-4">
    <figure>
     <img src="assets/img/home/Pay-Icon.png" alt="">
     <figcaption>
      <h3>Compare</h3>
      <p>Use Vizza Benefits to access your full benefits
       and network map. Search for symptoms
       and specialists covered by your policy.</p>
     </figcaption>
    </figure>
   </div>
  </section>
 </div>
  <section class="container-fluid">
  <div class="row h-plans">
<div class="col-md-4">
 <figure>
  <img src="assets/img/home/motor-policy.png" alt="">
  <figcaption>MOTOR INSURANCE</figcaption>
 </figure>
</div>
   <div class="col-md-4">
    <figure>
     <img src="assets/img/home/protect.png" alt="">
     <figcaption>MOTOR INSURANCE</figcaption>
    </figure>
   </div>
   <div class="col-md-4">
    <figure>
     <img src="assets/img/home/sometimes.png" alt="">
     <figcaption>MOTOR INSURANCE</figcaption>
    </figure>
   </div>
  </div>

  </section>

 </section>
