<section id="appointment" class="doctorlist">
  <div class="row pr-2 pl-2">
    <div class="col-md-6">
      <mat-button-toggle-group #group="matButtonToggleGroup" (change)="tabChange(group.value)" [value]="tabValue">
        <mat-button-toggle value="inactive">
          <mat-icon style="color: #8c40a5;">timer</mat-icon>Pending
        </mat-button-toggle>
        <mat-button-toggle value="active">
          <mat-icon style="color: green;"> touch_app</mat-icon> Active
        </mat-button-toggle>
        <mat-button-toggle value="rejected">
          <mat-icon style="color: red;">block</mat-icon> Rejected
        </mat-button-toggle>
        <mat-button-toggle value="onhold">
          <mat-icon style="color: orange;">check</mat-icon> OnHold
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
          <button mat-raised-button color="primary"  [routerLink]="['/dm-add']">
            <i class="material-icons">
              add
            </i>

            Add POS
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div fxLayout="column">
        <div class="flex-p">
          <div fxLayout="column" class="mat-elevation-z8">
            <div class="row pr-2 pl-2 pt-2">
              <div class="col-md-12 ">
                <div class="row ">
                  <div class="col-md-6">
                    <!--<mat-form-field class="w-50" *ngIf="tabValue == 'active'">-->
                    <!--<mat-select placeholder="Manager List" [(ngModel)]="posManager" (change)="filtermanagerWise()">-->
                    <!--<mat-option *ngFor="let list of allManagerLists" [value]="list.manager_id">-->
                    <!--{{list.manager_name}}-->
                    <!--</mat-option>-->
                    <!--</mat-select>-->
                    <!--</mat-form-field>-->
                  </div>
                  <div class="col-md-6 ">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="w-100" *ngIf="tabValue == 'onhold'">
                          <mat-select placeholder="Filter by status" [(ngModel)]="selectedList" (change)="filterPending()">
                            <mat-option *ngFor="let list of allLists" [value]="list.name">
                              {{list.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100" *ngIf="tabValue == 'active'">
                          <mat-select placeholder="Manager List" [(ngModel)]="posManager" (change)="filtermanagerWise()">
                            <mat-option  value="all" (change)="allActiveLists()"> All
                            </mat-option>
                            <mat-option *ngFor="let list of allManagerLists" [value]="list.manager_id">
                              {{list.manager_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Search ..." (keyup)="updateFilter($event)">
                          <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ngx-datatable
                  #table
                  class="material"
                  [headerHeight]="50"
                  [limit]="10"
                  [columnMode]="'force'"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [rows]="rows"
                  [loadingIndicator]="loadingIndicator"
                  [selected]="selected"
                  [selectionType]="'checkbox'"
          >


            <ngx-datatable-column name="dm_firstname">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-value="value" let-row="row"  >
                <mat-card class="mt-viwe-profile">
                  <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name"  style="cursor: pointer"><span>{{row.dm_firstname | titlecase}} {{row.dm_lastname | titlecase}}</span></h3>
                    <p class="docStatus" *ngIf="row.dm_status == 3 && row.doc_verified_status == 1">Document pending</p>
                    <p class="docStatus" *ngIf="row.dm_status == 3 && row.doc_verified_status == 2 && row.training_status == 0">Training pending</p>
                    <p class="docStatus" *ngIf="row.dm_status == 3 && row.doc_verified_status == 2 && row.exam_status != 2">Examination pending</p>
                    <div class="float-left">
                      <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                          <mat-icon style="text-align: center;color: white;">more_vert</mat-icon>
                        </button>
                      </div>
                      <mat-menu #menu="matMenu" xPosition="before">
                                                <span (mouseleave)="menuTrigger.closeMenu()">
                                                    <button mat-menu-item (click)="DmProfile(row.dm_id, row.dm_status)">
                                                       <mat-icon class="material-icons">visibility</mat-icon><span *ngIf="dmStatus !=1">View & Approve</span>
                                                    </button>
                                                    <button mat-menu-item (click)="DmEdit(row.dm_id)">
                                                        <mat-icon>mode_edit</mat-icon>
                                                        <span>Edit</span>
                                                    </button>
                                                </span>
                      </mat-menu>
                    </div>
                    <!--<button mat-raised-button color="primary" class="text-center" (click)="DmProfile(row.dm_id, row.dm_status)">-->
                    <!--View <span *ngIf="posStatus !=1">& Approve</span>-->
                    <!--</button>-->
                  </div>

                  <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                      <div class="user-img" (click)="DmProfile(row.dm_id, row.dm_status)" style="cursor: pointer">
                        <img *ngIf="row.dm_profile_img == ''" src="assets/img/userImg.png" class="transition-2">
                        <img *ngIf="row.dm_profile_img != ''" src="{{webhost + '/' + row.dm_profile_img}}" class="transition-2 rounded-circle">
                      </div>
                    </div>

                    <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" >
                      <div fxFlex="30"  fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Mobile Number">phone</mat-icon>
                          <span>{{row.dm_mobileno}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Email Id">mail</mat-icon>
                          <span>{{row.dm_email | limitTo: 12}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Referral Phone Number">phone</mat-icon>
                          <span>{{row.dm_referral_code}}</span>
                        </p>

                      </div>
                      <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Education Details">school</mat-icon>
                          <span>{{row.doc_education}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Aadhar Number">credit_card</mat-icon>
                          <span>{{row.doc_aadhar_no}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Pan Number">credit_card</mat-icon>
                          <span>{{row.doc_pan_no}}</span>
                        </p>
                      </div>
                      <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Address">location_on</mat-icon>
                          <span>{{row.dm_address1}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="muted-text" matTooltip="Pincode">code</mat-icon>
                          <span>{{row.dm_postalcode}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" *ngIf="row.dm_manager_name != null">
                          <mat-icon class="muted-text" matTooltip="Pincode">person</mat-icon>
                          <span class="theme-color"> RM : </span><span class="ml-1">{{row.dm_manager_name}}</span>
                        </p>

                      </div>

                    </div>
                  </div>
                </mat-card>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  datatable-header-cell{
    display: block;
  }
  datatable-header{
    height: auto !important;
  }
  .datatable-header-cell-wrapper{
    display: none;
  }
  .docStatus {
    color: white !important;
  }
</style>

