
  <div class="w-100 mt-2">
      <input type="file"  (change)="readUrl($event, 'profile')" formControlName="profile"   aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label"><span class="error">*</span>
        Attach Your Photo</label>
    </div>
  <div class="row w-100">
    <div class="col-md-12">
      <div *ngIf="profile != ''">
        <span class="imageclose mr-2"><img src="{{webhost + '/' + profile}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
      </div>
    </div>
  </div>


