<div class="container-fluid doctorprofile">
    <mat-card class="doctordetail mb-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="user-img">
                            <img  src="assets/img/users/default-user.jpg" class="transition-2 rounded-circle">
                            <!--<img [hidden]="personal.profileimagepath ==''" src="{{webhost +'/' + personal.profileimagepath}}"-->
                                  <!--class="rounded-circle">-->
                            <h4 class="user-name mt-2">{{posData.pos_firstname}} {{posData.pos_lastname}}</h4>

                            <div class="container personaldetails mt-3">
                                <p fxLayout="row" fxLayoutAlign="start center">
                                    <span>Qualifications :</span>
                                    <span>{{posData.doc_education}}</span>
                                </p>
                                <p fxLayout="row" fxLayoutAlign="start center">
                                    <span>Phone :</span>
                                    <span>{{posData.pos_mobileno}}</span>
                                </p>
                                <p fxLayout="row" fxLayoutAlign="start center">
                                    <span>Email :</span>
                                    <span>{{posData.pos_email}}</span>
                                </p>
                                <!--<p fxLayout="row" fxLayoutAlign="start center">-->
                                <!--<span *ngIf="registrationDetails.length > 0">>Registration:</span>-->
                                <!--<span><div *ngFor="let item of registrationDetails" class="float-left">{{item.registrationTypeId}} : {{item.registrationNo}}</div></span>-->
                                <!--</p>-->
                                <p fxLayout="row" fxLayoutAlign="start center">
                                    <span>Address :</span>
                                    <span class="text-capitalize">{{posData.pos_address1}}<span
                                            [hidden]="posData.pos_address2 == ''">, </span>{{posData.pos_address2}}<span
                                            [hidden]="posData.pos_postalcode == ''">-{{posData.pos_postalcode}}</span></span>
                                </p>
                            </div>

                        </div>
                        <!--<div class="card-footer">-->
                        <!--<span class="float-left">-->
                             <!--<div class="float-left"><i-->
                                     <!--class="fas fa-user-md"></i>-->
                                                <!--<span >{{doctorExperience.pos_email}} Year(s), </span>-->
                                                <!--<span >{{doctorExperience.experiencemonths}} Month(s)</span>-->
                                            <!--</div>-->
                        <!--</span>-->
                            <!--<span class="float-right"><i class="fas fa-phone"></i> {{posData.pos_mobileno}}</span>-->
                        <!--</div>-->
                    </div>
                    <!--<div class="col-md-12">-->
                        <!--<div class=" personaldetails mt-3">-->
                            <!--<p fxLayout="row" fxLayoutAlign="start center">-->
                                <!--<span>Qualifications:</span>-->
                                <!--<span>{{posData.doc_education}}</span>-->
                            <!--</p>-->
                            <!--<p fxLayout="row" fxLayoutAlign="start center">-->
                                <!--<span>Phone:</span>-->
                                <!--<span>{{posData.pos_mobileno}}</span>-->
                            <!--</p>-->
                            <!--<p fxLayout="row" fxLayoutAlign="start center">-->
                                <!--<span>Email:</span>-->
                                <!--<span>{{posData.pos_email}}</span>-->
                            <!--</p>-->
                            <!--&lt;!&ndash;<p fxLayout="row" fxLayoutAlign="start center">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span *ngIf="registrationDetails.length > 0">>Registration:</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span><div *ngFor="let item of registrationDetails" class="float-left">{{item.registrationTypeId}} : {{item.registrationNo}}</div></span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</p>&ndash;&gt;-->
                            <!--<p fxLayout="row" fxLayoutAlign="start center">-->
                                <!--<span>Address:</span>-->
                                <!--<span class="text-capitalize">{{posData.pos_address1}}<span-->
                                        <!--[hidden]="posData.pos_address2 == ''">, </span>{{posData.pos_address2}}<span-->
                                        <!--[hidden]="posData.pos_postalcode == ''">-{{posData.pos_postalcode}}</span></span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-6 pt-2" >
                <mat-tab-group #tabGroup [selectedIndex]="tabIndex"
                               (selectedIndexChange)="onSelectedIndexChange($event)">
                    <!--<mat-tab label="Physical verification">-->
                        <!--<div class="p-5 pt-2">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-6" *ngFor="let item of physical">-->
                                    <!--<mat-checkbox [(ngModel)]="item.checked">{{item.displayname}}</mat-checkbox>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</mat-tab>-->
                    <mat-tab label="Verification">
                        <div class="p-5 pt-2">
                            <div class="row">
                                <div class="col-md-6" *ngFor="let item of documentslist">
                                    <mat-checkbox [(ngModel)]="item.checked" >{{item.doc_field_name}}</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>
                <div class="row">
                    <div class="col-md-12">
                        <div mat-dialog-content >
                            <mat-form-field class="w-100">
                                <textarea matInput placeholder="Notify" rows="4" [(ngModel)]="notes"></textarea>
                            </mat-form-field>
                        </div>
                        <div mat-dialog-content >
                            <mat-form-field class="w-100">
                                <textarea matInput placeholder="Comments" rows="4" [(ngModel)]="comments"></textarea>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <!--<button mat-raised-button color="primary-notess" style="background-color: #e8a662!important; color:white" (click)="getNotes('Notify')">Notify-->
                            <!--</button>-->
                            <!--<button mat-raised-button class="secondary-bg-color" *ngIf="currentTap == 0"-->
                                    <!--(click)="getNotes('Physical Comments')">Comments-->
                            <!--</button>-->
                            <!--<button mat-raised-button color="primary"-->
                                    <!--(click)="getNotes('Online Comments')">Comments-->
                            <!--</button>-->
                        </div>
                        <div class="col-md-6 text-right">
                            <button mat-raised-button color="warn"  (click)=" rejectConfirm()">
                                Reject
                            </button>
                            <button mat-raised-button color="primary" style="background-color: #2ea04c!important;" (click)="verificationSubmit()">Submit</button>
                        </div>
                    </div><br>
                </div>
            </div>

        </div>
    </mat-card>
    <mat-accordion class="certificate">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Aadhar Card
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-6">
                    <img style="width: 250px; height: 150px;" *ngIf="posData.doc_aadhar_front_img != ''" src="{{webhost  +'/'+ posData.doc_aadhar_front_img}}" class="float-left img-thumbnail" (click)="viewImage(posData.doc_aadhar_front_img, 'Aadhar')">
                </div>
                <div class="col-md-6">
                    <img style="width: 250px; height: 150px;" *ngIf="posData.doc_aadhar_back_img != ''" src="{{webhost  +'/'+ posData.doc_aadhar_back_img}}" class="float-left img-thumbnail" (click)="viewImage(posData.doc_aadhar_back_img, 'Aadhar Card')">
                </div>
                <div class="no-data"  *ngIf="posData.doc_aadhar_front_img == '' && posData.doc_aadhar_back_img == ''" >
                    <p class="text-center"  class="text-center" fxLayout="row" fxLayoutAlign="center center">  <i class="material-icons">
                        cloud_off
                    </i> &nbsp; No Aadhar card</p>
                </div>
            </div>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pan Card
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-12" *ngIf="posData.doc_pan_img == ''" >
                    <p class="text-center"  class="text-center" fxLayout="row" fxLayoutAlign="center center">  <i class="material-icons">
                        cloud_off
                    </i> &nbsp; No Pan Card</p>
                </div>
                <div class="col-md-6" *ngIf="posData.doc_pan_img != ''" >
                    <img style="width: 250px; height: 150px;" src="{{webhost  +'/'+ personal.doc_pan_img}}" class="float-left img-thumbnail" (click)="viewImage(posData.doc_pan_img, 'Pan Card')">
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Educational Certificate(s)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div *ngIf="posData.doc_edu_certificate_img == ''" >
                    <p class="text-center"  class="text-center" fxLayout="row" fxLayoutAlign="center center">  <i class="material-icons">
                        cloud_off
                    </i> &nbsp; No Educational Certificated</p>
                </div>

                <div class="col-md-6" *ngIf="posData.doc_edu_certificate_img != ''" >
                    <img style="width: 250px; height: 150px;" src="{{webhost  +'/'+ posData.doc_edu_certificate_img}}" class="float-left img-thumbnail" (click)="viewImage(posData.doc_edu_certificate_img, 'Educational Certificate')">
                </div>
            </div>

        </mat-expansion-panel>


    </mat-accordion>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="row mt-5" >
            <div class="col-md-12" >
                <div fxLayout="column">
                    <div class="flex-p">
                        <ngx-datatable
                                class="material"
                                [rows]="rows"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [externalPaging]="true"
                                [count]="notesListCount"
                                [offset]="pageOffSet"
                                (page)='setPage($event)'>

                            <ngx-datatable-column name="S.No">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                    {{rowIndex +1}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Notify">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row mt-5" >
            <div class="col-md-12" >
                <div fxLayout="column">
                    <div class="flex-p">
                        <ngx-datatable
                                class="material"
                                [rows]="rows1"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [externalPaging]="true"
                                [count]="commentsListCount"
                                [offset]="pageOffSet"
                                (page)='setPage($event)'>

                            <ngx-datatable-column name="S.No">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                    {{rowIndex +1}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Comments">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

