
<section>
  <div class="flex-p">
    <div class="row  text-right h-100">
      <div class="col-md-6">

        </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 text-center mt-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Status List ..." (keyup)="searchFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
          <div class="col-md-6">
          <mat-form-field class="w-100">
            <input matInput placeholder="Search ..." (keyup)="updateFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div fxLayout="column">
        <div class="flex-p">

          <ngx-datatable
                  #table
                  class="material"
                  [headerHeight]="50"
                  [limit]="10"
                  [columnMode]="'force'"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [rows]="rows"
                  [count]="total"
                  [loadingIndicator]="loadingIndicator"
                  [selected]="selected"
                  [selectionType]="'checkbox'">

            <ngx-datatable-column name="S.No">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <div>{{rowIndex+1}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Applicant Name">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.applicant_name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Applicant Email">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.applicant_email}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Applicant Mobile">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.applicant_mobile}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Applying Date">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{row.created_on  | date: 'dd/MM/yyyy'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Resume">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <!--<a href="img" download>Download</a>-->
                <button mat-raised-button color="primary" (click)="imageDownload()"><i class="material-icons">
                  cloud_download
                </i> Download</button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="status List">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" >
                <mat-form-field class="mt-2 w-100">
                  <mat-select  placeholder="Status" (change)="updateStatusDetails(row)" [(ngModel)]="row.status" required  class="w-100">
                    <mat-option *ngFor="let status of statusList" value = {{status.id}} > {{status.status_name}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">

                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                  <i class="material-icons" style="cursor: pointer;" (click)="path(rowIndex)">
                  more_vert
               </i>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                 <span (mouseleave)="menuTrigger.closeMenu()">
                   <button mat-menu-item (click)="getMail(row)">
                      <mat-icon> av_timer</mat-icon>
                      <span>Schedule Interview</span>
                    </button>
                 </span>
                </mat-menu>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>


        </div>
      </div>

    </div>
  </div>
  </div>
</section>
