<!--<div class="text-right">-->
  <!--<i class="material-icons" style="cursor: pointer" (click)="onNoClick()">close</i>-->
<!--</div>-->
<!--<div fxLayout="row" fxLayoutAlign="center center" >-->
  <!--<form [formGroup]="form" (ngSubmit)="addCategory()" >-->
    <!--<mat-form-field class="w-100">-->
      <!--<input matInput placeholder="Category Name" formControlName="categoryname" >-->
      <!--<mat-error *ngIf="form.controls.categoryname.errors?.required">Category is required</mat-error>-->
    <!--</mat-form-field>-->
    <!--<div class="text-center">-->
      <!--<button mat-raised-button color="primary"  type="submit">Add</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->



<div class="col-md-12 text-right" >
  <i class="material-icons" (click)="onNoClick()" style="cursor: pointer">
    clear
  </i>
</div>
<div>
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <form [formGroup]="form"  (ngSubmit)="addCategory()" class="w-100">
      <mat-form-field class="w-100">
        <input matInput placeholder="Category Name" formControlName="categoryname" >
        <mat-error *ngIf="form.controls.categoryname.errors?.required">Category is required</mat-error>
      </mat-form-field>
      <div class="text-center">
        <button mat-raised-button color="primary"  type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

