<div class="container-fluid">
  <div class="row proposal">
    <div class="col-md-12">
      <mat-horizontal-stepper  #stepper>z
        <mat-step [stepControl]="proposer">
          <ng-template matStepLabel>PROPOSER DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <form [formGroup]="proposer" >
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title> Group A </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row mt-3">
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">PROPOSER DETAILS</h6>
                    <div class="row">
                      <div class="col-md-2">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="proposerTitle" (change)="changeGender()">
                            <mat-option value="MR">Mr</mat-option>
                            <mat-option value="MS">Ms</mat-option>
                          </mat-select>
                          <mat-error *ngIf="proposer.controls.proposerTitle.errors?.required">Title is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="proposerFirstname"  (keypress)="onCharacter($event)"  autocomplete="off" required >
                          <mat-error *ngIf="proposer.controls.proposerFirstname.errors?.required">First Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mid Name" formControlName="proposerMidname"  (keypress)="onCharacter($event)"   autocomplete="off">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="proposerLastname"  (keypress)="onCharacter($event)"   autocomplete="off" required >
                          <mat-error *ngIf="proposer.controls.proposerLastname.errors?.required">Last Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Gender" formControlName="proposerGender" required readonly>
                          <mat-error *ngIf="proposer.controls.proposerGender.errors?.required">Gender is required</mat-error>
                        </mat-form-field>
                      </div>
                      <!--<div class="col-md-3">-->
                        <!--<mat-form-field class="w-100">-->
                          <!--<mat-select  placeholder="Marital Status" formControlName="proposerMarital" required  class="w-100">-->
                            <!--<mat-option  [value]= ''></mat-option>-->
                          <!--</mat-select>-->
                          <!--<mat-error *ngIf="proposer.controls.proposerMarital.errors?.required">Marital Status is required</mat-error>-->
                        <!--</mat-form-field>-->
                      <!--</div>-->
                      <!--<div class="col-md-3">-->
                        <!--<mat-form-field class="w-100">-->
                          <!--<mat-select  placeholder="Occupation" formControlName="proposerOccupation" required  class="w-100">-->
                            <!--<mat-option  [value]= ''>  </mat-option>-->
                          <!--</mat-select>-->
                          <!--<mat-error *ngIf="proposer.controls.proposerOccupation.errors?.required">Occupation is required</mat-error>-->
                        <!--</mat-form-field>-->
                      <!--</div>-->
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <mat-select  placeholder="Nationality" formControlName="proposerNationality" required  class="w-100">
                            <mat-option  [value]= ''></mat-option>
                          </mat-select>
                          <mat-error *ngIf="proposer.controls.proposerNationality.errors?.required">Nationality is required</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="proposerDob" (dateInput)="addEvent( $event, 'proposer', 'i')" (dateChange)="addEvent( $event, 'proposer', 'i')"  (keypress)="add($event)" autocomplete="off"   required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="proposer.controls.proposerDob.errors?.required">DOB is required</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="PAN Number"  minlength="10" class="text-uppercase"  maxlength="10" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" formControlName="proposerPan"  autocomplete="off">
                          <mat-error *ngIf="proposer.controls.proposerPan.hasError('minlength')">PAN Number isn't long enough, minimum of 10 characters</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerPan.hasError('pattern')"> Enter Valid PAN Number </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Email ID"   formControlName="proposerEmail"  autocomplete="off" required>
                          <mat-error *ngIf="proposer.controls.proposerEmail.errors?.required">Email ID is required</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerEmail.hasError('pattern')">Please Enter Correct Format</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mobile Number"  (keypress)="keyPress($event)"   maxlength="10" formControlName="proposerMobile" autocomplete="off" required>
                          <mat-error *ngIf="proposer.controls.proposerMobile.errors?.required">Mobile Number is required</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerMobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Office Number"  (keypress)="keyPress($event)"   maxlength="10" formControlName="proposerOfficePhone" autocomplete="off" >
                          <mat-error *ngIf="proposer.controls.proposerOfficePhone.errors?.required">Office Number is required</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerOfficePhone.hasError('pattern')">Enter Valid  Phone Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Alternate Number"   maxlength="10"  formControlName="proposerAltnumber" (keyup)="alternateChange($event)" (keypress)="keyPress($event)" autocomplete="off">
                          <mat-error *ngIf="proposer.controls.proposerAltnumber.errors?.required">Alternate Number is required</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerAltnumber.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                        </mat-form-field>
                        <div class="error" *ngIf="mobileNumber != '' && mobileNumber != 'true'">{{mobileNumber}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green"> PROPOSER COMMUNICATION ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="proposerAddress" autocomplete="off" required></textarea>
                          <mat-error *ngIf="proposer.controls.proposerAddress.errors?.required">Address is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="proposerAddress2" autocomplete="off" required></textarea>
                          <mat-error *ngIf="proposer.controls.proposerAddress2.errors?.required">Address2 is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="add($event)" minlength="6"   maxlength="6" (input)="commonPincode($event.target.value, 'proposer')" formControlName="proposerPincode" autocomplete="off" required>
                          <mat-error *ngIf="proposer.controls.proposerPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerPincode.hasError('required')">Pincode required</mat-error>
                          <mat-error *ngIf="proposer.controls.proposerPincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="State" formControlName="proposerState" autocomplete="off" required readonly>
                          <mat-error *ngIf="proposer.controls.proposerState.errors?.required">State is required</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-3">
                        <mat-form-field  class="w-100">
                          <input matInput placeholder="District" formControlName="proposerDistrict" autocomplete="off" required readonly>
                          <mat-error *ngIf="proposer.controls.proposerDistrict.errors?.required">District is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field  class="w-100">
                          <input matInput placeholder="City" formControlName="proposerCity" autocomplete="off" required readonly>
                          <mat-error *ngIf="proposer.controls.proposerCity.errors?.required">City is required</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="proposal-buttom mt-3 text-right w-100">
                    <button mat-raised-button color="primary">Next</button>
                  </div>
                </div>
              </mat-expansion-panel>
            </form>
          </mat-accordion>
        </mat-step>
        <mat-step [stepControl]="">
          <ng-template matStepLabel >INSURED DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <form [formGroup]="insureArray">
              <div formArrayName="items" *ngFor="let item of insureArray.get('items')['controls']; let i = index;">
                <mat-expansion-panel  [formGroupName]="i" [expanded]="i == 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> {{insureArray['controls'].items['controls'][i]['controls'].type.value}} </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matStepLabel>INSURED DETAILS </ng-template>
                  <div class="row mt-3">
                    <div class="col-md-12 box-card pt-3">
                      <h6 class="color-green">INSURED DETAILS</h6>
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Title" formControlName="proposerTitle" (change)="insureChangeGender(i)">
                              <mat-option value="MR">Mr</mat-option>
                              <mat-option value="MS">Ms</mat-option>
                            </mat-select>
                            <mat-error *ngIf="insureArray.invalid">Title is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-5">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="First Name" formControlName="proposerFirstname"  (keypress)="onCharacter($event)" autocomplete="off" required [readonly]="insureArray['controls'].items['controls'][i]['controls'].sameAsProposer.value" >
                            <mat-error *ngIf="insureArray.invalid">First Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Last Name" formControlName="proposerLastname"  (keypress)="onCharacter($event)" autocomplete="off" required [readonly]="insureArray['controls'].items['controls'][i]['controls'].sameAsProposer.value" >
                            <mat-error *ngIf="insureArray.invalid">Last Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Gender" formControlName="proposerGender" required readonly autocomplete="off">
                            <mat-error *ngIf="insureArray.invalid">Gender is required</mat-error>
                          </mat-form-field>
                        </div>
                        <!--<div class="col-md-6">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<mat-select  placeholder="Marital Status" formControlName="proposerMarital" required  class="w-100" autocomplete="off">-->
                              <!--<mat-option  [value]= ''></mat-option>-->
                            <!--</mat-select>-->
                            <!--<mat-error *ngIf="insureArray.invalid">Marital Status is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker"  placeholder="DOB (DD/MM/YYYY)"   formControlName="proposerDob" (dateInput)="addEvent($event)" (dateChange)="addEvent( $event, 'insurer', i)" (keypress)="add($event, 'insurer', i)" autocomplete="off" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="insureArray.invalid">DOB is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Age" formControlName="proposerAge"     autocomplete="off" autocomplete="off" readonly>
                            <mat-error *ngIf="insureArray.invalid">Age is required</mat-error>
                          </mat-form-field>
                        </div>
                        <!--<div class="col-md-6">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<mat-select  placeholder="Occupation" formControlName="proposerOccupation" required  class="w-100">-->
                              <!--<mat-option  [value]= ''>  </mat-option>-->
                            <!--</mat-select>-->
                            <!--<mat-error *ngIf="insureArray.invalid">Occupation is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<mat-select placeholder="Relationship with Proposer"  formControlName="proposerRelationship" required >-->
                              <!--<mat-option  value="" >  </mat-option>-->
                            <!--</mat-select>-->
                            <!--<mat-error *ngIf="insureArray.invalid">Relationship is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <div class="col-md-6">
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Height(cm)" formControlName="proposerHeight" required (keypress)="add($event)" maxlength="3" autocomplete="off">
                        <mat-error *ngIf="insureArray.invalid">Height is required</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Weight" formControlName="proposerWeight" (keypress)="add($event)"  maxlength="3" required  autocomplete="off">
                        <mat-error *ngIf="insureArray.invalid">Weight is required</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                          <input matInput placeholder="Aadhar Number" (keypress)="keyPress($event)"  minlength="12"  maxlength="12" formControlName="proposerAadhar" autocomplete="off" [readonly]="insureArray['controls'].items['controls'][i]['controls'].sameAsProposer.value">
                          <mat-error *ngIf="insureArray.invalid">Aadhar Number is required</mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Fax"  (keypress)="keyPress($event)"   maxlength="10" formControlName="proposerFax" autocomplete="off">
                            <mat-error *ngIf="insureArray.invalid">fax is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <h4 class="color-green">Product Details</h4>
                        </div>
                        <div class="col-md-3">
                          <p>Is Existing Illness</p>
                          <mat-radio-group formControlName="IsExistingIllness" (change)="boolenHide($event, i, 'IsExistingIllness')">
                            <mat-radio-button value="Yes" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="No" [checked]="true">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <p>Is Insured Consume Tobacco</p>
                          <mat-radio-group formControlName="IsInsuredConsumetobacco">
                            <mat-radio-button value="Yes" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="No" [checked]="true">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <p>Has Any Pre Claim On Insured</p>
                          <mat-radio-group formControlName="HasAnyPreClaimOnInsured">
                            <mat-radio-button value="Yes" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="No" [checked]="true">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <p>Has Any Pre Health Insurance Cancelled</p>
                          <mat-radio-group formControlName="HasAnyPreHealthInsuranceCancelled">
                            <mat-radio-button value="Yes" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="No" [checked]="true">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <textarea matInput placeholder="Details Of Pre Claim On Insured" formControlName="DetailsOfPreClaimOnInsured" autocomplete="off"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <textarea matInput placeholder="Details Of Prev Insurance Cancelled" formControlName="DetailsOfPrevInsuranceCancelled" autocomplete="off"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <textarea matInput placeholder="Other Disease" formControlName="OtherDisease" autocomplete="off"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <h6 class="mt-3">Other Insurance Details:</h6>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <textarea matInput placeholder="Insurance Company Name" formControlName="InsuranceCompName" autocomplete="off"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Previous Policy No" formControlName="PreviousPolNo"   (keypress)="add($event)" autocomplete="off">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker2"  placeholder="Policy Start Date (DD/MM/YYYY)"   formControlName="PolicyStartDate" (dateInput)="addEventInsurer( $event)" (dateChange)="addEventInsurer( $event)" (keypress)="add($event)" maxlength="10" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker3"  max="maxDate" placeholder="Policy End Date"   formControlName="PolicyEndDate"  (keypress)="add($event)" maxlength="10"  autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Sum Insured" formControlName="SumInsured"   (keypress)="add($event)" autocomplete="off">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Accumulated Cumulative Bonus" formControlName="AccumulatedCumulativeBonus"   autocomplete="off">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="proposal-buttom mt-3 text-right w-100" *ngIf="items.length -1 == i">
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary">Next</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </form>
          </mat-accordion>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>NOMINEE DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title> {{groupName}} </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matStepLabel>INSURED DETAILS</ng-template>
              <div class="row mt-3">
                <div class="col-md-12 box-card pt-3 pb-3" >
                  <h6 class="color-green mb-3" >NOMINEE DETAILS </h6>
                  <form [formGroup]="nomineeDetails">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="nomineeTitle">
                            <mat-option value="MR">Mr</mat-option>
                            <mat-option value="MS">Ms</mat-option>
                          </mat-select>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeTitle.errors?.required">Title is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name"  formControlName="nomineeFirstName" autocomplete="off" required>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeFirstName.errors?.required">First Name of Nominee is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mid Name"  formControlName="nomineeMidName" autocomplete="off">
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeMidName.errors?.required">Mid Name of Nominee is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name"  formControlName="nomineeLastName" autocomplete="off" required>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeLastName.errors?.required"> Last Name of Nominee is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker1" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="nomineeDob" (dateInput)="addEvent( $event, 'i', 'nominee')" (dateChange)="addEvent( $event, 'i', 'nominee')"  (keypress)="add($event)"
                                 autocomplete="off"  maxlength="10" required>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeDob.errors?.required">DOB is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Relationship with Proposer"  formControlName="nomineeRelationship" required >
                            <mat-option  value="" ></mat-option>
                          </mat-select>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeRelationship.errors?.required">Relationship with Proposer is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="nomineeAddress" autocomplete="off" required></textarea>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeAddress.errors?.required">Address is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="nomineeAddress2" autocomplete="off" required></textarea>
                          <mat-error *ngIf="nomineeDetails.controls.nomineeAddress2.errors?.required">Address2 is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="add($event)" minlength="6"   maxlength="6" (input)="commonPincode($event.target.value, 'Nominee')" formControlName="nomineePincode" autocomplete="off" required>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineePincode.hasError('minlength')">Pin should be 6 digits</mat-error>-->
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineePincode.hasError('required')">Pincode required</mat-error>-->
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineePincode.hasError('pattern')">Enter Valid  Pin</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="State" formControlName="nomineeState" autocomplete="off" required readonly>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeState.errors?.required">State is required</mat-error>-->
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field  class="w-100">
                          <input matInput placeholder="District" formControlName="nomineeDistrict" autocomplete="off" required readonly>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeDistrict.errors?.required">District is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100" >
                          <input matInput placeholder="City" formControlName="nomineeCity" autocomplete="off" required>
                          <!--<mat-error *ngIf="nomineeDetails.controls.nomineeCity.errors?.required">City is required</mat-error>-->
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="proposal-buttom mb-3 text-right w-100">
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary">Next</button>
                    </div>
                  </form>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-step>
        <!--<mat-step [stepControl]="">-->
          <!--<ng-template matStepLabel>SUMMARAY</ng-template>-->
          <!--<section class="summary-details" *ngIf="summaryData">-->
            <!--<div class="row">-->
              <!--<div class="col-md-4">-->
                <!--<h4><span style="font-size: 17px; color: #666;">Sum Insured: &nbsp;<i class="fas fa-rupee-sign"></i> {{buyProductdetails.suminsured_amount}}</span></h4>-->
              <!--</div>-->
              <!--<div class="col-md-8">-->
                <!--<ul class="summary-head">-->
                  <!--<li><span>Insurer:</span> &nbsp;<img src="{{webhost + '/' + buyProductdetails.company_logo}}" class="img-thumbnail" style="width: 125px;" /> </li>-->
                  <!--<li><span>Premium:</span> &nbsp; <span><i class="fas fa-rupee-sign"></i> {{summaryData.Premium.BasicPremium}}</span> /</li>-->
                  <!--<li><span>Total Premium:</span> &nbsp;<span><i class="fas fa-rupee-sign"></i> {{summaryData.Premium.FinalPremium}}</span> </li>-->
                  <!--<li></li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
            <!--<section>-->
              <!--<h5 class="mt-3 sub-title">PROPOSER DETAILS </h5>-->
              <!--<div class="row box-card">-->
                <!--<div class="col-md-12">-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="p-3">-->
                    <!--<ul class="m-0 list-group">-->
                      <!--<li class="list-group-item"><strong>Name:</strong> {{summaryData.ClientDetails.Salutation}} {{summaryData.ClientDetails.ForeName}} {{summaryData.ClientDetails.LastName}}</li>-->
                      <!--<li class="list-group-item"><strong>D.O.B:</strong> {{summaryData.ClientDetails.DOB}}</li>-->
                      <!--<li class="list-group-item"><strong>Personal Email Id:</strong> {{summaryData.ClientDetails.Email}}</li>-->
                      <!--<li class="list-group-item"><strong>Mobile Number:</strong> {{summaryData.ClientDetails.MobileNo}}</li>-->
                      <!--<li class="list-group-item"><strong>Phone Number:</strong> {{summaryData.ClientDetails.PhoneNo}}</li>-->
                      <!--<li class="list-group-item"><strong>Alternate Number:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.PhoneNo}}</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="p-3">-->
                    <!--<ul class="m-0 list-group">-->
                      <!--<li class="list-group-item"><strong>Gender:</strong> {{summaryData.ClientDetails.Gender}}</li>-->
                      <!--<li class="list-group-item"><strong>Marital Status:</strong> {{summaryData.ClientDetails.marital_status}}</li>-->
                      <!--<li class="list-group-item"><strong>Occupation:</strong> {{summaryData.ClientDetails.occupation_name}}</li>-->
                      <!--<li class="list-group-item"><strong>Nationality:</strong> {{summaryData.ClientDetails.nationality}}</li>-->
                      <!--<li class="list-group-item"><strong>PAN Number:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.PanNo}}</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="p-3">-->
                    <!--<h6>PROPOSER COMMUNICATION DETAILS</h6>-->
                    <!--<ul class="m-0 list-group">-->
                      <!--<li class="list-group-item"><strong>Address 1:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.Address1}}</li>-->
                      <!--<li class="list-group-item"><strong>Address 2:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.Address2}}</li>-->
                      <!--<li class="list-group-item"><strong>Address 3:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.Address3}}</li>-->
                      <!--<li class="list-group-item"><strong>PIN code:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.Pincode}}</li>-->
                      <!--<li class="list-group-item"><strong>Area:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.area_name}}</li>-->
                      <!--<li class="list-group-item"><strong>City:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.city_village_name}}</li>-->
                      <!--<li class="list-group-item"><strong>State:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.state_name}}</li>-->
                      <!--<li class="list-group-item"><strong>Country:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.Country}}</li>-->
                      <!--<li class="list-group-item"><strong>Mobile No:</strong> {{summaryData.ClientDetails.MobileNo}}</li>-->
                      <!--<li class="list-group-item"><strong>Phone No:</strong> {{summaryData.ClientDetails.PhoneNo}}</li>-->
                      <!--<li class="list-group-item"><strong>Fax:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.Fax}}</li>-->
                      <!--<li class="list-group-item"><strong>Nearest Landmark:</strong> {{summaryData.ClientDetails.ClientAddress.CommunicationAddress.NearestLandmark}}</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class=" p-3">-->
                    <!--<h6>PROPOSER RESIDENCE DETAILS</h6>-->
                    <!--<ul class="m-0 list-group">-->
                      <!--<li class="list-group-item"><strong>Address 1:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.Address1}}</li>-->
                      <!--<li class="list-group-item"><strong>Address 2:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.Address2}}</li>-->
                      <!--<li class="list-group-item"><strong>Address 3:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.Address3}}</li>-->
                      <!--<li class="list-group-item"><strong>PIN code:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.Pincode}}</li>-->
                      <!--<li class="list-group-item"><strong>Area:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.area_name}}</li>-->
                      <!--<li class="list-group-item"><strong>City:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.city_village_name}}</li>-->
                      <!--<li class="list-group-item"><strong>State:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.state_name}}</li>-->
                      <!--<li class="list-group-item"><strong>Country:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.Country}}</li>-->
                      <!--<li class="list-group-item"><strong>Nearest Landmark:</strong> {{summaryData.ClientDetails.ClientAddress.PermanentAddress.Address.NearestLandmark}}</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</section>-->

            <!--<section *ngFor="let item of summaryData.InsuredDetailsList">-->
              <!--<h5 class="mt-3 sub-title">{{item.relationship_proposer_name}} DETAILS </h5>-->
              <!--<div class="row box-card">-->
                <!--<div class="col-md-12">-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="p-3">-->
                    <!--<ul class="m-0 list-group">-->
                      <!--<li class="list-group-item"><strong>Name:</strong> {{item.Salutation}} {{item.FirstName}} {{item.LastName}}</li>-->
                      <!--<li class="list-group-item"><strong>Gender:</strong> {{item.Gender}}</li>-->
                      <!--<li class="list-group-item"><strong>Marital Status:</strong> {{item.marital_status}}</li>-->
                      <!--<li class="list-group-item"><strong>D.O.B:</strong> {{item.DOB}}</li>-->
                      <!--<li class="list-group-item"><strong>Age:</strong> {{item.Age}}</li>-->
                      <!--<li class="list-group-item"><strong>Occupation:</strong> {{item.occupation_name}}</li>-->
                      <!--<li class="list-group-item"><strong>Relationship:</strong> {{item.relationship_proposer_name}}</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="p-3">-->
                    <!--<ul class="m-0 list-group">-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.IsExistingIllness == 'false'"><strong >Existing Illness:  </strong> No </li>-->
                      <!--<li class="list-group-item"  *ngIf="item.PreExistingDisease.IsExistingIllness == 'true'"><strong >Existing Illness:  </strong> Yes </li>-->
                      <!--<li class="list-group-item"><strong>Disease:</strong> {{item.PreExistingDisease.DiseaseList[0].pre_existing_disease_name}}</li>-->
                      <!--<li class="list-group-item"><strong>Suffering Since:</strong> {{item.PreExistingDisease.DiseaseList[0].SufferingSince}}</li>-->
                      <!--<li class="list-group-item"><strong>Other Disease:</strong> {{item.PreExistingDisease.DiseaseList[0].OtherDisease}}</li>-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.IsInsuredConsumetobacco == 'false'"><strong>Is Insured Consumetobacco:</strong>No</li>-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.IsInsuredConsumetobacco == 'true'"><strong>Is Insured Consumetobacco:</strong>Yes</li>-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.HasAnyPreClaimOnInsured == 'false'"><strong>Has Any Pre ClaimOnInsured:</strong> No</li>-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.HasAnyPreClaimOnInsured == 'true'"><strong>Has Any Pre ClaimOnInsured:</strong>Yes</li>-->
                      <!--<li class="list-group-item"><strong>Details Of Pre Claim On Insured:</strong> {{item.PreExistingDisease.DetailsOfPreClaimOnInsured}}</li>-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.HasAnyPreClaimOnInsured == 'false'"><strong>Has Any Pre Health Insurance Cancelled:</strong> No</li>-->
                      <!--<li class="list-group-item" *ngIf="item.PreExistingDisease.HasAnyPreClaimOnInsured == 'true'"><strong>Has Any Pre Health Insurance Cancelled:</strong> Yes</li>-->

                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</section>-->
            <!--<h5 class="mt-3 sub-title">NOMINEE DETAILS </h5>-->
            <!--<div class="row box-card">-->
              <!--<div class="col-md-6">-->
                <!--<div class="p-3">-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<ul class="m-0 list-group">-->
                        <!--<li class="list-group-item"><strong>Nominee name:</strong> {{summaryData.NomineeDetails.Salutation}} {{summaryData.NomineeDetails.MiddleName}} {{summaryData.NomineeDetails.LastName}}</li>-->
                        <!--<li class="list-group-item"><strong>Address 1:</strong> {{summaryData.NomineeDetails.NomineeAddress.Address1}}</li>-->
                        <!--<li class="list-group-item"><strong>Address 2:</strong> {{summaryData.NomineeDetails.NomineeAddress.Address2}}</li>-->
                        <!--<li class="list-group-item"><strong>Address 3:</strong> {{summaryData.NomineeDetails.NomineeAddress.Address3}}</li>-->
                        <!--<li class="list-group-item"><strong>PIN code:</strong> {{summaryData.NomineeDetails.NomineeAddress.Pincode}}</li>-->

                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="p-3">-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<ul class="m-0 list-group">-->
                        <!--<li class="list-group-item"><strong>Relationship with Proposer:</strong> {{summaryData.NomineeDetails.relationship_proposer_name}}</li>-->
                        <!--<li class="list-group-item"><strong>Area:</strong> {{summaryData.NomineeDetails.NomineeAddress.area_name}}</li>-->
                        <!--<li class="list-group-item"><strong>City:</strong> {{summaryData.NomineeDetails.NomineeAddress.city_village_name}}</li>-->
                        <!--<li class="list-group-item"><strong>State:</strong> {{summaryData.NomineeDetails.NomineeAddress.state_name}}</li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<p class="mt-2 pl-3">-->
              <!--<mat-checkbox [(ngModel)]="declaration">I hereby declare all  the  details provided above is correct</mat-checkbox>-->
            <!--</p>-->
            <!--<hr>-->
            <!--<div class="row">-->
              <!--<div class="col-md-12 text-center">-->
                <!--<form action={{RediretUrlLink}} method='post' #form>-->
                  <!--<button mat-raised-button color="primary" [disabled]="!declaration" (click)="form.submit()">Pay Now</button>-->
                <!--</form>-->
              <!--</div>-->
            <!--</div>-->
          <!--</section>-->
          <!--<div class="star-health-proposal-buttom mt-3 text-right w-100">-->
            <!--<button mat-button matStepperPrevious>Back</button>-->
          <!--</div>-->
        <!--</mat-step>-->
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
