
     <form [formGroup]="vehicalDetails">
              <div class="row">
                <mat-form-field class="w-50">
                  <input matInput placeholder="Vehicle No" formControlName="vehicalNumber" maxlength="10"  (keypress)="idValidate($event)"  required>
                  <mat-error *ngIf="vehicalDetails.controls.vehicalNumber.errors?.required">Vehicle No is required</mat-error>
                </mat-form-field>

                <mat-form-field class="w-50">
                    <input matInput placeholder="Business  Type" formControlName="bussiness" maxlength="10"  required>

                  <mat-error *ngIf="vehicalDetails.controls.bussiness.errors?.required">Business  Type is required</mat-error>

                </mat-form-field>
                <mat-form-field class="w-50">
                  <input matInput [matDatepicker]="picker1" placeholder="Registration Date (DD/MM/YYYY)" (keypress)="dobValidate($event)" formControlName="registrationDate"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="vehicalDetails.controls.registrationDate.errors?.required">Registration Date is required</mat-error>

                </mat-form-field>
                <mat-form-field class="w-50" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && vehicalDetails.controls['bussiness'].value != ''">
                  <input matInput [matDatepicker]="picker2" placeholder="Previous Policy StartDate (DD/MM/YYYY)" [min]="vehicalDetails.controls['registrationDate'].value" (keypress)="dobValidate($event)" formControlName="previousPolicyStart"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="vehicalDetails.controls.previousPolicyStart.errors?.required">Start Date is required</mat-error>

                </mat-form-field>

                <mat-form-field class="w-50" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && vehicalDetails.controls['bussiness'].value != ''">
                  <input matInput [matDatepicker]="picker3" placeholder="Previous Policy ExpiryDate (DD/MM/YYYY)"  (keypress)="dobValidate($event)" formControlName="previousPolicyExpiry"  (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)"  maxlength="10" minlength="10" required>
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                  <mat-error *ngIf="vehicalDetails.controls.previousPolicyExpiry.errors?.required">End Date is required</mat-error>

                </mat-form-field>
                <!--<p class="mt-2" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && vehicalDetails.controls['bussiness'].value != ''">Previous Claim: <span class="error">*</span></p>-->
                <!--<mat-radio-group class="pl-3 mt-2" formControlName="previousClaim" (change)="claim()" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && bikeInsurance.controls['bussiness'].value != ''">-->
                  <!--<mat-radio-button value="Yes">Yes</mat-radio-button>-->
                  <!--<mat-radio-button value="No">No</mat-radio-button>-->
                <!--</mat-radio-group>-->
                <!--<mat-form-field class="w-100" *ngIf="vehicalDetails.controls['previousClaim'].value == 'Yes'" >-->
                  <!--<input matInput placeholder="Claim Amount" (keypress)="numberValidate($event)" formControlName="claimamount" maxlength="15" required>-->
                  <!--<mat-error *ngIf="vehicalDetails.controls.claimamount.errors?.required">Claim Amount is required</mat-error>-->

                <!--</mat-form-field>-->
                <mat-form-field class="w-50" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && vehicalDetails.controls['bussiness'].value != ''">
                  <mat-select placeholder="NCB Percent(%)" (change)="setSession()" formControlName="ncb"  required>
                    <mat-option *ngFor="let paCity of claimDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                  </mat-select>
                  <mat-error *ngIf="vehicalDetails.controls.ncb.errors?.required">Ncb is required</mat-error>

                </mat-form-field>
                <div>
                  <mat-form-field class="w-50">
                    <input matInput placeholder="Chasiss Number" formControlName="chasissNumber"  maxlength= "17" (keypress)="numberValidate($event)" required>
                    <mat-error *ngIf="vehicalDetails.controls.chasissNumber.errors?.required">ChasissNumber is required</mat-error>
                    <!--<mat-error *ngIf="vehicalDetails.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-50">
                    <input matInput placeholder="Engine number " formControlName="engine"  maxlength= "15" (keypress)="idValidate($event)" required>
                    <mat-error *ngIf="vehicalDetails.controls.engine.errors?.required">Engine number is required</mat-error>
                    <!--<mat-error *ngIf="vehicalDetails.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-50">
                    <mat-select placeholder="Vehicle Manufacture"  formControlName="manufacture"  (change)="modelList1();"  required>
                      <mat-option *ngFor="let paCity of manifactureDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="vehicalDetails.controls.manufacture.errors?.required">Vehicle Manufacture is required</mat-error>
                    <!--<mat-error *ngIf="vehicalDetails.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-50">
                    <mat-select placeholder="Vehicle Model"  formControlName="vehicleModel"   required>
                      <mat-option *ngFor="let paCity of modelDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="vehicalDetails.controls.vehicleModel.errors?.required">Fuel Type is required</mat-error>
                    <!--<mat-error *ngIf="vehicalDetails.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-50">
                    <mat-select placeholder="Vehicle CC"  formControlName="vehicleCC"  required>
                      <mat-option *ngFor="let paCity of ccDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="vehicalDetails.controls.vehicleCC.errors?.required">Vehicle cc is required</mat-error>
                    <!--<mat-error *ngIf="vehicalDetails.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-50">
                    <input matInput placeholder="Manufacture Year(YYYY)" maxlength="4"  (keypress)="numberValidate($event)" formControlName="manufactureYear"  required>
                    <mat-error *ngIf="vehicalDetails.controls.manufactureYear.errors?.required">Manufacture Year is required</mat-error>
                    <!--<mat-error *ngIf="vehicalDetails.controls.vehicalNumber.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                  </mat-form-field>
                  <mat-form-field class="w-50">
                    <mat-select placeholder="Variant"  formControlName="variant"  required>
                      <mat-option *ngFor="let paCity of variantDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="vehicalDetails.controls.variant.errors?.required">Variant is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12 text-center mt-3">
                  <button mat-raised-button color="primary"  (click)="enquiryQuation(vehicalDetails.value)">Submit</button>
                </div>
              </div>
            </form>


