<div class="col-md-12 text-right" >
  <i class="material-icons" (click)="close()" style="cursor: pointer">
    clear
  </i>
</div>

<form [formGroup]="vehicalDetails">
  <h5 class="text-center mb-5"><span *ngIf="bikeListDetails.business_type != '1'">Verify Your Vehicle Details For {{vehicalDetails.controls['vehicalNumber'].value}}</span> <span *ngIf="bikeListDetails.business_type == '1'">Verify Your Vehicle Details </span></h5>
  <div class="row">
    <!--<div class="col-md-3">-->
      <!--<mat-form-field class="w-100">-->
        <!--<input matInput placeholder="Business  Type" formControlName="bussiness" readonly required>-->
      <!--</mat-form-field>-->
    <!--</div>-->
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput [matDatepicker]="picker1" placeholder="Registration Date (DD/MM/YYYY)" (keypress)="dobValidate($event);maxDatechange()" (keyup)="maxDatechange()" formControlName="registrationDate"   maxlength="10" minlength="10" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="vehicalDetails.controls.registrationDate.errors?.required">Registration Date is required</mat-error>
      </mat-form-field>
      <div class="error" *ngIf="errorFutureDate !='' && errorFutureDate != true">{{errorFutureDate}}</div>
      <!--<div class="error" *ngIf="errorFutureDate !='' && errorFutureDate != true">{{errorFutureDate}}</div>-->
    </div>
    <div class="col-md-3" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && vehicalDetails.controls['bussiness'].value != ''">
      <mat-form-field class="w-100">
        <input matInput [matDatepicker]="picker2" placeholder="Previous Policy StartDate (DD/MM/YYYY)" [min]="vehicalDetails.controls['registrationDate'].value" (keypress)="dobValidate($event)" formControlName="previousPolicyStart"  maxlength="10" minlength="10" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="vehicalDetails.controls.previousPolicyStart.errors?.required">Start Date is required</mat-error>
      </mat-form-field>
    </div>
     <div class="col-md-3" *ngIf="vehicalDetails.controls['bussiness'].value != '1' && vehicalDetails.controls['bussiness'].value != ''">
       <mat-form-field class="w-100">
         <input matInput [matDatepicker]="picker3" placeholder="Previous Policy ExpiryDate (DD/MM/YYYY)"  (keypress)="dobValidate($event)" formControlName="previousPolicyExpiry"   (dateInput)="ageCalculateInsurer($event)"  (dateChange)="ageCalculateInsurer($event)"  maxlength="10" minlength="10" required>
           <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
           <mat-datepicker #picker3></mat-datepicker>
           <mat-error *ngIf="vehicalDetails.controls.previousPolicyExpiry.errors?.required">End Date is required</mat-error>
       </mat-form-field>
     </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Manufacture Year(YYYY)" maxlength="4"  (keypress)="numberValidate($event);manufactureYear()" (click)="manufactureYear()"  formControlName="manufactureYear"  required>
        <mat-error *ngIf="vehicalDetails.controls.manufactureYear.errors?.required">Manufacture Year is required</mat-error>
      </mat-form-field>
      <!--<div class="error" *ngIf="manfactureErrorDate !='' && manfactureErrorDate != false">{{manfactureErrorDate}}</div>-->
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Chassis Number" class="text-uppercase" formControlName="chasissNumber" pattern="\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*" maxlength= "25" (keypress)="idValidate($event)" required>
        <mat-error *ngIf="vehicalDetails.controls.chasissNumber.errors?.required">Chassis number is required</mat-error>
        <mat-error *ngIf="vehicalDetails.controls.chasissNumber.hasError('pattern')">Vehicle No containing at least one number and letter</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Engine number " class="text-uppercase" formControlName="engine"  maxlength= "15" pattern="\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*" (keypress)="idValidate($event)" required>
        <mat-error *ngIf="vehicalDetails.controls.engine.errors?.required">Engine number is required</mat-error>
        <mat-error *ngIf="vehicalDetails.controls.engine.hasError('pattern')">Vehicle No containing at least one number and letter</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <mat-select placeholder="Vehicle Manufacture"  formControlName="manufacture"  (change)="manifactureList()"  required>
          <mat-option *ngFor="let paCity of manifactureDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
        </mat-select>
        <mat-error *ngIf="vehicalDetails.controls.manufacture.errors?.required">Vehicle Manufacture is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <mat-select placeholder="Variant"  formControlName="variant"  (change)="variantList()" required>
          <mat-option *ngFor="let paCity of variantDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
        </mat-select>
        <mat-error *ngIf="vehicalDetails.controls.variant.errors?.required">Variant is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-3">
       <mat-form-field class="w-100">
         <mat-select placeholder="Vehicle Model"  formControlName="vehicleModel" (change)="modelList1()"  required>
           <mat-option *ngFor="let paCity of modelDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
         </mat-select>
         <mat-error *ngIf="vehicalDetails.controls.vehicleModel.errors?.required">Vehicle Model is required</mat-error>
        </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="w-100">
        <mat-select placeholder="Vehicle CC"  formControlName="vehicleCC"  required>
          <mat-option *ngFor="let paCity of ccDetails | keys" value="{{paCity.key}}" > {{paCity.value}} </mat-option>
        </mat-select>
        <mat-error *ngIf="vehicalDetails.controls.vehicleCC.errors?.required">Vehicle cc is required</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-placeholder>Registration City <span class="color-red">*</span></mat-placeholder>
        <ngx-select-dropdown  [config]="config"  formControlName="city"  [options]="cityDetails"></ngx-select-dropdown>
        <div class="color-red" *ngIf="CityValid">City is required</div>
        <!--<mat-error *ngIf="vehicalDetails.controls.city.errors?.required">city is required</mat-error>-->
    </div>
    <div class="col-md-3" *ngIf="bikeListDetails.business_type != '1'">
      <mat-form-field class="w-100">
        <input matInput placeholder="NCB Percent(%)"   formControlName="ncb"  required readonly>
        <mat-error *ngIf="vehicalDetails.controls.ncb.errors?.required">Ncb is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-12 text-center mt-3">
      <button mat-raised-button color="primary"  (click)="enquiryQuation(vehicalDetails.value)">Submit</button>
    </div>
  </div>
</form>



