
<div class="row " id="" fxLayoutAlign="center start">
  <div class="col-sm-12">
    <div fxLayout="column" class="bike-product-list">
      <div [ngClass]="compareArray != '' ? 'margin-bottom170' : ''">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h4 style="cursor: pointer" (click)="back()" ><img src="assets/img/Motor Car Insurance.svg" alt="vizza-car-logo" title="vizza-FourWheeler" class="logo-size"> Car Insurance</h4>
            </div>
          </div>
        </div>
        <div class="flex-p ">
          <table class="table health-table table-scroll twoWheelerScroll">
            <thead>
            <tr>
              <th class="col-md-2">
                <mat-form-field class="w-100">
                  <mat-placeholder class="myclass font-weight-bold">Filter by company</mat-placeholder>
                  <mat-select [(ngModel)]="filterCompany"  (change)="filterByProducts()" multiple>
                    <mat-option value="All" >Select All</mat-option>
                    <mat-select-trigger>
                      {{filterCompany ? filterCompany[0] : ''}}
                      <span *ngIf="filterCompany" >
                        (+{{filterCompany.length - 1}} {{filterCompany.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let list of allCompanyList" value="{{list.company_name}}" [disabled]="checkAllStatus">{{list.company_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
              <th class="col-md-1" style="padding: 15px 5px !important;">IDV</th>

              <th class="sun-insured col-md-2">
                <mat-form-field >
                  <mat-placeholder class="myclass font-weight-bold">Premium type ($)</mat-placeholder>
                  <mat-select [(ngModel)]="compherhensive" (change)="premiumlist()" >
                    <mat-option value="Comprehensive_premium">Comprehensive Premium</mat-option>
                    <mat-option value="ThridParty_premium" *ngIf="carListDetails.business_type != '1'">ThridParty Premium</mat-option>
                  </mat-select>

                </mat-form-field>
              </th>
              <th class="sun-insured col-md-2">
                <mat-form-field >
                  <mat-placeholder class="myclass font-weight-bold">Policy Term</mat-placeholder>
                  <mat-select [(ngModel)]="policyTerm" (change)="premiumlist()">
                    <mat-option value="1">One Year</mat-option>
                    <mat-option value="2">Two Year</mat-option>
                    <mat-option value="3">Three Year</mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
<!--              <th class="col-md-1" style="padding: 15px 5px !important;">Key Feature1</th>-->
<!--              <th class="col-md-1" style="padding: 15px 5px !important;">Key Feature2</th>-->
              <th class="col-md-2" style="padding: 15px 5px !important;">Details</th>

              <th class="col-md-2" style="padding: 15px 5px !important;">Premium ( &#8377; )</th>
              <th class="col-md-1" style="padding: 15px 5px !important;">Buy </th>

            </tr>
            <!--<hr>-->
            </thead>
            <!--<hr>-->
            <tbody>
            <!--<hr>-->

            <tr  *ngFor="let plists of initialProductListfw;let i = index">

              <td align="center"  class="col-md-2 text-center">
                <img class="mt-1" src="{{webhost + '/' + plists.company_logo}}">
                <p class="pTitle" matTooltip="{{plists.plan_name}}">{{plists.plan_name | titlecase }}</p>
              </td>


              <td class="col-md-1 text-center">
                <p class="mt-4"><strong> &#8377; {{plists.Idv}}
                </strong></p>
              </td>
              <td class="col-md-2 text-center">
                <p class="mt-4" *ngIf="compherhensive == 'Comprehensive_premium'">Comprehensive Premium</p>
                <p class="mt-4" *ngIf="compherhensive == 'ThridParty_premium'">ThridParty Premium</p>

              </td>
              <td class="col-md-2 text-center">
                <p class="mt-0">{{policyTerm}} Year</p>
                <p class="mt-0">{{plists.cover}} </p>
              </td>
<!--              <td class="col-md-1 text-center">  - -->
<!--              </td>-->
<!--              <td class="col-md-1 text-center">  - -->
<!--              </td>-->
              <td class="col-md-2 text-center">
                <!--<p class="mt-2" style="margin-bottom: 0.3rem;line-height: 1.4;"><button mat-raised-button color="primary" [hidden]="plists.compare"  (click)="addCompare(plists,i)"><i style="font-size:15px;" class="material-icons">add_circle_outline</i>Compare</button></p>-->
                <p class="mt-2" style="margin-bottom: 0.3rem;line-height: 1.4;"><button mat-raised-button disabled *ngIf="plists.compare"><i style="font-size:15px;" class="material-icons">add_circle_outline</i> Compare</button></p>
                <p class="linkClor change-p" style="cursor: pointer;" (click)="viewKeyList(plists)"><strong>View Details</strong></p>
              </td>
              <td class="col-md-2">
                <p class="text-center change-p mt-2" ><strong>&#8377; <span  *ngIf="compherhensive == 'Comprehensive_premium'">{{plists.Comprehensive_premium}}</span> <span  *ngIf="compherhensive == 'ThridParty_premium'">{{plists.ThridParty_premium}}</span>  / Yr</strong></p>
                <p class="text-center change-p">(Incl.GST)</p>
              </td>
              <td class="col-md-1">
                <p class="text-center mt-2"><button mat-raised-button color="accent" (click)="buyProduct(plists)">Buy</button></p>
                <p class="linkClor change-p mt-0 ml-3" style="cursor: pointer;margin-left: 37px " matTooltip=" Gst :{{plists.premium_breakup.GST}}  , OwnDamage :{{plists.premium_breakup.OwnDamage_premium}}   , PA :{{plists.premium_breakup.PA_premium}}  , ThirdParty :{{plists.premium_breakup.ThridParty_premium}}">Break Up</p>
              </td>
            </tr>
            </tbody>
            <!--<hr style="margin-top: -12px;">-->
          </table>
          <!--<hr>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row compar-fix" *ngIf="compareArray != ''">
  <div class="text-right closeBtnClass">
    <mat-icon (click)="removeAllCompare(i)">close</mat-icon>
  </div>
  <div style="width: 250px" *ngFor="let clists of compareArray; let i = index">
    <div fxLayout="column" class="flex-p">
      <mat-card class="custom-card compare-icon text-center">
        <div class="text-right closeBtnClass">
          <mat-icon (click)="removeCompare(i, clists.index)">close</mat-icon>
        </div>
        <mat-card-content class="p-0">
          <p class="color-green mb-0 text-center">{{clists.product_name}}</p>
          <img mat-card-image  src="{{webhost + '/' + clists.company_logo}}" >
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-md-2" fxLayoutAlign="left center" *ngIf="compareArray != ''">
    <button mat-raised-button color="accent" (click)="compareList(compareArray)">COMPARE NOW</button>
  </div>
</div>
