.addressBox{
  border: 1px solid gray !important;
  padding: 22px 31px 9px 23px !important;
}
.familyBox {
  border: 1px solid gray !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;;
}
.questionBox {
  border: 1px solid #3378bd !important;
  padding: 20px 31px 9px 23px !important;

}
img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05), 0 8px 20px 0 rgba(0, 0, 0, 0.29);
  cursor: pointer;
}
.dialogSize1
{
  //min-width: calc(100% + 900px);
  width: 600px;
}
.dialogSize
{
  //min-width: calc(100% + 250px);
  width:650px;
}
