<div class="container">
  <div class="card p-3">
    <h2 class="text-center" style="color:#5d965d !important; ">Insurance Dictionary</h2>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <input matInput placeholder="Search ..." [(ngModel)]="searchval" (input)="updateFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
        <!--<div class="row" >-->
          <!--<div class="col-1 mb-2">-->
            <button type="button" class="btn btn-success" value="A" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">A</button>
          <!--</div>-->
          <!--<div class="col-1 mb-2">-->

            <button type="button" class="btn btn-success" value="B" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">B</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="C" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">C</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="D" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">D</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2">-->
            <button type="button" class="btn btn-success" value="E" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">E</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2">-->
            <button type="button" class="btn btn-success" value="F" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">F</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="G" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">G</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2">-->
            <button type="button" class="btn btn-success" value="H" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">H</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2">-->
            <button type="button" class="btn btn-success" value="I" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">I</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="J" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">J</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="K" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">K</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2">-->
            <button type="button" class="btn btn-success" value="L" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">L</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2 mr-1" >-->
            <button type="button" class="btn btn-success" value="M" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">M</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="N" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">N</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="O" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">O</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="P" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">P</button>

          <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="Q" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">Q</button>

        <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="R" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">R</button>

        <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="S" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">S</button>

        <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
            <button type="button" class="btn btn-success" value="T" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">T</button>

        <!--</div> <div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="U" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">U</button>

        <!--</div> <div class="col-1 mb-2">-->
          <button type="button" class="btn btn-success" value="V" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">V</button>

        <!--</div> <div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="W" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">W</button>

        <!--</div>-->
          <!--<div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="X" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">X</button>

        <!--</div> <div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="Y" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">Y</button>

        <!--</div> <div class="col-1 mb-2" >-->
          <button type="button" class="btn btn-success" value="Z" (click)="insurancebuttonclick($event)" style="margin-right: 3px;">Z</button>

        <!--</div>-->

        </div>
      </div>
<!--</div>-->
    <div class="row">
      <div class="col-md-12">


        <table class="qesTable able table-striped mt-3" >
          <!--<thead class="m-3"  [ngStyle]="{'background-color': '#306DA6','color':'#fff','height': '40px','font-size': '20px','text-align': 'center'}"  *ngIf="item.contents !=''">-->
          <!--<tr>-->
            <!--<th scope="col">{{item.title}} </th>-->

          <!--</tr>-->
          <!--</thead>-->
          <tr *ngFor="let item of getinsurancediccontent; let i = index">
            <td *ngIf="dictionary == false">
              {{item.title}}
            </td>
              <td *ngIf="dictionary == false">
              {{item.meaning}}
              </td>
          </tr>
            <div style="margin-left: 408px">
             <div class="error"  style="font-size: x-large" *ngIf="dictionary != '' && dictionary != true">{{dictionary}}</div>
            </div>
        </table>
      </div>
    </div>

  </div>
</div>
