
<div class="container-fluid ">
    <mat-card class="doctordetail mb-3">
        <div class="row">
            <!--<div class="col-md-5 text-center">-->

                <!--&lt;!&ndash;<div class="user-img">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="assets/img/users/default-user.jpg" class="transition-2 rounded-circle" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<h4  class="user-name mt-2">{{personal.pos_firstname}} {{personal.pos_lastname}}</h4>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <div class="col-md-12 text-right">
                <button mat-raised-button color="primary" [routerLink]="['/pos-edit']">Edit</button>
            </div>
            <div class="col-md-7 personaldetails">

                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">person</mat-icon>&nbsp;
                    <span>{{personal.pos_firstname | titlecase}} {{personal.pos_lastname | titlecase}}</span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">phone</mat-icon>&nbsp;
                    <span>{{personal.pos_mobileno}}</span>
                </p>
                <!--<mat-divider></mat-divider>-->
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">mail</mat-icon>&nbsp;
                    <span class="text-capitalize">{{personal.pos_email}}</span>
                </p>
                <!--<mat-divider></mat-divider>-->
                <p fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="muted-text">location_on</mat-icon>&nbsp;
                    <span class="text-capitalize">{{personal.pos_address1}}<span *ngIf="personal.pos_address2 != ''">, </span>{{personal.pos_address2}}, {{personal.pos_cityid}}<span *ngIf="personal.pos_cityid != null">-</span>{{personal.pos_postalcode}}</span>
                </p>
                <!--<mat-divider></mat-divider>-->
            </div>
        </div>
    </mat-card>


    <mat-accordion class="certificate">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Aadhar Card
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-md-6">
                    <img style="width: 250px; height: 150px;" *ngIf="personal.doc_aadhar_front_img != ''" src="{{webhost  +'/'+ personal.doc_aadhar_front_img}}" class="float-left img-thumbnail" (click)="viewImage(item.path, 'Certificate')">
                </div>
                <div class="col-md-6">
                    <img style="width: 250px; height: 150px;" *ngIf="personal.doc_aadhar_back_img != ''" src="{{webhost  +'/'+ personal.doc_aadhar_back_img}}" class="float-left img-thumbnail" (click)="viewImage(item.path, 'Certificate')">
                </div>
                <div class="no-data"  *ngIf="personal.doc_aadhar_front_img == '' && personal.doc_aadhar_back_img == ''" >
                    <p class="text-center"  class="text-center" fxLayout="row" fxLayoutAlign="center center">  <i class="material-icons">
                    cloud_off
                    </i> &nbsp; No Aadhar card</p>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Pan Card
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-12" *ngIf="personal.doc_pan_img == ''" >
                    <p class="text-center"  class="text-center" fxLayout="row" fxLayoutAlign="center center">  <i class="material-icons">
                        cloud_off
                    </i> &nbsp; No Pan Card</p>
                </div>
                <div class="col-md-6" *ngIf="personal.doc_pan_img != ''" >
                    <img style="width: 250px; height: 150px;" src="{{webhost  +'/'+ personal.doc_pan_img}}" class="float-left img-thumbnail" (click)="viewImage(clinic.hospitalimage, 'Clinic Image')">
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Educational Certificates
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="row">
                <div *ngIf="personal.doc_edu_certificate_img == ''" >
                    <p class="text-center"  class="text-center" fxLayout="row" fxLayoutAlign="center center">  <i class="material-icons">
                        cloud_off
                    </i> &nbsp; No Educational Certificated</p>
                </div>

                <div class="col-md-6" *ngIf="personal.doc_edu_certificate_img != ''" >
                    <img style="width: 250px; height: 150px;" src="{{webhost  +'/'+ personal.doc_edu_certificate_img}}" class="float-left img-thumbnail" (click)="viewImage(clinic.hospitalimage, 'Clinic Image')">
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

</div>




