<div class="row mb-3">
  <div class="col-md-10 text-left">
    <h5 class="w-100" style="color:#821646;"><img src="assets/img/life-insurances.png" class="logo-size">&nbsp;Life Insurance - Endowment : {{companyName}} - {{productName}}</h5>
    <!--<h6  class="w-100 text-center" style="color:#821646;">{{companyName}} - {{productName}}</h6>-->
  </div>
  <div class="col-sm-2 text-right">
    <mat-icon (click)="onNoClick()" style="cursor: pointer">cancel</mat-icon>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch" class="AllFormView">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <mat-card style="background:#821646 !important; color: #fff !important;">
          <h2 class="w-100 text-center" >Let us assist you</h2>
          <form [formGroup]="Lifeapp">
            <div class="row">
              <div class="col-md-6" >
                <mat-form-field class="w-100">
                  <input matInput placeholder="Company Name" formControlName="CompanyName"  (keypress)="nameValidate($event)"  autocomplete="off" maxlength="30" required >
                  <mat-error *ngIf="Lifeapp.controls.CompanyName.errors?.required">Company Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Contact Person" formControlName="contactperson" (keypress)="nameValidate($event)" autocomplete="off" required>
                  <mat-error *ngIf="Lifeapp.controls.contactperson.errors?.required">Contact Person is required</mat-error>
                  <mat-error *ngIf="Lifeapp.controls.contactperson.hasError('minlength')">Contact Person isn't long enough, minimum of 10 characters</mat-error>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Mobile" formControlName="mobile"  required minlength="10"  maxlength="10" (keypress)="numberValidate($event)" autocomplete="off">
                  <mat-error *ngIf="Lifeapp.controls.mobile.errors?.required">Mobile number is required</mat-error>
                  <mat-error *ngIf="Lifeapp.controls.mobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                  <mat-error *ngIf="Lifeapp.controls.mobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                  <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" formControlName="email" autocomplete="off" required>
                  <mat-error *ngIf="Lifeapp.controls.email.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="Lifeapp.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="PinCode" pattern="[1-9][0-9]{5}"  minlength="6" (keypress)="numberValidate($event)"  maxlength="6" (input)="getPincodeDetails($event.target.value, 'personal')" formControlName="pincode" autocomplete="off" required>
                  <mat-error *ngIf="Lifeapp.controls.pincode.errors?.required">Pincode is required</mat-error>
                  <mat-error *ngIf="Lifeapp.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                  <mat-error *ngIf="Lifeapp.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                  <mat-icon matSuffix>place</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-select  placeholder="Fix an Appointment (Call / Meet in Person)" formControlName="appointmentwith" autocomplete="off" required>
                    <mat-option value="call">Call</mat-option>
                    <mat-option value="meetinperson">Meet in Person</mat-option>
                  </mat-select>
                  <mat-error *ngIf="Lifeapp.controls.appointmentwith.errors?.required">Appointment is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput [matDatepicker]="picker" [min]="today" placeholder="Appointment Date(DD/MM/YYYY)" formControlName="appdate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)"  (keypress)="dobValidate($event)" autocomplete="off" maxlength="10" minlength="10"  required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="Lifeapp.controls.appdate.errors?.required">Appointment Date is required</mat-error>
                </mat-form-field>
                <div style="color:#DB414F;" *ngIf="dobError != ''">{{dobError}}</div>
              </div>
              <div class="col-md-6 mt-3">
                    <ngb-timepicker placeholder="Appointment Time" [(ngModel)]="time" [meridian]="meridian" formControlName="apptime" (keypress)="numberValidate($event)" required></ngb-timepicker>
              </div>
              <div class="col-md-12 text-right mt-1">
                <button mat-button class="secondary-bg-color" type="reset"><i class="material-icons">replay</i> Reset</button>
                <button mat-button type="submit" style="background: #fff; color: #000; cursor:pointer;" [disabled]="(!Lifeapp.valid ) || (!pincodeErrors)" (click)="LifeKeeper(Lifeapp.value)">Submit</button>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
