
    <mat-card class="custom-card contact-us">
      <!--<mat-card-header class="bg-primary p-2 mb-2">-->
        <!--<mat-card-title class="m-0"><h4 class="m-0">Contact Us</h4></mat-card-title>-->
      <!--</mat-card-header>-->
      <mat-card-content>
        <p>For specific queries,complaints, and suggestions,please contact:</p>
        <ul class="list-inline ">
          <li><strong><i class="material-icons">call</i></strong><a href="tel:+91 8608800055"> +91 - 8608800055</a></li>
          <li><strong> <i class="material-icons">mail</i></strong> <a href="mailto:contactus@meditimes.in">customercare@meditimes.in</a></li>
          <li><strong><i class="material-icons">language</i></strong> <a href="http://www.meditimes.in/" target="_blank">www.meditimes.in</a></li>
          <li>For any other queries, feel free to contact us on &nbsp; <a href="mailto:contactus@meditimes.in"> contactus@meditimes.in</a></li>
        </ul>
      </mat-card-content>


    </mat-card>

