<div class="container">
<div class="row" fxLayoutAlign="center start">
  <div class="col-md-4">
    <h4 class="custom-head text-uppercase">CONTACT DETAILS</h4>
    <p>
      To get more information, contact us following below address and phone number. We are always willing to support you whenever you need.
    </p>
    <div class="footer-widget footer-contact">
      <p fxLayoutAlign="start start"><span class="pe-7s-call" ><i class="material-icons">stay_primary_portrait</i>&nbsp; </span>+91 9047078809</p>
      <p fxLayoutAlign="start start"><span class="pe-7s-call" ><i class="material-icons">phone</i>&nbsp; </span>(044) 42691341</p>
      <p fxLayoutAlign="start start"><span class="pe-7s-call" ><i class="material-icons">phone</i>&nbsp; </span>1800 425 3000 ( Toll Free Number )</p>
      <p fxLayoutAlign="start start"><span class="pe-7s-mail-open-file"><i class="material-icons">email</i>&nbsp;</span><a  href="mailto:info@vizzafin.com">info@vizzafin.com</a></p>
      <p fxLayoutAlign="start start"><span class="pe-7s-map-2"><i class="material-icons">location_on</i>&nbsp; </span>Vizza Insurance Broking Services Pvt. Ltd <p>



      <h4>Head Office:</h4>
          Ground Floor, No.G-A,<br> Sridev Complex, NO 65, <br>CIT Nagar First main road, <br>Chennai - 600035.
      <!--   <p><b><a href="https://www.google.co.in/maps/place/Sathankulam,+Tamil+Nadu+628704/@8.4426272,77.9078325,17.75z/data=!4m2!3m1!1s0x3b047865cdb41d31:0xb20923183ee569b1" target="_blank"> Branch Office: <a></b> </br>
         8A/4, Daniel Complex, Nagerkoil Road, </br>
         Sathankulam- 626 704, Tuticorin District.</br>
         </p> -->

    </div>
  </div>
  <div class="col-md-8">
    <h4 class="custom-head text-uppercase text-center">SEND US A MESSAGE</h4>
    <p class="text-center">We will get back to you at the earliest.</p>
    <div class="space-top-35"></div>
    <mat-card>
        <form #myForm="ngForm" [formGroup]="form"  (ngSubmit)="contactDetails()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Name" formControlName="name" required>
              <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
              <mat-error *ngIf="form.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>

            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field  class="w-100">
            <input matInput placeholder="Subject" formControlName="subject" required>
            <mat-error *ngIf="form.controls.subject.errors?.required">Subject is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" >
          <mat-form-field class="w-100">
            <textarea cols="20" rows="5" matInput placeholder="Your Message" formControlName="message" required></textarea>
            <mat-error *ngIf="form.controls.message.errors?.required">Message is required</mat-error>
          </mat-form-field>
        </div>
      </div>
          <div class="col-md-12">
            <div class="custom-file mt-3">
              <input type="file"  class="custom-file-input" accept=".doc, .docx, .pdf, image/*" (change)="uploadProof($event)"   aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label"> Upload Your Attachment <span class="error">*</span></label>
            </div>
            <p class="error" *ngIf="!uploadTypeTest">Your Attachment is required</p>
            <img *ngIf="fileUploadPathDOCX !=''" src="assets/img/upload-icons/docx-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
            <img *ngIf="fileUploadPathDOC !=''" src="assets/img/upload-icons/doc-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
            <img *ngIf="fileUploadPathPDF !=''" src="assets/img/upload-icons/pdf-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
            <img *ngIf="imageSrc !=''" [src]="imageSrc" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
            <p *ngIf="filePath !=''" class="mt-1" style="color: green;">{{uploadAddressProofName}}</p>
          </div>
          <!--<div class="col-md-12">-->
            <!--<div class="custom-file">-->
              <!--<input type="file" class="custom-file-input" accept=".doc, .docx, .pdf, .jpeg" (change)="uploadProof($event)"   aria-describedby="inputGroupFileAddon01" >-->
              <!--<label class="custom-file-label"> Upload Your Document</label>-->
            <!--</div>-->
            <!--<p class="mt-2" style="color: green;">{{uploadAddressProofName}}</p>-->
          <!--</div>-->
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary">Submit</button>
        </div>
      </div>
      <div id="js-contact-result" data-success-msg="Thank you. We will be in touch soon." data-error-msg="Oops. Something went wrong."></div>
    </form>
    </mat-card>

</div>


  </div>
  <div class="row mt-3">
    <div class="col-md-12"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8532.258696140858!2d80.22658954506659!3d13.02688217447241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52670770a0704f%3A0xe29a3ab850fe8a41!2sVIZZA+Insurance+Broking+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1540271162715" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
</div>
