<section class="d-none d-sm-none d-xl-block d-lg-block d-md-none">
  <div class="container-fluid">
    <div class="row aegonlifeProposal">
      <div class="col-md-12">
        <mat-horizontal-stepper  #stepper >
          <mat-step [stepControl]="personal">
            <form [formGroup]="personal" >
              <ng-template matStepLabel>PROPOSER/INSURED DETAILS</ng-template>
              <mat-accordion class="w-100 float-left">
                <mat-expansion-panel expanded>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      PROPOSER/INSURED DETAILS
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12 box-card pt-3">
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Title" formControlName="title" autocomplete="off" required  >
                              <mat-option *ngFor="let list of titleListHdfcList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.title.errors?.required">Title is required</mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="First Name" formControlName="firstnm" (keypress)="nameValidate($event)"  autocomplete="off" required >
                            <mat-error *ngIf="personal.controls.firstnm.errors?.required">First Name is required</mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Last Name" formControlName="lastnm" (keypress)="nameValidate($event)" autocomplete="off" required >
                            <mat-error *ngIf="personal.controls.lastnm.errors?.required">Last Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Gender" formControlName="gender" autocomplete="off" required  >
                              <mat-option *ngFor="let list of genderListHdfcList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.gender.errors?.required">Title is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker1" [max]="today" placeholder="DOB (DD/MM/YYYY)" (keypress)="dobValidate($event)"  formControlName="dob" (dateInput)="addEvent( $event);getPremium()" (dateChange)="addEvent( $event); getPremium()"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="personal.controls.dob.errors?.required">DOB is required</mat-error>
                          </mat-form-field>
                          <!--<div class="error" *ngIf="dateError != ''">{{dateError}}</div>-->
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Father Name" formControlName="fathernm" (keypress)="nameValidate($event)"  autocomplete="off"  required>
                            <mat-error *ngIf="personal.controls.fatherName.errors?.required">Father Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                        <mat-form-field class="w-100">
                        <!--<input matInput placeholder="Gender" formControlName="gender" autocomplete="off" required readonly >-->

                        <mat-select placeholder="Marital Status" formControlName="maritalstatus" required>
                        <mat-option value="m">Male</mat-option>
                        <mat-option value="f">Female</mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.maritalstatus.errors?.required">Gender is required</mat-error>
                        </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Education Qualification" formControlName="eduqual"  required>
                              <mat-option *ngFor="let list of educationListHdfcList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.eduqual.errors?.required">Qualifiction is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Nationality" formControlName="nationality"  required>
                              <mat-option *ngFor="let list of nationalityListHdfcList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.nationality.errors?.required">Nationality is required</mat-error>
                          </mat-form-field>
                        </div>


                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Residential Status" formControlName="residentstatus" autocomplete="off" required>
                              <mat-option *ngFor="let list of residentialStatusHdfcList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.residentstatus.errors?.required">Residential Status is required</mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-radio-group formControlName="ishdfcempflg" required >
                            <p>Is the Client HDFC employee <span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                              <mat-radio-group formControlName="exstngcustflg" required>
                            <p>Existing Customer flag <span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="isdisabledflg" required>
                            <p>Is the Client disabled <span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>

                        <div class="col-md-3">
                          <mat-radio-group formControlName="pepflg" required>
                            <p>pep Flag <span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="dematflg" required>
                            <p>demat flag<span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      <div class="col-md-3">
                          <mat-radio-group formControlName="smokerstatusflg" required>
                            <p>Smoking Flag for Life Assured<span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="historyofconviction" required>
                            <p>History of Conviction<span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                    <div class="row" fxLayoutAlign="center center">
                      <div class="col-md-6">
                        <div class="box-card addressBox">
                          <h6 class="color-blue">PERMENENT ADDRESS</h6>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder=" House No" required formControlName="houseno"  autocomplete="off" (keyup)="typeAddressDeatils()" >
                                <mat-error *ngIf="personal.controls.houseno.errors?.required">House No is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder=" Street" required formControlName="street"  autocomplete="off" (keyup)="typeAddressDeatils()">
                                <mat-error *ngIf="personal.controls.street.errors?.required">Street is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder=" Land Mark" required formControlName="landmark"  autocomplete="off" (keyup)="typeAddressDeatils()">
                                <mat-error *ngIf="personal.controls.landmark.errors?.required">Street is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="w-100"  >
                                <mat-select placeholder="City" formControlName="city" autocomplete="off" required (keyup)="typeAddressDeatils()">
                                  <mat-option *ngFor="let city of cityListHdfcList | keys" [value]= 'city.value'>
                                    {{city.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.city.errors?.required">City is required</mat-error>
                              </mat-form-field></div>
                            <div class="col-md-6">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="State" formControlName="state" autocomplete="off" required (keyup)="typeAddressDeatils()">
                                  <mat-option *ngFor="let list of stateListHdfcList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.state.errors?.required">State is required</mat-error>
                              </mat-form-field></div>
                            <div class="col-md-6"><mat-form-field class="w-100">
                              <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"   maxlength="6" required formControlName="pincode" autocomplete="off"  (input)="getPostal($event.target.value,'personal')"  (keyup)="typeAddressDeatils()">
                              <mat-error *ngIf="personal.controls.cPincode.hasError('minlength')">Pincode should be 6 digits</mat-error>
                              <mat-error *ngIf="personal.controls.cPincode.hasError('required')">Pincode is required</mat-error>
                              <mat-error *ngIf="personal.controls.cPincode.hasError('pattern')">Enter Valid  Pincode</mat-error>
                            </mat-form-field></div>
                            <div class="col-md-6">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="Country" formControlName="country" autocomplete="off" required (keyup)="typeAddressDeatils()">
                                  <mat-option *ngFor="let list of countryListHdfcList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.country.errors?.required">country is required</mat-error>
                              </mat-form-field></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="box-card addressBox">
                          <div class="row">
                            <h6 class="color-blue ml-3">RESIDENCE ADDRESS</h6>
                            <div class="text-right w-50">
                              <mat-checkbox formControlName="isAddressSame" (change)="sameAddress($event)" ><strong>Same as Permenent address</strong></mat-checkbox>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder="House No" formControlName="chouseno"  autocomplete="off" required [readonly]="this.personal.controls['isAddressSame'].value" >
                                <mat-error *ngIf="personal.controls.chouseno.errors?.required">House No is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder="Street" formControlName="cstreet"  autocomplete="off" required [readonly]="this.personal.controls['isAddressSame'].value">
                                <mat-error *ngIf="personal.controls.cstreet.errors?.required">Street is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder="Land Mark" formControlName="clandmark"  autocomplete="off" required [readonly]="this.personal.controls['isAddressSame'].value">
                                <mat-error *ngIf="personal.controls.clandmark.errors?.required">Land Mark is required</mat-error>
                              </mat-form-field>
                            </div>

                            <div class="col-md-6"  [ngStyle]="{'pointer-events': this.personal.controls['isAddressSame'].value ? 'none' : ''}">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="City" formControlName="ccity" autocomplete="off" required (change)="changeCitylist()">
                                  <mat-option *ngFor="let list of cityListHdfcList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.ccity.errors?.required">city is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6" [ngStyle]="{'pointer-events': this.personal.controls['isAddressSame'].value ? 'none' : ''}">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="State" formControlName="cstate" autocomplete="off" (change)="changeState()" required >
                                  <mat-option *ngFor="let list of stateListHdfcList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.cstate.errors?.required">State is required</mat-error>
                              </mat-form-field></div>


                            <div class="col-md-6"><mat-form-field class="w-100">
                              <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"  maxlength="6"  formControlName="cpincode" autocomplete="off" required (input)="getPostal($event.target.value,'personal')" [readonly]="this.personal.controls['isAddressSame'].value">
                              <mat-error *ngIf="personal.controls.pPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                              <mat-error *ngIf="personal.controls.pPincode.hasError('required')">Pincode is required</mat-error>
                              <mat-error *ngIf="personal.controls.pPincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                            </mat-form-field></div>
                            <div class="col-md-6" [ngStyle]="{'pointer-events': this.personal.controls['isAddressSame'].value ? 'none' : ''}">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="Country" formControlName="ccountry" autocomplete="off" (change)="changeState()" required >
                                  <mat-option *ngFor="let list of countryListHdfcList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.ccountry.errors?.required">Country is required</mat-error>
                              </mat-form-field></div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 box-card pt-3">
                      <div class="col-md-12">
                        <h6 class="color-blue">Contact Details</h6>
                      </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Country Code" formControlName="countrycode" maxlength="50" autocomplete="off" required (keypress)="numberValidate($event)">
                            <mat-error *ngIf="personal.controls.countrycode.errors?.required">Country Code is required</mat-error>
                            <!--<input type="number" oninput="validity.valid||(value ='50000000');"  step="1000" />-->
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Mobile Number" formControlName="mobilenum" maxlength="50" autocomplete="off" required (keypress)="nameValidate($event)" (change)="checkSumAs()" readonly>
                            <mat-error *ngIf="personal.controls.mobilenum.errors?.required">Mobile Number is required</mat-error>
                          </mat-form-field>
                        </div>
                      <div class="col-md-3"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.email.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="personal.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                      </mat-form-field></div>
                    </div>
                    <div class="col-md-12 box-card pt-3">
                      <div class="col-md-12">
                        <h6 class="color-blue">Communication Preference</h6>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Expected Duration Of Stay at the Correspondence address" formControlName="expdurofstay" autocomplete="off" required >
                            <mat-option *ngFor="let list of expectedStayHdfcList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.expdurofstay.errors?.required">State is required</mat-error>
                        </mat-form-field></div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Preferred Communication Address Type" formControlName="prfdcommaddr" autocomplete="off" required >
                            <mat-option *ngFor="let list of stateList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.prfdcommaddr.errors?.required">Preferred Communication Address Type is required</mat-error>
                        </mat-form-field></div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Preferred Communication Mode" formControlName="prfdcommmode" autocomplete="off" required >
                            <mat-option *ngFor="let list of communicationModeHdfcList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.prfdcommmode.errors?.required">Preferred Communication Mode is required</mat-error>
                        </mat-form-field></div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Preferred Communication Language" formControlName="prfdcommlang" autocomplete="off" required >
                            <mat-option *ngFor="let list of prefferedLangHdfcList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.prfdcommlang.errors?.required">Preferred Communication Mode is required</mat-error>
                        </mat-form-field></div>
                    </div>
                      <div class="col-md-12 box-card pt-3">
                      <div class="col-md-12">
                        <h6 class="color-blue">Employment Details</h6>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Occupation Type" formControlName="occutype" autocomplete="off" required >
                            <mat-option *ngFor="let list of stateList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.occutype.errors?.required">State is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Employer Name" formControlName="employernm" maxlength="50" autocomplete="off" required (keypress)="numberValidate($event)">
                            <mat-error *ngIf="personal.controls.employernm.errors?.required">Employer Name is required</mat-error>
                            <!--<input type="number" oninput="validity.valid||(value ='50000000');"  step="1000" />-->
                          </mat-form-field>
                        </div>
                      <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Annual Income" formControlName="annualincm" maxlength="50" autocomplete="off" required (keypress)="numberValidate($event)">
                            <mat-error *ngIf="personal.controls.annualincm.errors?.required">Annual Income is required</mat-error>
                            <!--<input type="number" oninput="validity.valid||(value ='50000000');"  step="1000" />-->
                          </mat-form-field>
                        </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Nature Of Occupation" formControlName="natureofoccu" autocomplete="off" required >
                            <mat-option *ngFor="let list of stateList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.natureofoccu.errors?.required">Nature Of Occupation is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Employer Address" formControlName="addrline" maxlength="50" autocomplete="off" required (keypress)="idValidate($event)">
                            <mat-error *ngIf="personal.controls.addrline.errors?.required">Address 1 is required</mat-error>
                            <!--<input type="number" oninput="validity.valid||(value ='50000000');"  step="1000" />-->
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="existulipflag" required>
                            <p>existulipflag<span class="error" >*</span></p>
                            <mat-radio-button value="Y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>

                      </div>
                    <div class="col-md-12 box-card pt-3">
                      <div class="col-md-12">
                        <h6 class="color-blue">Employer Address</h6>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Source Type" formControlName="sourcetype" autocomplete="off" required >
                            <mat-option *ngFor="let list of stateList | keys" [value]= 'list.value'>
                              {{list.value}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="personal.controls.sourcetype.errors?.required">Source Type is required</mat-error>
                        </mat-form-field></div>


                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Percentage Contribution" formControlName="fundpcntg" maxlength="50" autocomplete="off" required (keypress)="numberValidate($event)">
                          <mat-error *ngIf="personal.controls.fundpcntg.errors?.required">Percentage Contribution is required</mat-error>
                          <!--<input type="number" oninput="validity.valid||(value ='50000000');"  step="1000" />-->
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="proposal-buttom mt-3 text-right w-100" style="margin-left: -34px;">
                      <!--<button mat-button matStepperPrevious  (click)="topScroll()" >Back</button>-->
                      <button mat-raised-button color="primaryBlue"  (click)="personalDetails(stepper, personal.value)" >Next</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</section>
