<section class="d-none d-sm-none d-xl-block d-lg-block d-md-none">
  <div class="container-fluid">
    <div class="row aegonlifeProposal">
      <div class="col-md-12">
        <mat-horizontal-stepper  #stepper >
          <mat-step [stepControl]="personal">
            <form [formGroup]="personal" >
              <ng-template matStepLabel>PROPOSER/INSURED DETAILS</ng-template>
              <mat-accordion class="w-100 float-left">
                <mat-expansion-panel expanded>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      PROPOSER/INSURED DETAILS
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-md-12 box-card pt-3">
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Title" formControlName="title" autocomplete="off" required  >
                              <mat-option *ngFor="let list of occupationList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.title.errors?.required">Title is required</mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="First Name" formControlName="firstnm" (keypress)="nameValidate($event)"  autocomplete="off" required >
                            <mat-error *ngIf="personal.controls.firstnm.errors?.required">First Name is required</mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Last Name" formControlName="lastnm" (keypress)="nameValidate($event)" autocomplete="off" required >
                            <mat-error *ngIf="personal.controls.lastnm.errors?.required">Last Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <!--<input matInput placeholder="Gender" formControlName="gender" autocomplete="off" required readonly >-->

                            <mat-select placeholder="Gender" formControlName="gender" required>
                              <mat-option value="m">Male</mat-option>
                              <mat-option value="f">Female</mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.gender.errors?.required">Gender is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker1" [max]="today" placeholder="DOB (DD/MM/YYYY)" (keypress)="dobValidate($event)"  formControlName="dob" (dateInput)="addEvent( $event);getPremium()" (dateChange)="addEvent( $event); getPremium()"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="personal.controls.dob.errors?.required">DOB is required</mat-error>
                          </mat-form-field>
                          <div class="error" *ngIf="dateError != ''">{{dateError}}</div>
                        </div>
                        <div class="col-md-3"><mat-form-field class="w-100">
                          <input matInput placeholder="Mobile Number" formControlName="mobile" minlength="10"  maxlength="10" (keypress)="numberValidate($event)" autocomplete="off" required>
                          <mat-error *ngIf="personal.controls.mobile.errors?.required">Mobile Number is required</mat-error>
                          <mat-error *ngIf="personal.controls.mobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>

                        </mat-form-field></div>

                        <div class="col-md-3"><mat-form-field class="w-100">
                          <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required>
                          <mat-error *ngIf="personal.controls.email.errors?.required">Email ID is required</mat-error>
                          <mat-error *ngIf="personal.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>

                        </mat-form-field></div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Father Name" formControlName="fatherName" (keypress)="nameValidate($event)"  autocomplete="off"  required>
                            <mat-error *ngIf="personal.controls.fatherName.errors?.required">Father Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Marital Status" formControlName="maritalStatus" autocomplete="off"  required>
                              <mat-option *ngFor="let list of maritialList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.maritalStatus.errors?.required">Maritial Status is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Qualification" formControlName="qualifiction"  (change)="changeQualificationList()" required>
                              <mat-option *ngFor="let list of qualificationList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.qualifiction.errors?.required">Qualifiction is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf=" personal.controls.qualifiction.value == 'Others'">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Qualifiction Other" formControlName="qualifictionOther" (keypress)="nameValidate($event)"  autocomplete="off"  [required]="qualificationList" >
                            <mat-error *ngIf="personal.controls.qualifictionOther.errors?.required">Qualifiction Other is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Employee Type" formControlName="employeeType" autocomplete="off" required (change)="changeEmpType()">
                              <mat-option *ngFor="let list of empTypeList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.employeeType.errors?.required">Employee Type is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Nature Of Work" formControlName="natureOfWork" autocomplete="off" required (change)="changeOccupationlist()" >
                              <mat-option *ngFor="let list of occupationList | keys" [value]= 'list.value'>
                                {{list.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.natureOfWork.errors?.required">Nature of work is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf=" personal.controls.natureOfWork.value == 'Others'">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Nature of work Others" formControlName="natureOfWorkOthers" (keypress)="nameValidate($event)"  autocomplete="off"  >
                            <!--<mat-error *ngIf="nominee.controls.nRelation.errors?.required">Relationship with Other Other is required</mat-error>-->
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Annual Income" formControlName="annualIncome" (keypress)="numberValidate($event)" (keyup)="keyUp.next()" required autocomplete="off" min="100000"  maxlength="10">
                            <mat-error *ngIf="personal.controls.annualIncome.errors?.required">Annual Income is required</mat-error>
                          </mat-form-field>
                          <!--<div class="error" *ngIf="personal.controls['incomeError'].value != ''">{{personal.controls['incomeError'].value}}</div>-->
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Diabete Duration(Year)" formControlName="diabeteDuration" (keypress)="numberValidate($event)"  autocomplete="off">
                            <!--<mat-error *ngIf="personal.controls.diabeteDuration.errors?.required">Diabete Duration is required</mat-error>-->
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="smoker" required (change)="getPremium()">
                            <p>Smoker <span class="error" >*</span></p>
                            <mat-radio-button value="y" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="n">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="isExistingPolicyHolder" required>
                            <p>Is Existing Policy Holder <span class="error" >*</span></p>
                            <mat-radio-button value="YES" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="NO">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="isPoliticleExposed" required>
                            <p>Politically Exposed Person <span class="error" >*</span></p>
                            <mat-radio-button value="YES" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="NO">No</mat-radio-button>
                          </mat-radio-group>
                        </div>

                        <div class="col-md-3">
                          <mat-radio-group formControlName="isHousewife" required (change)="getPremium()">
                            <p>Is Housewife <span class="error" >*</span></p>
                            <mat-radio-button value="Yes" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="No">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-3">
                          <mat-radio-group formControlName="isHusbandCover" required (change)="getPremium()">
                            <p>Is Husband Cover <span class="error" >*</span></p>
                            <mat-radio-button value="Yes" class="mr-2">Yes</mat-radio-button>
                            <mat-radio-button value="No">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                    <div class="row" fxLayoutAlign="center center">
                      <div class="col-md-6">
                        <div class="box-card addressBox">
                          <h6 class="color-blue">COMMUNICATION ADDRESS</h6>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder=" Address 1" required formControlName="cAddress1"  autocomplete="off" (keyup)="typeAddressDeatils()" >
                                <mat-error *ngIf="personal.controls.cAddress1.errors?.required">Address 1 is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder=" Address 2" required formControlName="cAddress2"  autocomplete="off" (keyup)="typeAddressDeatils()">
                                <mat-error *ngIf="personal.controls.cAddress2.errors?.required">Address 2 is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="State" formControlName="cState" autocomplete="off" required (keyup)="typeAddressDeatils()" (change)="changecState()">
                                  <mat-option *ngFor="let list of stateList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.cState.errors?.required">State is required</mat-error>
                              </mat-form-field></div>
                            <div class="col-md-6">
                              <mat-form-field class="w-100"  >
                                <mat-select placeholder="City" formControlName="cCity" autocomplete="off" required (change)="changecCitylist()" (keyup)="typeAddressDeatils()">
                                  <mat-option *ngFor="let city of citycList | keys" [value]= 'city.value'>
                                    {{city.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.cCity.errors?.required">City is required</mat-error>
                              </mat-form-field></div>
                            <div class="col-md-6"><mat-form-field class="w-100">
                              <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"   maxlength="6" required formControlName="cPincode" autocomplete="off"  (input)="getPostal($event.target.value,'personal')"  (keyup)="typeAddressDeatils()">
                              <mat-error *ngIf="personal.controls.cPincode.hasError('minlength')">Pincode should be 6 digits</mat-error>
                              <mat-error *ngIf="personal.controls.cPincode.hasError('required')">Pincode is required</mat-error>
                              <mat-error *ngIf="personal.controls.cPincode.hasError('pattern')">Enter Valid  Pincode</mat-error>
                            </mat-form-field></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="box-card addressBox">
                          <div class="row">
                            <h6 class="color-blue ml-3">RESIDENCE ADDRESS</h6>
                            <div class="text-right w-50">
                              <mat-checkbox formControlName="isAddressSame" (change)="sameAddress($event)" ><strong>Same as Communication address</strong></mat-checkbox>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder="Address 1" formControlName="pAddress1"  autocomplete="off" required [readonly]="this.personal.controls['isAddressSame'].value" >
                                <mat-error *ngIf="personal.controls.pAddress1.errors?.required">Address 1 is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="w-100">
                                <input #message maxlength="80" matInput placeholder="Address 2" formControlName="pAddress2"  autocomplete="off" required [readonly]="this.personal.controls['isAddressSame'].value">
                                <mat-error *ngIf="personal.controls.pAddress2.errors?.required">Address 2 is required</mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6" [ngStyle]="{'pointer-events': this.personal.controls['isAddressSame'].value ? 'none' : ''}">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="State" formControlName="pState" autocomplete="off" (change)="changeState()" required="" >
                                  <mat-option *ngFor="let list of stateList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.pState.errors?.required">State is required</mat-error>
                              </mat-form-field></div>
                            <div class="col-md-6"  [ngStyle]="{'pointer-events': this.personal.controls['isAddressSame'].value ? 'none' : ''}">
                              <mat-form-field class="w-100">
                                <mat-select placeholder="City" formControlName="pCity" autocomplete="off" required (change)="changeCitylist()">
                                  <mat-option *ngFor="let list of cityList | keys" [value]= 'list.value'>
                                    {{list.value}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personal.controls.pCity.errors?.required">city is required</mat-error>
                              </mat-form-field>
                            </div>


                            <div class="col-md-6"><mat-form-field class="w-100">
                              <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"  maxlength="6"  formControlName="pPincode" autocomplete="off" required (input)="getPostal($event.target.value,'personal')" [readonly]="this.personal.controls['isAddressSame'].value">
                              <mat-error *ngIf="personal.controls.pPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                              <mat-error *ngIf="personal.controls.pPincode.hasError('required')">Pincode is required</mat-error>
                              <mat-error *ngIf="personal.controls.pPincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                            </mat-form-field></div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-12 box-card pt-3">
                      <div class="col-md-12">
                        <h6 class="color-blue">ADDON</h6>
                      </div>
                      <div class="row addressBox " >


                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Death Benefit SA" formControlName="deathBenefitSA" maxlength="50" autocomplete="off" required (keypress)="numberValidate($event); getPremium()"  (change)="checkSum()" (keyup)="validatesuminsured()">
                            <mat-error *ngIf="personal.controls.deathBenefitSA.errors?.required">Death Benefit SA is required</mat-error>
                            <!--<input type="number" oninput="validity.valid||(value ='50000000');"  step="1000" />-->

                          </mat-form-field>
                        </div>
                        <div class="col-md-4" *ngIf = "lifePremiumList.benefit_option == 'L' && lifePremiumList.benefit_option == 'LP'&& lifePremiumList.benefit_option == 'LH' && lifePremiumList.benefit_option == 'LHP'">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Death Benefit TISA" formControlName="deathBenefitTISA" maxlength="50" autocomplete="off" required (keypress)="nameValidate($event)" (change)="checkSumAs()" readonly>
                            <mat-error *ngIf="personal.controls.deathBenefitTISA.errors?.required">Death Benefit TISA is required</mat-error>
                          </mat-form-field>
                        </div>


                        <div class="col-md-4">
                          <p><strong>Premium</strong><i class="fas fa-rupee-sign pl-3"></i>{{lifePremiumList.dethBenefit}}</p>
                        </div>

                      </div>

                      <div class="row addressBox" *ngIf = "lifePremiumList.benefit_option == 'L' || lifePremiumList.benefit_option == 'LP'">
                        <div class="col-md-4" *ngIf = "lifePremiumList.benefit_option == 'L' || lifePremiumList.benefit_option == 'LP'">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Accidental Death Benefit (Minimum 50000)" formControlName="adbrSumAssured" maxlength="8" autocomplete="off" required (keypress)="numberValidate($event)" (keyup)="keyUp.next()" >
                            <mat-error *ngIf="personal.controls.adbrSumAssured.errors?.required">Accidental Death Benefit is required</mat-error>
                          </mat-form-field>
                          <div class="color" *ngIf="annualError != ''">{{annualError}}</div>
                        </div>

                        <div class="col-md-4" *ngIf = "lifePremiumList.benefit_option == 'L' || lifePremiumList.benefit_option == 'LP'">
                          <p><strong>Premium</strong><i class="fas fa-rupee-sign pl-3"></i>{{lifePremiumList.adbrPremium}}</p>
                        </div>
                      </div>

                      <div class="row addressBox" *ngIf="lifePremiumList.benefit_option == 'LHP'">
                        <div class="col-md-4" *ngIf="lifePremiumList.benefit_option == 'LHP'">
                          <mat-form-field class="w-100" >
                            <input matInput placeholder=" Enhanced Critical Illness Benefit (Lump Sum)" formControlName="enchancedCISA" maxlength="10" autocomplete="off"  required (keypress)="numberValidate($event) " (keyup)="keyUp.next()">
                            <mat-error *ngIf="personal.controls.enchancedCISA.errors?.required">Enhanced Critical Illness Benefit (Lump Sum) is required</mat-error>
                          </mat-form-field>
                          <div class="color" *ngIf="personal.controls['criticalIllnessError'].value != ''">{{"Basic CI SA Should be min. 5 Lac and max. 50Lac or equal to Base SA"}}</div>

                        </div>
                        <div class="col-md-4" *ngIf="lifePremiumList.benefit_option == 'LHP'">
                          <p><strong>Premium</strong><i class="fas fa-rupee-sign pl-3"></i>{{lifePremiumList.eCiPremium}}</p>

                        </div>

                      </div>
                      <div class="row addressBox" *ngIf="lifePremiumList.benefit_option == 'LH'">
                        <div class="col-md-4" *ngIf="lifePremiumList.benefit_option == 'LH'">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Basic Critical Illness Benefit (Lump Sum)" formControlName="icirSumAssured" maxlength="10" autocomplete="off"  required (keypress)="numberValidate($event)" (keyup)="keyUp.next()" >
                            <mat-error *ngIf="personal.controls.icirSumAssured.errors?.required">Basic Critical Illness Benefit (Lump Sum) is required</mat-error>
                          </mat-form-field>
                          <div class="color" *ngIf="personal.controls['criticalIllnessError'].value != ''">{{"Basic CI SA Should be min. 5 Lac and max. 50Lac or equal to Base SA"}}</div>
                        </div>
                        <div class="col-md-4" *ngIf="lifePremiumList.benefit_option == 'LH'">
                          <p><strong>Premium</strong><i class="fas fa-rupee-sign pl-3"></i>{{lifePremiumList.baseCiPremium}}</p>
                        </div>
                      </div>
                      <div class="row addressBox" *ngIf = "lifePremiumList.benefit_option == 'LP'||lifePremiumList.benefit_option == 'LH'||lifePremiumList.benefit_option == 'LHP'">
                        <div class="col-md-4" *ngIf = "lifePremiumList.benefit_option == 'LP'||lifePremiumList.benefit_option == 'LH'||lifePremiumList.benefit_option == 'LHP'">
                          <p><strong>Wop Enhanced Critical Illness Benefit</strong></p>
                        </div>
                        <div class="col-md-4 ml-5" *ngIf = "lifePremiumList.benefit_option == 'LP'||lifePremiumList.benefit_option == 'LH'||lifePremiumList.benefit_option == 'LHP'">
                          <p><i class="fas fa-rupee-sign pl-3"></i>{{lifePremiumList.wopPremium}}</p>
                        </div>
                      </div>
                      <div class="row addressBox">
                        <div class="col-md-4">
                          <p><strong>Total Premium</strong></p>
                        </div>
                        <div class="col-md-4 ml-5">
                          <p><i class="fas fa-rupee-sign pl-3"></i>{{lifePremiumList.total}}</p>
                        </div>
                      </div>
                    </div>






                    <div class="proposal-buttom mt-3 text-right w-100" style="margin-left: -34px;">
                      <!--<button mat-button matStepperPrevious  (click)="topScroll()" >Back</button>-->
                      <button mat-raised-button color="primaryBlue"  (click)="personalDetails(stepper, personal.value)" >Next</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</section>
