<!--<section class="d-none d-sm-none d-md-block">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row relianceHealthProposal">-->
      <!--<div class="col-md-12">-->
        <!--<mat-horizontal-stepper #stepper >-->
          <!--<mat-step [stepControl]="personal">-->
            <!--<ng-template matStepLabel>PROPOSER DETAILS</ng-template>-->
            <!--<mat-accordion class="w-100 float-left">-->
              <!--<form [formGroup]="personal">-->
                <!--<mat-expansion-panel expanded>-->
                  <!--<mat-expansion-panel-header>-->
                    <!--<mat-panel-title>PROPOSER DETAILS</mat-panel-title>-->
                  <!--</mat-expansion-panel-header>-->
                  <!--<div class="row mt-3">-->
                    <!--<div class="col-md-12 box-card pt-3">-->
                      <!--<div class="row">-->

                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="First Name" formControlName="personalFirstname"  (keypress)="nameValidate($event)"  autocomplete="off" required >-->
                            <!--<mat-error *ngIf="personal.controls.personalFirstname.errors?.required">First Name is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Last Name" formControlName="personalLastname"  (keypress)="nameValidate($event)"   autocomplete="off" required >-->
                            <!--<mat-error *ngIf="personal.controls.personalLastname.errors?.required">Last Name is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput [matDatepicker]="picker" [max]="minDate" placeholder="DOB (DD/MM/YYYY)" formControlName="personalDob" (dateInput)="addEvent($event,'proposer')" (dateChange)="addEvent($event,'proposer')"  (keypress)="dobValidate($event)" autocomplete="off" maxlength="10" minlength="10" required >-->
                            <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
                            <!--<mat-datepicker #picker></mat-datepicker>-->
                            <!--<mat-error *ngIf="personal.controls.personalDob.errors?.required">DOB is required</mat-error>-->
                          <!--</mat-form-field>-->
                          <!--<div class="error" *ngIf="dobError != ''">{{dobError}}</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Gender" formControlName="personalGender" (keypress)="nameValidate($event)"  autocomplete="off"  required>-->
                            <!--<mat-error *ngIf="personal.controls.personalGender.errors?.required">Gender is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<mat-select  placeholder="Marital Status" formControlName="maritalStatus" (change)="selectMarital()"   class="w-100">-->
                              <!--&lt;!&ndash;<mat-option *ngFor="let status of Marital | keys" [value]= 'status.key'> {{status.value}} </mat-option>&ndash;&gt;-->
                            <!--</mat-select>-->
                            <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.maritalStatus.errors?.required">Marital Status is required</mat-error>&ndash;&gt;-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<mat-select  placeholder="Occupation" formControlName="occupation"  (change)="selectOccupation()" class="w-100">-->
                              <!--&lt;!&ndash;<mat-option *ngFor="let list of PersonalOccupation | keys " value ='{{list.key}}' [hidden]="travelUserType && list.key == '36'"> {{list.value}} </mat-option>&ndash;&gt;-->
                            <!--</mat-select>-->
                            <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.occupation.errors?.required">Occupation is required</mat-error>&ndash;&gt;-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Annual Income" formControlName="personalIncome"  (keypress)="numberValidate($event)" maxlength="10"  autocomplete="off" required>-->
                                <!--<mat-error *ngIf="personal.controls.personalIncome.errors?.required">Annual Income is required</mat-error>-->
                            <!--</mat-form-field>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Email ID"   formControlName="personalEmail"  autocomplete="off" required>-->
                            <!--<mat-error *ngIf="personal.controls.personalEmail.errors?.required">Email ID is required</mat-error>-->
                            <!--<mat-error *ngIf="personal.controls.personalEmail.hasError('pattern')">Please Enter Correct Format</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->


                        <!--<div class="col-md-6">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Address 1" formControlName="personalAddress" (keyup)="typeAddressDeatils()" autocomplete="off" required >-->
                            <!--<mat-error *ngIf="personal.controls.personalAddress.errors?.required">Address is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Address 2" formControlName="personalAddress2" (keyup)="typeAddressDeatils()" autocomplete="off" required>-->
                            <!--<mat-error *ngIf="personal.controls.personalAddress2.errors?.required">Address2 is required</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->

                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="PIN Code" formControlName="personalPincode" pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)"  minlength="6"   maxlength="6" (input)="commonPincode($event.target.value, 'proposalP')" autocomplete="off" >-->
                            <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.personalPincode.hasError('minlength')">Pin should be 6 digits</mat-error>&ndash;&gt;-->
                            <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.personalPincode.hasError('required')">Pincode required</mat-error>&ndash;&gt;-->
                            <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.personalPincode.hasError('pattern')">Enter Valid  Pin</mat-error>&ndash;&gt;-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field  class="w-100">-->
                            <!--<input matInput placeholder="City" formControlName="personalCity" autocomplete="off" (keypress)="nameValidate($event)"   readonly>-->
                            <!--&lt;!&ndash;<mat-error *ngIf="personal.controls.personalCity.errors?.required">City is required</mat-error>&ndash;&gt;-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="STD Code" formControlName="personalstdcode" pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)"    autocomplete="off" >-->

                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Mobile Number"  (keypress)="numberValidate($event)"   maxlength="10" minlength="10" formControlName="personalMobile" autocomplete="off" required>-->
                            <!--<mat-error *ngIf="personal.controls.personalMobile.errors?.required">Mobile Number is required</mat-error>-->
                            <!--<mat-error *ngIf="personal.controls.personalMobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="LandLine Number"  (keypress)="numberValidate($event)"   maxlength="12" minlength="12" formControlName="personalLandlineno" autocomplete="off" >-->
                            <!--<mat-error *ngIf="personal.controls.personalMobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="CustMailStateCd" formControlName="custMailStateCd"   autocomplete="off" >-->

                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="GST Number" class="text-uppercase"   minlength="15"  maxlength="15" formControlName="personalGst" pattern="^([0-9]){2}([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}([0-9]){1}([a-zA-Z]){1}([a-zA-Z0-9]){1}?$" autocomplete="off" required>-->
                            <!--<mat-error *ngIf="personal.controls.personalGst.hasError('minlength')">GST Number isn't long enough, minimum of 15 characters</mat-error>-->
                            <!--<mat-error *ngIf="personal.controls.personalGst.hasError('pattern')">Enter Vaild GST</mat-error>-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="ISDN Number"     maxlength="10" formControlName="personalIsdn" autocomplete="off">-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="proposal-buttom mt-3 text-right w-100">-->
                          <!--<button mat-raised-button color="primaryBlue"  (click)="personalDetails(stepper, personal.value)" >Next</button>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</mat-expansion-panel>-->
              <!--</form>-->
            <!--</mat-accordion>-->
          <!--</mat-step>-->
          <!--<mat-step [stepControl]="">-->
            <!--<ng-template matStepLabel >INSURED DETAILS</ng-template>-->
            <!--<mat-accordion class="w-100 float-left">-->
              <!--<form [formGroup]="insureArray">-->
                <!--<div formArrayName="items" *ngFor="let item of insureArray.get('items')['controls']; let i = index;">-->
                  <!--<mat-expansion-panel  [formGroupName]="i" [expanded]="i == 0">-->
                    <!--<mat-expansion-panel-header>-->
                      <!--<mat-panel-title>-->
                        <!--{{insureArray['controls'].items['controls'][i]['controls'].type.value | uppercase}} DETAILS-->
                      <!--</mat-panel-title>-->
                    <!--</mat-expansion-panel-header>-->
                    <!--<ng-template matStepLabel>INSURED DETAILS </ng-template>-->
                    <!--<div class="row" >-->
                      <!--<div class="col-md-12 box-card pt-3">-->
                        <!--<h6 class="color-blue"> {{insureArray['controls'].items['controls'][i]['controls'].type.value | uppercase}} DETAILS</h6>-->
                        <!--<div class="col-md-12 mt-3" >-->
                          <!--<mat-checkbox formControlName="sameAsProposer" ><strong>Same as proposer</strong></mat-checkbox>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                         <!--<div class="col-md-3">-->
                            <!--<mat-form-field class="w-100">-->
                              <!--<input matInput placeholder="First Name" formControlName="personalFirstname"  (keypress)="nameValidate($event)" autocomplete="off" readonly="{{insureArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}" >-->
                              <!--<mat-error *ngIf="insureArray.invalid">First Name is required</mat-error>-->
                            <!--</mat-form-field>-->
                          <!--</div>-->
                          <!--<div class="col-md-3">-->
                            <!--<mat-form-field class="w-100">-->
                              <!--<input matInput placeholder="Last Name" formControlName="personalLastname"  (keypress)="nameValidate($event)" autocomplete="off"  readonly="{{insureArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"  >-->
                              <!--<mat-error *ngIf="insureArray.invalid">Last Name is required</mat-error>-->
                            <!--</mat-form-field>-->
                          <!--</div>-->
                          <!--<div class="col-md-3"><mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Gender" formControlName="personalGender" readonly="{{insureArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"  >-->
                            <!--<mat-error *ngIf="insureArray.invalid">Gender is required</mat-error>-->
                          <!--</mat-form-field></div>-->
                          <!--<div class="col-md-3"><mat-form-field class="w-100">-->
                              <!--<input matInput [matDatepicker]="picker"  placeholder="DOB (DD/MM/YYYY)"   formControlName="proposerDob" (dateInput)="addEventInsurer($event, i, insureArray['controls'].items['controls'][i]['controls'].type.value, 'insurer')" (dateChange)="addEventInsurer( $event, i, insureArray['controls'].items['controls'][i]['controls'].type.value, 'insurer')" (keypress)="dobValidate($event)" autocomplete="off" maxlength="10" required readonly="{{insureArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">-->
                              <!--<mat-datepicker-toggle matSuffix [for]="picker" disabled="{{insureArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"></mat-datepicker-toggle>-->
                              <!--<mat-datepicker #picker></mat-datepicker>-->
                            <!--<mat-error *ngIf="insureArray.invalid">DOB is required</mat-error>-->
                          <!--</mat-form-field>-->
                            <!--<p class="error mb-0" *ngIf="insureArray['controls'].items['controls'][i]['controls'].insurerDobError.value != ''">{{insureArray['controls'].items['controls'][i]['controls'].insurerDobError.value}}</p>-->
                            <!--<p class="error mb-0" *ngIf="insureArray['controls'].items['controls'][i]['controls'].insurerDobValidError.value != ''">{{insureArray['controls'].items['controls'][i]['controls'].insurerDobValidError.value}}</p>-->
                          <!--</div>-->
                          <!--<div class="col-md-3"><mat-form-field class="w-100">-->
                            <!--<mat-select placeholder="Relationship with Proposer"  formControlName="personalrelationship" >-->
                              <!--&lt;!&ndash;<mat-option *ngFor="let relationship of insureRelationList | keys" value="{{relationship.key}}" >&ndash;&gt;-->
                                <!--&lt;!&ndash;{{relationship.value}}&ndash;&gt;-->
                              <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
                            <!--</mat-select>-->
                            <!--&lt;!&ndash;<mat-error *ngIf="insureArray.invalid">Relationship is required</mat-error>&ndash;&gt;-->
                          <!--</mat-form-field></div>-->

                          <!--<div class="col-md-3">-->
                            <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="SumInsured"  formControlName="sumInsured" autocomplete="off" >-->

                           <!--</mat-form-field>-->
                          <!--</div>-->

                        <!--</div>-->
                      <!--</div>-->



                      <!--<div class="proposal-buttom mt-3 text-right w-100" *ngIf="items.length -1 == i">-->
                        <!--<button mat-button matStepperPrevious  (click)="topScroll()">Back</button>-->
                        <!--<button mat-raised-button color="primaryBlue"  (click)="cholaInsureDetails(stepper, insureArray.value)">Next</button>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</mat-expansion-panel>-->
                <!--</div>-->
              <!--</form>-->
            <!--</mat-accordion>-->
          <!--</mat-step>-->


          <!--<mat-step [stepControl]="">-->
            <!--<ng-template matStepLabel>NOMINEE DETAILS</ng-template>-->
            <!--<mat-accordion class="w-100 float-left">-->
              <!--<mat-expansion-panel expanded>-->
                <!--<mat-expansion-panel-header>-->
                  <!--<mat-panel-title>-->
                    <!--NOMINEE DETAILS                </mat-panel-title>-->
                <!--</mat-expansion-panel-header>-->
                <!--<ng-template matStepLabel>NOMINEE DETAILS   </ng-template>-->
                <!--<div class="row mt-3">-->
                  <!--<div class="col-md-12 box-card pt-3 pb-3" >-->
                    <!--&lt;!&ndash;<h6 class="color-blue mb-3" >NOMINEE DETAILS </h6>&ndash;&gt;-->
                    <!--<form [formGroup]="nomineeDetails">-->
                      <!--<div class="row">-->
                        <!--<div class="col-md-4">-->
                          <!--<mat-form-field class="w-100">-->
                            <!--<input matInput placeholder="Name of Nominee"  formControlName="nomineeName" autocomplete="off" (keypress)="nameValidate($event)" >-->
                            <!--&lt;!&ndash;<mat-error *ngIf="nomineeDetails.controls.nomineeName.errors?.required">Name of Nominee is required</mat-error>&ndash;&gt;-->
                          <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-4"><mat-form-field class="w-100">-->
                          <!--<mat-select placeholder="NomineeRelationship"  formControlName="nomineeRelationship" >-->
                            <!--&lt;!&ndash;<mat-option *ngFor="let relationship of insureRelationList | keys" [hidden]="sameRelationship == relationship.key" value="{{relationship.value}}" >&ndash;&gt;-->
                              <!--&lt;!&ndash;{{relationship.value}}&ndash;&gt;-->
                            <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
                          <!--</mat-select>-->
                          <!--&lt;!&ndash;<mat-error *ngIf="nomineeDetails.controls.nomineeRelationship.errors?.required">Relationship with insurer is required</mat-error>&ndash;&gt;-->
                        <!--</mat-form-field>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                          <!--<div class="proposal-buttom mb-3 text-right w-100">-->
                            <!--<button mat-button matStepperPrevious  (click)="quesback()">Back</button>-->
                            <!--<button mat-raised-button color="primaryBlue"   (click)="cholaNomineeDetails(stepper, nomineeDetails.value)">Next</button>-->
                          <!--</div></div>-->
                      <!--</div>-->
                    <!--</form>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</mat-expansion-panel>-->
            <!--</mat-accordion>-->
          <!--</mat-step>-->




        <!--</mat-horizontal-stepper>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
