<div class="d-lg-block d-xl-block d-none d-sm-none d-md-none font">

    <mat-toolbar class="horizontal-menu flex-p-x boxshadow">
        <div fxLayout="row" fxLayoutAlign="start start">

            <a  class="logo" routerLink="/home" ><img alt=""  src="assets/img/vizza-logoNew.svg" style="width: 100%;height: 50px;" alt="vizza-logo" title="vizza-logo" ></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
            <!--<app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>-->
            <div style="color:green;margin-left: 601px;" class="d-flex align-items-center"><img src="assets/img/Toll-free-icon.svg" style="height: 15px;width:15px; margin-right: 6px" alt="vizza-Toll-free-icon" title="vizza-Toll-free"> 1800 425 3000</div>
        </div>
    </mat-toolbar>

    <div class="container-fluid bc-color">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 h-90">
                        <div class="leading">
                            <img src="assets/img/Left-side-image.png" class="imagewidth">
                            <div class="aboutContent">
                                <h6 class="heading text-center">Buy <b class="heading text-uppercase">Health Insurance</b> <br>Through <span style="line-height: 40.5px !important;"><b class="text-uppercase heading">Vizza </b></span>From Various Insurers</h6>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top: 60px;">
                        <div class="card h-90 pl-5 pr-5" >
                            <form [formGroup]="form">
                                <!--<div class="col-md-12 mt-5">-->
                                <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Name" formControlName="firstName" maxlength="50" (keypress)="nameValidate($event)"  autocomplete="off" required>-->
                                <!--<mat-error *ngIf="form.controls.firstName.errors?.required">Name is required</mat-error>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->
                                <div class="col-md-12 mt-5">
                                    <div class="form-group" required>
                                        <label >Name</label>
                                        <input type="text" class="form-control" placeholder="Name" formControlName="firstName" maxlength="50" (keypress)="nameValidate($event)"  autocomplete="off" required>
                                        <em class="error help-block" *ngIf="!form.get('firstName').valid && (form.get('firstName').dirty || form.get('firstName').touched)"> Name is Required</em>

                                    </div>
                                </div>
                                <!--<div class="col-md-12 mt-3">-->
                                <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Mobile No" formControlName="mobile" maxlength="10"  (keypress)="numberValidate($event)" autocomplete="off" required>-->
                                <!--<mat-error *ngIf="form.controls.mobile.errors?.required">Mobile No is required</mat-error>-->
                                <!--<mat-error *ngIf="form.controls.mobile.hasError('pattern')">Enter valid Mobile No</mat-error>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->
                                <div class="col-md-12 mt-3">
                                    <div class="form-group" required>
                                        <label >Mobile No</label>
                                        <input type="text" class="form-control" placeholder="Mobile No" formControlName="mobile" maxlength="10"  (keypress)="numberValidate($event)" autocomplete="off" required>
                                        <div class="error help-block" *ngIf=" this.form['controls'].mobile.value == ''||(this.form['controls'].mobile.value == null && form.get('mobile').touched)" >Mobile is required</div>
                                        <em class="error help-block" *ngIf="form.get('mobile').hasError('pattern')">Please Enter Valid Mobile</em>
                                    </div>
                                </div>
                                <!--<div class="col-md-12 mt-3">-->
                                <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Email ID" formControlName="emailId" autocomplete="off" required>-->
                                <!--<mat-error *ngIf="form.controls.emailId.errors?.required">Email ID is required</mat-error>-->
                                <!--<mat-error *ngIf="form.controls.emailId.hasError('pattern')">Enter valid Email ID</mat-error>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->

                                <div class="col-md-12 mt-3">
                                    <div class="form-group" required>
                                        <label >Email</label>
                                        <input type="text" class="form-control" placeholder="Email ID" formControlName="emailId" autocomplete="off" required>
                                        <div class="error help-block" *ngIf=" this.form['controls'].emailId.value == ''||(this.form['controls'].emailId.value == null && form.get('emailId').touched)" >Email is required</div>
                                        <em class="error help-block" *ngIf="form.get('emailId').hasError('pattern')">Please Enter Valid Email</em>
                                    </div>
                                </div>





                                <div class="col-md-12 text-center mt-3 " style="padding-bottom: 27px;">
                                    <button mat-button type="submit" style="background: #f06024; color: #fff" (click)="landingSubmit(form.value)" >Submit</button>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


    <section class="container-fluid second-color ">
        <div class="container">
            <div class="row text-center pt-4">
                <!--<div  class="col-md-1">-->
                <!--</div>-->
                <div class="col-md-2 ">
                    <img src="assets/img/Relicare.png" class="logo-pics" >

                </div>
                <div class="col-md-2">
                    <img src="assets/img/star.png" class="logo-pics3" >

                </div>
                <div class="col-md-2 ">
                    <img src="assets/img/reliance.png" class="logo-pics">

                </div>
                <div class="col-md-2 ">
                    <img src="assets/img/hdfc.png" class="logo-pics1"  >

                </div>
                <div class="col-md-2">
                    <img src="assets/img/bajjaj.png" class="logo-pics2" >

                </div>
                <div class="col-md-2">
                    <img src="assets/img/iffco.png" class="logo-pics"  >


                </div>
                <!--<div  class="col-md-1">-->
                <!--</div>-->

            </div>



            <div class="row ">
                <div class="col-md-6 follow" >
                    <ul class="mb-0">
                      <li><span class="heading">Follow Us:</span></li>
                      <li class="socialIcons"><i class="fab fa-facebook"></i></li>
                      <li class="socialIcons"><i class="fab fa-twitter"></i></li>
                      <li class="socialIcons"><i class="fab fa-linkedin"></i></li>
                      <li class="socialIcons"><i class="fab fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="col-md-6 float-right">
                    <p class="privacy" ><span style="color: #f58721 !important;">Policy T&C Apply </span><span>&nbsp;</span><span style="color: #f58721 !important;"> |</span><span>&nbsp;</span> <span style="color: #f58721 !important;">Privacy Policy</span></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="container">

            <p class="copy text-center text-white">@copyright 2018 @VIZZA INSURANCE BROKING SRVICE PVT.LTD<br> Disclaimer;Insurance is the subject matter of solicitation...<span class="readMor">Read More</span></p>
        </div>
    </footer>


</div>


<!--mobile view-->

<div class="d-lg-none d-xl-none d-block d-sm-block d-md-block font">
    <section class="container-fluid">
        <mat-toolbar class="horizontal-menu boxshadow w-100">
            <div fxLayout="row " fxLayoutAlign="start start">
                <div class="col-12 col-sm-12 col-md-12">
                    <a  class="logo" routerLink="/home" ><img alt=""  src="assets/img/vizza-logoNew.svg" style="width: 61%;height: 50px;" alt="vizza-logo" title="vizza-logo" ></a>

                </div>


            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
                <div class="col-12 col-sm-12 col-md-12">

                <!--<app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>-->
                <div style="color:green; margin-left: 0px;" class="d-flex align-items-center"><img src="assets/img/Toll-free-icon.svg" style="height: 15px;width:15px; " alt="vizza-Toll-free-icon" title="vizza-Toll-free"> 1800 425 3000</div>
            </div>
            </div>
        </mat-toolbar>

    </section>


        <section class="container bc-color ">
                <div class="row">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h-90 ">

                        <div class="aboutContent">
                            <h6 class="heading1 text-center">Buy <b class="heading1 text-uppercase">Health Insurance</b> <br><span >Through <span style="line-height: 40.5px !important;"><b class="text-uppercase heading1">Vizza </b></span>From Various Insurers</span></h6>
                        </div>
                        <!--</div>-->
                    </div>

                    <div class="col-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:100px;margin-bottom: 50px;">
                        <div class="card h-90 pl-3 pr-3" >
                            <form [formGroup]="form">
                                <!--<div class="col-md-12 mt-5">-->
                                <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Name" formControlName="firstName" maxlength="50" (keypress)="nameValidate($event)"  autocomplete="off" required>-->
                                <!--<mat-error *ngIf="form.controls.firstName.errors?.required">Name is required</mat-error>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->
                                <div class="col-12col-md-12 mt-5">
                                    <div class="form-group" required>
                                        <label >Name</label>
                                        <input type="text" class="form-control" placeholder="Name" formControlName="firstName" maxlength="50" (keypress)="nameValidate($event)"  autocomplete="off" required>
                                        <em class="error help-block" *ngIf="!form.get('firstName').valid && (form.get('firstName').dirty || form.get('firstName').touched)"> Name is Required</em>

                                    </div>
                                </div>
                                <!--<div class="col-md-12 mt-3">-->
                                <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Mobile No" formControlName="mobile" maxlength="10"  (keypress)="numberValidate($event)" autocomplete="off" required>-->
                                <!--<mat-error *ngIf="form.controls.mobile.errors?.required">Mobile No is required</mat-error>-->
                                <!--<mat-error *ngIf="form.controls.mobile.hasError('pattern')">Enter valid Mobile No</mat-error>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->
                                <div class="col-md-12 mt-3">
                                    <div class="form-group" required>
                                        <label >Mobile No</label>
                                        <input type="text" class="form-control" placeholder="Mobile No" formControlName="mobile" maxlength="10"  (keypress)="numberValidate($event)" autocomplete="off" required>
                                        <div class="error help-block" *ngIf=" this.form['controls'].mobile.value == ''||(this.form['controls'].mobile.value == null && form.get('mobile').touched)" >Mobile is required</div>
                                        <em class="error help-block" *ngIf="form.get('mobile').hasError('pattern')">Please Enter Valid Mobile</em>
                                    </div>
                                </div>
                                <!--<div class="col-md-12 mt-3">-->
                                <!--<mat-form-field class="w-100">-->
                                <!--<input matInput placeholder="Email ID" formControlName="emailId" autocomplete="off" required>-->
                                <!--<mat-error *ngIf="form.controls.emailId.errors?.required">Email ID is required</mat-error>-->
                                <!--<mat-error *ngIf="form.controls.emailId.hasError('pattern')">Enter valid Email ID</mat-error>-->
                                <!--</mat-form-field>-->
                                <!--</div>-->

                                <div class="col-md-12 mt-3">
                                    <div class="form-group" required>
                                        <label >Email</label>
                                        <input type="text" class="form-control" placeholder="Email ID" formControlName="emailId" autocomplete="off" required>
                                        <div class="error help-block" *ngIf=" this.form['controls'].emailId.value == ''||(this.form['controls'].emailId.value == null && form.get('emailId').touched)" >Email is required</div>
                                        <em class="error help-block" *ngIf="form.get('emailId').hasError('pattern')">Please Enter Valid Email</em>
                                    </div>
                                </div>





                                <div class="col-md-12 text-center mt-3 pb-5">
                                    <button mat-button type="submit" style="background: #f06024; color: #fff" (click)="landingSubmit(form.value)" >Submit</button>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>

        </section>
    <!--</div>-->


    <section class="container-fluid second-color ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-4 col-sm-4">
                    <img src="assets/img/Relicare.png" class="logo-pics5" >

                </div>
                <div class="col-md-4 col-4 col-sm-4">
                    <img src="assets/img/star.png" class="logo-pics4" >

                </div>
                <div class="col-md-4 col-4 col-sm-4">
                    <img src="assets/img/reliance.png" class="logo-pics5">

                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-4 col-sm-4">
                    <img src="assets/img/hdfc.png" class="logo-pics6"  >

                </div>
                <div class="col-md-2 col-4 col-sm-4">
                    <img src="assets/img/bajjaj.png" class="logo-pics7" >

                </div>
                <div class="col-md-2 col-4 col-sm-4">
                    <img src="assets/img/iffco.png" class="logo-pics8"  >


                </div>

            </div>


        <div class="row ">
            <div class="col-md-12 col-sm-12 col-12 follow1" >
                <ul class="mb-0">
                    <!--<li><span class="heading">Follow Us:</span></li>-->
                    <li class="socialIcons"><i class="fab fa-facebook"></i></li>
                    <li class="socialIcons"><i class="fab fa-twitter"></i></li>
                    <li class="socialIcons"><i class="fab fa-linkedin"></i></li>
                    <li class="socialIcons"><i class="fab fa-instagram"></i></li>
                </ul>
            </div>
            <div class="col-md-12 col-sm-12 col-12  text-center policy">
                <p><span style="color: #f58721 !important;">Policy T&C Apply</span> <span>&nbsp;</span> <span style="color: #f58721 !important;">|</span><span>&nbsp;</span> <span style="color: #f58721 !important;">Privacy Policy</span></p>
            </div>
        </div>
        </div>
    </section>
    <footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <p class="copy text-center text-white">@copyright 2018 @VIZZA INSURANCE BROKING SRVICE PVT.LTD<br> Disclaimer;Insurance is the subject matter of solicitation...<a href="#" class="readMor">Read More</a></p>

            </div>
        </div>

    </div>

    </footer>


</div>


