.heading{
  color:#f06024;
}

.bc-color{
  background-color:#fffdfb;
}
.second-color{
  background-color:#fff5ec;

}
footer{
  background-color: #000 !important;
  color: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f58721;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: -13px;

}
.policy{

  color: #f58721;

}
.btn-orange{
  background-color:#f06024;

}
.privacy{
  margin-top: 82px;
  margin-left: 222px;
}
.logo-pics{
  margin-top: 82px;
  height: 40px;

}.logo-pics1{
  margin-top: 82px;
  //height: 40px;

}
.copy{
  font-size: 10px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px 1px #888888;
}
.follow{
  margin-top: 82px;

}
