

    <mat-card class="custom-card list about-us">
      <!--<mat-card-header class="bg-primary p-2 mb-3">-->
        <!--<mat-card-title class="m-0"><h4 class="m-0">About Us</h4></mat-card-title>-->
      <!--</mat-card-header>-->
      <mat-card-content>
  <h4>Mission</h4>
  <p>To build and sustain an integrated ecosystem meeting health needs of everyone,anywhere.</p>



  <h4>Vision</h4>
  <p>To build superior nextgen healthcare solutions by harnessing the power of technology.</p>

  <p>MediTimes is a mobile application that aims to provide healthcare technology solutions by way of
  connecting Doctors and Patients with Pharmacies, Diagnostics and Labs for faster, reliable and high-
    quality patient care.</p>

  <p>Our app connects the Doctors and the Patients with the rest of the ecosystem and provides a
  seamless integrated platform. Our app for doctors, MediTimes ‘MIND’, seeks to ease the everyday
  clinical work life decisions of Doctors in a fashion which is ahead, predictive, time saving and
  accurate. MediTimes ‘MIND’, our wholesome solution for Doctors, uses Artificial Intelligence,
  Machine Learning and Natural Language Understanding to ensure Doctors clinical efficacies are
    fast,customised and consistent. Indeed, it’s all about ‘Superior. Minds Together’.</p>

 <p> MediTimes shall always seek to integrate state of the art technologies to our offerings in healthcare,
  in a large scale.</p>

 <p> We, at MediTimes, are committed to continuous innovation and improvement and are determined
  to make a superior difference to the healthcare environment we live in with technological
  advancements.</p>

 <p> MediTimes ‘The Healthy Apple’</p>

  <p>We are currently servicing the entire city of Chennai for Doctors and Patients and it is our intention
  to cover all the areas of Chennai soon for pharmacy, lab &amp; diagnostics. For exact service coverage in
    your area, please heck the FAQs.</p>
      </mat-card-content>
</mat-card>
