<!--Desktop view-->
<section class="d-none d-sm-none d-xl-block d-lg-block d-md-none">
<div class="container dashboard h-100" fxLayoutAlign="start start">
  <div class="row my-flex-card">
    <h2 class="w-100 text-center" style="color:#683487;">Point of Sales Person</h2>
    <!--<div fxLayout="row" fxLayoutAlign="center stretch">-->
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block">
          <div class="aboutImg">
            <img src="assets/img/POS-banner2.jpg" class="w-100">
          </div>
          <div class="aboutContent">
            <h4 class="text-center">About Vizza POS</h4>
            <p>Vizza has extensive capabilities and competence to handle claim of any nature and magnitude <button class="btn btn-sm" (click)="PosInsurer()" style="border: 1px solid #000; background-color: inherit"> Know More</button></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card" >
        <div class="card-block">
          <mat-card class="col-md-12" style="background:#fff !important; height:available;">
            <form [formGroup]="form" (ngSubmit)="login()">
              <div class="col-md-12 text-center mt-4">
                <img class="login-logo" src="assets/img/vizza-logoNewpos-form.png">
              </div>
              <!--<mat-card-subtitle><h3>Login</h3></mat-card-subtitle>-->
              <div class="mt-4">
                <div class="col-md-12 mt-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Mobile number" formControlName="username" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="form.controls.username.errors?.required">Mobile number is required</mat-error>
                    <mat-error *ngIf="form.controls.username.hasError('minlength')">Mobile number isn't long enough, minimum of 10 characters</mat-error>
                  </mat-form-field >
                </div>
                <div class="col-md-12 mt-4">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Password" formControlName="password" required minlength="6" [type]="hide ? 'password' : 'text'">
                    <mat-icon style="cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 mt-4" fxLayoutAlign="center center">
                <div class="col-md-6">
                  <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100 mt-6" type="button" type="submit">Login</button>
                </div>
              </div>
              <div class="login-options mt-4">
                <span><a [routerLink]="['/forgotpassword']">Forgot Password ?</a></span>
                <span>Want to become a POS agent ?</span>
                <span class="pr-5"><a [routerLink]="['/register']" > Register Now</a></span>
              </div>
              <!--<div class="col-md-4">-->
              <!--<div class="col-md-12 text-center"> <button mat-raised-button color="primary" routerLink="/about-pos">About POS</button></div>-->
              <!--</div>-->
            </form>
          </mat-card>
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>
</section>

<!--mobile view-->
<section class="d-xl-none d-lg-none d-md-block d-block d-sm-block">
  <div class="container dashboard h-100" fxLayoutAlign="start start">
    <div class="row my-flex-card">
      <h2 class="w-100 text-center" style="color:#683487;">Point of Sales Person</h2>
      <div class="col-sm-12 col-xs-12">
        <div class="card" >
          <div class="card-block">
            <mat-card class="col-sm-12 col-xs-12" style="background:#fff !important; height:available;">
              <form [formGroup]="form" (ngSubmit)="login()">
                <div class="col-sm-12 col-xs-12 text-center mt-3">
                  <img class="login-logo" src="assets/img/vizza-logoNew.png">
                </div>
                <!--<mat-card-subtitle><h3>Login</h3></mat-card-subtitle>-->
                <div class="mt-5">
                  <div class="col-sm-12 col-xs-12 mt-3">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Mobile number" formControlName="username" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">
                      <mat-icon matSuffix>person</mat-icon>
                      <mat-error *ngIf="form.controls.username.errors?.required">Mobile number is required</mat-error>
                      <mat-error *ngIf="form.controls.username.hasError('minlength')">Mobile number isn't long enough, minimum of 10 characters</mat-error>
                    </mat-form-field >
                  </div>
                  <div class="col-sm-12 col-xs-12 mt-3">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Password" formControlName="password" required minlength="6" [type]="hide ? 'password' : 'text'">
                      <mat-icon style="cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                      <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12 mt-3" fxLayoutAlign="center center">
                  <div class="col-sm-12 col-xs-12">
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100 mt-6" type="button" type="submit">Login</button>
                  </div>
                </div>
                <div class="mt-3 col-sm-12 col-md-12 col-xs-12">
                  <div class="col-sm-12 col-md-12 col-xs-12"><a [routerLink]="['/forgotpassword']">Forgot Password ?</a></div>
                  <div class="mt-2 col-sm-12 col-md-12 col-xs-12">Want to become a POS agent ?</div>
                  <div class="mt-2 col-sm-12 col-md-12 col-xs-12"><a [routerLink]="['/register']" > Register Now</a></div>
                </div>
                <!--<div class="col-md-4">-->
                <!--<div class="col-md-12 text-center"> <button mat-raised-button color="primary" routerLink="/about-pos">About POS</button></div>-->
                <!--</div>-->
              </form>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div *ngIf="status!=200" class="bg-map">-->
  <!--<div fxLayout="row" fxLayoutAlign="center center" class="h-100">-->
    <!--<form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" (ngSubmit)="login()" fxFlex.sm="60" class="mt-login">-->
      <!--<mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner" style="border-radius: 10px">-->
        <!--<span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logoNew.png"> </span>-->
        <!--&lt;!&ndash;<mat-card-subtitle><h3>Login</h3></mat-card-subtitle>&ndash;&gt;-->
        <!--<mat-form-field class="w-100">-->
          <!--<input matInput placeholder="Mobile number" formControlName="username" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">-->
          <!--<mat-icon matSuffix>person</mat-icon>-->
          <!--<mat-error *ngIf="form.controls.username.errors?.required">Mobile number is required</mat-error>-->
          <!--<mat-error *ngIf="form.controls.username.hasError('minlength')">Mobile number isn't long enough, minimum of 10 characters</mat-error>-->
        <!--</mat-form-field >-->
        <!--<mat-form-field class="w-100">-->
          <!--<input matInput placeholder="Password" formControlName="password" required minlength="6" [type]="hide ? 'password' : 'text'">-->
          <!--<mat-icon style="cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>-->
          <!--<mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>-->
          <!--<mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>-->
        <!--</mat-form-field>-->
        <!--<button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100 mt-2" type="button" type="submit">Login</button>-->
        <!--<div class="login-options">-->
          <!--<div><a [routerLink]="['/forgotpassword']">Forgot Password ?</a></div>-->
          <!--<div><span>Want to become a POS agent ?</span> <a [routerLink]="['/register']" > Register Now</a></div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-12 text-center"> <button mat-raised-button color="primary" routerLink="/about-pos">About POS</button></div>-->
        <!--</div>-->

      <!--</mat-card>-->

    <!--</form>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container-fluid h-100" fxLayoutAlign="center center" *ngIf="status!=200">-->
  <!--<div class="row" fxLayoutAlign="center start">-->
    <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
      <!--<div class="dashboard1">-->
        <!--<mat-card>-->
          <!--<mat-card-header fxLayoutAlign="space-between center">-->
            <!--<h2>About POS'P</h2>-->
          <!--</mat-card-header>-->
        <!--</mat-card>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
      <!--<div class="pos_login">-->
        <!--<form [formGroup]="form" class="w-100" (ngSubmit)="login()">-->
          <!--<mat-card fxLayout="column" fxLayoutAlign="center center" style="border-radius: 10px">-->
            <!--&lt;!&ndash;<mat-card-subtitle><h3>Login</h3></mat-card-subtitle>&ndash;&gt;-->
            <!--<mat-form-field class="w-100">-->
              <!--<input matInput placeholder="Mobile number" formControlName="username" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">-->
              <!--<mat-icon matSuffix>person</mat-icon>-->
              <!--<mat-error *ngIf="form.controls.username.errors?.required">Mobile number is required</mat-error>-->
              <!--<mat-error *ngIf="form.controls.username.hasError('minlength')">Mobile number isn't long enough, minimum of 10 characters</mat-error>-->
            <!--</mat-form-field >-->
            <!--<mat-form-field class="w-100">-->
              <!--<input matInput placeholder="Password" formControlName="password" required minlength="5" [type]="hide ? 'password' : 'text'">-->
              <!--<mat-icon style="cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>-->
              <!--<mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>-->
              <!--<mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>-->
            <!--</mat-form-field>-->
            <!--<button mat-raised-button type="button" type="submit">Login</button>-->
              <!--<div><a class="w-100 forget" [routerLink]="['/forgotpassword']">Forgot Password ?</a></div><br/>-->
            <!--<div class="white-color">Don't have an vizza POP'S Account</div>-->
            <!--<div><a class="w-100 forget" [routerLink]="['/register']">Register Now</a></div>-->
          <!--</mat-card>-->
          <!--<div class="sign"><a class="sign"> Sign Up with</a></div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

