<div fxLayout="column">

  <div class="">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-subtitle><h2>Result</h2></mat-card-subtitle>
      </mat-card-header>
        <p fxLayoutAlign="center left">Total number of questions : <span style="color: #2d64d2"> {{allQuestions}}</span></p>
        <p fxLayoutAlign="center left">Number of answered questions : <span style="color: #007c3d"> {{answeredQuestions}}</span>	</p>
        <p fxLayoutAlign="center left">Number of unanswered questions : <span style="color: red"> {{unAnsweredQuestions}}</span></p>


      <div class="w-100"  fxLayoutAlign="center center">
        <ngx-charts-pie-grid
                [scheme]="colorScheme"
                [results]="single"
                (select)="onSelect($event)" *ngIf="examStatus == 'pass'">
        </ngx-charts-pie-grid>
        <ngx-charts-pie-grid
                [scheme]="colorScheme1"
                [results]="single"
                (select)="onSelect($event)" *ngIf="examStatus == 'fail'">
        </ngx-charts-pie-grid>
      </div>
    </mat-card>
  </div>

</div>