<div *ngIf="status!=200" class="bg-map">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mt-login">
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
        <span class="box-content-header"><img class="login-logo" src="assets/img/login-logo.png"> </span>
        <p class="text-center">OTP has been sent to provided mobile number. Enter OTP to proceed</p>
        <mat-form-field class="w-100">
          <input matInput placeholder="OTP" formControlName="otp" >
          <mat-icon matSuffix>more_horiz</mat-icon>
          <mat-error *ngIf="form.controls.otp.errors?.required">OTP is required</mat-error>

        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="New Password" minlength="6" formControlName="password" [type]="newps ? 'password' : 'text'" >
          <mat-icon style="cursor: pointer" matSuffix (click)="newps = !newps">{{newps ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="form.controls.password.errors?.required">New password is required</mat-error>
          <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="conps ? 'password' : 'text'">
          <mat-icon style="cursor: pointer" matSuffix (click)="conps = !conps">{{conps ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirm password is required</mat-error>
          <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>

        </mat-form-field>
          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100 mt-2" type="submit" (click)="confirm()" >Reset Password</button>
        <div class="login-options">
          <div><span>Do not have an account ?</span> <a href="#"> Resend OTP</a></div>
        </div>
      </mat-card>
    </form>
  </div>
</div>


