<h1 mat-dialog-title class="text-center"><span>Change Your Password</span></h1>
<div mat-dialog-content style="height: 250px;">
  <form [formGroup]="form" class="user-form">
    <mat-form-field class="w-100">
      <input matInput placeholder="Current Password" required autocomplete="off" formControlName="currentpassword"   [type]="curps ? 'password' : 'text'" >
      <mat-icon style="cursor: pointer" matSuffix (click)="curps = !curps">{{curps ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="form.controls.password.errors?.required">New password is required</mat-error>
      <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="New Password" autocomplete="off" required formControlName="password"   [type]="newps ? 'password' : 'text'" >
      <mat-icon style="cursor: pointer" matSuffix (click)="newps = !newps">{{newps ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="form.controls.password.errors?.required">New password is required</mat-error>
      <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Retype Password" required autocomplete="off" (input)="checkPassword()"  formControlName="confirmpassword"  [type]="conps ? 'password' : 'text'">
      <mat-icon style="cursor: pointer" matSuffix (click)="conps = !conps">{{conps ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="form.controls.confirmpassword.errors?.required">Confirm password is required</mat-error>
      <mat-error *ngIf="form.controls.confirmpassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>

    </mat-form-field>
    <div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>
  </form>
  <div mat-dialog-actions fxLayout="row" class="justify-content-end" fxLayoutAlign="space-between center">
    <button mat-button class="secondary-bg-color" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="updatePassword()" [disabled]="!form.valid"><span>Update</span></button>

  </div>
</div>
