.addressBox{
  border: 1px solid gray !important;
  padding: 22px 31px 9px 23px !important;
}
.color{
  color: #2d64d2;
}
.textFieldd{
    text-transform: capitalize;
}
.dialogSize
{
  min-width: calc(100% + 300px);
}
