<div class="row mb-3" >
  <div class="col-sm-12 text-right">
    <mat-icon (click)="onNoClick()" style="cursor: pointer">cancel</mat-icon>
  </div>
</div>
<div class="row " id="life-list" fxLayoutAlign="center start">
  <div class="col-sm-12">
    <div fxLayout="column">
      <div class="col-md-12">
        <table class="table health-table">
          <thead>
          <tr>
            <th >Endowment Policies</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Entry Age(Min/Max)</td>
            <td></td>
          </tr>
          <tr>
            <td>Maturity Age(Min/Max)</td>
            <td></td>
          </tr>
          <tr>
            <td>Policy Term</td>
            <td></td>
          </tr>
          <tr>
            <td>Premium Paying Term</td>
            <td></td>
          </tr>
          <tr>
            <td>Minimum Sum Assured</td>
            <td></td>
          </tr>
          <tr>
            <td>Maximum Sum Assured</td>
            <td></td>
          </tr>
          <tr>
            <td>Policy Paying Mode</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><button type="button" class="btn pink-color">Call Back</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>