<div class="text-right">
    <i class="material-icons" style="cursor: pointer" (click)="onNoClick()">close</i>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <form [formGroup]="form" (ngSubmit)="editQuestions()">
        <mat-form-field class="w-100">
            <input matInput placeholder="Questions" formControlName="questions" >
            <mat-error *ngIf="form.controls.questions.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Enter Answer1" formControlName="optionA" >
            <mat-error *ngIf="form.controls.optionA.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Enter Answer2" formControlName="optionB" >
            <mat-error *ngIf="form.controls.optionB.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Enter Answer3" formControlName="optionC" >
            <mat-error *ngIf="form.controls.optionC.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Enter Answer4" formControlName="optionD" >
            <mat-error *ngIf="form.controls.optionD.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Enter Answer5" formControlName="optionE" >
            <mat-error *ngIf="form.controls.optionE.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Enter True Answer" formControlName="correctanswer" >
            <mat-error *ngIf="form.controls.correctanswer.errors?.required">Questions is required</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-select placeholder="Active" formControlName="status"  name="status">
                <mat-option *ngFor="let list of Status" [value]="list.value">{{list.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.status.errors?.required">status is required</mat-error>
        </mat-form-field>
        <div class="text-center">
            <button mat-raised-button color="primary"  type="submit">Update</button>
        </div>
    </form>
</div>