<div class="container-fluid">
  <div class="row proposal">
    <div class="col-md-12">
      <mat-horizontal-stepper  #stepper>
        <mat-step [stepControl]="personal">
          <ng-template matStepLabel>PROPOSER DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <form [formGroup]="personal" >
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Group A
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row mt-3">
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">PROPOSER DETAILS</h6>
                    <div class="row">
                      <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="Title" formControlName="personalTitle" (change)="changeGender()" required>
                                <mat-option value="MR">Mr</mat-option>
                                <mat-option value="MS">Ms</mat-option>
                            </mat-select>
                            <mat-error *ngIf="personal.controls.personalTitle.errors?.required">Title is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="personalFirstname"  (keypress)="typeValidate($event)"  autocomplete="off" required >
                            <mat-error *ngIf="personal.controls.personalFirstname.errors?.required">Firstname is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="personalLastname"  (keypress)="typeValidate($event)"   autocomplete="off" required >
                          <mat-error *ngIf="personal.controls.personalLastname.errors?.required">Last Name is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Gender" formControlName="personalGender" required readonly>
                        <mat-error *ngIf="personal.controls.personalGender.errors?.required">Gender is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="personalDob" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" (keypress)="dobkeyPress($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="personal.controls.personalDob.errors?.required">DOB is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="RelationShip With Insured"  formControlName="personalrelationship"  (change)="setRelationship()" required>
                            <mat-option *ngFor="let occupation of relationshipList" [value]="occupation.relation">{{occupation.relation_value}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Annual Income" (keypress)="onNumber($event)"  formControlName="personalAnualIncome"  autocomplete="off" required>
                          </mat-form-field>
                      </div>
                      <div class="col-md-6" >
                          <mat-form-field class="w-100" >
                        <mat-select placeholder="OCCUPATION" name="occupation" formControlName="personalOccupationCode" (change)="setpersonalOccupationListCode()" required>
                          <mat-option *ngFor="let occupation of occupationCode" [value]="occupation.occupation_code">{{occupation.occupation_description}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                        <div class="col-md-6" >
                            <mat-form-field class="w-100">
                            <mat-select placeholder="OCCUPATION LIST" name="occupation" formControlName="personalDescriptionCode" (change)="setpersonalDescriptionListCode()" required>
                                <mat-option *ngFor="let occupation of occupationdescriptionList" value="{{occupation.occupation_class}}">{{occupation.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="occupationDescription">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Description"    formControlName="personalDescription"  autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="occupationClass">
                            <mat-form-field class="w-100" >
                                <mat-select placeholder="OCCUPATION DESCRPTION" name="occupation" formControlName="personalClassDescriptionCode">
                                    <mat-option *ngFor="let classOccupation of personalClassDescription"  value="{{classOccupation.occupation_class_description}}">{{classOccupation.occ_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                      <div class="col-md-6">
                          <mat-form-field class="w-100">
                        <input matInput placeholder="PAN Number" class="text-uppercase" (keypress)="keyEvent($event)" minlength="10"  maxlength="10" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" formControlName="personalPan"  autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalPan.errors?.required">Pan is required</mat-error>
                        <mat-error *ngIf="personal.controls.personalPan.hasError('minlength')">PAN Number isn't long enough, minimum of 10 characters</mat-error>
                        <mat-error *ngIf="personal.controls.personalPan.hasError('pattern')"> Enter Valid PAN Number </mat-error>

                      </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Pass Port" (keypress)="keyEvent($event)"   formControlName="personalPassPort" minlength="8"  maxlength="8" pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$" autocomplete="off">
                        <mat-error *ngIf="personal.controls.personalPassPort.hasError('pattern')"> Enter Valid PassPort </mat-error>

                      </mat-form-field></div>

                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID"   formControlName="personalEmail"  autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalEmail.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="personal.controls.personalEmail.hasError('pattern')">Please Enter Correct Format</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="OfficalEmail ID"   formControlName="personalEmail2"  autocomplete="off" >
                        <!--<mat-error *ngIf="personal.controls.personalEmail2.errors?.required">Email ID is required</mat-error>-->
                        <mat-error *ngIf="personal.controls.personalEmail2.hasError('pattern')">Please Enter Correct Format</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Mobile Number"  (keypress)="onNumber($event)"   maxlength="10" formControlName="personalMobile" autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalMobile.errors?.required">Mobile Number is required</mat-error>
                        <mat-error *ngIf="personal.controls.personalMobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Residential Number"   formControlName="personalAltnumber" (keyup)="alternateChange($event, 'personal')" (keypress)="onAlternative($event)" autocomplete="off">


                      </mat-form-field>
                        <div class="error" *ngIf="mobileNumber != '' && mobileNumber != 'true'">{{mobileNumber}}</div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green"> PROPOSER COMMUNICATION ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="personalAddress" autocomplete="off" required></textarea>
                          <mat-error *ngIf="personal.controls.personalAddress.errors?.required">Address is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="personalAddress2" autocomplete="off"></textarea>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="onNumber($event)" minlength="6"   maxlength="6" (input)="getPostal($event.target.value, 'personal')" formControlName="personalPincode" autocomplete="off" required>
                        <mat-error *ngIf="personal.controls.personalPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="personal.controls.personalPincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="personal.controls.personalPincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100" >
                        <mat-select placeholder="City" formControlName="personalCity" autocomplete="off" required>
                          <mat-option *ngFor="let city of personalCitys" [value]= 'city.city'>
                            {{city.city}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.personalCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="personalState" autocomplete="off" required readonly>
                        <mat-error *ngIf="personal.controls.personalState.errors?.required">State is required</mat-error>

                      </mat-form-field></div>

                    </div>
                  </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">PROPOSER RESIDENCE ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12"><mat-checkbox formControlName="sameAsProposer" (change)="sameAddress($event)" [disabled]="isDisable"><strong>Same as Communication Address</strong></mat-checkbox></div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="residenceAddress" required autocomplete="off" [readonly]="inputReadonly"></textarea>
                          <mat-error *ngIf="personal.controls.residenceAddress.errors?.required">Address is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="residenceAddress2" autocomplete="off" [readonly]="inputReadonly"></textarea>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="onNumber($event)" minlength="6" [readonly]="inputReadonly"    maxlength="6" (input)="getPostal($event.target.value, 'residence')" formControlName="residencePincode"autocomplete="off"  required>
                        <mat-error *ngIf="personal.controls.residencePincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="personal.controls.residencePincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="personal.controls.residencePincode.hasError('pattern')">Enter Valid  Pin</mat-error>


                      </mat-form-field></div>
                      <div class="col-md-6" *ngIf="sameField != true"><mat-form-field class="w-100">
                        <mat-select placeholder="City" formControlName="residenceCity" autocomplete="off"  required>
                          <mat-option *ngFor="let citys of residenceCitys" [value]= 'citys.city'>
                            {{citys.city}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="personal.controls.residenceCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-6" *ngIf="sameField"><mat-form-field class="w-100" >
                        <input matInput placeholder="City" formControlName="residenceCity" autocomplete="off" required [readonly]="inputReadonly">
                        <mat-error *ngIf="personal.controls.residenceCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="residenceState" autocomplete="off" required readonly>
                      </mat-form-field></div>


                    </div>
                  </div>

                  <div class="proposal-buttom mt-3 text-right w-100">
                    <button mat-raised-button color="primary"  (click)="personalDetails(stepper, personal.value)" >Next</button>
                  </div>

               </div>
              </mat-expansion-panel>
            </form>

          </mat-accordion>

        </mat-step>
        <mat-step [stepControl]="">

          <ng-template matStepLabel >INSURED DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <form [formGroup]="insured" >
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Group A
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row mt-3">
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">INSURED DETAILS</h6>
                    <div class="row">
                      <div class="col-md-12 mb-3"><mat-checkbox formControlName="sameAsinsureProposer" (change)="sameProposer($event)"><strong>Same as proposer</strong></mat-checkbox></div>
                      <div class="col-md-2">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="insuredTitle" (change)="insurechangeGender()" readonly="readonlyproposer">
                            <mat-option value="MR">Mr</mat-option>
                            <mat-option value="MS">Ms</mat-option>
                            <!--<mat-option value="MRS">Mrs</mat-option>-->
                          </mat-select>
                          <mat-error *ngIf="insured.controls.insuredTitle.errors?.required">Title is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="insuredFirstname"  (keypress)="typeValidate($event)"  autocomplete="off" readonly="readonlyproposer" required >
                          <mat-error *ngIf="insured.controls.insuredFirstname.errors?.required">First Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="insuredLastname"  (keypress)="typeValidate($event)"  readonly="readonlyproposer"  autocomplete="off" required >
                          <mat-error *ngIf="insured.controls.insuredLastname.errors?.required">Last Name is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Gender" formControlName="insuredGender" required readonly>
                        <mat-error *ngIf="insured.controls.insuredGender.errors?.required">Gender is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker1" [max]="today" placeholder="DOB (DD/MM/YYYY)" readonly="readonlyproposer"   formControlName="insuredDob" (dateInput)="addEvent( $event)" (dateChange)="addEvent( $event)" (keypress)="dobkeyPress($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                          <mat-error *ngIf="insured.controls.insuredDob.errors?.required">DOB is required</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Annual Income" (keypress)="onNumber($event)" formControlName="insuredAnnualIncome" readonly="readonlyproposer"  autocomplete="off">

                      </mat-form-field></div>
                        <div class="col-md-6" >
                            <mat-form-field class="w-100" >
                                <mat-select placeholder="OCCUPATION" name="occupation" formControlName="insuredOccupationCode" (change)="setinsureOccupationListCode()" readonly="readonlyproposer"  required>
                                    <mat-option *ngFor="let occupation of occupationCode" [value]="occupation.occupation_code">{{occupation.occupation_description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" >
                            <mat-form-field class="w-100">
                                <mat-select placeholder="OCCUPATION LIST" name="occupation" formControlName="insuredDescriptionCode" (change)="setinsureDescriptionListCode()">
                                    <mat-option *ngFor="let occupation of insureoccupationdescriptionList" [value]="occupation.occupation_class">{{occupation.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="insureoccupationDescription">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Description"  formControlName="insuredDescription"  autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="insureoccupationClass">
                            <mat-form-field class="w-100" >
                                <mat-select placeholder="OCCUPATION DESCRPTION" name="occupation" formControlName="insuredClassDescriptionCode" (change)="setpersonalDescriptionListCode()">
                                    <mat-option *ngFor="let classOccupation of personalClassDescription"  [value]="classOccupation.occupation_class_description">{{classOccupation.occ_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PAN Number" class="text-uppercase" (keypress)="keyEvent($event)" minlength="10"  maxlength="10" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" formControlName="insuredPan"  autocomplete="off" readonly="readonlyproposer"  required>
                        <mat-error *ngIf="insured.controls.insuredPan.errors?.required">Pan is required</mat-error>
                        <mat-error *ngIf="insured.controls.insuredPan.hasError('minlength')">PAN Number isn't long enough, minimum of 10 characters</mat-error>
                        <mat-error *ngIf="insured.controls.insuredPan.hasError('pattern')"> Enter Valid PAN Number </mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Pass Port" (keypress)="keyEvent($event)"   formControlName="insuredPassPort"  minlength="8"  maxlength="8" pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$" readonly="readonlyproposer"  autocomplete="off">
                        <mat-error *ngIf="insured.controls.insuredPassPort.hasError('minlength')">Enter PassPort</mat-error>

                      </mat-form-field></div>


                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID"   formControlName="insuredEmail"  autocomplete="off" readonly="readonlyproposer"  required>
                        <mat-error *ngIf="insured.controls.insuredEmail.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="insured.controls.insuredEmail.hasError('pattern')">Please Enter Correct Format</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Offical Email ID"   formControlName="insuredEmail2" readonly="readonlyproposer"   autocomplete="off">
                        <mat-error *ngIf="insured.controls.insuredEmail2.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="insured.controls.insuredEmail2.hasError('pattern')">Please Enter Correct Format</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Mobile Number"  (keypress)="onNumber($event)" readonly="readonlyproposer"   maxlength="10" formControlName="insuredMobile" autocomplete="off" required>
                        <mat-error *ngIf="insured.controls.insuredMobile.errors?.required">Mobile Number is required</mat-error>
                        <mat-error *ngIf="insured.controls.insuredMobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>

                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="Residential Number" readonly="readonlyproposer"  formControlName="insuredAltnumber" (keyup)="alternateChange($event, 'insurer')" (keypress)="onAlternative($event)" autocomplete="off">

                      </mat-form-field>
                        <div class="error" *ngIf="insuremobileNumber != '' && insuremobileNumber != 'true'">{{insuremobileNumber}}</div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green"> INSURE COMMUNICATION ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="insuredAddress" autocomplete="off" readonly="readonlyproposer"  required></textarea>
                          <mat-error *ngIf="insured.controls.insuredAddress.errors?.required">Address is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="insuredAddress2" readonly="readonlyproposer" autocomplete="off"></textarea>

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="onNumber($event)" minlength="6"   maxlength="6" (input)=" getInsurePostal($event.target.value, 'personal')" formControlName="insuredPincode" autocomplete="off" readonly="readonlyproposer" required>
                        <mat-error *ngIf="insured.controls.insuredPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="insured.controls.insuredPincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="insured.controls.insuredPincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6" *ngIf="sameFieldsInsure != true"><mat-form-field class="w-100" >
                        <mat-select placeholder="City" formControlName="insuredCity" autocomplete="off" readonly="readonlyproposer"  required>
                          <mat-option *ngFor="let city of insurepersonalCitys" [value]= 'city.city'>
                            {{city.city}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="insured.controls.insuredCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6" *ngIf="sameFieldsInsure"><mat-form-field class="w-100" >
                        <input matInput placeholder="City" formControlName="insuredCity" autocomplete="off" required readonly="readonlyproposer" >
                        <mat-error *ngIf="insured.controls.insuredCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>


                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="insuredState" autocomplete="off" required  readonly>
                        <mat-error *ngIf="insured.controls.insuredState.errors?.required">State is required</mat-error>

                      </mat-form-field></div>

                    </div>
                  </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-green">INSURE RESIDENCE ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12"><mat-checkbox formControlName="sameasInsuredAddress" (change)="insuredsameAddress($event)" [disabled]="isDisable"><strong>Same as Communication Address</strong></mat-checkbox></div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 1" rows="2" formControlName="insuredrAddress" required autocomplete="off" readonly="readonlyproposer" ></textarea>
                          <mat-error *ngIf="insured.controls.insuredrAddress.errors?.required">Address is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Address 2" rows="2" formControlName="insuredrAddress2" autocomplete="off" readonly="readonlyproposer" ></textarea>
                          <!--<mat-error *ngIf="insured.controls.insuredrAddress2.errors?.required">Address2 is required</mat-error>-->

                        </mat-form-field>
                      </div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="onNumber($event)" minlength="6"  readonly="readonlyproposer"   maxlength="6" (input)=" getInsurePostal($event.target.value, 'residence')" formControlName="insuredrPincode"autocomplete="off"  required>
                        <mat-error *ngIf="insured.controls.insuredrPincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="insured.controls.insuredrPincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="insured.controls.insuredrPincode.hasError('pattern')">Enter Valid  Pin</mat-error>


                      </mat-form-field></div>
                      <div class="col-md-6" *ngIf="sameinsure != true"><mat-form-field class="w-100">
                        <mat-select placeholder="City" formControlName="insuredrCity" autocomplete="off" readonly="readonlyproposer"  required>
                          <mat-option *ngFor="let citys of insuredresidenceCitys" [value]= 'citys.city'>
                            {{citys.city}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="insured.controls.insuredrCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-6" *ngIf="sameinsure"><mat-form-field class="w-100" >
                        <input matInput placeholder="City" formControlName="insuredrCity" autocomplete="off" readonly="readonlyproposer" required>
                        <mat-error *ngIf="insured.controls.insuredrCity.errors?.required">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-6"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="insuredrState" autocomplete="off" readonly="readonlyproposer"  required>
                        <mat-error *ngIf="insured.controls.insuredrState.errors?.required">State is required</mat-error>

                      </mat-form-field></div>


                    </div>

                  </div>
                  <div class="proposal-buttom mt-3 text-right w-100">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary"  (click)="InsureDetails(stepper,insured.value)">Next</button>
                  </div>
                </div>

              </mat-expansion-panel>
            </form>

          </mat-accordion>
        </mat-step>

          <mat-step [stepControl]="">
              <ng-template matStepLabel>SECURE DETAILS</ng-template>
              <mat-accordion class="mt-4 w-100 float-left ">
                  <mat-expansion-panel expanded>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              {{groupName}}
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-template matStepLabel>SECURE DETAILS</ng-template>
                      <div class="row mt-3">
                          <div class="col-md-12 box-card pt-3 pb-3" >
                              <h6 class="color-green mb-3" >SECURE DETAILS </h6>

                              <mat-accordion class="question-panel">
                                  <mat-expansion-panel [expanded]="true">

                                      <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            Questions
                                          </mat-panel-title>
                                      </mat-expansion-panel-header>

                                      <div *ngFor="let item of personalAccidentQuestionsList; let i = index">
                                          <mat-checkbox [(ngModel)]="item.checked" >{{item.question}}</mat-checkbox>
                                      </div>



                                  </mat-expansion-panel>
                              </mat-accordion>
                              <div class="proposal-buttom mt-3 text-right w-100">
                                  <button mat-button matStepperPrevious >Back</button>
                                  <button mat-raised-button color="primary" (click)="medicalHistoryDetails(stepper)">Next</button>
                              </div>

                          </div>

                      </div>
                  </mat-expansion-panel>
              </mat-accordion>

          </mat-step>

        <mat-step [stepControl]="">
          <ng-template matStepLabel>NOMINEE DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{groupName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matStepLabel>INSURED DETAILS</ng-template>
              <div class="row mt-3">
                <div class="col-md-12 box-card pt-3 pb-3" >
                  <h6 class="color-green mb-3" >NOMINEE DETAILS </h6>
                  <form [formGroup]="nomineeDetails">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Name of Nominee"  formControlName="religareNomineeName" autocomplete="off" (keypress)="typeValidate($event)" required>
                          <mat-error *ngIf="nomineeDetails.controls.religareNomineeName.errors?.required">Name of Nominee is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Relationship with Proposer" formControlName="religareRelationship" autocomplete="off" (keypress)="typeValidate($event)" required>
                        <mat-error *ngIf="nomineeDetails.controls.religareRelationship.errors?.required">Relationship with Proposer is required</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-4">
                        <div class="proposal-buttom mb-3 text-right w-100">
                          <button mat-button matStepperPrevious  (click)="quesback()">Back</button>
                          <button mat-raised-button color="primary"   (click)="religareNomineeDetails(stepper, nomineeDetails.value)">Next</button>
                        </div></div>
                    </div>
                  </form>
                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-step>
        <mat-step [stepControl]="">
          <ng-template matStepLabel>SUMMARAY</ng-template>
          <section class="summary-details" *ngIf="summaryData">
            <div class="row">
              <div class="col-md-4"> <h4>{{summaryData.group_name}} <span style="font-size: 17px; color: #666;">Sum Insured: &nbsp;<i class="fas fa-rupee-sign"></i> {{getBuyDetails.suminsured_amount}}</span></h4></div>
              <div class="col-md-8">
                <ul class="summary-head">
                  <li><span>Insurer:</span> &nbsp;<img src="{{webhost + '/' + getBuyDetails.company_logo}}" class="img-thumbnail" style="width: 125px;" /> </li>
                  <li><span>Premium:</span> &nbsp; <span><i class="fas fa-rupee-sign"></i> {{summaryData.premium}}</span> /</li>
                  <li><span>Total Premium:</span> &nbsp;<span><i class="fas fa-rupee-sign"></i> {{summaryData.premium}}</span> </li>
                  <li></li>
                </ul>
              </div>
            </div>
            <section>
              <h5 class="mt-3 sub-title">PROPOSER DETAILS </h5>
              <div class="row box-card">
                <div class="col-md-12">
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Name:</strong> {{summaryData.proposer_details.p_fname}} {{summaryData.proposer_details.p_lname}} </li>
                      <li class="list-group-item"><strong>D.O.B:</strong>  {{summaryData.proposer_details.p_dob}}</li>
                      <li class="list-group-item"><strong>Personal Email Id:</strong>  {{summaryData.proposer_details.p_per_email}}</li>
                      <li class="list-group-item"><strong>Offical Email Id:</strong>  {{summaryData.proposer_details.p_off_email}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>PassPort Number:</strong>{{summaryData.proposer_details.p_pass_idnum}}</li>
                      <li class="list-group-item"><strong>PAN Number:</strong> {{summaryData.proposer_details.p_pan_idnum}}</li>
                      <li class="list-group-item"><strong>Annual Income:</strong>{{summaryData.proposer_details.p_annual_salary}} </li>
                      <li class="list-group-item"><strong>Mobile Number:</strong>{{summaryData.proposer_details.p_mob_contactnum}} </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <h6>COMMUNICATION DETAILS</h6>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Address 1:</strong>{{summaryData.proposer_details.p_address1_p}}</li>
                      <li class="list-group-item"><strong>Address 2:</strong>{{summaryData.proposer_details.p_address2_p}}</li>
                      <li class="list-group-item"><strong>PIN code:</strong> {{summaryData.proposer_details.p_pincode_p}}</li>
                      <li class="list-group-item"><strong>City:</strong>{{summaryData.proposer_details.p_citycd_p}}</li>
                      <li class="list-group-item"><strong>State:</strong>{{summaryData.proposer_details.p_statecd_p}}</li>


                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class=" p-3">
                    <h6>RESIDENCE DETAILS</h6>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Address 1:</strong>{{summaryData.proposer_details.p_address1_c}} </li>
                      <li class="list-group-item"><strong>Address 2:</strong>{{summaryData.proposer_details.p_address2_c}} </li>
                      <li class="list-group-item"><strong>PIN code:</strong>{{summaryData.proposer_details.p_pincode_c}} </li>
                      <li class="list-group-item"><strong>City:</strong> {{summaryData.proposer_details.p_citycd_c}}</li>
                      <li class="list-group-item"><strong>State:</strong>{{summaryData.proposer_details.p_statecd_c}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h5 class="mt-3 sub-title">INSURE DETAILS </h5>
              <div class="row box-card">
                <div class="col-md-12">
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Name:</strong> {{summaryData.proposer_insurer_details.i_fname}} {{summaryData.proposer_insurer_details.i_lname}} </li>
                      <li class="list-group-item"><strong>D.O.B:</strong>  {{summaryData.proposer_insurer_details.i_dob}}</li>
                      <li class="list-group-item"><strong>Personal Email Id:</strong>  {{summaryData.proposer_insurer_details.i_per_email}}</li>
                      <li class="list-group-item"><strong>Offical Email Id:</strong>  {{summaryData.proposer_insurer_details.i_off_email}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>PassPort Number:</strong>{{summaryData.proposer_insurer_details.i_pass_idnum}}</li>
                      <li class="list-group-item"><strong>PAN Number:</strong> {{summaryData.proposer_insurer_details.i_pan_idnum}}</li>
                      <li class="list-group-item"><strong>Annual Income:</strong>{{summaryData.proposer_insurer_details.i_annual_salary}} </li>
                      <li class="list-group-item"><strong>Mobile Number:</strong>{{summaryData.proposer_insurer_details.i_mob_contactnum}} </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <h6>COMMUNICATION DETAILS</h6>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Address 1:</strong>{{summaryData.proposer_insurer_details.i_address1_p}}</li>
                      <li class="list-group-item"><strong>Address 2:</strong>{{summaryData.proposer_insurer_details.i_address2_c}}</li>
                      <li class="list-group-item"><strong>PIN code:</strong> {{summaryData.proposer_insurer_details.i_pincode_c}}</li>
                      <li class="list-group-item"><strong>City:</strong>{{summaryData.proposer_insurer_details.i_citycd_c}}</li>
                      <li class="list-group-item"><strong>State:</strong>{{summaryData.proposer_insurer_details.i_statecd_c}}</li>


                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class=" p-3">
                    <h6>RESIDENCE DETAILS</h6>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Address 1:</strong>{{summaryData.proposer_insurer_details.i_address1_c}} </li>
                      <li class="list-group-item"><strong>Address 2:</strong>{{summaryData.proposer_insurer_details.i_address2_c}} </li>
                      <li class="list-group-item"><strong>PIN code:</strong>{{summaryData.proposer_insurer_details.i_pincode_c}} </li>
                      <li class="list-group-item"><strong>City:</strong> {{summaryData.proposer_insurer_details.i_citycd_c}}</li>
                      <li class="list-group-item"><strong>State:</strong>{{summaryData.proposer_insurer_details.i_statecd_c}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>

            <h5 class="mt-3 sub-title">NOMINEE DETAILS </h5>
            <div class="row box-card">
              <div class="col-md-6">
                <div class="p-3">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="m-0 list-group">
                        <li class="list-group-item"><strong>Nominee name:</strong> {{summaryData.proposer_details.nominee_name}}</li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-3">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="m-0 list-group">
                        <li class="list-group-item"><strong>Relationship with Proposer:</strong> {{summaryData.proposer_details.nominee_relationship}}</li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>


            </div>
            <p class="mt-2 pl-3"><mat-checkbox [(ngModel)]="declaration">I hereby declare all  the  details provided above is correct</mat-checkbox></p>
            <hr>
            <div class="row">
              <div class="col-md-12 text-center">
                <form action={{summaryData.action}}  method='post' #form>

                  <div>
                    <input type='hidden' name='proposalNum' value={{summaryData.proposalNum}}/>
                    <input type='hidden' name='returnURL' value={{summaryData.returnURL}}/>
                  </div>
                  <button mat-raised-button color="primary" [disabled]="!declaration" (click)="form.submit()">Pay Now</button>
                </form>

              </div>
            </div>
          </section>

          <div class="proposal-buttom mt-3 text-right w-100">
            <button mat-button matStepperPrevious  >Back</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>
</div>
