@import url("https://fonts.googleapis.com/css?family=Righteous");
* {
  outline: none !important; }

a {
  color: #d72127; }

a:hover {
  text-decoration: none;
  color: #d72127; }

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #d72127; }

.mat-radio-label-content {
  margin-right: 15px; }

form .mat-icon {
  color: #8a8a8a; }

.dashbord-icon mat-card {
  cursor: pointer; }

.mt-login mat-card {
  position: absolute;
  left: 0;
  top: 5px;
  right: 0;
  width: 450px;
  margin: 4em auto 70px; }

.bg-map {
  background: url("./assets/img/map.png");
  background-color: #d72127 !important;
  width: 100%;
  background-size: contain;
  overflow: visible;
  padding: 11em 0;
  height: auto; }

.mt-login .login-logo {
  padding-bottom: 20px;
  width: 290px; }

.login-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px; }
  .login-options a {
    color: #d72127; }
  .login-options div span {
    font-size: 12px; }

.dashbord-icon {
  margin-top: -8vh; }

.dashbord-bg {
  background: url("./assets/img/patient-slider.png");
  background-color: #d72127 !important;
  width: 100%;
  background-size: cover;
  overflow: visible;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .dashbord-bg h1 {
    font-family: 'Righteous', cursive; }

.dashbord-icon .mat-card {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px; }
  .dashbord-icon .mat-card img {
    margin-bottom: 10px !important;
    width: 80px; }

.sidenav-header {
  background: #efefef !important; }
  .sidenav-header img {
    width: 225px; }

.options-icon {
  display: none !important; }

.breadcrumb-item mat-icon {
  margin-right: 10px; }

.mt-profile mat-radio-button {
  margin-top: 15px; }
.mt-profile .pic-upload {
  position: relative;
  overflow: hidden; }
  .mt-profile .pic-upload input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0; }

.mt-viwe-profile .user-name {
  font-size: 16px;
  margin-bottom: 0; }
.mt-viwe-profile .user-content .user-details .mat-icon {
  padding: 0 !important;
  margin-right: 10px; }
.mt-viwe-profile .bg-primary {
  background-color: #b3b3b3 !important; }
.mt-viwe-profile p, .mt-viwe-profile label {
  margin: 0; }

.mt-signup mat-card {
  width: 768px; }
.mt-signup .tandm a {
  color: #d72127; }

.contact-us li {
  display: flex; }
.contact-us li strong {
  margin-right: 10px; }
.contact-us li i {
  color: #666; }
.contact-us .bg-primary {
  background: #b3b3b3 !important; }

.about-us .bg-primary {
  background: #b3b3b3 !important; }

.error-400 .bg-primary {
  background-color: #388e3c !important; }

.my-doctor-icon [data-prefix="fas"] {
  font-size: 18px;
  color: #757575;
  width: 35px !important; }

/*Break Point*/
@media (max-width: 768px) {
  .mt-signup, .mt-login {
    width: 100%; }

  .login-options {
    flex-direction: column; } }

/*# sourceMappingURL=custom.css.map */
