button:focus{
  outline: none;
}

.dashboard{
  .mat-card{
    background: rgba(243, 240, 240, 0.87) !important;
  }
  mat-card.mat-radius{
    border-radius: 50px;
  }
  .mat-card-header-text{
    display: none;
  }
}
.secondary-bg-color{
  background-color: rgba(0,0,0,.12) !important;
}