@import url('https://fonts.googleapis.com/css?family=Parisienne');
$theme-color:#02810E;
$green-color:#18CCB4;
$pink-color:#d81b60;
$light-green:#2FE827;
*{
  outline: none;
}
button:focus{
  outline: none;
}
.color-green{
  color: $green-color !important;
}
.color-pink{
  color:$pink-color;
}
.bg-pink{
  color:$pink-color;
}
.user-menu .user-info {
  width: 130px !important;
}
.color-blue {
  color :#2d64d2;
}
.matIclass{
  font-size: 14px;
}

.dashboard{
  .mat-card{
    background: rgba(243, 240, 240, 0.87) !important;
  }
  mat-card.mat-radius{
    border-radius: 50px;
  }
  .mat-card-header-text{
    display: none;
  }
  .son{
    background: #fff;
    padding:15px;
    border-radius: 5px;
    button{
      line-height: 28px;
      font-size: 10px;
      padding: 0 10px;
      i{
        font-size: 18px;
      }
    }
  }
  .accentDaughter{
    background-color: #306eca !important;

  }
  .ngError{
    color: red;
    font-size: 11px;
    margin-top: -16px;
  }
}
.sidenav-header{
  border-bottom: 1px solid #ccc;
}
.sidenav{
  width: 300px !important;
}

.dashboard1{
  width: 30em;
  .mat-card{
    background: #ECFFF0 !important;
  }
  .mat-card-header-text{
    display: none;
    color: #13805A;
  }
}

//pos page designs
.pos_login{

  width: 30em;

  //forget link colors
  a.forget:visited{color: $light-green;}
  a.forget:link{color: $light-green;}
  a.forget:active{color: $light-green;}
  a.forget:hover{color: #939AF6;}

  .forget{
    cursor: pointer;
  }

  //login link colors
  a.sign:active{color: #BBBBBE;}
  a.sign:visited{color: #BBBBBE;}
  a.sign:link{color: #BBBBBE;}
  a.sign:hover{color: #939AF6;}

  mat-form-field{
    background-color: #FFFFFF;
    padding: 10px;
    width:100%;
  }
  mat-card{
    background: #3C463A !important;
  }
  mat-icon{
    color: $light-green;
  }
  .white-color{
    color: #FFFFFF;
  }
  input{
    background-color: #FFFFFF;
    height: 25px;
  }
  button{
    margin-top: 5px;
    background-color: $light-green !important;
    color: #FFFFFF !important;
  }

  .sign{
    margin-top: 18px;
    color: #BBBBBE;
    text-align: center;
  }

  mat-form-field{
    color: $theme-color;
  }
}


training_page{
  h1{
    color:green;
    text-align: center;
  }
  h2{
    text-align: center;
  }
  h3{
    color:blue;
  }
  table, td, th {
    border: 1px solid black;
    padding: 10px;
  }
  th{
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  a {
    text-decoration: none !important;
  }
  .no{
    text-align: center;
  }
}

//register page design
.register_page{
  //.gender{
  // color: #767B78;
  //}
  //width:auto;
  color: #FFFFFF;
  flex-direction: column;

  //.mat-tab-body-content{
  //  overflow: hidden;
  //}

  .mat-tab-label {
    background-color: #D6FFCE;
    justify-content: start;
  }
  .mat-tab-label-active{
    background: #AEFF9E !important;
    color: $theme-color !important;
  }
  .mat-tab-labels{
    background: #D6FFCE !important;
  }
  mat-card{
    background: #3C463A !important;
    color:white !important;
  }
  mat-icon,i{
    font-size: 18px !important;
    color: $light-green;
  }
  .mat-ink-bar{
    display: none;
  }
  .mat-tab-header{
    border: none !important
  }
  .mat-tab-body-wrapper{
    padding: 0 16px;
  }
  mat-form-field{
    background-color: #FFFFFF;
    padding: 10px  20px;
    width:100%;
    color: black;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  .btncolor {
    background-color: $light-green !important;
    color: #FFFFFF !important;
  }

  button{
    margin-buttom: 5px;
    background-color: $light-green !important;
    color: #FFFFFF !important;
    margin: -10px 0px 17px 0px;
  }
  .mat-tab-header-pagination{
    background: #fff;
  }
  .mat-tab-body.mat-tab-body-active{
    margin-top: 15px;
  }


  .mat-radio-outer-circle{
    border-left-color: $light-green !important;
    border-right-color: $light-green !important;
    border-top-color: $light-green !important;
    border-bottom-color: $light-green !important;

  }
  .mat-radio-inner-circle {
    background-color: $light-green !important;
  }
}
.custom-file-label{
  border-radius: 0 !important;
  border: 1px solid #a7a7a7;
}
.custom-file-label::after {
  content: "Attach File" !important;
  background-color: #00695c;
  color: white;
  border: none;
  border-radius: 0;
}

.secondary-bg-color{
  background-color: rgba(0,0,0,.12) !important;
}
a:hover {
  color: $theme-color;
  text-decoration: none;
}
.dashbord-icon mat-card{
  cursor: pointer;
}

.mt-login mat-card{
  position: absolute;
  left: 0;
  top: 5px;
  right: 0;
  width: 460px;
  margin: 4em auto 70px;
}
.mt-registration {
  .mat-tab-header-pagination {
    background: #ffe8c6 !important;
    display: none !important;
  }
  .mat-tab-label{
    pointer-events: none!important;
    display: none;
    width: 100%;
  }
  .mat-tab-label-active{
    display: block;
    font-size: 17px;
    padding-top: 10px;
    border-radius: 6px 6px 0 0;
  }

  mat-tab-header{
    margin-bottom: 15px;
  }
  mat-card {
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
    width: 600px;
    margin: 4em auto 70px;
    .mat-tab-body.mat-tab-body-active {
      overflow-y: hidden !important;
    }
    .mat-tab-body-content {
      overflow: hidden;
    }
  }
}
//.app.teal-light .mat-raised-button, .app.teal-light .mat-fab, .app.teal-light .mat-mini-fab {
//  color: rgba(0, 0, 0, 0.87);
//  background-color: #ec9e6f!important;
//}

.bg-map{
  background: url("./assets/img/loginbg.jpg");
  background-color: $theme-color !important;
  width: 100%;
  background-size: cover;
  overflow: visible;
  padding: 11em 0;
  height: 100%;
}
.mt-login .login-logo {
  padding-bottom: 20px;
  width: 290px;
}
.login-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px;
  a{
    color:$theme-color;
  }
  div span{
    font-size: 12px;
  }
}
.closeRelation {
  position: absolute;
  top: 12px;
  right: 11px;
  cursor: pointer;
}
.social-icons {
  border-left: 1px solid #ccc;
  padding: 0 0 0 10px;
  border-right: 1px solid #ccc;
  text-align: center;
  i{
    font-size: 15px;
    margin-right: 10px;
    background: #3B5998;
    padding: 7px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
  }

  a:first-child i{
    background: #3B5998;
  }
  a:nth-child(2) i{
    background: #00aced;
  }
  a:nth-child(3) i{
    background: #4875B4;
  }
  a:nth-child(4) i{
    background: #FF3333;
  }
  a:nth-child(5) i{
    background: #4E433C;
  }



}
.error {
  color: #ec0505;
  font-size: 11px;
  width: 100%;
}

.home-nav {
  .active{
    font-weight: bold !important;
    color: #00695c !important;

  }
  .nav-link {
    padding: 0 45px !important;
    padding: 0 45px !important;
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
  }
}
.side-nav{
  padding-left:0;
  .nav-item{
    display: flex;
    cursor: pointer;
  }
  p.icon{
    background: #d81b60;
    padding: 39px 3px 5px;
    margin-right: 10px;
    border-bottom: 1px solid #fff;
    img{
      width: 25px;
    }
  }
  h6{
    margin-bottom: 0;

  }
  p{
    margin-bottom: 0;
  }
  .nav-link{
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  ul {
    li:nth-child(1) .icon {
      background: #3EA1F7;
    }
    li:nth-child(2) .icon {
      background: #0CE884;
    }
    li:nth-child(3) .icon {
      background: #0CC3E8;
    }
    li:nth-child(4) .icon {
      background: #F75A9C;
    }
    li:nth-child(5) .icon {
      background: #DE6925;
    }
    li:nth-child(6) .icon {
      background: #993D64;
    }
    li:nth-child(7) .icon {
      background: #18CCB4;
    }
    li:nth-child(8) .icon {
      background: #FF4099;
    }
    li:nth-child(9) .icon {
      background: #9E58B5;
    }
    li:nth-child(10) .icon {
      background: #FFD840;
    }
  }
  .nav-item{
    height: 100px;
  }
}

.app.teal-light .horizontal-menu{
  background: #f5f5f5 !important;
}
.top-nav{
  height: auto !important;
  min-height: auto !important;
}
.breadcrumb .mat-icon{
  height: auto !important;
  width: auto !important;
}
.horizontal-menu-item .horizontal-menu-icon{
  display: none;
}
.options-icon{
  display: none !important;
}
.mat-tab-label-active{
  background-color: #00695c !important;
  color: #cfcfcf!important;
}
#product-list{
  .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus{
    background-color: rgba(24, 204, 180, 0.35);
  }
  .mat-ink-bar{
    display:none !important;
  }
  .mat-tab-label-active{
    background-color: #f29a1d !important;
    color: #fff!important;

  }
  .mat-tab-labels {
    float: right;
    .mat-ripple {
      background-color: $green-color;
      color: #fff;
      opacity: 1;
    }

  }
  .son{
    button{
      line-height: 28px;
      font-size: 10px;
      padding: 0 10px;
    }
  }
  .health-table{
    button{
      font-size: 12px;
      padding: 0 10px;
      line-height: 2;

    }
  }
  .health-table {
    td:nth-child(3){
      text-align: left !important;
    }
    th {
      text-align: center;
    }
    td{
      vertical-align: middle;
      color: rgba(4, 78, 67, 0.87);
      font-size: 13px;
      border: 1px solid #ccc;
      text-align: center;

    }
    .mat-raised-button.mat-primary {
      background-color: $green-color;
    }
    .mat-raised-button.mat-primary1 {
      background-color: #ca8845db;
    }
    .mat-raised-button.mat-accentRemove {
      background-color: #2d8dc5;
      color: #ffff;
    }

    thead th{
      border: none;
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      background: #18ccb4;
      color: #fff;
      font-weight: normal;
      font-size: 12px;
    }

  }
  .mat-tab-label-container{
    margin-bottom: 5px;
  }
  .h-icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #d81b60;
    padding: 6px;
  }
  .product-choose{
    mat-card-header{
      background: #f29a1d;
    }
    h6{
      margin-bottom: 0;
      color: #fff;
    }
    mat-card{
      background: rgba(242, 154, 29, 0.05);
    }
  }
  .mat-tab-labels{
    .mat-tab-label:first-child{
      border-radius: 10px 0 0 0;
    }
    .mat-tab-label:last-child{
      border-radius: 0 10px 0 0;
    }
  }
  .linkClor {
    color: #117ab7;
  }
}
.closeBtnClass {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.content-color, .compare td{
  color: rgba(4, 78, 67, 0.87);
}
.table-success1 {
  background-color: #ebf7fb;
}
.table-warning1 {
  background-color: #e8b7cc;
}

.compare-icon{
  height: 140px;
  img{
    width:150px;

  }
}
.add-disable.mat-raised-button[disabled][disabled]{
  background: #ccc !important;
  cursor: default;
}
.card-group-pop {
  background-color: rgba(255, 255, 255, 0.3) !important;
  height: 265px;
}

.horizontal-menu-item .horizontal-sub-menu{
  background: #0b9444 !important;
  color: #fff;
  width: auto !important;
}
.horizontal-menu-item .horizontal-sub-menu a.mat-button{
  color: #fff !important;
}
.horizontal-menu-item .mat-button {
  height: 40px !important;
}
.app.teal-light .active-link {
  border-radius: 36px !important;
}
.horizontal-menu .inner-sidenav-content{
  padding-top: 7px !important;
}
.btn-bs-file{
  position:relative;
}
.btn-bs-file input[type="file"]{
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width:0;
  height:0;
  outline: none;
  cursor: inherit;
}
.nav-item.active{
  background: #eaeaea;
}
.scrollmenu{
  flex-wrap: nowrap;
}
.proposal{
  .mat-checkbox-layout{
    white-space: pre-wrap;
  }
  .add-nominee{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .add-nominee {
    .mat-raised-button {
      line-height: 30px;
      padding: 0 6px;
      font-size: 11px;
    }
  }
  .question-panel{
    mat-expansion-panel-header{
      background: #ce801d !important;
      mat-panel-title, .mat-expansion-indicator::after{
        color: #fff !important;
      }
    }
    .mat-expansion-panel-body{
      border: 1px solid #ce801d !important;
    }

  }
  //.mat-horizontal-stepper-header{
  //  pointer-events: none !important;
  //}
  mat-expansion-panel-header{
    background: $green-color !important;
    mat-panel-title, .mat-expansion-indicator::after{
      color: #fff !important;
    }
  }
  .mat-expansion-panel-body{
    border: 1px solid $green-color;
  }
  .mat-step-header .mat-step-icon{
    background-color: $pink-color !important;
  }
  .mat-step-label.mat-step-label-active.mat-step-label-selected{
    color: $pink-color !important;

  }
  .box-card{
    background: #f5f5f5;
    border-left: 5px solid #fff;
    margin-bottom: 15px;
    position: relative;
    text-transform: capitalize;
    text-transform: capitalize;
  }
}
.non-editable{
  pointer-events: none;
}
.mat-placeholder-required{
  color: red;
}
.carousel-indicators{
  bottom: -12px;
  li{
    background-color: rgba(0, 105, 92, 0.47);
    height: 16px;
  }
  .active {
    background-color: #00695c;
  }
}
.mat-button-toggle label{
  margin-bottom: 0;
}

.mat-button-toggle-group .cdk-program-focused:first-child{
  background-color:#18ccb4 !important;
  color: #fff !important;
}
.mat-button-toggle-group .cdk-program-focused:last-child{
  background-color: #d81b60 !important;
  color: #fff !important;
}
.mat-button-toggle-group .mat-button-toggle-checked:first-child{
  background-color:#18ccb4 !important;
  color: #fff !important;
}
.mat-button-toggle-group .mat-button-toggle-checked:last-child{
  background-color: #d81b60 !important;
  color: #fff !important;
}
.aadhar{
  background-color: #f1b17a!important;
}
.pan {
  background-color: #88c8e0!important;
}
.edu {
  background-color: #78c795!important;
}
.uploadBtn {
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 0.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}


.summary-details{
  .sub-title{
    font-size: 14px;
  }
  .box-card{
    border: none;
  }
  h6{
    text-align: center;
    color: #18ccb4;
  }
  h5{
    background: #18CCB4;
    color: #fff;
    padding: 8px;
    margin-bottom: 0;
  }
  ul{
    list-style-type: none !important;
  }
  li{
    padding-bottom: 8px;
    margin-right: 10px;

    strong{
      width: 150px;
      float: left;
    }
  }
  .summary-head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    li{
      font-size: 16px;
    }
    span{
      font-weight: bold;
    }
    span:last-child{
      color: #f16d0d;
      font-size: 20px;
    }
  }
}
.mt-viwe-profile {
  .user-name {
    font-size: 15px;
    margin-bottom: 0;
  }
  .user-content .user-details .mat-icon {
    padding: 0 !important;
    margin-right: 10px;
  }
  .bg-primary{
    background-color: #dcdcdc!important;
    height: 40px;
    color:#313131 !important;
  }
  p, label{
    margin: 0;
  }
}
.mat-calendar-body-disabled .mat-calendar-body-cell-content{
  color:#ccc !important;
}
.success-message{
  background: url('./assets/img/funky-lines.png');
  background-repeat: repeat;
  width: 100%;
  padding: 11em 0;
  height: 100%;
  mat-card{
    width: 500px;
    border-radius: 10px;
  }
  img{
    width: 100px;
    margin-bottom: 15px;
  }
  h2{
    color: #0b9444;
  }
  .mat-raised-button.mat-primary{
    background-color: #0b9444 !important;
  }
}
//Home Page
.vizza-home{

  width: 100%;
  float: left;
  .h-product{
    margin-top: 30px;
    figure{
      -webkit-box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
      box-shadow: 0px 0px 10px 0px rgba(153,153,153,1);
      border-radius: 10px;
      padding: 20px;
      min-height: 260px;
      img{
        width: 60px;
        margin-bottom: 12px;
      }
    }
  }
  .h-plans{
    margin-top: 20px;
    text-align: center;
    img{
      width: 100%;
    }
    figcaption{
      font-size: 16px;
      font-weight: bold;
    }
  }
  footer p{
    background: #656464;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
  }
  .h-testimonial{
    background: url('./assets/img/testimonial-Strip.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
.horizontal-menu-item a{
  justify-content: center !important;
}
.horizontal-menu-item .horizontal-sub-menu a{
  justify-content: end !important;

}
#view-details {
  color: #ffffff !important;
  height: calc(100vh - 150px);
  .nav-item.active {
    background-color: rgb(24, 204, 180) !important;
    color: #ffffff;
  }
  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 1px;
    display: block;
  }
  .mat-dialog-content{
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: scroll !important;
  }
  .row{
    margin: 0;
  }

  .mat-list .mat-list-item .mat-list-text>*, .mat-list .mat-list-option .mat-list-text>*, .mat-nav-list .mat-list-item .mat-list-text>*, .mat-nav-list .mat-list-option .mat-list-text>*, .mat-selection-list .mat-list-item .mat-list-text>*, .mat-selection-list .mat-list-option .mat-list-text>* {
    margin: 0;
    padding: 0;
    font-weight: 300 !important;
    font-size: inherit;
    color: #ffffff !important;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
  .mat-tab-list {
    background: #efefef;
    border-radius: 10px 10px 0 0;
  }
  .mat-tab-label-active {
    background-color: #d81b60 !important;
    color: #fff !important;
  }
  .mat-tab-labels .mat-tab-label:first-child{
    border-radius: 10px 0 0 0;
  }
  .example-tab-icon {
    margin-right: 8px;
  }

}
.qesTable{
  td{
    padding:20px 10px;
  }
  .mat-checkbox-layout {
    white-space: nowrap;
  }

}
.question-panel{
  .mat-expansion-panel-header-description{
    text-align: right;
    display: block;
  }
  .mat-expansion-indicator{
    display: none;
  }
  mat-panel-description {
    .mat-checkbox-inner-container {
      background: #fff;
    }
    .mat-checkbox-label{
      color: #fff;
    }
  }
  .mat-slide-toggle{
    .mat-slide-toggle-content{
      color:#fff;
    }
  }

}
.question-view {

  #timer {
    font-size: 22px !important;
  }
  .content-color{
    color: #0b9444;
  }
  p{
    text-align: justify;
  }
}
.app.teal-light .mat-chip.mat-chip-selected.mat-accent {
  background-color: #3dccb1d6 !important;;
  color: white !important;
  width: 130px !important;
  height: 40px !important;

}
.app.teal-light{
  mat-toolbar {
    min-height: 95px !important;

  }
}
.inner-sidenav-content{
  top:105px !important;
}
.pie-grid .percent-label {
  font-size: 16px;
  font-weight: 400;
  display: none !important;
}
.h-testimonial{
  h3{
    background: #00b39b;
    margin-bottom: 0;
    padding: 10px 0;
    color: #fff;
  }
}
.h-faq{
  width: 100%;
  margin-bottom: 50px;
  h1{
    color: #ed1490;
  }
}
.certificate-bg{
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  width: 100%;
  background-attachment: fixed;
}
#pos-cirtificate {
  .c-card {
    border-left: 20px solid #219c44;

    li {
      display: block;
    }
    header {
      border-bottom: 1px solid #000;
      padding-bottom: 15px;
      img {
        width: 400px;
      }
    }
    .c-content, .c-address, p, table {
      font-size: 16px
    }
    footer {
      border-top: 2px solid #1c9a42;
      h5 {
        color: #1c9a42;
      }
      p {
        font-size: 19px;
        margin-bottom: 0;
      }
    }
    table {
      tr td {
        padding: 10px;
        vertical-align: top;
      }
      tr td:first-child {
        color: #1c9a42;
      }
    }
    .view-profile img{
      width:200px
    }
  }

}
.insurance-renewal {
  li{
    display: block;
  }
  h2 {
    background: linear-gradient(to bottom, #993366 0%, #993399 100%);
    padding: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-size: 22px;
  }
  form{
    padding: 20px 0;
    background: linear-gradient(to top, #ffcc99 0%, #ffcccc 100%);
  }
  .input-group-addon{
    color: #fff;
    background-color: #13a89e;
    border: 1px solid #13a89e;

  }
  .btn-bs-file{
    position:relative;
    width: 175px;
    background: #ababab;
    color: #fff;
    border-radius: 31px;
  }
  .btn-bs-file:hover{
    background: #666;

  }
  .btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;

  }
  .whatsapp{
    font-weight: bold;
    padding-top: 0;
    font-size: 16px;
  }
  .fa-whatsapp{
    background: #25d366;
    padding: 7px 15px 17px 10px;
    border-radius: 50%;
    font-size: 30px;
    width: 45px;
    height: 45px;
    color: #fff;
    margin-right: 6px;
  }

  .h-border-bottom{
    width: 60%;
    margin: auto;
  }
  .h-border-bottom:before{
    content:"";
    border: 1px solid #ababab;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
  }
  .whatsapp span{
    vertical-align: super;
  }
}
.f-social-icons{
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i{
    text-align: center;
    background: #d4d4d4;
    border-radius: 50%;
    height: 55px;
    margin: 44px;
    font-size: 25px;
    color: #fff;
    padding-top: 15px;
    width: 55px;
    margin: 10px;
    margin-top: 21px;

  }
}
.f-social-icons{
  li{
    cursor: pointer;
    display: block;
  }
  li a, li a:hover{
    color:#fff;
  }
  i:nth-child(1):hover{
    background:#55acee;

  }
  i:nth-child(2):hover{
    background:#3b5998;
  }
  i:nth-child(3):hover{
    background:#007bb6;
  }
  i:nth-child(4):hover{
    background:#0063dc;
  }
  i:nth-child(5):hover{
    background:#cd201f;
  }
  i:nth-child(6):hover{
    background:#d93175;
  }
  i:nth-child(7):hover{
    background:#35465c;
  }
  i:nth-child(8):hover{
    background:#cb2027;
  }
  i:nth-child(9):hover{
    background:#dc4e40;
  }
}
footer{
  width: 100%;
  float: left;
  padding: 10px;
  //p{
  //  background: #676767;
  //  padding: 10px;
  //  margin-bottom: 0;
  //  color: #fff;
  //  margin-top: 15px;
  //}
}
.c2-card{

  border-left: 20px solid #219c44;
  background-image: url("./assets/img/pos-bg.png") !important;
  width: 100%;
  background-size: cover !important;
  header{
    border-bottom: 1px solid #006738;
    padding-bottom: 20px;
    h5{
      color: #006738;
    }
    img{
      width: 470px;
    }

  }
  .c-profile{
    .c-font{
      font-family: 'Parisienne', cursive;
      font-size: 170px;
      color: #443034;
      text-align: right;
    }
    h5 span{
      background:  #443034;
      color: #fff;
      padding: 10px 30px;
      font-size: 30px;
    }
  }
  .c-content{
    position: relative;
    border: 2px solid #443034;
    border-radius: 30px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 45px;
    .c-title{
      position: absolute;
      top: -15px;
      right: 0px;
      bottom: 0;
      width: 100%;
      text-align: center;
      span{
        padding: 10px 35px;
        color: #fff;
        font-size: 25px;
        background: rgba(240,24,24,1);
        background: linear-gradient(to right, rgba(240,24,24,1) 0%, rgba(247,148,123,1) 64%, rgba(255,33,33,1) 100%);
      }

    }
    p{
      font-size: 22px;
    }
  }
  table {
    font-size: 20px;
    margin: 185px 28px 100px 28px;
    tr td {
      padding: 10px;
      vertical-align: top;
    }
    tr td:first-child {
      color: #443034;
    }
  }
  footer{
    font-size: 20px;
  }

}
.letUs{
  .arrow-left {
    position: absolute;
    left: -29px;
    bottom: 47%;
    z-index: 99;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #f8b03e;
  }
  .let1{
    background: #e8e8e8;
    h1{
      color: #bbb;
    }
  }
  .mat-select-value span span{
    color:  #fff !important;

  }
}
.login-name{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #289e44;
}

.selected {
  background-color: #006E5E !important;
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF !important;
}
.text-title-color {
  color: darkgreen;
}
.h-claim {
  h3{
    color: #a9a4a4;
  }
  .bottomQoute{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: #a9a4a4;
    font-weight: bold;
    font-style: italic;
  }
  .col{
    h4 {
      padding: 13px;
      border-radius: 50px;
      text-align: right;
      color: #fff;
      font-size: 18px;
      position: relative;
      span {
        background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        position: absolute;
        padding-top: 10px;
        font-size: 30px;
        color: #000;
        border: 10px solid;
        top: -13px;
        left: 0;
        text-align: center;
      }
    }
    p {
      padding: 15px;
      text-align: justify;
      border-radius: 15px;
      margin-top: -32px;
      padding-top: 45px;
      min-height: 240px;
      font-size: 12px;
    }
  }
  .col:nth-child(5){
    h4 {
      background: linear-gradient(to bottom, #cc99ff 0%, #cc00cc 100%);
    }
    span {
      border-color: #cc00cc;
    }
    p{
      background:  #fdcbf4;
    }

  }
  .col:nth-child(4){
    h4 {
      background: linear-gradient(to bottom, #66ccff 0%, #0066cc 100%);
    }
    span {
      border-color: #0066cc;
    }
    p{
      background:  #99edea;
    }

  }
  .col:nth-child(3){
    h4 {
      background: linear-gradient(to bottom, #66ff99 0%, #006600 100%);
    }
    span {
      border-color: #006600;
    }
    p{
      background:  #99edaa;
    }

  }
  .col:nth-child(2){
    h4 {
      background: linear-gradient(to bottom, #ff9999 0%, #ff9900 100%);
    }
    span {
      border-color: #ff9900;
    }
    p{
      background:  #f6c577;
    }

  }

  .col:nth-child(1){
    h4 {
      background: linear-gradient(to bottom, #ff9999 0%, #ff0000 100%);
    }
    span {
      border-color: #ff2525;
    }
    p{
      background:  #ffa0b2;
    }

  }
}

.compar-fix{
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background: antiquewhite;
  padding: 5px 14px;
}
.margin-bottom170 {
  margin-bottom: 170px;
}
#staticTime{
  height: calc(100vh - 200px);
  overflow: scroll;
  width: 100%;
  padding-right: 30px;
}
.listDisabled {
  pointer-events: none!important;
}
