<div class="flex-p text-right">
  <button mat-raised-button color="primary" type="button" class="button-right" (click)="media()">
      <mat-icon class="material-icons">keyboard_backspace</mat-icon> Back</button>

</div>

<div class="container">
    <mat-card>
        <p class="text-left text-color">{{details.refrence_by}} {{details.refrence_date | date:'dd-MMM-yy'}}</p>

        <!--<mat-card-header>-->
            <!--&lt;!&ndash;<div fxFlex="100" class="flex-p" fxLayoutAlign="start center">&ndash;&gt;-->
                <!--<mat-card-title>-->
                    <!--<span style="color:#3dccb1d6 !important">News Letter Content</span>-->
                <!--</mat-card-title>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</mat-card-header>-->
        <mat-card-content  fxLayoutAlign="space-between center" >
            <div [innerHtml]="details.content">
            </div>
        </mat-card-content>

    </mat-card>
</div>
