.ngx-datatable {
  display: inline !important;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}
