<div class="flex-p">
    <div class="text-right">
        <button mat-raised-button color="primary" (click)="openDialog()" ><i class="material-icons">
            add
        </i> Add</button>
    </div>
</div><br>
<section>
    <div class="flex-p">
    <div class="row">
        <div class="col-md-6 text-left">
            <mat-form-field fxLayoutAlign="start  start">
                <mat-select  placeholder="All Category" [(ngModel)]="selectedCategory" multiple (change)="getSubjects(selectedCategory) [(value)]='selected'">
                    <mat-option *ngFor="let list of categoryList" value="{{list.category_id}}">{{list.category_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    <div class="col-md-6 text-right">
        <mat-form-field class="w-25">
            <input matInput placeholder="Search By Subject Name..." (keyup)="updateFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div fxLayout="column">
        <div class="flex-p">
          <ngx-datatable
                  #table
                  class="material"
                  [headerHeight]="50"
                  [limit]="10"
                  [columnMode]="'force'"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [rows]="rows"
                  [selected]="selected"
                  [selectionType]="'checkbox'">
            <ngx-datatable-column name="S.No">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"  let-value="value" let-row="row">
                {{rowIndex+1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="subject_name" >
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.subject_name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="sub_status" >
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.sub_status}}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
