<div class="container dashboard h-100" fxLayoutAlign="center center" *ngIf="firstPage">
    <div class="row" fxLayoutAlign="center start">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <mat-card class="mat-radius">
                <mat-card-header fxLayoutAlign="space-between center">
                <h2>Health Insurance</h2>
                    <button mat-icon-button color="warn">
                        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                <p>The Health Insurance plans that We at Vizza Provide are the best rated
                    throughout the Insurance Market.</p>
                   <p> We provide you with all the adequate and necessary information
                    beforehand, so that you can choose the bbest plans to protect your
                    loved ones, just as we would…</p>
                <figure fxLayoutAlign="center center"><img src="assets/img/Vaidhini-&-Kid2.png" style="width: 100%" alt=""> </figure>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
<mat-card>
    <mat-card-header><h5>Health Insurance plans for..</h5></mat-card-header>

        <mat-form-field class="w-100">
            <mat-select placeholder="SUM INSURED" [(ngModel)]="selectedAmount" name="suminsure" (change)="changeAmount()">
                <mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.si_id">
                    {{amounts.si_amount}}
                </mat-option>
            </mat-select>
            <!--<mat-icon matSuffix>attach_money</mat-icon>-->
        </mat-form-field>
        <div *ngIf="sumerror" class="ngError">Required</div>

     <div class="w-100 mb-2 son" >
         <div id="clonehead" >
            <div class="row" fxLayoutAlign="center center" *ngFor="let item of setArray; let i = index">
                <div class="col-md-2"><mat-checkbox [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="ckeckedUser(item.checked, i)" ></mat-checkbox></div>
                <div class="col-md-3">{{item.name}}</div>
                <div class="col-md-5"> <mat-form-field class="w-100">
                    <input matInput placeholder="age" name="age" [(ngModel)]="item.age" (keyup)="typeAge()">
                </mat-form-field>
                    <div *ngIf="item.error != ''" class="ngError">Required</div>
                </div>
                <div class="col-md-2">
                    <button mat-button [hidden]="item.auto" matSuffix mat-icon-button aria-label="Clear" (click)="addUser(i)">
                        <i class="material-icons">
                            add
                        </i>
                    </button>

                </div>
            </div>
         </div>
         <div class="mt-3">
             <button mat-raised-button color="accent" type="button" [matMenuTriggerFor]="menu"><i class="material-icons">add_circle_outline</i> OTHERS</button>
             <mat-menu #menu="matMenu">
                 <button mat-menu-item (click)="addOthers('Father')" [disabled]="fatherBTn">Father</button>
                 <button mat-menu-item (click)="addOthers('Mother')" [disabled]="motherBtn">Mother</button>
                 <button mat-menu-item (click)="addOthers('Father In Law')" [disabled]="fatherInLawBTn">Father-In-Law</button>
                 <button mat-menu-item (click)="addOthers('Mother In Law')" [disabled]="motherInLawBtn">Mother-In-Law</button>
                 <button mat-menu-item (click)="addOthers('Brother')">Brother</button>
                 <button mat-menu-item (click)="addOthers('Sister')">Sister</button>
             </mat-menu>
             </div>
     </div>
        <mat-form-field class="w-100">
            <input matInput name="pin" name="pin" [(ngModel)]="pincoce" placeholder="PIN CODE / CITY"  (keyup)="selectPincode()">
            <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
        <div *ngIf="pinerror" class="ngError">Required</div>

        <div fxLayoutAlign="center center" class="mt-3">
        <button mat-raised-button color="accent" type="submit" (click)="insureList()">Submit</button>
        </div>

</mat-card>
        </div>
    </div>
</div>

<!--second page-->

<div class="row">
    <div class="col-sm-9">
        <div fxLayout="column" *ngIf="secondPage">
            <div class="flex-p">
                <mat-card>
                    <mat-card-header fxLayoutAlign="left left">
                        <mat-card-subtitle>
                            <h4 class="textColor"><img  src="assets/img/hearticon.png" style="width: 30px;height: 30px;" alt="5"> Health Insurance</h4></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-tab-group #tabGroup [selectedIndex]="tabIndex" (selectedIndexChange)="onSelectedIndexChange($event)">
                            <mat-tab class="headerColor" *ngFor="let lists of insuranceLists;let pi = index" label="{{lists.name | uppercase}}" (click)="changeTab()">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>INSURER</th>
                                        <th>SUM INSURED</th>
                                        <th>KEY FEATURES</th>
                                        <th>SHORTLIST / COMPARE</th>
                                        <th>PREMIUM</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="" *ngFor="let plists of lists.product_lists;let i = index">
                                        <td *ngIf="plists.error">
                                            {{plists.error}}
                                        </td>
                                        <td>
                                            <p>{{plists.product_name}}</p>
                                            <img  src="{{plists.company_logo}}" style="width: 100px;height: 100px;" alt="5">
                                        </td>
                                        <td>
                                            <p>Rs. {{plists.suminsured_amount}}</p>
                                        </td>
                                        <td>Add</td>
                                        <td>
                                            <p><button mat-raised-button color="primary" [disabled]="plists.shortlist" [hidden]="plists.removebtn" (click)="addShortlist(plists, pi, i)">Add to Shortlist</button></p>
                                            <p><button mat-raised-button color="accent" *ngIf="plists.removebtn" (click)="removeShortlist(plists, pi, i)">Remove to Shortlist</button></p>
                                            <p><button mat-raised-button color="primary" [disabled]="plists.compare" (click)="addCompare(plists, pi, i)">Add to Compare</button></p>
                                        </td>
                                        <td>
                                            <p>Rs. {{plists.premium_amount}}</p>
                                            <button mat-raised-button color="accent">Buy</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <!--</mat-card-content>-->
                                <mat-divider></mat-divider>
                                <!--</mat-card>-->

                            </mat-tab>
                            <mat-tab label="SHORLIST {{scount}}">
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div  *ngIf="secondPage">
            <div class="row" fxLayoutAlign="center center">
                <div class="col-md-12">
                    <mat-card class="custom-card">
                        <mat-card-header class="bg-primary p-1" >
                            <mat-card-title class="m-0">
                                <h6>Your Selections</h6>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="p-">
                            <div class="row" fxLayoutAlign="left center">
                                <mat-radio-group><br>
                                    <mat-radio-button [checked]="true" value="1">Group A</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="row" fxLayoutAlign="left center">
                                <div class="col-md-6">
                                    <span>Sum Assured</span>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100">
                                    <mat-select [(ngModel)]="selectedAmount" name="suminsure" (change)="changeAmount()">
                                        <mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.si_id">
                                            {{amounts.si_amount}}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row" fxLayoutAlign="center center" *ngFor="let item of setArray1; let i = index">
                                <div class="col-md-2"><mat-checkbox [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="ckeckedUser(item.checked, i)" ></mat-checkbox></div>
                                <div class="col-md-4">{{item.name}}</div>
                                <div class="col-md-6"> <mat-form-field class="w-100">
                                    <input matInput placeholder="age" name="age" [(ngModel)]="item.age">
                                </mat-form-field>

                                </div>
                                    <div class="col-md-2">
                                        <button mat-button [hidden]="item.auto" matSuffix mat-icon-button aria-label="Clear" (click)="addUser(i)">
                                            <i class="material-icons">
                                                add
                                            </i>
                                        </button>
                                    </div>
                            </div>
                            <div class="row" fxLayoutAlign="left center">
                                <div class="col-md-6">
                                    <span>City Pincode</span>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="w-100">
                                        <input matInput name="pin" name="pin" [(ngModel)]="pincoce">
                                    </mat-form-field>
                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>


    </div>
</div>
</div>
<div class="row" *ngIf="compareArray != ''">
    <div class="col-md-2" *ngFor="let clists of compareArray; let i = index">
        <div fxLayout="column" class="flex-p">
            <div class="text-right">
                <button mat-button  mat-icon-button  (click)="removeCompare(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        <mat-card class="custom-card" >
            <mat-card-content class="p-">
                <img mat-card-image src="assets/img/app/5.jpg" alt="5" style="width: 50px;height: 50px;">
            </mat-card-content>
        </mat-card>
        </div>
    </div>
    <div class="col-md-2" fxLayoutAlign="left center" *ngIf="compareArray != ''">
        <button mat-raised-button color="accent" style="margin-top: 40px;">COMPARE NOW</button>
    </div>
</div>

<!--<style>-->
    <!--.textColor{-->
        <!--color:#F75A9C;-->
    <!--}-->
    <!--.mat-tab-labels {-->
        <!--display: flex;-->
        <!--background-color: #18CCB4;-->
        <!--color: #ffff;-->
    <!--}-->
<!--</style>-->
