<div class="container-fluid dashboard h-100" fxLayoutAlign="center center">
    <div class="row" fxLayoutAlign="center center">
        <div class="col-md-5">
            <mat-card class="mat-radius">
                <mat-card-header fxLayoutAlign="space-between center">
                <h2>Health Insurance</h2>
                    <button mat-icon-button color="warn">
                        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                <p>The Health Insurance plans that We at Vizza Provide are the best rated
                    throughout the Insurance Market.</p>
                   <p> We provide you with all the adequate and necessary information
                    beforehand, so that you can choose the bbest plans to protect your
                    loved ones, just as we would… <button mat-button color="primary">More</button></p>
                <figure fxLayoutAlign="center center"><img src="assets/img/Vaidhini-&-Kid2.png" alt=""> </figure>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
<mat-card>
    <mat-card-header><h5>Health Insurance plans for..</h5></mat-card-header>

        <mat-form-field class="w-100">
            <input matInput name="suminsure" [(ngModel)]="suminsure" placeholder="SUM INSURED" >
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <div *ngIf="sumerror" class="ngError">Required</div>

     <div class="w-100 mb-2 son" >
         <div id="clonehead" >
            <div class="row" fxLayoutAlign="center center" *ngFor="let item of setArray; let i = index">
                <div class="col-md-2"><mat-checkbox [(ngModel)]="item.checked" (change)="deleteMembers(item.checked, i)" ></mat-checkbox></div>
                <div class="col-md-3">{{item.name}}</div>
                <div class="col-md-7"> <mat-form-field class="w-100">
                    <input matInput placeholder="age" name="age" [(ngModel)]="item.age">
                </mat-form-field>
                    <div *ngIf="item.error != ''" class="ngError">Required</div>
                </div>
            </div>
         </div>
         <div class="mt-3">

         <button mat-raised-button color="accent" (click)="addClone('Son')" [disabled]="addonce4" type="button"><i class="material-icons">add_circle_outline</i> SON </button>
         <button mat-raised-button color="accent" (click)="addClone('Daughter')" [disabled]="addonce5" type="button"><i class="material-icons">add_circle_outline</i> DAUGHTER</button>
             <button mat-raised-button color="accent" type="button" [matMenuTriggerFor]="menu"><i class="material-icons">add_circle_outline</i> OTHERS</button>
             <mat-menu #menu="matMenu">
                 <button mat-menu-item (click)="addClone('Father')" [disabled]="addonce">Father</button>
                 <button mat-menu-item (click)="addClone('Mother')" [disabled]="addonce1">Mother</button>
                 <button mat-menu-item (click)="addClone('Father In Law')" [disabled]="addonce2">Father-In-Law</button>
                 <button mat-menu-item (click)="addClone('Mother In Law')" [disabled]="addonce3">Mother-In-Law</button>
                 <button mat-menu-item (click)="addClone('Brother1')">Brother</button>
                 <button mat-menu-item (click)="addClone('Sister1')">Sister</button>
             </mat-menu>
             </div>
     </div>
        <mat-form-field class="w-100">
            <input matInput name="pin" name="pin" [(ngModel)]="pin" placeholder="PIN CODE / CITY"  >
            <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
        <div *ngIf="pinerror" class="ngError">Required</div>

        <div fxLayoutAlign="center center" class="mt-3">
        <button mat-raised-button color="accent" type="submit" (click)="insureList(empty)">Submit</button>
        </div>

</mat-card>
        </div>
    </div>
</div>