<div class="text-right">
  <i class="material-icons" style="cursor: pointer" (click)="onNoClick()">close</i>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form [formGroup]="form"  (ngSubmit)="addSubject()">
    <mat-form-field class="w-100">
        <mat-select  placeholder="All Category" formControlName ="categoryid" multiple>
          <mat-option *ngFor="let list of data" value="{{list.category_id}}">{{list.category_name}}</mat-option>
        </mat-select>
      <mat-error *ngIf="form.controls.categoryid.errors?.required">Selected category required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Subject Name" formControlName="subjectname" >
      <mat-error *ngIf="form.controls.subjectname.errors?.required">subject is required</mat-error>
    </mat-form-field>
      <div class="text-center">
          <button mat-raised-button color="primary"  type="submit">Save</button>
      </div>
  </form>
</div>
