<div class="flex-p text-right">
  <button mat-raised-button color="primary" type="button" class="button-right" [routerLink]="['/addrelationalmanager']"><i class="material-icons">
    add
  </i> Add</button>

</div>

<section>
  <div class="flex-p">
    <div class="row">
      <div class="col-md-6">
      <div class="text-left">
        <mat-form-field class="w-50">
          <mat-select placeholder="Sales Manager" [(ngModel)]="selectedBranch"  (change)= "changeManagerList()">
            <mat-option *ngFor="let list of smList" [value]="list.sm_id">
              {{list.firstname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-right">
        <mat-form-field class="w-50">
          <input matInput placeholder="Search By Name..." (keyup)="updateFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div fxLayout="column">
        <div class="flex-p">

          <ngx-datatable
                  #table
                  class="material"
                  [headerHeight]="50"
                  [limit]="10"
                  [columnMode]="'force'"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [rows]="rows"
                  [count]="total"
                  [loadingIndicator]="loadingIndicator"
                  [selected]="selected"
                  [selectionType]="'checkbox'">
            <ngx-datatable-column name="S.No">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <div>{{rowIndex+1}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Firstname">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Gender">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Age">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Branchnames">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>


        </div>
      </div>

    </div>
  </div>
</section>
