  <div class="row mb-3 paScroll" >
    <div class="col-sm-12 text-right">
      <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
    </div>
    <div class="col-sm-12 text-center">
      <h5 class="text-capitalize" >

        <!--<div style="background-color: #d5f5f7; border-radius: 30px 30px 30px 30px;">-->
        <h3 class="text-center text-capitalize" style="color:#18CCB4;">{{compareDetails.group_name}} ({{compareDetails.scheme}})</h3>
        <!--<p class="text-center">{{compareDetails.scheme}}</p>-->
        <!--</div>-->
      </h5>
      <mat-divider></mat-divider>
    </div>

  </div>

