<div class="row d-none d-sm-none d-md-none d-lg-block" id="" fxLayoutAlign="center start">
  <div class="col-sm-12">
    <div fxLayout="column" class="travel-product-list">
      <div [ngClass]="compareArray != '' ? 'margin-bottom170' : ''">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h4 style="cursor: pointer;" (click)="back()"><img src="assets/img/travel-insurance.svg" class="logo-size"> Travel Insurance</h4>
            </div>
          </div>
        </div>

        <div class="flex-p">
          <table class="table health-table table-scroll">
            <thead>
            <tr>
              <th class="col-md-3">
                <mat-form-field class="w-100">
                  <mat-placeholder class="myclass font-weight-bold">Filter by company</mat-placeholder>
                  <mat-select [(ngModel)]="filterCompany"  multiple>
                    <mat-option value="All" (click)="selectAllValues()">Select All</mat-option>
                    <mat-select-trigger>
                      {{filterCompany ? filterCompany[0] : ''}}
                      <span *ngIf="filterCompany" >
                        (+{{filterCompany.length - 1}} {{filterCompany.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option (click)="someMethod(list.company_name)" *ngFor="let list of allCompanyList" value="{{list.company_name}}" >{{list.company_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
              <th class="sun-insured col-md-1">
                <mat-form-field >
                  <mat-placeholder class="myclass font-weight-bold" matTooltip="dollar">Sum Insured (USD $)</mat-placeholder>
                  <mat-select [(ngModel)]="selectedAmountTravel" (selectionChange)="updateSumInsured()">
                    <mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.suminsured_id">
                      $ {{amounts.suminsured_amount}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
              <th class="col-md-1">Emergency Medical Expenses</th>
              <th class="col-md-1">Personal Accident</th>
              <th class="col-md-1">Loss of Checked-In Baggage</th>
              <th class="col-md-1" style="padding: 15px 5px !important;">Loss of Passport</th>
              <!--<th class="col-md-1">PRE EXISTING DISEASES</th>-->
              <th class="col-md-1" style="padding: 15px 5px !important;">Compare</th>
              <th class="col-md-2" style="padding: 15px 5px !important;">Premium ( INR &#8377; )</th>
              <th class="col-md-1" style="padding: 15px 5px !important;">Buy </th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let plists of allProductLists;let i = index">

              <td align="center"  class="col-md-3 text-center">
                <img class="mt-1" src="{{webhost + '/' + plists.company_logo}}">
                <p class="pTitle" matTooltip="{{plists.plan_name}}">{{plists.plan_name | titlecase }}</p>
              </td>
              <td class="col-md-1">
                <p class="mt-4"> $ {{plists.sum_insured_amount }}</p>
              </td>
              <td *ngFor="let keys of plists.key_features; let i = index;" class="col-md-1">
                <p class="text-center mt-4">{{keys.key_features_value}}</p>
              </td>

              <td class="col-md-1 text-center">
                <p class="mt-2" style="margin-bottom: 0.3rem;line-height: 1.4;"><button mat-raised-button color="primary" [hidden]="plists.compare"  (click)="addCompare(plists,i)"><i style="font-size:15px;" class="material-icons">add_circle_outline</i> Compare</button></p>
                <p class="mt-2" style="margin-bottom: 0.3rem;line-height: 1.4;"><button mat-raised-button disabled *ngIf="plists.compare"><i style="font-size:15px;" class="material-icons">add_circle_outline</i> Compare</button></p>
                <p class="linkClor change-p" style="cursor: pointer;" (click)="viewKeyList(plists)"><strong>View Details</strong></p>
              </td>
              <td class="col-md-2">
                <p class="text-center mt-3 change-p"><strong>&#8377;  {{plists.total_premium}} / {{plists.coverageDays}}</strong></p>
                <p class="text-center change-p">(Including GST)</p>
              </td>
              <td class="col-md-1">
                <p class="mt-4"><button mat-raised-button color="accent" (click)="booking(plists)">Buy</button></p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


  <!--<div class="col-md-3 product-choose"  [ngClass]="{'non-editable': nonEditable}">-->

  <!--<div  *ngIf="secondPage">-->
  <!--<div fxLayoutAlign="left center">-->
  <!--<div class="col-md-12">-->
  <!--<mat-card class="custom-card">-->
  <!--<mat-card-header class="p-2" >-->
  <!--<mat-card-title class="m-0">-->
  <!--<h6>Your Selections</h6>-->
  <!--</mat-card-title>-->
  <!--</mat-card-header>-->
  <!--<mat-card-content>-->
  <!--<div class="row" fxLayoutAlign="left center">-->
  <!--<mat-radio-group><br>-->
  <!--<mat-radio-button [checked]="true" value="1">{{currentGroupName}}</mat-radio-button>-->
  <!--</mat-radio-group>-->
  <!--</div>-->

  <!--<div class="row" fxLayoutAlign="left center">-->
  <!--<div class="col-md-6">-->
  <!--<span style="font-size: 12px;">S.I</span>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
  <!--<mat-form-field class="w-100">-->
  <!--<mat-select [(ngModel)]="changeSuninsuredAmount" name="suminsure" (change)="changeSuminsured($event)">-->
  <!--<mat-option  *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.si_id">-->
  <!--{{amounts.si_amount}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row" fxLayoutAlign="center center" *ngFor="let item of setArray; let i = index">-->
  <!--<div class="col-md-2"><mat-checkbox [(ngModel)]="item.checked" *ngIf="item.auto" [disabled]="true" (change)="ckeckedUser(item.checked, i, item.name)" ></mat-checkbox></div>-->
  <!--<div class="col-md-4" *ngIf="item.auto">{{item.name}}</div>-->
  <!--<div class="col-md-6" *ngIf="item.auto"> <mat-form-field class="w-100" >-->
  <!--<input matInput placeholder="age" name="age" [(ngModel)]="item.age" (change)="ageChange()">-->
  <!--</mat-form-field>-->
  <!--</div>-->

  <!--</div>-->
  <!--<div class="row" fxLayoutAlign="left center">-->
  <!--<div class="col-md-6">-->
  <!--<span>Pincode</span>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
  <!--<mat-form-field class="w-100">-->
  <!--<input matInput name="pin" name="pin" [disabled]="true"  [(ngModel)]="pincoce">-->
  <!--</mat-form-field>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div fxLayoutAlign="center center" class="son">-->
  <!--<button mat-raised-button color="accent" type="button" (click)="updateFunction()">Update</button>-->
  <!--</div>-->

  <!--</mat-card-content>-->
  <!--</mat-card>-->
  <!--</div>-->
  <!--</div>-->


  <!--</div>-->
  <!--</div>-->
</div>

<div class="d-none d-sm-none d-md-none d-lg-block">
  <div class="row compar-fix" *ngIf="compareArray != ''">
    <div class="text-right closeBtnClass">
      <mat-icon (click)="removeAllCompare(i)">close</mat-icon>
    </div>
    <div style="width: 340px" *ngFor="let clists of compareArray; let i = index">
      <div fxLayout="column" class="flex-p">
        <mat-card class="custom-card compare-icon text-center">
          <div class="text-right closeBtnClass">
            <mat-icon (click)="removeCompare(i, clists.index)">close</mat-icon>
          </div>
          <mat-card-content class="p-0">
            <img mat-card-image  src="{{webhost + '/' + clists.company_logo}}" >
            <p class="color-green mb-0 text-center">{{clists.plan_name}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-md-2" fxLayoutAlign="left center" *ngIf="compareArray != ''">
      <button mat-raised-button color="accent" (click)="compareList(compareArray)">COMPARE NOW</button>
    </div>
  </div>
</div>


<!--mobile view-->
  <div class="d-block d-sm-block d-md-block d-lg-none">
    <h2 class="w-100 text-center" fxLayoutAlign="center center" style="color: #9769DF;"><img src="assets/img/travel-insurance.png" class="logo-size">&nbsp;Travel Insurance</h2>

    <!--<div class="row" style="margin:30px;">-->
      <!--<div class="col pr-0"><button mat-raised-button color="accent" class="w-100">Group A</button></div>-->
      <!--<div class="col p-0"><button mat-raised-button  class="w-100">Group B</button></div>-->
      <!--<div class="col pl-0"><button mat-raised-button  class="w-100">Group C</button></div>-->
    <!--</div>-->
    <div class="sticky-top" style="z-index: 1;">
      <mat-card style="background-color: #d9edf7">
        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100">
              <mat-placeholder class="myclass font-weight-bold">Filter by company</mat-placeholder>
              <mat-select [(ngModel)]="filterCompany"  multiple>
                <mat-option value="All" (click)="selectAllValues()">Select All</mat-option>
                <mat-select-trigger>
                  {{filterCompany ? filterCompany[0] : ''}}
                  <span *ngIf="filterCompany" >
                        (+{{filterCompany.length - 1}} {{filterCompany.length === 2 ? 'other' : 'others'}})
                      </span>
                </mat-select-trigger>
                <mat-option (click)="someMethod(list.company_name)" *ngFor="let list of allCompanyList" value="{{list.company_name}}" >{{list.company_name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <!--<mat-form-field class="w-100">-->
              <!--<mat-placeholder class="myclass font-weight-bold" matTooltip="Lacs">Sum insured</mat-placeholder>-->
              <!--<mat-select [(ngModel)]="changeSuninsuredAmount" (change)="updateSumInsured()">-->
                <!--<mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.si_id" matTooltip="{{amounts.si_amount_shortform}}">{{amounts.si_amount_shortform}}</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <mat-form-field>
              <mat-placeholder class="myclass font-weight-bold" matTooltip="dollar">Sum Insured (USD $)</mat-placeholder>
              <mat-select [(ngModel)]="selectedAmountTravel" (selectionChange)="updateSumInsured()">
                <mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.suminsured_id">
                  $ {{amounts.suminsured_amount}}
                </mat-option>
              </mat-select>

            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-card class="mb-3" *ngFor="let plists of allProductLists;let i = index;">
      <div class="row mt-5">
        <div class="col-6">
          <img class="mt-1" src="{{webhost + '/' + plists.company_logo}}">
          <p class="pTitle" matTooltip="{{plists.plan_name}}">{{plists.plan_name | titlecase }}</p>
        </div>
        <div class="col-3">
          <p style="margin-bottom: 0rem !important;">Sum Insured</p>
          <div style="font-size: 8px!important; font-weight: bold;">
            <p> &#8377;{{plists.sum_insured_amount | currency}} </p>
          </div>
        </div>
        <div class="col-3">
          <p style="margin-bottom: 0rem !important;">Premium /yr</p>
          <div style="font-size: 10px!important; font-weight: bold;">
            <p>&#8377;{{plists.total_premium}} / {{plists.coverageDays}}</p>
            <p>(Including GST)</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-10">
          <h5>Main Features</h5>
          <ul style="list-style: none;">
            <li>Emergency Medical Expenses:<a *ngFor="let keys of plists.key_features; let i = index;">{{keys.key_features_value}}</a></li>
            <li>Emergency Medical Transportation:<a *ngFor="let keys of plists.key_features; let i = index;">{{keys.key_features_value}}</a></li>
            <li>Transportation Of Mortal Remains:<a *ngFor="let keys of plists.key_features; let i = index;">{{keys.key_features_value}}</a></li>
            <li>Daily Allowance:<a *ngFor="let keys of plists.key_features; let i = index;" >{{keys.key_features_value}}</a></li>
          </ul>
        </div>
        <!--<div class="col-md-2 col-2" style="font-size: 10px !important;">-->
          <!--<ul style="list-style: none;">-->
            <!--<li><i class="material-icons">-->
              <!--help_outline-->
            <!--</i></li>-->
            <!--<li><i class="material-icons">-->
              <!--help_outline-->
            <!--</i></li>-->
            <!--<li><i class="material-icons">-->
              <!--help_outline-->
            <!--</i></li>-->
            <!--<li><i class="material-icons">-->
              <!--help_outline-->
            <!--</i></li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>

      <div class="row">
        <div class="col-4 pr-0"><button mat-raised-button class="w-100" [disabled]="plists.compare"  (click)="addCompare(plists,i)">Compare</button></div>
        <div class="col-4 p-0"><button mat-raised-button  class="w-100" style="cursor: pointer;" (click)="viewKeyList(plists)">See Details</button></div>
        <div class="col-4 pl-0"><button mat-raised-button  class="w-100" style="background-color: #28a745 !important; color: #FFFFFF;" (click)="booking(plists)">Buy Now</button></div>
      </div>

    </mat-card>
    <div class="d-sm-block d-md-none" >
      <div class="row compar-fix-tr" *ngIf="compareArray != ''">

        <div class="text-right closeBtnClass">
          <mat-icon (click)="removeAllCompare(i)">close</mat-icon>
        </div>
        <div class="col-3" *ngFor="let clists of compareArray; let i = index">
          <div fxLayout="column" class="flex-p">
            <mat-card class="custom-card compare-icon text-center">
              <div class="text-right closeBtnClass">
                <mat-icon (click)="removeCompare(i, clists.index)">close</mat-icon>
              </div>
              <mat-card-content class="p-0 col">
                <!--<p class="color-green mb-0 text-center">{{clists.product_name}}</p>-->
                <img mat-card-image  src="{{webhost + '/' + clists.company_logo}}"  class="w-100">
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col" class="mt-5"fxLayoutAlign="left center" *ngIf="compareArray != ''">
          <button mat-raised-button style="background-color: #127396" (click)="compareList(compareArray)">COMPARE NOW</button>
        </div>
      </div>
    </div>
</div>



<!--<style>-->
  <!--.btn-color {-->
    <!--background: #00695c !important;-->
  <!--}-->
  <!--.refreshBtn {-->
    <!--cursor: pointer;-->
    <!--i {-->
      <!--cursor: pointer;-->
    <!--}-->
  <!--}-->
  <!--.days-count {-->
    <!--margin-top: 16px !important;-->
  <!--}-->
<!--</style>-->











<!--<div class="container-fluid dashboard h-100" fxLayoutAlign="start start" id="travel-starthealth">-->
  <!--<div class="col-md-12">-->
    <!--<mat-card [ngClass]="compareArray != '' ? 'margin-bottom170' : ''">-->
      <!--<mat-card-header fxLayoutAlign="left left">-->
        <!--<h4 class="color-blue" style="cursor: pointer" ><img src="assets/img/travel-insurance.png" class="logo-size"> Travel Insurance</h4>-->
      <!--</mat-card-header>-->
      <!--<mat-card-content>-->


  <!--<div class="row" fxLayoutAlign="center start">-->
    <!--<div class="col-md-9 " id="product-list">-->
      <!--<table class="table health-table" >-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>INSURER</th>-->
          <!--<th>SUM INSURED</th>-->
          <!--<th>KEY FEATURES</th>-->
          <!--<th>COMPARE</th>-->
          <!--<th>PREMIUM</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr *ngFor="let plists of premiumLists.product_lists;let i = index" >-->
          <!--<td *ngIf="plists.policy_available">-->
            <!--<p class="color-green">{{plists.plan_name | titlecase}}</p>-->
            <!--<img  src="{{webhost + '/' + plists.company_logo}}" alt="">-->
          <!--</td>-->
          <!--<td *ngIf="plists.policy_available">-->
            <!--<p>{{plists.suminsured_amount | currency: 'INR'}}</p>-->
          <!--</td>-->
          <!--<td style="width: 45%" *ngIf="plists.policy_available">-->
            <!--<div class="row" fxLayoutAlign="left center" *ngFor="let keys of plists.key_features">-->
              <!--<div class="col-md-7">-->
                <!--<li *ngIf="keys.key_features_name !='Room Rent'">{{keys.key_features_name}}</li>-->
              <!--</div>-->
              <!--<div class="col-md-1">-->
                <!--<span *ngIf="keys.key_features_name !='Room Rent'">:</span>-->
              <!--</div>-->
              <!--<div class="col-md-4">-->
                <!--<a *ngIf="keys.key_features_name !='Room Rent'" style="color: #777272f0">{{keys.key_features_value}}</a>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="text-right mt-3">-->
              <!--<p class="linkClor" style="cursor: pointer" (click)="viewKeyList(plists, premiumLists.travel_type)"><strong>Policy Details / Product Documents</strong></p>-->
            <!--</div>-->
          <!--</td>-->
          <!--<td *ngIf="plists.policy_available">-->
            <!--<p><button mat-raised-button color="primaryBlue" [hidden]="plists.compare"  (click)="addCompare(plists, i)">Add to Compare</button></p>-->
            <!--<p><button mat-raised-button disabled *ngIf="plists.compare">Add to Compare</button></p>-->
          <!--</td>-->
          <!--<td *ngIf="plists.policy_available">-->
            <!--<p></p>-->
            <!--<p><button mat-raised-button color="accent" (click)="booking(plists,plists.enquiry_id,plists.name)">{{plists.total_premium | currency: 'INR'}}</button></p>-->
            <!--<p class="text-center" style="font-size: 12px;">(Excluding.GST)</p>-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
      <!--<table class="table health-table" *ngIf="premiumLists.product_lists == ''">-->
        <!--<th class="text-center" class="primaryBlue"> No product matched your sum insured amount </th>-->
      <!--</table>-->


    <!--</div>-->
    <!--<div id="start-travel" class="col-md-3 col-sm-12 col-xs-12">-->

      <!--<mat-tab-group #tabGroup  (selectedIndexChange)="onSelectedIndexChange($event)" [(selectedIndex)]="selectedIndex" class="travel-box">-->
        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">person</mat-icon>-->
            <!--Self-->
          <!--</ng-template>-->
          <!--<div class="travel">-->
            <!--<mat-form-field class="w-100">-->
              <!--<mat-select placeholder="SUM INSURED (USD-$)" [(ngModel)]="selectedAmount" name="suminsure"  (change)="selectedSumAmount()" required>-->
                <!--<mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.suminsured_amount">-->
                  <!--{{amounts.suminsured_amount}}-->
                <!--</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<div *ngIf="sumerror" class="ngError">Required</div>-->
            <!--<div class="w-100 mb-2">-->
              <!--<div class="row" fxLayoutAlign="start center">-->
                <!--<div class="col-md-12" *ngFor="let item of selfArray; let i = index; let last = last">-->
                  <!--<div class="row" fxLayoutAlign="start center">-->
                    <!--<div class="col-md-1">-->
                      <!--<mat-checkbox [(ngModel)]="item.checked" (change)="ckeckedUser(i, item.checked, item.name)">-->
                      <!--</mat-checkbox>-->
                    <!--</div>-->
                    <!--<div class="col-md-4"><span class="text-left">{{item.name}}</span></div>-->
                    <!--<div class="col-md-6">-->
                      <!--<mat-form-field class="w-100 text-left">-->
                        <!--<input matInput placeholder="Age"  [(ngModel)]="item.age" name="age" maxlength="2" (keypress)="numberOnly($event)" (keyup)="typeAge(item.checked, i, item.age)" >-->
                      <!--</mat-form-field>-->
                      <!--<div *ngIf="item.error != ''" class="ngError">Required</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="text-right">&ndash;&gt;-->
              <!--&lt;!&ndash;<button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [disabled]="Child3BTn == false && FatherBTn == false && MotherBTn == false"><i class="material-icons">add_circle_outline</i> Add</button>&ndash;&gt;-->
              <!--&lt;!&ndash;<mat-menu #menu="matMenu">&ndash;&gt;-->
              <!--&lt;!&ndash;<button mat-menu-item (click)="addFamily('Child3')" *ngIf="Child3BTn">Child3</button>&ndash;&gt;-->
              <!--&lt;!&ndash;<button mat-menu-item (click)="addFamily('Father')" *ngIf="FatherBTn">Father</button>&ndash;&gt;-->
              <!--&lt;!&ndash;<button mat-menu-item (click)="addFamily('Mother')" *ngIf="MotherBTn">Mother</button>&ndash;&gt;-->
              <!--&lt;!&ndash;</mat-menu>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div *ngIf="showSelf">-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip Start Date </mat-label>-->
                    <!--<input matInput [matDatepicker]="picker1" placeholder="Start date(DD/MM/YYYY)" [min]="today"  [(ngModel)]="startDate" (dateInput)="chooseDate($event, 'sDate')"  (dateChange)="chooseDate($event, 'sDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker1></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="startDateError != ''">{{startDateError}}</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip End Date</mat-label>-->
                    <!--<input matInput [matDatepicker]="picker2" placeholder="End date(DD/MM/YYYY)" [(ngModel)]="endDate" [min]="maxDate" (dateInput)="chooseDate($event, 'eDate')"  (dateChange)="chooseDate($event, 'eDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker2 color="primary"></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="endDateError != ''">{{endDateError}}</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-12">-->
                  <!--<p class="days-count">Total Trip Days : {{daysCount}}</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="daysBookingCount > 60" class="ngError">Travel booking starts before 60 days </div>-->
              <!--<div class="row mt-2">-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Travel plans" [(ngModel)]="travelPlan" (change)="changeTravelType()" multiple>-->
                      <!--<mat-option *ngFor="let list of viewList" value="{{list.country_name}}">{{list.country_name}}</mat-option>-->

                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                  <!--&lt;!&ndash;<mat-form-field class="w-100">&ndash;&gt;-->
                    <!--&lt;!&ndash;<mat-select placeholder="Types of Travel" [(ngModel)]="travelType" (change)="changeTravelType()">&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<mat-option value="1">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;Business&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</mat-option>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<mat-option value="2">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;Holiday&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</mat-option>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<mat-option value="3">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;Multiple trips in a year&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;</mat-option>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;<mat-option *ngFor="let list of viewList" value="{{list.id}}">{{list.country_name}}</mat-option>&ndash;&gt;-->

                    <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
                  <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Types of Travel" [(ngModel)]="travelType" (change)="changeTravelType()">-->
                      <!--<mat-option value="Single">-->
                        <!--Business-->
                      <!--</mat-option>-->
                      <!--<mat-option value="Single">-->
                        <!--Holiday-->
                      <!--</mat-option>-->
                      <!--<mat-option value="Multi">-->
                        <!--Multiple trips in a year-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="travelType == 'Multi'">-->
                <!--<mat-radio-group class="w-100" [(ngModel)]="duration" (change)="changeTravelDuration()">-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<mat-label>Max trip Duraion (in days) </mat-label>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="col-md-1">&ndash;&gt;-->
                      <!--&lt;!&ndash;:&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-md-12">-->
                      <!--<mat-radio-button value="30">30</mat-radio-button>-->
                      <!--<mat-radio-button value="45">45</mat-radio-button>-->
                      <!--<mat-radio-button value="60">60</mat-radio-button>-->
                      <!--<mat-radio-button value="90">90</mat-radio-button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</mat-radio-group>-->
              <!--</div><br>-->
              <!--<mat-radio-group class="w-100" [(ngModel)]="medicalCondition" (change)="changeMedicalCondition()">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-label>Any medical conditions?</mat-label>-->
                  <!--</div>-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-radio-button value="1">Yes</mat-radio-button>-->
                    <!--<mat-radio-button value="0">No</mat-radio-button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</mat-radio-group>-->
              <!--<div *ngIf="medicalerror" class="ngError">Required</div>-->

              <!--<div fxLayoutAlign="center center" class="mt-3">-->
                <!--&lt;!&ndash;<button mat-raised-button color="accent" type="button" class="ml-2" (click)="refresh()">Reset <i class="material-icons">refresh</i></button>&nbsp;&nbsp;&ndash;&gt;-->
                <!--<button mat-raised-button color="accent" class="btn-color" type="button" (click)="submit('self')">Proceed <i class="material-icons">play_arrow</i></button>-->
              <!--</div>-->

            <!--</div>-->

          <!--</div>-->
        <!--</mat-tab>-->

        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">supervisor_account</mat-icon>-->
            <!--Family-->
          <!--</ng-template>-->
          <!--&lt;!&ndash;<div mat-dialog-content >&ndash;&gt;-->
          <!--<div class="travel">-->
            <!--<mat-form-field class="w-100">-->
              <!--<mat-select placeholder="SUM INSURED (USD-$)" [(ngModel)]="selectedAmount" name="suminsure"  (change)="selectedSumAmount()" required>-->
                <!--<mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.suminsured_amount">-->
                  <!--{{amounts.suminsured_amount}}-->
                <!--</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<div *ngIf="sumerror" class="ngError">Required</div>-->
            <!--<div class="w-100 mb-2">-->
              <!--<div class="row" fxLayoutAlign="start center">-->
                <!--<div class="col-md-12" *ngFor="let item of familyArray; let i = index; let last = last">-->
                  <!--<div class="row" fxLayoutAlign="start center">-->
                    <!--<div class="col-md-1">-->
                      <!--<mat-checkbox [(ngModel)]="item.checked" (change)="ckeckedUser(i, item.checked, item.name)">-->
                      <!--</mat-checkbox>-->
                    <!--</div>-->
                    <!--<div class="col-md-4"><span class="text-left">{{item.name}}</span></div>-->
                    <!--<div class="col-md-6">-->
                      <!--<mat-form-field class="w-100 text-left">-->
                        <!--<input matInput placeholder="Age"  [(ngModel)]="item.age" name="age" maxlength="2" (keypress)="numberOnly($event)" (keyup)="typeAge(item.checked, i, item.age)" >-->
                      <!--</mat-form-field>-->
                      <!--<div *ngIf="item.error != ''" class="ngError">Required</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="text-right">-->
                <!--<button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [disabled]="Child3BTn == false && FatherBTn == false && MotherBTn == false"><i class="material-icons">add_circle_outline</i> Relatives</button>-->
                <!--<mat-menu #menu="matMenu">-->
                  <!--<button mat-menu-item (click)="addFamily('Child3')" *ngIf="Child3BTn">Child3</button>-->
                  <!--<button mat-menu-item (click)="addFamily('Father')" *ngIf="FatherBTn">Father</button>-->
                  <!--<button mat-menu-item (click)="addFamily('Mother')" *ngIf="MotherBTn">Mother</button>-->
                <!--</mat-menu>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div *ngIf="showFamily">-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip Start Date </mat-label>-->
                    <!--<input matInput [matDatepicker]="picker1" placeholder="Start date(DD/MM/YYYY)" [min]="today"  [(ngModel)]="startDate" (dateInput)="chooseDate($event, 'sDate')"  (dateChange)="chooseDate($event, 'sDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker1></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="startDateError != ''">{{startDateError}}</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip End Date</mat-label>-->
                    <!--<input matInput [matDatepicker]="picker2" placeholder="End date(DD/MM/YYYY)" [(ngModel)]="endDate" [min]="maxDate" (dateInput)="chooseDate($event, 'eDate')"  (dateChange)="chooseDate($event, 'eDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker2 color="primary"></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="endDateError != ''">{{endDateError}}</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-12">-->
                  <!--<p class="days-count">Total Trip Days : {{daysCount}}</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="daysBookingCount > 60" class="ngError">Travel booking starts before 60 days</div>-->


              <!--<div class="row mt-2">-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Travel plans" [(ngModel)]="travelPlan" (change)="changeTravelPlan()" multiple>-->
                        <!--<mat-option *ngFor="let list of viewList" value="{{list.country_name}}">{{list.country_name}}</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Types of Travel" [(ngModel)]="travelType" (change)="changeTravelType()">-->
                      <!--<mat-option value="Single">-->
                        <!--Business-->
                      <!--</mat-option>-->
                      <!--<mat-option value="Single">-->
                        <!--Holiday-->
                      <!--</mat-option>-->
                      <!--<mat-option value="Multi">-->
                        <!--Multiple trips in a year-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="travelType == 'Multi'">-->
                <!--<mat-radio-group class="w-100" [(ngModel)]="duration" (change)="changeTravelDuration()">-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<mat-label>Max trip Duraion (in days) </mat-label>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="col-md-1">&ndash;&gt;-->
                      <!--&lt;!&ndash;:&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-md-12">-->
                      <!--<mat-radio-button value="30">30</mat-radio-button>-->
                      <!--<mat-radio-button value="45">45</mat-radio-button>-->
                      <!--<mat-radio-button value="60">60</mat-radio-button>-->
                      <!--<mat-radio-button value="90">90</mat-radio-button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</mat-radio-group>-->
              <!--</div>-->
              <!--<mat-radio-group class="w-100" [(ngModel)]="medicalCondition" (change)="changeMedicalCondition()">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-label>Any medical conditions?</mat-label>-->
                  <!--</div>-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-radio-button value="1">Yes</mat-radio-button>-->
                    <!--<mat-radio-button value="0">No</mat-radio-button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</mat-radio-group>-->
              <!--<div *ngIf="medicalerror" class="ngError">Required</div>-->

              <!--<div fxLayoutAlign="center center" class="mt-3">-->
                <!--&lt;!&ndash;<button mat-raised-button color="accent" type="button" class="ml-2" (click)="refresh()">Reset <i class="material-icons">refresh</i></button>&nbsp;&nbsp;&ndash;&gt;-->
                <!--<button mat-raised-button color="accent" class="btn-color" type="button" (click)="submit('family')">Proceed <i class="material-icons">play_arrow</i></button>-->
              <!--</div>-->


            <!--</div>-->

          <!--</div>-->
        <!--</mat-tab>-->
        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">group_add</mat-icon>-->
            <!--Group-->
          <!--</ng-template>-->
          <!--<div class="travel">-->
            <!--<mat-form-field class="w-100">-->
              <!--<mat-select placeholder="SUM INSURED (USD-$)" [(ngModel)]="selectedAmount" name="suminsure"  (change)="selectedSumAmount()" required>-->
                <!--<mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.suminsured_amount">-->
                  <!--{{amounts.suminsured_amount}}-->
                <!--</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<div *ngIf="sumerror" class="ngError">Required</div>-->
            <!--<div class="w-100 mb-2" >-->
              <!--<div class="row" fxLayoutAlign="start center">-->
                <!--<div class="col-md-12" *ngFor="let item of groupArray; let i = index; let last = last">-->
                  <!--<div class="row" fxLayoutAlign="start center">-->
                    <!--<div class="col-md-1">-->
                      <!--<mat-checkbox [(ngModel)]="item.checked" (change)="ckeckedUser(i, item.checked, item.name)">-->
                      <!--</mat-checkbox>-->
                    <!--</div>-->
                    <!--<div class="col-md-4"><span class="text-left">{{item.name}}</span></div>-->
                    <!--<div class="col-md-6">-->
                      <!--<mat-form-field class="w-100 text-left">-->
                        <!--<input matInput placeholder="Age" required [(ngModel)]="item.age" name="age" maxlength="2" (keypress)="numberOnly($event)" (keyup)="typeAge(item.checked, i, item.age)" >-->
                      <!--</mat-form-field>-->
                      <!--<div *ngIf="item.error != ''" class="ngError">Required</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="text-right">-->
                <!--<button mat-raised-button color="primary" type="button" [matMenuTriggerFor]="menu1" [disabled]="!Member5BTn && !Member6BTn && !Member7BTn && !Member8BTn" ><i class="material-icons">add_circle_outline</i> Add Member</button>-->
                <!--<mat-menu #menu1="matMenu">-->
                  <!--<button mat-menu-item (click)="addGroupMembers('Member5')" *ngIf="Member5BTn">Member5</button>-->
                  <!--<button mat-menu-item (click)="addGroupMembers('Member6')" *ngIf="Member6BTn">Member6</button>-->
                  <!--<button mat-menu-item (click)="addGroupMembers('Member7')" *ngIf="Member7BTn">Member7</button>-->
                  <!--<button mat-menu-item (click)="addGroupMembers('Member8')" *ngIf="Member8BTn">Member8</button>-->
                  <!--<button mat-menu-item (click)="addGroupMembers('Member9')" *ngIf="Member9BTn">Member9</button>-->
                  <!--<button mat-menu-item (click)="addGroupMembers('Member10')" *ngIf="Member10BTn">Member10</button>-->
                <!--</mat-menu>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div *ngIf="showGroup">-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip Start Date</mat-label>-->
                    <!--<input matInput [matDatepicker]="picker1" placeholder="Start date(DD/MM/YYYY)" [min]="today"  [(ngModel)]="startDate" (dateInput)="chooseDate($event, 'sDate')"  (dateChange)="chooseDate($event, 'sDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker1></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="startDateError != ''">{{startDateError}}</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip End Date</mat-label>-->
                    <!--<input matInput [matDatepicker]="picker2" placeholder="End date(DD/MM/YYYY)" [(ngModel)]="endDate" [min]="maxDate" (dateInput)="chooseDate($event, 'eDate')"  (dateChange)="chooseDate($event, 'eDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker2 color="primary"></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="endDateError != ''">{{endDateError}}</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-12">-->
                  <!--<p class="days-count">Total Trip Days : {{daysCount}}</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="daysBookingCount > 60" class="ngError">Travel booking starts before 60 days</div>-->


              <!--<div class="row mt-2">-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Travel plans" [(ngModel)]="travelPlan" (change)="changeTravelType()" multiple>-->
                        <!--<mat-option *ngFor="let list of viewList" value="{{list.country_name}}">{{list.country_name}}</mat-option>-->

                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Types of Travel" [(ngModel)]="travelType">-->
                      <!--<mat-option value="Single">-->
                        <!--Business-->
                      <!--</mat-option>-->
                      <!--<mat-option value="Single">-->
                        <!--Holiday-->
                      <!--</mat-option>-->
                      <!--<mat-option value="Multi">-->
                        <!--Multiple trips in a year-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="travelType == 'Multi'">-->
                <!--<mat-radio-group class="w-100" [(ngModel)]="duration" >-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<mat-label>Max trip Duraion (in days) </mat-label>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="col-md-1">&ndash;&gt;-->
                      <!--&lt;!&ndash;:&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-md-12">-->
                      <!--<mat-radio-button value="30">30</mat-radio-button>-->
                      <!--<mat-radio-button value="45">45</mat-radio-button>-->
                      <!--<mat-radio-button value="60">60</mat-radio-button>-->
                      <!--<mat-radio-button value="90">90</mat-radio-button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</mat-radio-group>-->
              <!--</div>-->
              <!--<mat-radio-group class="w-100" [(ngModel)]="medicalCondition">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-label>Any medical conditions?</mat-label>-->
                  <!--</div>-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-radio-button value="1">Yes</mat-radio-button>-->
                    <!--<mat-radio-button value="0">No</mat-radio-button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</mat-radio-group>-->
              <!--<div *ngIf="medicalerror" class="ngError">Required</div>-->

              <!--<div fxLayoutAlign="center center" class="mt-3">-->
                <!--&lt;!&ndash;<button mat-raised-button color="accent" type="button" class="ml-2" (click)="refresh()">Reset <i class="material-icons">refresh</i></button>&nbsp;&nbsp;&ndash;&gt;-->
                <!--<button mat-raised-button color="accent" class="btn-color" type="button" (click)="submit('group')">Proceed <i class="material-icons">play_arrow</i></button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</mat-tab>-->

        <!--<mat-tab>-->
          <!--<ng-template mat-tab-label>-->
            <!--<mat-icon class="example-tab-icon">school</mat-icon>-->
            <!--Student-->
          <!--</ng-template>-->
          <!--<div class="travel">-->
            <!--<mat-form-field class="w-100">-->
              <!--<mat-select placeholder="SUM INSURED (USD-$)" [(ngModel)]="selectedAmount" name="suminsure"  (change)="selectedSumAmount()" required>-->
                <!--<mat-option *ngFor="let amounts of sumInsuredAmountLists" [value]="amounts.suminsured_amount">-->
                  <!--{{amounts.suminsured_amount}}-->
                <!--</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<div *ngIf="sumerror" class="ngError">Required</div>-->
            <!--<div class="w-100 mb-2 travel">-->
              <!--<div class="row" fxLayoutAlign="start center">-->
                <!--<div class="col-md-12" *ngFor="let item of studentArray; let i = index; let last = last">-->
                  <!--<div class="row" fxLayoutAlign="start center">-->
                    <!--<div class="col-md-1">-->
                      <!--<mat-checkbox [(ngModel)]="item.checked" (change)="ckeckedUser(i, item.checked, item.name)">-->
                      <!--</mat-checkbox>-->
                    <!--</div>-->
                    <!--<div class="col-md-4"><span class="text-left">{{item.name}}</span></div>-->
                    <!--<div class="col-md-6">-->
                      <!--<mat-form-field class="w-100 text-left">-->
                        <!--<input matInput placeholder="Age" required [(ngModel)]="item.age" name="age" maxlength="2" (keypress)="numberOnly($event)" (keyup)="typeAge(item.checked, i, item.age)" >-->
                      <!--</mat-form-field>-->
                      <!--<div *ngIf="item.error != ''" class="ngError">Required</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="text-right">-->
                <!--<button mat-raised-button color="primary" type="button" [matMenuTriggerFor]="menu2" [disabled]="!Student5BTn && !Student6BTn && !Student7BTn && !Student8BTn"><i class="material-icons">add_circle_outline</i> Add Student</button>-->
                <!--<mat-menu #menu2="matMenu">-->
                  <!--<button mat-menu-item (click)="addStudents('Student5')" *ngIf="Student5BTn">Student5</button>-->
                  <!--<button mat-menu-item (click)="addStudents('Student6')" *ngIf="Student6BTn">Student6</button>-->
                  <!--<button mat-menu-item (click)="addStudents('Student7')" *ngIf="Student7BTn">Student7</button>-->
                  <!--<button mat-menu-item (click)="addStudents('Student8')" *ngIf="Student8BTn">Student8</button>-->
                  <!--<button mat-menu-item (click)="addStudents('Student9')" *ngIf="Student9BTn">Student9</button>-->
                  <!--<button mat-menu-item (click)="addStudents('Student10')" *ngIf="Student10BTn">Student10</button>-->
                <!--</mat-menu>-->
              <!--</div>-->


            <!--</div>-->
            <!--<div *ngIf="showstudent">-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-4">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip Start Date</mat-label>-->
                    <!--<input matInput [matDatepicker]="picker1" placeholder="Start date(DD/MM/YYYY)" [min]="today"  [(ngModel)]="startDate" (dateInput)="chooseDate($event, 'sDate')"  (dateChange)="chooseDate($event, 'sDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker1></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="startDateError != ''">{{startDateError}}</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<mat-form-field color="accent" class="w-100">-->
                    <!--<mat-label>Trip End Date</mat-label>-->
                    <!--<input matInput [matDatepicker]="picker2" placeholder="End date(DD/MM/YYYY)" [(ngModel)]="endDate" [min]="maxDate" (dateInput)="chooseDate($event, 'eDate')"  (dateChange)="chooseDate($event, 'eDate')">-->
                    <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
                    <!--<mat-datepicker #picker2 color="primary"></mat-datepicker>-->
                  <!--</mat-form-field>-->
                  <!--<div class="error" *ngIf="endDateError != ''">{{endDateError}}</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row mt-2" >-->
                <!--<div class="col-md-12">-->
                  <!--<p class="days-count">Total Trip Days : {{daysCount}}</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div *ngIf="daysBookingCount > 60" class="ngError">Travel booking starts before 60 days</div>-->


              <!--<div class="row mt-2">-->
                <!--<div class="col-md-12">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<mat-select placeholder="Travel plans" [(ngModel)]="travelPlan" (change)="changeTravelType()" multiple>-->
                        <!--<mat-option *ngFor="let list of viewList" value="{{list.country_name}}">{{list.country_name}}</mat-option>-->

                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->
              <!--<mat-radio-group class="w-100" [(ngModel)]="medicalCondition">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-label>Any medical conditions?</mat-label>-->
                  <!--</div>-->
                  <!--<div class="col-md-12">-->
                    <!--<mat-radio-button value="1">Yes</mat-radio-button>-->
                    <!--<mat-radio-button value="0">No</mat-radio-button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</mat-radio-group>-->
              <!--<div *ngIf="medicalerror" class="ngError">Required</div>-->

              <!--<div fxLayoutAlign="center center" class="mt-3">-->
                <!--&lt;!&ndash;<button mat-raised-button color="accent" type="button" class="ml-2" (click)="refresh()">Reset <i class="material-icons">refresh</i></button>&nbsp;&nbsp;&ndash;&gt;-->
                <!--<button mat-raised-button color="accent" class="btn-color" type="button" (click)="submit('students')">Proceed <i class="material-icons">play_arrow</i></button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</mat-tab>-->
      <!--</mat-tab-group>-->



    <!--</div>-->


  <!--</div>-->

  <!--</mat-card-content>-->
  <!--</mat-card>-->
<!--</div>-->
<!--</div>-->



