<mat-sidenav-container>
    <mat-sidenav *ngIf="settings.menu == 'vertical'" [opened]="settings.sidenavIsOpened" [mode]="(settings.sidenavIsPinned) ? 'side' : 'over'" #sidenav class="sidenav mat-elevation-z6">
    <app-sidenav></app-sidenav>
</mat-sidenav>
    <mat-sidenav-content perfectScrollbar [disabled]="settings.fixedHeader" (psScrollY)="onPsScrollY($event)">
        <mat-toolbar class="flex-p-x top-nav" style="border-bottom: 1px solid #ccc;">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button *ngIf="settings.menu == 'vertical'" class="d-sm-block d-md-block d-lg-none" mat-icon-button (click)="toggleSidenav()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <!--<button fxShow="false" fxShow.gt-xs *ngIf="settings.menu == 'vertical'" mat-icon-button (click)="settings.sidenavUserBlock = !settings.sidenavUserBlock">-->
                        <!--<mat-icon>person</mat-icon>-->
                    <!--</button>-->
                    <a *ngIf="!settings.sidenavIsOpened" class="logo" routerLink="/home" ><img alt=""  src="assets/img/vizza-logoNew.png" style="width: 100%;" ></a>
                </div>
                <mat-toolbar  *ngIf="mHorizontal"
                             class="horizontal-menu flex-p-x">
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
                        <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
                        <div style="color:green;"><span class="material-icons mt-2 pt-4 "><i>phone &nbsp;</i></span> 1800 425 3000</div>
                    </div>
                </mat-toolbar>


                <!--<nav class="navbar navbar-expand-sm home-nav">-->

                    <!--&lt;!&ndash; Links &ndash;&gt;-->
                    <!--<ul class="navbar-nav">-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link active" >Home</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link">Team Vizza</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" >Vizza Expertize</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" >Learning Centre</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" >Media</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" >Careers</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" >Contact us</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                <!--</nav>-->
                <!--<div class="row">-->
                <!--</div>-->
                <div fxLayout="row" fxLayoutAlign="end center">
                    <!--<div fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-xs class="search-bar">-->
                        <!--<form method="get">-->
                            <!--<input type="text" placeholder="Type to search..." class="mat-elevation-z3"  [class.show]="toggleSearchBar">-->
                            <!--<button mat-icon-button (click)="toggleSearchBar = !toggleSearchBar" type="button">-->
                                <!--<mat-icon>search</mat-icon>-->
                            <!--</button>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<app-flags-menu fxShow="false" fxShow.gt-sm></app-flags-menu>-->

                    <p class="login-name" *ngIf="settings.username != 'null null' && settings.username != ''">Hi, {{settings.username}}</p>

                    <!--<div class="social-icons">-->
                        <!--<a href="https://www.facebook.com/Vizza-Insurance-Broking-Services-263685577699290/?modal=admin_todo_tour" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
                        <!--<a href="https://twitter.com/BrokingVizza" target="_blank"><i class="fab fa-tumblr"></i></a>-->
                        <!--<a href="https://www.linkedin.com/in/vizza-insurance-broking-services-317656167/" target="_blank"><i class="fab fa-linkedin-in"></i></a>-->
                        <!--<a href="https://www.youtube.com/channel/UCL6dApb7hpTyINrLLoHZY2w?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>-->
                        <!--<a href="https://www.instagram.com/vizzainsurancebroking/" target="_blank"><i class="fab fa-instagram"></i></a>-->
                    <!--</div>-->

                    <div class="dropdown h-login" [hidden]="settings.userId != 0">
                        <button type="button" class="btn btn-success dropdown-toggle btn-sm mt-1" data-toggle="dropdown">
                            Login
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/pos"><i class="fas fa-sign-in-alt"></i> &nbsp; POS Login</a>
                            <a class="dropdown-item" routerLink="/dm-login"><i class="fas fa-sign-in-alt"></i>&nbsp; Distance Marketing Login</a>
                            <a class="dropdown-item" href="https://vizzainsurance.com/admin/" target="_blank"><i class="fas fa-sign-in-alt"></i>&nbsp; Employee Login</a>
                        </div>
                    </div>
                    <!--<button mat-button color="primary" [matMenuTriggerFor]="menu" [hidden]="settings.userId != 0"><mat-icon> input</mat-icon> Login</button >-->
                    <!--<mat-menu #menu="matMenu">-->
                        <!--<button mat-menu-item routerLink="/pos"><mat-icon>arrow_right_alt</mat-icon> POS Login</button>-->
                        <!--<button mat-menu-item routerLink="/"><mat-icon>arrow_right_alt</mat-icon> Distance Marketing Login</button>-->
                        <!--<button mat-menu-item routerLink="https://vizzainsurance.com/admin/"><mat-icon>arrow_right_alt</mat-icon> Employee Login</button>-->
                    <!--</mat-menu>-->
                    <app-fullscreen class="d-none d-sm-none d-xl-block d-lg-block d-md-block"></app-fullscreen>
                    <span [hidden]="settings.userId==0"><app-user-menu></app-user-menu></span>

                    <mat-icon (click)="logout()" style="cursor: pointer" matTooltip="Logout" [hidden]="settings.userId == 0">power_settings_new</mat-icon>

                    <!--<app-applications fxShow="false" fxShow.gt-sm></app-applications>-->
                    <!--<app-messages fxShow="false" fxShow.gt-xs></app-messages>-->

                </div>
            </div>
        </mat-toolbar>


        <div id="main-content" class="inner-sidenav-content transition-2" perfectScrollbar [disabled]="!settings.fixedHeader" (psScrollY)="onPsScrollY($event)" [class.horizontal-menu-hidden]="isStickyMenu"> 
            <!--<app-breadcrumb *ngIf="breadcrumbHome == true"></app-breadcrumb>-->
            <router-outlet></router-outlet>    
        </div>


        <div fxLayout="row" fxLayoutAlign="center center" class="options-icon" (click)="options.toggle()">
            <mat-icon>settings</mat-icon>
        </div>

        <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition-2" (click)="scrollToTop();">
            <mat-icon>arrow_upward</mat-icon>
        </div>

    </mat-sidenav-content>
    
    <mat-sidenav #options position="end" class="options">        
       
        <div fxLayout="row" fxLayoutAlign="center center" class="control mat-elevation-z1">
            <h2>Settings</h2>
        </div>  

        <div perfectScrollbar>

            <div fxLayout="column" class="control">
                <h4>Layout</h4>        
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Fixed header</span>
                    <mat-slide-toggle [checked]="settings.fixedHeader" (change)="settings.fixedHeader = !settings.fixedHeader" labelPosition="before"></mat-slide-toggle>
                </div>                
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>RTL</span>
                    <mat-slide-toggle [checked]="settings.rtl" (change)="settings.rtl = !settings.rtl" labelPosition="before"></mat-slide-toggle>
                </div>
            </div>

            <div fxLayout="column" class="control">
                <h4>Choose menu</h4>
                <mat-radio-group [(ngModel)]="menuOption" (change)="chooseMenu()">
                    <mat-radio-button *ngFor="let menu of menus" [value]="menu">{{menu}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div fxLayout="column" class="control">
                <h4>Choose menu type</h4>
                <mat-radio-group [(ngModel)]="menuTypeOption" (change)="chooseMenuType()">
                    <mat-radio-button *ngFor="let menuType of menuTypes" [value]="menuType">{{menuType}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div fxLayout="column" class="control">
                <h4>Choose theme skin</h4>        
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="skin-primary indigo-light" (click)="changeTheme('indigo-light')"><div class="skin-secondary"></div></div>  
                    <div class="skin-primary teal-light" (click)="changeTheme('teal-light')"><div class="skin-secondary"></div></div>  
                    <div class="skin-primary red-light" (click)="changeTheme('red-light')"><div class="skin-secondary"></div></div>  
                    <div class="skin-primary blue-dark" (click)="changeTheme('blue-dark')"><div class="skin-secondary"></div></div>  
                    <div class="skin-primary green-dark" (click)="changeTheme('green-dark')"><div class="skin-secondary"></div></div>  
                    <div class="skin-primary pink-dark" (click)="changeTheme('pink-dark')"><div class="skin-secondary"></div></div>  
                </div>
            </div>

            <div fxLayout="column" class="control">
                <h4>Sidenav options</h4>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Opened sidenav</span>
                    <mat-slide-toggle [checked]="settings.sidenavIsOpened" (change)="settings.sidenavIsOpened = !settings.sidenavIsOpened" labelPosition="before"></mat-slide-toggle>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Pinned sidenav</span>
                    <mat-slide-toggle [checked]="settings.sidenavIsPinned" (change)="settings.sidenavIsPinned = !settings.sidenavIsPinned" labelPosition="before"></mat-slide-toggle>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Sidenav user info</span>
                    <mat-slide-toggle [checked]="settings.sidenavUserBlock" (change)="settings.sidenavUserBlock = !settings.sidenavUserBlock" labelPosition="before"></mat-slide-toggle>
                </div>
            </div>


        </div>

    </mat-sidenav>

</mat-sidenav-container>
<style>
    .breadcrumb{
        display: none !important;
    }
</style>

<div id="mySidenav" class="sidenav">
    <!--<a routerLink="/contact" (click)="iconclick()" id="about" fxLayoutAlign="center center"><mat-icon class="mr-2" id="loading">phone_android</mat-icon> Contact</a>-->
    <a (click)="iconclick()" id="about" fxLayoutAlign="center center"><mat-icon class="mr-2" id="loading">phone_android</mat-icon> Contact</a>
</div>
