<div class="success-message">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <div *ngIf="paymentStatus == 'success'">
        <img src="assets/img/success.gif" alt="">
        <h5>Thank you! Your payment is processed successfully..</h5>
        <!--<p>Your Application Number {{applicationNo}}.</p>-->

        <!--<p>Click here to download PDF <button mat-button color="primary" (click)="DownloadPdf()">Download</button></p>-->
        <!--<button mat-raised-button color="primary" (click)="DownloadPdf('receipt')">Recipt</button>-->
        <button mat-raised-button color="primary" (click)="DownloadPdf('pdf')">BI Form</button>
        <button mat-raised-button color="primary" (click)="DownloadPdf('proposl')">Proposal</button>

        <button mat-raised-button color="primary" routerLink="/home"> Done</button>
      </div>
      <div *ngIf="paymentStatus == 'failure'">
        <img src="assets/img/error-icon.png" alt="">
        <h2 style="color:#f44336">Oh no, Your payment failed</h2>
        <p>The transaction has failed due to one of the following reasons:</p>
        <div class="text-left w-100">
          <p>1. Payment was declined by your bank or credit card provider</p>
          <p>2. Credit/Debit card provided has expired</p>
          <p>3. Credit/Debit card has insufficient funds</p>
          <p>4. Credit/Debit card number provided is invalid</p>
          <p>5. Credit/Debit card provided has not been approved for recurring payments</p>
          <p>If you want to retry payment.<span (click)="retry()" class="retryClass"> Please click here... </span></p>
        </div>
      </div>

    </mat-card>
  </div>
</div>

<style>
  .retryClass{
    color: #3e65d4 !important;
    cursor: pointer;
  }

</style>
