<div class="bg-map">
    <div fxLayout="row" fxLayoutAlign="left center" class="h-100">
        <form [formGroup]="form" fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="60" class="mt-registration">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner"
                      style="border-radius: 10px">
                <!--<span class="box-content-header"><img class="login-logo mb-3" src="assets/img/vizza-logoNew.png"> </span>-->
                <mat-card-subtitle><h3>Register</h3></mat-card-subtitle>

                <mat-tab-group class="horizantal-tabs w-100" [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">

                    <mat-tab label="Register Notes">
                        <div>
                            <p>Please ensure the following documents are kept ready</p>
                        </div>
                        <mat-list role="list">
                            <mat-list-item role="listitem">Aadhar Card(Front and Back)</mat-list-item>
                            <mat-list-item role="listitem">PAN Card</mat-list-item>
                            <mat-list-item role="listitem">Highest Educational Qualification</mat-list-item>
                            <mat-list-item role="listitem">Cancelled Cheque Leaf</mat-list-item>
                            <mat-list-item role="listitem">Your Photo</mat-list-item>
                        </mat-list>
                        <hr>
                        <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
                            <button color="primary" mat-raised-button (click)="nextStep()" type="button">Next</button>
                        </div>
                    </mat-tab>

                    <mat-tab label="Personal" formGroupName="personal">
                        <mat-form-field class="w-100">
                        <input matInput placeholder="First name" formControlName="firstname"  (keypress)="data($event)" autocomplete="off" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="form.controls.personal.controls.firstname.errors?.required">First name is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Last name" formControlName="lastname" (keypress)="data($event)" autocomplete="off" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error *ngIf="form.controls.personal.controls.lastname.errors?.required">Last name is required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100" >
                        <input matInput [matDatepicker]="birthday" [max]="today" formControlName="birthday" placeholder="Date of Birth(DD/MM/YY)" (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)" (keypress)="dobkeyPress($event)" autocomplete="off" maxlength="10" minlength="10" required>
                        <mat-datepicker-toggle matSuffix [for]="birthday" ></mat-datepicker-toggle>
                        <mat-datepicker  #birthday ></mat-datepicker>
                        <mat-error *ngIf="form.controls.personal.controls.birthday.errors?.required">Dob is required</mat-error>
                            <!--<mat-error *ngIf="img">Age limit should be greater than 18 age</mat-error>-->

                            <!--<mat-error *ngIf="form.controls.birthday.hasError('pattern')">Enter Valid Date</mat-error>-->
                        </mat-form-field>

                        <div *ngIf="img" style="color: red">Age should be greater than 18</div>
                        <div class="error" *ngIf="dobError != ''">{{dobError}}</div>
                        <mat-radio-group formControlName="gender" (change)="checkGender()" required>
                        <mat-radio-button value="male" class="mr-2">Male<span class="error"> *</span></mat-radio-button>
                        <mat-radio-button value="female" >Female<span class="error"> *</span></mat-radio-button>
                        <!--<div *ngIf="form.controls.gender.errors?.required">Gender is required</div>-->
                        </mat-radio-group>
                        <div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>


                        <mat-form-field class="w-100">
                        <input matInput placeholder="Referral Contact Number" formControlName="referralconduct" (keypress)="keyPress($event)"  minlength="10" maxlength="10" autocomplete="off">
                            <i class="fas fa-phone" matSuffix></i>
                            <mat-error *ngIf="form.controls.personal.controls.referralconduct.hasError('pattern')">Referral Contact Number is Not Valid</mat-error>
                        </mat-form-field>

                        <!--<input matInput placeholder="Referral Contact Number" formControlName="referralName" (keypress)="keyPress($event)" minlength="10" maxlength="10" autocomplete="off">-->
                        <!--<i class="fas fa-phone" matSuffix></i>-->
                        <!--<mat-error *ngIf="form.controls.personal.controls.referralconduct.hasError('pattern')">Referral Contact Number is Not Valid</mat-error>-->
                        <!--</mat-form-field>-->
                        <!--<input matInput placeholder="Referral Contact Number" formControlName="referralCode" (keypress)="keyPress($event)" minlength="10" maxlength="10" autocomplete="off">-->
                        <!--<i class="fas fa-phone" matSuffix></i>-->
                        <!--<mat-error *ngIf="form.controls.personal.controls.referralconduct.hasError('pattern')">Referral Contact Number is Not Valid</mat-error>-->
                        <!--</mat-form-field>-->
                        <!--<div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>-->

                        <div class="w-100 mt-2">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="readUrl($event, 'profile')" formControlName="profile"   aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label">Attach Your Photo</label>
                            <div class="error" *ngIf !="form.controls.personal.controls.profile.valid">Profile Image is required</div>
                        </div>
                        </div>
                        <div class="row w-100">
                        <div class="col-md-12">
                        <div *ngIf="profile != ''">
                        <span class="imageclose mr-2"><img src="{{webhost + '/' + profile}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                        </div>
                        </div>
                        </div>
                        <hr>
                        <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
                            <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
                            <button color="primary" mat-raised-button  [hidden]="nectStatus"  disabled>Next</button>
                            <button color="primary" mat-raised-button (click)="nextStep()"  *ngIf="nectStatus" [disabled]="!form.controls.personal.valid" type="button">Next</button>

                        </div>
                    </mat-tab>

                        <mat-tab label="Contacts" formGroupName="contacts">
                        <mat-form-field class="w-100">
                        <!--<input matInput placeholder="Email Id" required formControlName="email" required>-->
                        <!--<mat-error *ngIf="form.controls.contacts.controls.email.hasError('required')">Email is required</mat-error>-->
                        <!--<mat-error *ngIf="form.controls.contacts.controls.email.hasError('pattern')">Enter valid Email</mat-error>-->
                        <input matInput type="email" placeholder="Email Id" formControlName="email" autocomplete="off" required>
                            <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="form.controls.contacts.controls.email.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="form.controls.contacts.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput (keypress)="keyPress($event)" placeholder="Mobile No"
                        minlength="10" maxlength="10" formControlName="phone1" autocomplete="off" required>
                        <i class="fas fa-phone" matSuffix></i>
                        <mat-error *ngIf="form.controls.contacts.controls.phone1.hasError('required')">
                        Mobile Number is required
                        </mat-error>
                            <mat-error *ngIf="form.controls.contacts.controls.phone1.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                        </mat-form-field>

                            <mat-form-field class="w-100">
                                <input matInput (keypress)="keyPress($event)" placeholder="Alternate mobile No"
                                       minlength="10" maxlength="10" formControlName="phone2">
                                <i class="fas fa-phone" matSuffix></i>
                            </mat-form-field>
                        <!--<mat-form-field class="w-100">-->
                        <!--<input matInput placeholder="Phone2" (keypress)="keyPress($event)"  maxlength="13" formControlName="phone2">-->
                        <!--</mat-form-field>-->
                        <mat-form-field class="w-100">
                        <input matInput formControlName="address1" placeholder="Address1" autocomplete="off" required>
                        <mat-icon matSuffix>home</mat-icon>
                        <mat-error *ngIf="form.controls.contacts.controls.address1.errors?.required ">
                        Enter Address1
                        </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                        <input matInput placeholder="Address2" formControlName="address2" autocomplete="off">
                        <mat-icon matSuffix>home</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Pincode" pattern="[1-9][0-9]{5}" maxlength="6"
                        minlength="6" (keypress)="keyPress($event)" (keyup)="getPin($event.target.value)" formControlName="pincode"
                        required autocomplete="off">
                        <mat-icon matSuffix>home</mat-icon>
                        <mat-error *ngIf="form.controls.contacts.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="form.controls.contacts.controls.pincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="form.controls.contacts.controls.pincode.hasError('pattern')">Enter Valid Pincode</mat-error>
                        </mat-form-field>
                            <div *ngIf="pincodeErrors" style="color: red">Invalid Pincode</div>

                            <hr>
                            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
                                <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
                                <button color="primary" mat-raised-button (click)="nextStep()" [disabled]="!form.controls.contacts.valid || pincodeErrors" type="button">Next</button>
                            </div>
                        </mat-tab>

                        <mat-tab label="Documents" formGroupName="documents">
                        <mat-form-field class="w-100">
                        <input matInput required placeholder="Aadhar Number" maxlength="12" minlength="12" (keypress)="keyPress($event)" formControlName="aadharnumber" autocomplete="off">
                        <i class="far fa-id-card" matSuffix></i>
                        <mat-error *ngIf="form.controls.documents.controls.aadharnumber.hasError('minlength')">Aadhar Number should be Minimum 12 digits</mat-error>
                        <mat-error *ngIf="form.controls.documents.controls.aadharnumber.hasError('maxlength')">Aadhar Number should be MAximum 12 digits</mat-error>
                        <mat-error *ngIf="form.controls.documents.controls.aadharnumber.hasError('required')">Enter Valid Aadhar Number</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput required placeholder="Pan Number" maxlength="10" minlength="10" formControlName="pannumber" autocomplete="off">
                        <i class="far fa-id-card" matSuffix></i>
                        <mat-error *ngIf="form.controls.documents.controls.pannumber.hasError('minlength')">Pan Number should be 10 digits</mat-error>
                        <mat-error *ngIf="form.controls.documents.controls.pannumber.hasError('required')">Pan Number required</mat-error>
                            <mat-error *ngIf="form.controls.documents.controls.pannumber.hasError('pattern')">Enter Valid Pan Number</mat-error>
                        </mat-form-field>
                        <div class="w-100">
                        <p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span></p>
                        </div>

                        <div class="w-100">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="aadharfront" (change)="readUrl($event, 'aadhar front')"   aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label">Aadhar Front Image</label>
                            <div class="error" *ngIf !="form.controls.documents.controls.aadharfront.valid">Aadhar Front Image is required</div>
                        </div>
                        </div>
                        <div class="row w-100 mb-3">
                        <div class="col-md-12">
                        <div *ngIf="aadharfront != ''">
                        <span class="imageclose mr-2"><img src="{{webhost + '/' + aadharfront}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                        </div>
                        </div>
                        </div>
                        <div class="w-100 mb-3">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="aadharback" (change)="readUrl($event, 'aadhar back')"   aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label">Aadhar Back Image</label>
                            <div class="error" *ngIf !="form.controls.documents.controls.aadharback.valid">Aadhar Back Image is required</div>
                        </div>
                        </div>
                        <div class="row w-100">
                        <div class="col-md-12">
                        <div *ngIf="aadharback != ''">
                        <span class="imageclose mr-2"><img src="{{webhost + '/' + aadharback}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                        </div>
                        </div>
                        </div>
                        <div class="w-100">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="pancard" (change)="readUrl($event, 'pancard')"   aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label">PAN Card Front Image</label>
                            <div class="error" *ngIf !="form.controls.documents.controls.pancard.valid">PAN Card Image is required</div>
                        </div>
                        </div>
                        <div class="row w-100">
                        <div class="col-md-12">
                        <div *ngIf="pancard != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + pancard}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                        </div>
                        </div>
                        </div>
                            <hr>
                            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
                                <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
                                <button color="primary" mat-raised-button (click)="nextStep()" [disabled]="!form.controls.documents.valid" type="button">Next</button>
                            </div>
                        </mat-tab>

                        <mat-tab label="Education" formGroupName="education">
                        <mat-form-field class="w-100">
                        <textarea matInput #message maxlength="300" required placeholder="Highest Education Qualification" rows="3" formControlName="qualification" autocomplete="off"></textarea>
                        <mat-hint align="end">{{message.value.length}} /300</mat-hint>
                        <mat-error *ngIf="form.controls.education.controls.qualification.hasError('required')">Educational details required</mat-error>
                        </mat-form-field>
                        <div class="w-100">
                        <p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span>
                        </p>
                        </div>
                        <div class="w-100">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="educationdocument" (change)="readUrl($event, 'education')"   aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label">Educational Documents</label>
                            <div class="error" *ngIf !="form.controls.education.controls.educationdocument.valid">Education Back Image is required</div>
                        </div>
                        </div>
                        <div class="row w-100">
                        <div class="col-md-12">
                        <div *ngIf="education != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + education}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                        </div>
                        </div>
                        </div>
                            <hr>
                            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
                                <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
                                <button color="primary" mat-raised-button (click)="nextStep()" [disabled]="!form.controls.education.valid"  type="button">Next</button>
                            </div>
                        </mat-tab>
                        <mat-tab label="BankDetails" formGroupName="bankdetails">
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Bank Name" (keypress)="data($event)" formControlName="bankname" autocomplete="off">
                            <mat-icon matSuffix>account_balance</mat-icon>
                        <mat-error *ngIf="form.controls.bankdetails.controls.bankname.hasError('required')">Bank Name details required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Bank Branch" (keypress)="data($event)" formControlName="bankbranch" autocomplete="off">
                            <mat-icon matSuffix>account_balance</mat-icon>
                        <mat-error *ngIf="form.controls.bankdetails.controls.bankbranch.hasError('required')">Bank Branch details required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput placeholder="IFSC Code" formControlName="ifsccode" minlength="11" maxlength="11" (keypress)="character($event)" autocomplete="off">
                            <mat-icon matSuffix>account_balance</mat-icon>
                        <mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('minlength')">IFSC Code Number should be Minimum 11 digits</mat-error>
                        <mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('maxlength')">IFSC Code Number should be Maximum 11 digits</mat-error>
                        <mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('required')">IFSC Code details required</mat-error>
                        <!--<mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('pattern')">Enter Valid IFSC Code</mat-error>-->
                        </mat-form-field>
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Account Number" formControlName="accountnumber" (keypress)="keyPress($event)" maxlength="15" minlength="8" autocomplete="off">
                            <mat-icon matSuffix>account_balance</mat-icon>
                        <mat-error *ngIf="form.controls.bankdetails.controls.accountnumber.hasError('required')">Account Number details required</mat-error>
                        <mat-error *ngIf="form.controls.bankdetails.controls.accountnumber.hasError('minlength')">Account Number should be Minimum 8 digits</mat-error>
                        </mat-form-field>
                            <div class="w-100">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" formControlName="chequeleaf" (change)="readUrl($event, 'chequeleaf')"   aria-describedby="inputGroupFileAddon01" autocomplete="off">
                                    <label class="custom-file-label">Attached Cancelled Cheque Leaf (or) Passbook</label>
                                    <div class="error" [hidden]="form.controls.bankdetails.controls.chequeleaf.valid">Education Back Image is required</div>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-md-12">
                                    <div *ngIf="chequeleaf != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + chequeleaf}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
                                <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
                                <button color="primary" mat-raised-button (click)="submit(form.value)" [disabled]="!form.valid"  type="button">Save</button>
                            </div>
                        </mat-tab>
                </mat-tab-group>

                <div class="login-options">
                    <div><span>Already You have an account ? </span> <a [routerLink]="['/pos']"> Login</a></div>
                </div>
            </mat-card>


        </form>


    </div>

</div>

<!--<div class="container-fluid h-100" *ngIf="status!=200">-->
<!--<div class="row" fxLayoutAlign="center start">-->
<!--<div class="col-md-6">-->
<!--<div class="dashboard1" style="width:auto;">-->
<!--<mat-card>-->
<!--<mat-card-header fxLayoutAlign="space-between center">-->
<!--<h2>Register with the Best</h2>-->
<!--</mat-card-header>-->
<!--</mat-card>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-6 ">-->
<!--<div class="register_page">-->
<!--<form [formGroup]="form">-->
<!--<mat-card fxLayout="column"  fxLayoutAlign="center center" style="border-radius: 10px" class="p-0">-->
<!--&lt;!&ndash;<span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logo.png"> </span>&ndash;&gt;-->

<!--<mat-tab-group  class="horizontal-tabs w-100" [selectedIndex]="selectedtab">-->
<!--<mat-tab label="Personal">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="First name" formControlName="firstname"  required>-->
<!--<mat-icon matSuffix>person</mat-icon>-->
<!--<mat-error *ngIf="form.controls.firstname.errors?.required">First name is required</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Last name" formControlName="lastname" required>-->
<!--<mat-icon matSuffix>person</mat-icon>-->
<!--<mat-error *ngIf="form.controls.lastname.errors?.required">Last name is required</mat-error>-->
<!--</mat-form-field>-->

<!--<mat-form-field class="w-100">-->
<!--<input matInput [matDatepicker]="birthday" placeholder="Date of Birth(DD/MM/YY)"-->
<!--formControlName="birthday" (dateInput)="addEvent($event)"-->
<!--(dateChange)="addEvent($event)" (keypress)="keyPress($event)" required-->
<!--maxlength="10">-->
<!--<mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>-->
<!--<mat-datepicker touchUi #birthday></mat-datepicker>-->
<!--<mat-error *ngIf="form.controls.birthday.errors?.required">Dob is required</mat-error>-->
<!--&lt;!&ndash;<mat-error *ngIf="form.controls.birthday.hasError('pattern')">Enter Valid Date</mat-error>&ndash;&gt;-->
<!--</mat-form-field>-->


<!--&lt;!&ndash;<div *ngIf="img" style="color: red">Age should be greater than 18</div>&ndash;&gt;-->
<!--<div class="error" *ngIf="dobError != ''">{{dobError}}</div>-->
<!--<mat-radio-group formControlName="gender" (change)="checkGender()" required>-->
<!--<mat-radio-button value="male" labelPosition="before">Male</mat-radio-button>-->
<!--<mat-radio-button value="female" labelPosition="before">Female</mat-radio-button>-->
<!--&lt;!&ndash;<div *ngIf="form.controls.gender.errors?.required">Gender is required</div>&ndash;&gt;-->
<!--</mat-radio-group>-->
<!--<div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>-->


<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Referral Code" formControlName="referralcode" maxlength="50">-->
<!--<i class="fas fa-volume-up" matSuffix></i>-->
<!--</mat-form-field>-->
<!--&lt;!&ndash;<div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>&ndash;&gt;-->

<!--<div class="w-100">-->
<!--<div class="custom-file">-->
<!--<input type="file" class="custom-file-input" (change)="readUrl($event, 'profile')"   aria-describedby="inputGroupFileAddon01">-->
<!--<label class="custom-file-label">Profile</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row w-100">-->
<!--<div class="col-md-12">-->
<!--<div *ngIf="profile != ''">-->
<!--<span class="imageclose mr-2"><img src="{{webhost + '/' + profile}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</mat-tab>-->

<!--<mat-tab label="Contacts" formGroupName="contacts">-->
<!--<mat-form-field class="w-100">-->
<!--&lt;!&ndash;<input matInput placeholder="Email Id" required formControlName="email" required>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-error *ngIf="form.controls.contacts.controls.email.hasError('required')">Email is required</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-error *ngIf="form.controls.contacts.controls.email.hasError('pattern')">Enter valid Email</mat-error>&ndash;&gt;-->
<!--<input matInput type="email" placeholder="Email Id" formControlName="email" required>-->
<!--<i class="far fa-envelope" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.email.errors?.required">Email ID is required</mat-error>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput (keypress)="keyPress($event)" placeholder="Mobile No"-->
<!--minlength="10" maxlength="10" formControlName="phone1" required>-->
<!--<i class="fas fa-phone" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.phone1.hasError('minlength')">-->
<!--Enter Valid Mobile Number-->
<!--</mat-error>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.phone1.hasError('required')">-->
<!--Mobile Number is required-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--&lt;!&ndash;<mat-form-field class="w-100">&ndash;&gt;-->
<!--&lt;!&ndash;<input matInput placeholder="Phone2" (keypress)="keyPress($event)"  maxlength="13" formControlName="phone2">&ndash;&gt;-->
<!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput formControlName="address1" placeholder="Address1" required>-->
<!--<mat-icon matSuffix>home</mat-icon>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.address1.errors?.required ">-->
<!--Enter Address1-->
<!--</mat-error>-->
<!--</mat-form-field>-->

<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Address2" formControlName="address2">-->
<!--<mat-icon matSuffix>home</mat-icon>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Pincode" pattern="[1-9][0-9]{5}" maxlength="6"-->
<!--minlength="6" (keypress)="keyPress($event)" formControlName="pincode"-->
<!--required>-->
<!--<mat-icon matSuffix>home</mat-icon>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.pincode.hasError('required')">Pincode required</mat-error>-->
<!--<mat-error *ngIf="form.controls.contacts.controls.pincode.hasError('pattern')">Enter Valid Pin</mat-error>-->

<!--</mat-form-field>-->
<!--</mat-tab>-->

<!--<mat-tab label="Documents" formGroupName="documents">-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput required placeholder="Aadhar Number" maxlength="12" minlength="12" (keypress)="keyPress($event)" formControlName="aadharnumber">-->
<!--<i class="far fa-id-card" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.documents.controls.aadharnumber.hasError('minlength')">Aadhar Number should be Minimum 12 digits</mat-error>-->
<!--<mat-error *ngIf="form.controls.documents.controls.aadharnumber.hasError('maxlength')">Aadhar Number should be MAximum 12 digits</mat-error>-->
<!--<mat-error *ngIf="form.controls.documents.controls.aadharnumber.hasError('required')">Enter Valid Aadhar Number</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput required placeholder="Pan Number" maxlength="10" minlength="10" formControlName="pannumber">-->
<!--<i class="far fa-id-card" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.documents.controls.pannumber.hasError('minlength')">Pan Number should be 10 digits</mat-error>-->
<!--<mat-error *ngIf="form.controls.documents.controls.pannumber.hasError('required')">Pan Number required</mat-error>-->
<!--<mat-error *ngIf="form.controls.documents.controls.pannumber.hasError('pattern')">Enter Valid Pan</mat-error>-->
<!--</mat-form-field>-->
<!--<div class="w-100">-->
<!--<p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span></p>-->
<!--</div>-->

<!--<div class="w-100">-->
<!--<div class="custom-file">-->
<!--<input type="file" class="custom-file-input" (change)="readUrl($event, 'aadhar front')"   aria-describedby="inputGroupFileAddon01">-->
<!--<label class="custom-file-label">Aadhar Front Page</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row w-100">-->
<!--<div class="col-md-12">-->
<!--<div *ngIf="aadharfront != ''">-->
<!--<span class="imageclose mr-2"><img src="{{webhost + '/' + aadharfront}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="w-100">-->
<!--<div class="custom-file">-->
<!--<input type="file" class="custom-file-input" (change)="readUrl($event, 'aadhar back')"   aria-describedby="inputGroupFileAddon01">-->
<!--<label class="custom-file-label">Aadhar Back Image</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row w-100">-->
<!--<div class="col-md-12">-->
<!--<div *ngIf="aadharback != ''">-->
<!--<span class="imageclose mr-2"><img src="{{webhost + '/' + aadharback}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="w-100">-->
<!--<div class="custom-file">-->
<!--<input type="file" class="custom-file-input" (change)="readUrl($event, 'pancard')"   aria-describedby="inputGroupFileAddon01">-->
<!--<label class="custom-file-label">PAN Card Front Image</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row w-100">-->
<!--<div class="col-md-12">-->
<!--<div *ngIf="pancard != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + pancard}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</mat-tab>-->

<!--<mat-tab label="Education" formGroupName="education">-->
<!--<mat-form-field class="w-100">-->
<!--<textarea matInput #message maxlength="300" required placeholder="Qualification" rows="3" formControlName="qualification"></textarea>-->
<!--<mat-hint align="end">{{message.value.length}} /300</mat-hint>-->
<!--<mat-error *ngIf="form.controls.education.controls.qualification.hasError('required')">Educational details required</mat-error>-->
<!--</mat-form-field>-->
<!--<div class="w-100">-->
<!--<p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span>-->
<!--</p>-->
<!--</div>-->
<!--<div class="w-100">-->
<!--<div class="custom-file">-->
<!--<input type="file" class="custom-file-input" (change)="readUrl($event, 'education')"   aria-describedby="inputGroupFileAddon01">-->
<!--<label class="custom-file-label">Educational Documents</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row w-100">-->
<!--<div class="col-md-12">-->
<!--<div *ngIf="education != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + education}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</mat-tab>-->
<!--<mat-tab label="BankDetails" formGroupName="bankdetails">-->

<!--<div class="w-100">-->
<!--<div class="custom-file">-->
<!--<input type="file" class="custom-file-input" (change)="readUrl($event, 'chequeleaf')"   aria-describedby="inputGroupFileAddon01">-->
<!--<label class="custom-file-label">Attached Cancelled Cheque Leaf (or) Passbook</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row w-100">-->
<!--<div class="col-md-12">-->
<!--<div *ngIf="chequeleaf != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + chequeleaf}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Bank Name" formControlName="bankname">-->
<!--<i class="fas fa-rupee-sign" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.bankname.hasError('required')">Bank Name details required</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Bank Branch" formControlName="bankbranch">-->
<!--<i class="fas fa-rupee-sign" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.bankbranch.hasError('required')">Bank Branch details required</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="IFSC Code" formControlName="ifsccode" minlength="11" maxlength="11">-->
<!--<i class="fas fa-rupee-sign" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('minlength')">IFSC Code Number should be Minimum 11 digits</mat-error>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('maxlength')">IFSC Code Number should be Maximum 11 digits</mat-error>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('required')">IFSC Code details required</mat-error>-->
<!--&lt;!&ndash;<mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('pattern')">Enter Valid IFSC Code</mat-error>&ndash;&gt;-->
<!--</mat-form-field>-->
<!--<mat-form-field class="w-100">-->
<!--<input matInput placeholder="Account Number" formControlName="accountnumber" (keypress)="keyPress($event)" maxlength="15" minlength="8">-->
<!--<i class="fas fa-rupee-sign" matSuffix></i>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.accountnumber.hasError('required')">Account Number details required</mat-error>-->
<!--<mat-error *ngIf="form.controls.bankdetails.controls.accountnumber.hasError('minlength')">Account Number should be Minimum 8 digits</mat-error>-->
<!--</mat-form-field>-->
<!--</mat-tab>-->
<!--</mat-tab-group>-->
<!--<hr>-->
<!--<div style="padding-left: 10px">-->
<!--<button mat-raised-button color="primary" (click)="submit(form.value)" >-->
<!--Proceed-->
<!--</button>-->
<!--</div>-->
<!--</mat-card>-->
<!--</form>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

