<div *ngIf="status!=200" class="bg-map">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30"  fxFlex.sm="60" class="mt-login" >
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner" [hidden]="formhide">
        <span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logo.png"> </span>
        <mat-form-field class="w-100">
          <input matInput placeholder="Mobile number" formControlName="mobilenumber" required type="number" (keypress)="keyPress($event)" minlength="10" maxlength="10">
          <mat-icon matSuffix>call</mat-icon>
          <mat-error *ngIf="form.controls.mobilenumber.errors?.required">Mobile number is required</mat-error>
          <mat-error *ngIf="form.controls.mobilenumber.hasError('minlength')">Mobile number isn't long enough, minimum of 10 characters</mat-error>
        </mat-form-field >
        <mat-form-field class="w-100">
          <input matInput placeholder="OTP" formControlName="otp" required minlength="6">
          <mat-icon matSuffix>more_horiz</mat-icon>
          <mat-error *ngIf="form.controls.otp.errors?.required">OTP is required</mat-error>
          <mat-error *ngIf="form.controls.otp.hasError('minlength')">OTP  isn't long enough, minimum of 6 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="New Password" formControlName="newpassword" required minlength="6" [type]="hide ? 'password' : 'text'">
          <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="form.controls.newpassword.errors?.required">New Password is required</mat-error>
          <mat-error *ngIf="form.controls.newpassword.hasError('minlength')">New Password  isn't long enough, minimum of 6 characters</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Confirm Password" formControlName="confirmpassword" required minlength="6" [type]="hide ? 'password' : 'text'">
          <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="form.controls.confirmpassword.errors?.required">Confirm password is required</mat-error>
          <mat-error *ngIf="form.controls.confirmpassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>

        </mat-form-field>
        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button w-100 mt-2"  (click)="changePassword()">Submit</button>
        <div class="login-options">
          <div><span>Didn't recieve the OTP?</span> <button mat-button color="primary" type="button" (click)="resendRequest()">RESEND OTP</button></div>
        </div>
      </mat-card>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner"[hidden]="messagelink">
        <span class="box-content-header"><img class="login-logo" src="assets/img/vizza-logo.png"> </span>
    </mat-card>
    </form>
  </div>
</div>
