<div class="row mb-3" >
  <!--<div class="col-sm-8 text-left">-->
    <!--<h5 class="text-capitalize">{{data.title}}</h5>-->
  <!--</div>-->
  <div class="col-sm-12 text-right">
    <i class="material-icons" style="cursor: pointer" (click)="onNoClick()">close</i>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div mat-dialog-content >
      <mat-form-field class="w-100">
        <textarea matInput placeholder="{{data.title}}" rows="5" [(ngModel)]="notes"></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right">
      <button mat-raised-button color="primary" (click)="saveNotes()">Ok</button>
    </div>
  </div>
</div>

<div class="row mt-5" >
  <div class="col-md-12" *ngIf="data.title == 'Notify'">
    <div fxLayout="column">
      <div class="flex-p">
        <ngx-datatable
                class="material"
                [rows]="rows"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="totalNotes"
                [offset]="pageOffSet"
                [limit]="recordsperpage"
                (page)='setPage($event)'>

          <ngx-datatable-column name="createddate">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="note">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

      </div>
    </div>

  </div>
</div>