<!--Deskop View-->
<div class="d-none d-sm-none d-md-none d-lg-block">
<div class="container-fluid">
  <div class="row bajajLifeProposal" >
    <div class="col-md-12">
      <mat-horizontal-stepper  #stepper>
        <mat-step [stepControl]="bajajProposal">
          <ng-template matStepLabel *ngIf="!showInsure">PROPOSER / INSURED DETAILS</ng-template>
          <ng-template matStepLabel *ngIf="showInsure">PROPOSER DETAILS</ng-template>

          <mat-accordion class="w-100 float-left">
            <form [formGroup]="bajajProposal" >
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header *ngIf="!showInsure">
                  <mat-panel-title>
                    PROPOSER / INSURED DETAILS
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel-header *ngIf="showInsure">
                  <mat-panel-title>
                    PROPOSER  DETAILS

                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row ">
                  <div class="col-md-12 box-card pt-3">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="title" (selectionChange)="changeGender()" required>
                            <mat-option value="Mr">Mr</mat-option>
                            <mat-option value="Mrs">Mrs</mat-option>
                            <mat-option value="Miss">Miss</mat-option>
                          </mat-select>
                          <mat-error *ngIf="bajajProposal.controls.title.errors?.required">title is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="firstName"  (keypress)="nameValidate($event)" autocomplete="off" required >
                          <mat-error *ngIf="bajajProposal.controls.firstName.errors?.required">Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Middle Name" formControlName="middlename" (keypress)="nameValidate($event)" >
<!--                          <mat-error *ngIf="bajajProposal.controls.middlename.errors?.required">Middlename is required</mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="lastName" (keypress)="nameValidate($event)" required>
                          <mat-error *ngIf="bajajProposal.controls.lastName.errors?.required">LastName is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4" [ngStyle]="{'pointer-events':'none'}">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Gender" formControlName="gender" required>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                          </mat-select>
                          <mat-error *ngIf="bajajProposal.controls.gender.errors?.required">Gender is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)" formControlName="dob" (dateInput)="addEvent($event,'proposor')" (dateChange)="addEvent($event,'proposor')" (keypress)="dobValidate($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="bajajProposal.controls.dob.errors?.required">DOB is required</mat-error>
                        </mat-form-field>
                        <div class="error" *ngIf="personalDobError != ''">{{personalDobError}}</div>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required>
                        <mat-error *ngIf="bajajProposal.controls.email.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="bajajProposal.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                      </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mobile Number"  (keypress)="numberValidate($event)"   maxlength="10" formControlName="mobile" autocomplete="off" required>
                          <mat-error *ngIf="bajajProposal.controls.mobile.errors?.required">Mobile Number is required</mat-error>
                          <mat-error *ngIf="bajajProposal.controls.mobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Alternate Contact Number"  (keypress)="numberValidate($event)"   maxlength="10" formControlName="telephone">
                          <mat-error *ngIf="bajajProposal.controls.telephone.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Passport Number"  minlength="8"  maxlength="8" formControlName="passportNumber1" autocomplete="off" (input)="passportval()" style="text-transform: uppercase" required>
<!--                        <mat-error *ngIf="bajajProposal.controls.passportNumber.errors?.required">Passport number is required</mat-error>-->
<!--                        <mat-error *ngIf="bajajProposal.controls.passportNumber.hasError('pattern')">Enter Valid  Passport number</mat-error>-->
                      </mat-form-field>
                        <div class="error" *ngIf="passportany !=''&& passportany !=true">{{passportany}}</div>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <mat-select matInput placeholder="Marital Status"  formControlName="maritalStatus" autocomplete="off" required>
                          <mat-option *ngFor="let  marital of getMaritalDetails | keys" value="{{marital.value}}">{{marital.value}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="bajajProposal.controls.maritalStatus.errors?.required">MaritalStatus is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100" >
                        <mat-select matInput placeholder="Nationality"  formControlName="nationality"  required >
                          <mat-option value="Indian">Indian</mat-option>
                        </mat-select>
                        <mat-error *ngIf="bajajProposal.controls.nationality.errors?.required">Nationality is required</mat-error>
                      </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Fax"  pattern="^(\+?\d{1,}(\s?|\-?)\d*(\s?|\-?)\(?\d{2,}\)?(\s?|\-?)\d{3,}\s?\d{3,})$" maxlength="10" formControlName="fax" (keypress)="numberValidate($event)">
                        </mat-form-field>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-blue">ASSIGNEE DETAILS</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                        <input matInput placeholder="Assingnee Name" formControlName="assigneeName" (keypress)="nameValidate($event)" required >
                          <mat-error *ngIf="bajajProposal.controls.assigneeName.errors?.required">Assignee Name is required</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-blue">COMMUNICATION ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput matInput placeholder="Building Details" rows="2" formControlName="building"  autocomplete="off" required>
                          <mat-error *ngIf="bajajProposal.controls.building.errors?.required">Building detail is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput matInput placeholder="Street Name" rows="2" formControlName="streetName"  autocomplete="off" required>
                          <mat-error *ngIf="bajajProposal.controls.streetName.errors?.required">streetname is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"   maxlength="6"  formControlName="pincode" (input)="pincodevalidationBajaj($event.target.value)" autocomplete="off" required>
                          <mat-error *ngIf="bajajProposal.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                          <mat-error *ngIf="bajajProposal.controls.pincode.hasError('required')">Pincode required</mat-error>
                          <mat-error *ngIf="bajajProposal.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100" >
                          <input matInput placeholder="City" formControlName="city" autocomplete="off" readonly required>
                          <mat-error *ngIf="bajajProposal.controls.city.errors?.required">City is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="State" formControlName="state" required readonly>
                          <mat-error *ngIf="bajajProposal.controls.state.errors?.required">State is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Country" formControlName="country" readonly required>
                          <mat-error *ngIf="bajajProposal.controls.country.errors?.required">country is required</mat-error>
                        </mat-form-field>
                      </div>
                  </div>

                  <div class="proposal-buttom mt-3 text-right w-100">
<!--                   (click)="createProposal(bajajProposal.value)"-->
                    <button mat-raised-button *ngIf="showInsure"  color="primaryBlue"  (click)="nextTab(stepper,bajajProposal.value,'insurer')" >Next</button>
                    <button mat-raised-button color="primaryBlue" *ngIf="!showInsure" (click)="createProposal(stepper, bajajProposal.value, 'proposer')">Next</button>

                  </div>
                </div>
                </div>
              </mat-expansion-panel>
            </form>
          </mat-accordion>
        </mat-step>



        <mat-step *ngIf="showInsure" [stepControl]="">

          <ng-template matStepLabel >INSURED DETAILS</ng-template>
          <mat-accordion class="w-100 float-left">
            <form [formGroup]="bajajInsuredTravel">
              <div formArrayName="items" *ngFor="let item of bajajInsuredTravel.get('items')['controls']; let i = index;">
                <mat-expansion-panel  [formGroupName]="i" [expanded]="i == 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title > INSURED DETAILS FOR {{ getEnquiryDetails.family_members[i].type | uppercase}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matStepLabel>INSURED DETAILS </ng-template>
                  <div class="row">
                    <div class="col-md-12 box-card pt-3">
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="name" formControlName="name" (keypress)="nameValidate($event)" required readonly="{{i==0}}">
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].name.errors?.required">assigneeName is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4" [ngStyle]="{'pointer-events': i==0 ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Gender" formControlName="sex" required >
                              <mat-option value="Male">Male</mat-option>
                              <mat-option value="Female">Female</mat-option>
                            </mat-select>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].sex.errors?.required">Gender is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4" [ngStyle]="{'pointer-events': i==0 ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="idob" (dateInput)="addEventInsurer($event, i,bajajInsuredTravel['controls'].items['controls'][i]['controls'].type.value)" (dateChange)="addEventInsurer($event, i,bajajInsuredTravel['controls'].items['controls'][i]['controls'].type.value)" (keypress)="dobValidate($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                            <mat-datepicker #picker ></mat-datepicker>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].idob.errors?.required">DOB is required</mat-error>
                          </mat-form-field>
                          <p class="error mb-0" *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobError.value != ''">{{bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobError.value}}</p>
                          <p class="error mb-0" *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobValidError.value != ''">{{bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobValidError.value}}</p>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Age" formControlName="age"   autocomplete="off"   required readonly>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].age.errors?.required">Age is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4"><mat-form-field class="w-100">
                          <input matInput placeholder="Passport Number"  minlength="8"  maxlength="8" formControlName="passportNo1" autocomplete="off" (input)="passportval(i)" style="text-transform: uppercase" required readonly="{{i==0}}">
<!--                          <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].passportNo.errors?.required">Passport number is required</mat-error>-->
<!--                          <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].passportNo.hasError('pattern')">Enter Valid  Passport number</mat-error>-->
                        </mat-form-field>
                          <div class="error" *ngIf="passportany !=''&& passportany !=true">{{passportany}}</div>
                        </div>
                        <div class="col-md-4" [ngStyle]="{'pointer-events': i==0 ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Relationship with Proposer"  formControlName="relation" required >
                              <mat-option *ngFor="let relation of getRelationDetails | keys" value="{{relation.value}}">{{relation.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].errors?.required">Relationship is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Assignee Name" formControlName="assigneeName" (keypress)="nameValidate($event)" required readonly="{{i==0}}">
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].assigneeName.errors?.required">assigneeName is required</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
              <div class="proposal-buttom mt-3 text-right w-100" >
               <button *ngIf="showInsure" mat-button matStepperPrevious  (click)="topScroll()">Back</button>

                <button *ngIf="showInsure" mat-raised-button color="primaryBlue"  (click)="createProposal(stepper, bajajInsuredTravel.value,'insurer')">Next</button>
              </div>
            </form>
          </mat-accordion>
        </mat-step>

        <mat-step [stepControl]="">
          <ng-template matStepLabel>SUMMARY</ng-template>
          <!--{{summaryData | json}}iuiy-->
          <section class="summary-details" *ngIf="summaryData">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <h4> <span style="font-size: 17px; color: #666;">Sum Insured: &nbsp;<i class="fas fa-rupee-sign"></i> {{getTravelPremiumList.sum_insured_amount}}</span></h4>
                  </div>
                  <div class="col-md-8">
                    <h4> <span style="font-size: 17px; color: #666;">Place Of Visit: &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i> <span *ngFor="let lists of placeOfVisit; let last = last" class="p-2"> {{lists}} <span *ngIf="!last">,</span></span></span></h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <ul class="summary-head">
                  <li><span>Start Date:</span> &nbsp;{{getEnquiryDetails.start_date | date: 'dd/MM/yyyy' }} </li>
                  <li><span>End Date:</span> &nbsp; {{getEnquiryDetails.end_date| date: 'dd/MM/yyyy'}} </li>
                  <li></li>
                </ul>
              </div>
            </div>
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th>Insurer</th>
                <th>Plan Name</th>
                <th>Premium</th>
                <th>Service Tax</th>
                <th>Total Premium</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <img src="{{webhost + '/' + getTravelPremiumList.company_logo}}" class="img-thumbnail" style="width: 125px;" />
                </td>
                <td class="align-middle">{{getTravelPremiumList.plan_name}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.premium}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.serviceTax}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.totalPremium}}</td>
              </tr>
              </tbody>
            </table>

            <mat-expansion-panel   [expanded]="true">
              <mat-expansion-panel-header *ngIf="!showInsure">
                <mat-panel-title>
                  PROPOSER / INSURED DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel-header *ngIf="showInsure">
                <mat-panel-title>
                  PROPOSER  DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row box-card">
                <div class="col-md-6">
                  <div class="p-3">
                    <!--<h6 class="color-blue">Proposer Details</h6>-->
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Name:</strong>{{proposerFormData.title}}.{{proposerFormData.firstName}}{{' '}} {{proposerFormData.middlename}} {{' '}}{{proposerFormData.lastName}}</li>
                      <li class="list-group-item"><strong>Gender:</strong> {{proposerFormData.gender}}</li>
                      <li class="list-group-item"><strong>D.O.B:</strong> {{proposerFormData.dob | date: 'dd/MM/yyyy'}}</li>
                      <li class="list-group-item"><strong>Marital Status:</strong> {{proposerFormData.maritalStatus}}</li>
                      <li class="list-group-item"><strong>Email ID:</strong> {{proposerFormData.email}}</li>
                      <li class="list-group-item"><strong>Mobile No:</strong> {{proposerFormData.mobile}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item" *ngIf="proposerFormData.fax !='' "><strong>Alternate No:</strong> {{proposerFormData.telephone}}</li>
                      <li class="list-group-item" *ngIf = "proposerFormData.fax !=''"><strong>Fax:</strong> {{proposerFormData.fax}}</li>
                      <li class="list-group-item"><strong>Nationality:</strong> {{proposerFormData.nationality}}</li>
                      <li class="list-group-item"><strong>Passport No:</strong> {{proposerFormData.passportNumber1}}</li>
                      <li class="list-group-item"><strong>Assignee Name:</strong> {{proposerFormData.assigneeName}}</li>

                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <h4 class="color-blue">COMMUNICATION ADDRESS</h4>
                  <div>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Building :</strong> {{proposerFormData.building}}</li>
                      <li class="list-group-item"><strong>Street Name:</strong> {{proposerFormData.streetName}}</li>
                      <li class="list-group-item"><strong>Pincode:</strong> {{proposerFormData.pincode}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <h4 class="mt-4"></h4>
                   <ul class="mt-1 list-group">
                    <li class="list-group-item"><strong>State:</strong> {{proposerFormData.state}}</li>
                    <li class="list-group-item"><strong>City:</strong> {{proposerFormData.city}}</li>
                    <li class="list-group-item"><strong>Country:</strong> {{proposerFormData.country}}</li>
                  </ul>
                </div>
              </div>
            </mat-expansion-panel>

            <div *ngIf="showInsureSummary">
              <div *ngFor="let item of insuredFormData; let i = index;">
                <mat-expansion-panel   [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      INSURED DETAILS FOR {{item.relation | uppercase}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row box-card">
                    <div class="col-md-6">
                      <div class="p-3">
                        <ul class="m-0 list-group">
                          <li class="list-group-item" ><strong>Name:</strong>{{item.name}}</li>
                          <li class="list-group-item" ><strong>Gender:</strong> {{item.sex}}</li>
                          <li class="list-group-item"><strong>D.O.B:</strong> {{item.idob | date: 'dd/MM/yyyy'}}</li>
                          <li class="list-group-item" ><strong>passport number:</strong> {{item.passportNo1}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="p-3">
                        <ul class="m-0 list-group">
                          <li class="list-group-item" *ngIf="item.relation != ''"><strong>Relationship with proposer:</strong> {{item.relation}}</li>
                          <li class="list-group-item" ><strong>Age:</strong> {{item.age}}</li>
                          <li class="list-group-item" ><strong>Asignee Name:</strong> {{item.assigneeName}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>

            <p class="mt-4"><mat-checkbox [(ngModel)]="acceptSummaryDeclaration">I hereby declare all  the  details provided above is correct</mat-checkbox></p>

          </section>

          <hr>
          <div class="row"  *ngIf="summaryData">
            <div class="col-md-12 text-center">
              <form action={{summaryData.RediretUrlLink}}  method='post' #form>
                <div class="col-md-12">
                  <div class="proposal-buttom mb-3 text-center w-100">
                    <button mat-button matStepperPrevious (click)="topScroll()">Back</button>
                    <button mat-raised-button color="primaryBlue" [disabled]="!acceptSummaryDeclaration" (click)="form.submit()">Pay Now</button>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </mat-step>


      </mat-horizontal-stepper>

    </div>
  </div>
</div>
</div>

<!--Mobile View-->
<div class="d-block d-sm-block d-md-block d-lg-none">
  <mat-accordion>
  <div class="container-fluid">
    <div class="row bajajLifeProposal" >
      <!--<div class="col-md-12">-->

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" [disabled]="bajajTravelMobileTrue0">
          <mat-expansion-panel-header>
            <mat-panel-title *ngIf="!showInsure">PROPOSER / INSURED DETAILS</mat-panel-title>
            <mat-panel-title *ngIf="showInsure">PROPOSER DETAILS</mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="bajajProposal">
            <div class="row">
              <div class="col-12 box-card pt-3">
                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <mat-select placeholder="Title" formControlName="title" (selectionChange)="changeGender()" required>
                        <mat-option value="Mr">Mr</mat-option>
                        <mat-option value="Mrs">Mrs</mat-option>
                        <mat-option value="Miss">Miss</mat-option>
                      </mat-select>
                      <mat-error *ngIf="bajajProposal.controls.title.errors?.required">title is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="First Name" formControlName="firstName"  (keypress)="nameValidate($event)" autocomplete="off" required >
                      <mat-error *ngIf="bajajProposal.controls.firstName.errors?.required">Name is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Middle Name" formControlName="middlename" (keypress)="nameValidate($event)" >
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Last Name" formControlName="lastName" (keypress)="nameValidate($event)" required>
                      <mat-error *ngIf="bajajProposal.controls.lastName.errors?.required">LastName is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12" [ngStyle]="{'pointer-events':'none'}">
                    <mat-form-field class="w-100">
                      <mat-select placeholder="Gender" formControlName="gender" required>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                      </mat-select>
                      <mat-error *ngIf="bajajProposal.controls.gender.errors?.required">Gender is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput [matDatepicker]="picker01" [max]="today" placeholder="DOB (DD/MM/YYYY)" formControlName="dob" (dateInput)="addEvent($event,'proposor')" (dateChange)="addEvent($event,'proposor')" (keypress)="dobValidate($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                      <mat-datepicker-toggle matSuffix [for]="picker01"></mat-datepicker-toggle>
                      <mat-datepicker #picker01></mat-datepicker>
                      <mat-error *ngIf="bajajProposal.controls.dob.errors?.required">DOB is required</mat-error>
                    </mat-form-field>
                    <div class="error" *ngIf="personalDobError != ''">{{personalDobError}}</div>
                  </div>
                  <div class="col-12"><mat-form-field class="w-100">
                    <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required>
                    <mat-error *ngIf="bajajProposal.controls.email.errors?.required">Email ID is required</mat-error>
                    <mat-error *ngIf="bajajProposal.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                  </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Mobile Number"  (keypress)="numberValidate($event)"   maxlength="10" formControlName="mobile" autocomplete="off" required>
                      <mat-error *ngIf="bajajProposal.controls.mobile.errors?.required">Mobile Number is required</mat-error>
                      <mat-error *ngIf="bajajProposal.controls.mobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Alternate Contact Number"  (keypress)="numberValidate($event)"   maxlength="10" formControlName="telephone">
                      <mat-error *ngIf="bajajProposal.controls.telephone.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12"><mat-form-field class="w-100">
                    <input matInput placeholder="Passport Number"  minlength="8"  maxlength="8" formControlName="passportNumber1" autocomplete="off" style="text-transform: uppercase"  (input)="passportval()" required>
<!--                    <mat-error *ngIf="bajajProposal.controls.passportNumber.errors?.required">Passport number is required</mat-error>-->
<!--                    <mat-error *ngIf="bajajProposal.controls.passportNumber.hasError('pattern')">Enter Valid  Passport number</mat-error>-->
                  </mat-form-field>
                    <div class="error" *ngIf="passportany !=''&& passportany !=true">{{passportany}}</div>

                  </div>
                  <div class="col-12"><mat-form-field class="w-100">
                    <mat-select matInput placeholder="Marital Status"  formControlName="maritalStatus" autocomplete="off" required>
                      <mat-option *ngFor="let  marital of getMaritalDetails | keys" value="{{marital.value}}">{{marital.value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="bajajProposal.controls.maritalStatus.errors?.required">MaritalStatus is required</mat-error>
                  </mat-form-field></div>
                  <div class="col-12"><mat-form-field class="w-100" >
                    <mat-select matInput placeholder="Nationality"  formControlName="nationality"  required >
                      <mat-option value="Indian">Indian</mat-option>
                    </mat-select>
                    <mat-error *ngIf="bajajProposal.controls.nationality.errors?.required">Nationality is required</mat-error>
                  </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Fax"  pattern="^(\+?\d{1,}(\s?|\-?)\d*(\s?|\-?)\(?\d{2,}\)?(\s?|\-?)\d{3,}\s?\d{3,})$" maxlength="10" formControlName="fax" (keypress)="numberValidate($event)">
                    </mat-form-field>
                  </div>

                </div>
              </div>
              <div class="col-12 box-card pt-3">
                <h6 class="color-blue">ASSIGNEE DETAILS</h6>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Assingnee Name" formControlName="assigneeName" required >
                      <mat-error *ngIf="bajajProposal.controls.assigneeName.errors?.required">Assignee Name is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-12 box-card pt-3">
                <h6 class="color-blue">COMMUNICATION ADDRESS</h6>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput matInput placeholder="Street Name" rows="2" formControlName="streetName"  autocomplete="off" required>
                      <mat-error *ngIf="bajajProposal.controls.streetName.errors?.required">streetname is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Building Details" rows="2" formControlName="building"  autocomplete="off" required>
                      <mat-error *ngIf="bajajProposal.controls.building.errors?.required">Building detail is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"   maxlength="6"  formControlName="pincode" (input)="pincodevalidationBajaj($event.target.value)" autocomplete="off" required>
                      <mat-error *ngIf="bajajProposal.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                      <mat-error *ngIf="bajajProposal.controls.pincode.hasError('required')">Pincode required</mat-error>
                      <mat-error *ngIf="bajajProposal.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100" >
                      <input matInput placeholder="City" formControlName="city" autocomplete="off" readonly required>
                      <mat-error *ngIf="bajajProposal.controls.city.errors?.required">City is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="State" formControlName="state" required readonly>
                      <mat-error *ngIf="bajajProposal.controls.state.errors?.required">State is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="Country" formControlName="country" readonly required>
                      <mat-error *ngIf="bajajProposal.controls.country.errors?.required">country is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="proposal-buttom mt-3 text-right w-100">
                  <button mat-raised-button *ngIf="showInsure"  color="primaryBlue"  (click)="nextTab(stepper,bajajProposal.value,'insurer')" >Next</button>
                  <button mat-raised-button color="primaryBlue" *ngIf="!showInsure" (click)="createProposal(stepper, bajajProposal.value, 'proposer')">Next</button>
                </div>
              </div>
            </div>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="showInsure" [expanded]="step === 1" (opened)="setStep(1)" [disabled]="bajajTravelMobileTrue1">
          <mat-expansion-panel-header>
            <mat-panel-title > INSURED DETAILS </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion class="w-100 float-left">
            <form [formGroup]="bajajInsuredTravel">
              <div formArrayName="items" *ngFor="let item of bajajInsuredTravel.get('items')['controls']; let i = index;">
                <mat-expansion-panel  [formGroupName]="i" [expanded]="i == 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title > INSURED DETAILS FOR {{ getEnquiryDetails.family_members[i].type | uppercase}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matStepLabel>INSURED DETAILS </ng-template>
                  <div class="row">
                    <div class="col-12 box-card pt-3">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="name" formControlName="name" (keypress)="nameValidate($event)" required readonly="{{i==0}}">
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].name.errors?.required">assigneeName is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-12" [ngStyle]="{'pointer-events': i==0 ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Gender" formControlName="sex" required >
                              <mat-option value="Male">Male</mat-option>
                              <mat-option value="Female">Female</mat-option>
                            </mat-select>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].sex.errors?.required">Gender is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-12" [ngStyle]="{'pointer-events': i==0 ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker02" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="idob" (dateInput)="addEventInsurer($event, i,'insurer')" (dateChange)="addEventInsurer($event, i,'insurer')" (keypress)="dobValidate($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                            <mat-datepicker-toggle matSuffix [for]="picker02" ></mat-datepicker-toggle>
                            <mat-datepicker #picker02 ></mat-datepicker>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].idob.errors?.required">DOB is required</mat-error>
                          </mat-form-field>
                          <p class="error mb-0" *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobError.value != ''">{{bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobError.value}}</p>
                          <p class="error mb-0" *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobValidError.value != ''">{{bajajInsuredTravel['controls'].items['controls'][i]['controls'].insurerDobValidError.value}}</p>
                        </div>
                        <div class="col-12">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Age" formControlName="age"   autocomplete="off"  readonly required readonly>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].age.errors?.required">Age is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-12"><mat-form-field class="w-100">
                          <input matInput placeholder="Passport Number"  minlength="8"  maxlength="8" formControlName="passportNo" autocomplete="off" (input)="passportval1(i)" style="text-transform: uppercase" required readonly="{{i==0}}">
<!--                          <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].passportNo.errors?.required">Passport number is required</mat-error>-->
<!--                          <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].passportNo.hasError('pattern')">Enter Valid  Passport number</mat-error>-->
                        </mat-form-field>
                          <div class="error" *ngIf="passportany !=''&& passportany !=true">{{passportany}}</div>
                        </div>
                        <div class="col-12" [ngStyle]="{'pointer-events': i==0 ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Relationship with Proposer"  formControlName="relation" required >
                              <mat-option *ngFor="let relation of getRelationDetails | keys" value="{{relation.value}}">{{relation.value}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].errors?.required">Relationship is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-12">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Assignee Name" formControlName="assigneeName" (keypress)="nameValidate($event)" required readonly="{{i==0}}">
                            <mat-error *ngIf="bajajInsuredTravel['controls'].items['controls'][i]['controls'].assigneeName.errors?.required">assigneeName is required</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
              <div class="proposal-buttom mt-3 text-right w-100" >
                <button *ngIf="showInsure" mat-button (click)="topScroll()">Back</button>

                <button *ngIf="showInsure" mat-raised-button color="primaryBlue"  (click)="createProposal(stepper, bajajInsuredTravel.value,'insurer')">Next</button>
              </div>
            </form>
          </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" [disabled]="bajajTravelMobileTrue2" class="w-100">
          <mat-expansion-panel-header>
            <mat-panel-title > SUMMARY </mat-panel-title>
          </mat-expansion-panel-header>
          <section class="summary-details" *ngIf="summaryData">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <h4> <span style="font-size: 17px; color: #666;">Sum Insured: &nbsp;<i class="fas fa-rupee-sign"></i> {{getTravelPremiumList.sum_insured_amount}}</span></h4>
                  </div>
                  <div class="col-12">
                    <h4> <span style="font-size: 17px; color: #666;">Place Of Visit: &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i> <span *ngFor="let lists of placeOfVisit; let last = last" class="p-2"> {{lists}} <span *ngIf="!last">,</span></span></span></h4>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <ul class="summary-head">
                  <li><span>Start Date:</span> &nbsp;{{getEnquiryDetails.start_date | date: 'dd/MM/yyyy' }} </li>
                  <li><span>End Date:</span> &nbsp; {{getEnquiryDetails.end_date| date: 'dd/MM/yyyy'}} </li>
                  <li></li>
                </ul>
              </div>
            </div>
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th>Insurer</th>
                <th>Plan Name</th>
                <th>Premium</th>
                <th>Service Tax</th>
                <th>Total Premium</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <img src="{{webhost + '/' + getTravelPremiumList.company_logo}}" class="img-thumbnail" style="width: 70px;" />
                </td>
                <td class="align-middle">{{getTravelPremiumList.plan_name}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.premium}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.serviceTax}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.totalPremium}}</td>
              </tr>
              </tbody>
            </table>
            <mat-accordion>

            <mat-expansion-panel   [expanded]="true">
              <mat-expansion-panel-header *ngIf="!showInsure">
                <mat-panel-title>
                  PROPOSER / INSURED DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-expansion-panel-header *ngIf="showInsure">
                <mat-panel-title>
                  PROPOSER  DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row box-card">
                <div class="col-12">
                  <div class="p-3">
                    <!--<h6 class="color-blue">Proposer Details</h6>-->
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Name:</strong>{{proposerFormData.title}}.{{proposerFormData.firstName}} {{proposerFormData.middlename}} {{proposerFormData.lastName}}</li>
                      <li class="list-group-item"><strong>Gender:</strong> {{proposerFormData.gender}}</li>
                      <li class="list-group-item"><strong>D.O.B:</strong> {{proposerFormData.dob | date: 'dd/MM/yyyy'}}</li>
                      <li class="list-group-item"><strong>Marital Status:</strong> {{proposerFormData.maritalStatus}}</li>
                      <li class="list-group-item"><strong>Email ID:</strong> {{proposerFormData.email}}</li>
                      <li class="list-group-item"><strong>Mobile No:</strong> {{proposerFormData.mobile}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item" *ngIf="proposerFormData.fax !='' "><strong>Alternate No:</strong> {{proposerFormData.telephone}}</li>
                      <li class="list-group-item" *ngIf = "proposerFormData.fax !=''"><strong>Fax:</strong> {{proposerFormData.fax}}</li>
                      <li class="list-group-item"><strong>Nationality:</strong> {{proposerFormData.nationality}}</li>
                      <li class="list-group-item"><strong>Assignee Name:</strong> {{proposerFormData.assigneeName}}</li>
                      <li class="list-group-item"><strong>Passport No:</strong> {{proposerFormData.passportNumber}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12">
                  <h4 class="color-blue">COMMUNICATION ADDRESS</h4>
                  <div>
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Street Name:</strong> {{proposerFormData.streetName}}</li>
                      <li class="list-group-item"><strong>Building :</strong> {{proposerFormData.building}}</li>
                      <li class="list-group-item"><strong>Pincode:</strong> {{proposerFormData.pincode}}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12">
                  <h4 class="mt-4"></h4>
                  <ul class="mt-1 list-group">
                    <li class="list-group-item"><strong>State:</strong> {{proposerFormData.state}}</li>
                    <li class="list-group-item"><strong>City:</strong> {{proposerFormData.city}}</li>
                    <li class="list-group-item"><strong>Country:</strong> {{proposerFormData.country}}</li>
                  </ul>
                </div>
              </div>
            </mat-expansion-panel>

            <div *ngIf="showInsureSummary">
              <div *ngFor="let item of insuredFormData; let i = index;">
                <mat-expansion-panel   [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      INSURED DETAILS FOR {{item.relation | uppercase}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row box-card">
                    <div class="col-12">
                      <div class="p-3">
                        <ul class="m-0 list-group">
                          <li class="list-group-item" ><strong>Name:</strong>{{item.name}}</li>
                          <li class="list-group-item" ><strong>Asignee Name:</strong> {{item.assigneeName}}</li>
                          <li class="list-group-item" ><strong>Gender:</strong> {{item.sex}}</li>
                          <li class="list-group-item" ><strong>passport number:</strong> {{item.passportNo}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="p-3">
                        <ul class="m-0 list-group">
                          <li class="list-group-item"><strong>D.O.B:</strong> {{item.idob | date: 'dd/MM/yyyy'}}</li>
                          <li class="list-group-item" *ngIf="item.relation != ''"><strong>Relationship with proposer:</strong> {{item.relation}}</li>
                          <li class="list-group-item" ><strong>Age:</strong> {{item.age}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
              </mat-accordion>

            <p class="mt-4"><mat-checkbox [(ngModel)]="acceptSummaryDeclaration">I hereby declare all  the  details provided above is correct</mat-checkbox></p>

          </section>
          <hr>
          <div class="row"  *ngIf="summaryData">
            <div class="col-12 text-center">
              <form action={{summaryData.RediretUrlLink}}  method='post' #form>
                <div class="col-12">
                  <div class="proposal-buttom mb-3 text-center w-100">
                    <button mat-button (click)="backAll()">Back</button>
                    <button mat-raised-button color="primaryBlue" [disabled]="!acceptSummaryDeclaration" (click)="form.submit()">Pay Now</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </mat-expansion-panel>


      <!--</div>-->
    </div>
  </div>
  </mat-accordion>
</div>
