
<div class="container-fluid">
    <div class="row">

        <div class="dashbord-bg">

        </div>

    </div>
<div class="row dashbord-icon">
    <div class="col-md-3">
    <mat-card [routerLink]="['/pos']"><img src="assets/img/users/default-user.jpg" alt="">Pos</mat-card>
    </div>
    <div class="col-md-3">
    <mat-card ><img src="assets/img/users/default-user.jpg" alt=""> Profile</mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0">Rejected</mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="accent" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>10
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>
            <div class="w-100 h-100p">
                <!--<ngx-charts-bar-vertical-->
                        <!--[scheme]="colorScheme"-->
                        <!--[results]="products"-->
                        <!--(select)="onSelect($event)">-->
                <!--</ngx-charts-bar-vertical>-->
            </div>
        </mat-card>    </div>
    <div class="col-md-3">
        <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
                <mat-card-subtitle class="m-0">Pending</mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip color="primary" selected="true" class="info-chip">
                        <mat-icon class="icon-sm">trending_up</mat-icon>15
                    </mat-chip>
                </mat-chip-list>
            </mat-card-header>
            <div class="w-100 h-100p">
                <!--<ngx-charts-line-chart-->
                        <!--[scheme]="colorScheme"-->
                        <!--[results]="orders"-->
                        <!--[autoScale]="autoScale"-->
                        <!--(select)="onSelect($event)">-->
                <!--</ngx-charts-line-chart>-->
            </div>
        </mat-card>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-md-6">-->
        <!--<mat-card>-->
            <!--Approved pos :{{data.doctor}}<br><br>-->
            <!--Pending pos :{{data.pendingdoctor}}<br><br>-->
            <!--Rejected pos :{{data.rejecteddoctor}}<br><br>-->

        <!--</mat-card>-->
    <!--</div>-->

    <!--<div class="col-md-6">-->
        <!--<mat-card>-->
            <!--Registered patient :{{data.patient}}<br><br>-->
            <!--Walkin patient :{{data.walkinpatient}}<br><br>-->
        <!--</mat-card>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row" fxLayout="row"  class="h-100">-->
    <!--<div class="col-md-6">-->
        <!--<mat-card class="custom-card">-->
            <!--Total prescription count :{{data.prescriptioncount}}<br><br>-->
            <!--Total prescription count by today :{{data.prescriptioncountbytoday}}<br><br>-->
        <!--</mat-card>-->
    <!--</div>-->

    <!--<div class="col-md-6">-->
        <!--<mat-card>-->
           <!--<p *ngFor="let lists of details">-->
               <!--Doctor Name :{{lists.doctorname}}-->
           <!--</p>-->
        <!--</mat-card>-->
    <!--</div>-->
<!--</div>-->





