<div fxLayoutWrap fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60" class="flex-p">
    <h3 class="text-center w-100" style="color:#44004E;"><img src="assets/img/bell-icon.png" class="logo-size">&nbsp;Renewal Reminder</h3>
    <mat-card class="AllFormView" style="background: linear-gradient(to bottom, #7C95AA 30%, #6C6287 70%); color:#fff;">

      <div class="container-fluid h-claim">
        <section class="row">
          <div class="insurance-renewal w-100">
              <div class="container">
                <div class="row" fxLayoutAlign="center center">
                  <form #myForm="ngForm" [formGroup]="form">
                  <div class="col-md-12 pr-4" >
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Proposer name" formControlName="insurename" (keypress)="data($event)" maxlength="30" required>
                          <mat-error *ngIf="form.controls.insurename.errors?.required">Proposer Name is required</mat-error>
                          <mat-error *ngIf="form.controls.insurename.hasError('minlength')">Proposer Name isn't long enough, minimum of 3 characters</mat-error>
                          <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mobile No" formControlName="insuremobile" (keypress)="keyPress($event)"  minlength="10"  maxlength="10" required>
                          <mat-error *ngIf="form.controls.insuremobile.errors?.required">Mobile number is required</mat-error>
                          <mat-error *ngIf="form.controls.insuremobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                          <mat-error *ngIf="form.controls.insuremobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Email id" formControlName="insureemail" maxlength="50" required>
                          <mat-error *ngIf="form.controls.insureemail.errors?.required">Email is required</mat-error>
                          <mat-error *ngIf="form.controls.insureemail.hasError('pattern')">Please Enter Correct Format</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Insurance Policy Type" formControlName="insurepolicytype" required>
                            <mat-option value="{{type.policy_type_name}}" *ngFor="let type of policyTypes">{{type.policy_type_name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.controls.insurepolicytype.errors?.required">Insurance Policy Type is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Policy No" formControlName="insurepolicyno" maxlength="30" required>
                          <mat-error *ngIf="form.controls.insurepolicyno.errors?.required">Insurance Policy No is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Premium Amount" formControlName="insurepremiumamount" (keypress)="keyPress($event)" maxlength="15" required>
                          <mat-error *ngIf="form.controls.insurepremiumamount.errors?.required">Insurance Policy No is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Insurance Company Name" formControlName="insurecompanyname" required>
                            <mat-option *ngFor="let list of companyList" value="{{list.insure_company_name}}">{{list.insure_company_name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.controls.insurecompanyname.errors?.required">Insurance Company Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Payment Frequency" formControlName="paymentfrequeny" required>
                            <mat-option value="frequency.id" *ngFor="let frequency of paymentFrequency">{{frequency.name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="form.controls.paymentfrequeny.errors?.required">Payment Frequency is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" placeholder="Start date (DD/MM/YYYY)"  maxlength="10" formControlName="startdate" (dateInput)="chooseDate($event, 'sDate')"  (dateChange)="chooseDate($event, 'sDate')" (keypress)="dobValidate($event)" required>
                          <mat-error *ngIf="form.controls.startdate.errors?.required">Start Date is required</mat-error>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="error" *ngIf="sdateError != ''">{{sdateError}}</div>

                        <!--<div class="err
                        or" *ngIf="dobError != ''">{{dobError}}</div>-->
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker1" placeholder="End date (DD/MM/YYYY)" [min]="maxDate"  formControlName="enddate" (dateInput)="chooseDate($event, 'eDate')"  (dateChange)="chooseDate($event, 'eDate')" maxlength="10" (keypress)="dobValidate($event)" required>
                          <mat-error *ngIf="form.controls.enddate.errors?.required">End Date is required</mat-error>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <div class="error" *ngIf="edateError != ''">{{edateError}}</div>

                        <!--<div class="error" *ngIf="dobError != ''">{{dobError}}</div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 text-center mt-3">
                    <button mat-raised-button class="bg-danger text-white" (click)="renewal(form.value)">Set Remider</button>
                  </div>
                  <div style="width: 100%; height: 10px; border-bottom: 1px solid #fff; text-align: center; margin-top:10px;">
                    <span style="font-size: 18px; background-color: #727594; padding: 0 10px;">
                      (or) <!--Padding is optional-->
                    </span>
                  </div>
                  </form>
                    <div class="col-md-12">
                      <h4 class="text-center mt-3">Upload your policy here</h4>
                    </div>
                    <div class="col-md-6">
                      <div class="custom-file">
                        <input type="file"  class="custom-file-input" accept=".doc, .docx, .pdf, image/*" (change)="readUrl($event)"   aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label"> Upload Your Attachment <span class="error">*</span></label>
                      </div>
                      <p class="error" *ngIf="!uploadTypeTest">Your Attachment is required</p>
                      <img *ngIf="fileUploadPathDOCX !=''" src="assets/img/upload-icons/docx-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                      <img *ngIf="fileUploadPathDOC !=''" src="assets/img/upload-icons/doc-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                      <img *ngIf="fileUploadPathPDF !=''" src="assets/img/upload-icons/pdf-icon.png" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                      <img *ngIf="imageSrc !=''" [src]="imageSrc" class="img-thumbnail mt-3" height="100px" width="100px" alt="Image preview...">
                      <p *ngIf="filePath !=''" class="mt-1" style="color: #fff;">{{filePath}}</p>
                    </div>
                      <!--<div class="col-md-6">-->
                        <!--<div class="custom-file">-->
                          <!--<input type="file"  class="custom-file-input" accept=".doc, .docx, .pdf, image/*" (change)="readUrl($event)"   aria-describedby="inputGroupFileAddon01">-->
                          <!--<label class="custom-file-label"> Upload Your Attachment <span class="error">*</span></label>-->
                        <!--</div>-->
                        <!--<p class="error" *ngIf="!uploadTypeTest">Your Attachment is required</p>-->
                        <!--<a class="mt-3" *ngFor="let names of fileDetails"> <img *ngIf="fileUploadPath !=''" src="{{webhost + '/' + fileUploadPath}}" class="img-thumbnail" height="100px" width="100px" alt="Image preview...">-->
                          <!--{{names.name}}</a>-->
                      <!--</div>-->
                    <div class="col-md-6 whatsapp">
                      <div class="custom-file">
                        <p fxLayoutAlign="center center" class="w-100">  <i class="fab fa-whatsapp"></i> <span>WhatApp your policy<br> @ 86085 00088</span></p>
                    </div>
                    </div>
                  <div class="col-md-12 text-center mt-5">
                    <button mat-raised-button class="bg-danger text-white" (click)="renewalReminderUpload()">Set Remider</button>
                  </div>
                  <!--<div class="col-md-12 text-right mt-3">-->
                    <!--<button mat-button type="reset" style="color: #000"><i class="material-icons">refresh</i> Reset</button>-->
                  <!--</div>-->
              </div>
              </div>

          </div>
        </section>
      </div>
    </mat-card>
  </div>
</div>
