<div *ngIf="purchasetoken != undefined">
<div class="success-message" *ngIf="purchaseStatus.IsSuccess">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <img src="assets/img/success.gif" alt="">
      <h2>Payment Successfully</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
      <p><strong>Reference ID: {{purchaseStatus.purchase_reference_id}}</strong></p>
        <p>Click here to download PDF <button mat-button color="primary" (click)="DownloadPdf()">Download</button></p>
      <button mat-raised-button color="primary" routerLink="/home"> Done</button>
    </mat-card>
  </div>
</div>

<div class="error-message" *ngIf="purchaseStatus.IsSuccess == false">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <h2>Payment Failer</h2>
      <p>{{purchaseStatus}}</p>
    </mat-card>
  </div>
</div>
</div>



