<div *ngIf="purchasetoken != undefined">
<div class="success-message" *ngIf="purchaseStatus.purchase_status">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <img src="assets/img/success.gif" alt="">
      <h2 style="color:#298126">Payment Successfully</h2>
      <p>Thank you! Your payment was processed successfully.</p>
      <h6 *ngIf="remainingStatus">If you want to purchase remaining groups.<span (click)="pay()" class="retryClass"> Please click here... </span></h6>
        <p><strong>Reference ID: {{purchaseStatus.purchase_reference_id}}</strong></p>
        <p>Click here to download PDF <button mat-button color="primary" (click)="DownloadPdf()">Download</button></p>
      <button mat-raised-button color="primary" routerLink="/home"> Done</button>
    </mat-card>
  </div>
</div>

<div class="error-message" *ngIf="purchaseStatus.IsSuccess == false">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <h2 style="color:#f44336">Oh no, Your payment failed</h2>
      <p>The transaction has failed due to one of the following reasons:</p>
      <ul><li>Payment was declined by your bank or credit card provider</li>
        <li>Credit/Debit card provided has expired</li>
        <li>Credit/Debit card has insufficient funds</li>
        <li>Credit/Debit card number provided is invalid</li>
        <li>Credit/Debit card provided has not been approved for recurring payments</li></ul>
      <p>{{purchaseStatus}}</p>
      <p>If you want to Retry a payment.<span (click)="retry()" class="retryClass"> Please click here... </span></p>
    </mat-card>
  </div>
</div>
</div>

<style>
  .retryClass{
    color: #3e65d4 !important;
    cursor: pointer;
  }

</style>

