<div class="bg-map success-message">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <img src="assets/img/success.gif" alt="">
      <h2>Payment Successfully</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
      <p><strong>Reference ID: 575575</strong></p>
      <button mat-raised-button color="primary" routerLink="/home"><i class="material-icons">keyboard_backspace</i> Back</button>
    </mat-card>
  </div>
</div>