
<div class="row mb-3" >
  <div class="col-sm-12 text-right">
    <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
  </div>
</div>

<div id="view-details">
  <div class="">
    <div fxLayout="column">
      <div class="container">
        <mat-tab-group #tabGroup [selectedIndex]="tabIndex" (selectedIndexChange)="onSelectedIndexChange($event)">
          <mat-tab label="KEY FEATURES" >
            <!--<div mat-dialog-content >-->
              <div class="row">
                  <div class="col-md-3 pl-0 pr-1">
                    <div mat-dialog-content >
                      <mat-nav-list *ngFor="let keys of getKeyList;let i = index">
                        <mat-list-item *ngIf="keys.type == 1 || keys.type == 0" class="nav-item" [ngClass]="{'active  ': id === i }" (click)="addClass(id=i, keys.type)" [style.background-color]="keys.type == 1 ? '#18ccb4' : '#f5c7ad78'">
                          <a matLine > {{keys.kf_name | titlecase}}</a>
                        </mat-list-item>
                      </mat-nav-list>
                    </div>
                </div>
                  <div class="col-md-9" [style.background-color]="bgColor == 'true' ? '#18ccb4' : '#f5c7ad78'" ><br>
                    <div>
                      <div class="h-100" *ngFor="let keys of getKeyList;let i = index">
                          <div fxLayoutAlign="center center" class="well" *ngIf="id === i">
                            <h4>{{keys.kf_name}}</h4>
                          </div>
                          <div class="row" *ngIf="id === i">
                            <div class="col-md-12">
                              <div fxLayoutAlign="left start">
                                <p>{{keys.kf_details}}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            <!--</div>-->
          </mat-tab>
          <mat-tab label="PRODUCT DOCUMENTS">
          </mat-tab>
          <mat-tab label="CLAIM DETAILS" >
              <div class="row">

                <div class="col-md-12" style="background-color:#f5c7ad78;" ><br>
                  <div class="container" *ngFor="let keys of getKeyList;let i = index">
                    <div *ngIf="keys.type == 2" fxLayoutAlign="center center" class="well">
                      <h4>{{keys.kf_name}}</h4>
                    </div>
                    <div class="row" *ngIf="keys.type == 2">
                      <div class="col-md-12">
                        <div fxLayoutAlign="left start">
                          <p>{{keys.kf_details}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


