#view-details .mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: unset !important;
}

#view-details {
   color: #ffffff !important;
    height: calc(100vh - 150px);
    .nav-item.active {
      background-color: rgb(220, 110, 151) !important;
      color: #ffffff;
    }
  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 1px;
    display: block;
  }
  .mat-dialog-content{
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: scroll !important;
  }
  .row{
    margin: 0;
  }

  .mat-list .mat-list-item .mat-list-text>*, .mat-list .mat-list-option .mat-list-text>*, .mat-nav-list .mat-list-item .mat-list-text>*, .mat-nav-list .mat-list-option .mat-list-text>*, .mat-selection-list .mat-list-item .mat-list-text>*, .mat-selection-list .mat-list-option .mat-list-text>* {
    margin: 0;
    padding: 0;
    font-weight: 300 !important;
    font-size: inherit;
    color: #ffffff !important;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
  .mat-tab-list {
    background: #efefef;
    border-radius: 10px 10px 0 0;
  }
  .mat-tab-label-active {
    background-color: #d81b60 !important;
    color: #fff !important;
  }
  .mat-tab-labels .mat-tab-label:first-child{
    border-radius: 10px 0 0 0;
  }
  .example-tab-icon {
    margin-right: 8px;
  }

}



.bg-color{
  background: #f1eaea !important ;
}

.table-fixed{

  tbody{
    height:200px !important;
    overflow-y:auto !important;
    width: 100% !important;
  }
  thead,tbody,tr,td,th{
    display:block !important;
  }


}
