
<div class="row mb-3" >
  <div class="col-sm-12 text-right">
    <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
  </div>
</div>

<div class="row"  >
  <div class="col-sm-12">
    <div fxLayout="column">
      <div class="">
        <mat-tab-group #tabGroup [selectedIndex]="tabIndex" >
          <mat-tab label="Key Features" >
            <div class="row">
              <div class="col-md-6" style="background-color:yellow;">
                <mat-nav-list>
                  <mat-list-item >
                    <a matLine > testy</a>
                  </mat-list-item>
                  <mat-list-item >
                    <a matLine > testy</a>
                  </mat-list-item>
                </mat-nav-list>
              </div>
              <div class="col-md-6" style="background-color:orange;">
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
                <p>ghjkjhgghjkjhgghjkhgh</p>
              </div>
            </div>

            <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--<div class="col-md-4">-->
                  <!--<mat-nav-list>-->
                    <!--<mat-list-item >-->
                      <!--<a matLine > testy</a>-->
                    <!--</mat-list-item>-->
                    <!--<mat-list-item >-->
                      <!--<a matLine > testy</a>-->
                    <!--</mat-list-item>-->
                  <!--</mat-nav-list>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                  <!--<p>ghjkjhgghjkjhgghjkhgh</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          </mat-tab>
          <mat-tab label="Key Features">
          </mat-tab>
          <mat-tab label="Key Features">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

</div>
