
<div class="row mb-3" >
  <div class="col-sm-12 text-right">
    <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
  </div>
</div>

<div id="view-details">
  <div class="">
    <div fxLayout="column">
      <div class="container">
        <mat-tab-group #tabGroup  (selectedIndexChange)="onSelectedIndexChange($event)">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">vpn_key</mat-icon>
              KEY FEATURES
            </ng-template>
            <!--<div mat-dialog-content >-->
              <div class="row">
                  <div class="col-md-3 pl-0 pr-1 bg-color">
                    <div mat-dialog-content >
                      <mat-nav-list *ngFor="let keys of getKeyList;let i = index">
                        <mat-list-item *ngIf="keys.type == 1 || keys.type == 0" class="nav-item" [ngClass]="{'active': id === i }" (click)="addClass(id=i, keys.type)" [style.background-color]="keys.type == 1 ? '#8e8e8e' : '#d81b60'">
                          <i class="material-icons">keyboard_arrow_right</i>
                          <a matLine  style="font-weight: bold !important;" matTooltip="{{keys.kf_name }}"> {{keys.kf_name | titlecase}}</a>
                        </mat-list-item>
                      </mat-nav-list>
                    </div>
                </div>
                  <div class="col-md-9" [style.background-color]="bgColor == 'true' ? '#18ccb4' : '#d81b60'" ><br>
                    <div mat-dialog-content>
                      <div class="h-100" *ngFor="let keys of getKeyList;let i = index">
                          <div fxLayoutAlign="center center" class="well" *ngIf="id === i">
                            <h4>{{keys.kf_name}}</h4>
                          </div>
                          <div class="row" *ngIf="id === i">
                            <div class="col-md-12">
                              <div fxLayoutAlign="left start">
                                <!--<p class="text-justify">{{keys.kf_details}}</p>-->
                                <div class="text-justify spaceContent" [innerHtml]="keys.kf_details"> </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            <!--</div>-->
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">assignment</mat-icon>
              PRODUCT DOCUMENTS
            </ng-template>
            <div class="row">
              <div class="col-md-3 pl-0 pr-1 bg-color">
                <div mat-dialog-content >
                  <mat-nav-list *ngFor="let keys of productDocLists;let i = index">
                    <mat-list-item *ngIf="keys.status == 1 || keys.status == 0" class="nav-item" [ngClass]="{'active': id1 === i }" (click)="selectedproducs(id1=i, keys.status)" [style.background-color]="keys.status == 1 ? '#8e8e8e' : '#d81b60'">
                      <i class="material-icons">keyboard_arrow_right</i>
                      <a matLine  style="font-weight: bold !important;" matTooltip="{{keys.kf_name }}"> {{keys.kf_name | titlecase}}</a>
                    </mat-list-item>
                  </mat-nav-list>
                </div>
              </div>
              <div class="col-md-9" style="background-color:#18ccb4 !important;"><br>
                <div>
                  <div class="h-100" *ngFor="let keys of productDocLists;let i = index">
                    <div fxLayoutAlign="center center" class="well" *ngIf="id1 == i">
                      <h4>{{keys.product_name}}</h4>
                    </div>
                    <div class="row" *ngIf="id1 == i">
                      <!--<div class="col-md-12">-->
                        <div class="text-center w-100 mb-3">
                          <iframe [src]="webhost +'/'+ keys.kf_path | safe" width="100%" height="430" ></iframe>
                        </div>
                      <!--</div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">assignment</mat-icon>
              CLAIM DETAILS
            </ng-template>
            <div class="row">
              <div class="col-md-3 pl-0 pr-1 bg-color">
                <div mat-dialog-content >
                  <mat-nav-list *ngFor="let keys of getKeyList;let i = index">
                    <mat-list-item *ngIf="keys.type == 2" class="nav-item" [ngClass]="{'active': id2 === i }" (click)="addClass(id=i, keys.type)" [style.background-color]="keys.type == 2 ? '#8e8e8e' : '#d81b60'">
                      <i class="material-icons">keyboard_arrow_right</i>
                      <a matLine  style="font-weight: bold !important;" matTooltip="{{keys.kf_name }}"> {{keys.kf_name | titlecase}}</a>
                    </mat-list-item>
                  </mat-nav-list>
                </div>
              </div>
              <div class="col-md-9" style="background-color:#428bb5;"><br>
                <div mat-dialog-content>
                  <div class="h-100" *ngFor="let keys of getKeyList;let i = index">
                    <div fxLayoutAlign="center center" class="well" *ngIf="id2 === i">
                      <h4 *ngIf="keys.type == 2">{{keys.kf_name}}</h4>
                    </div>
                    <div class="row" *ngIf="keys.type == 2">
                      <div class="col-md-12" *ngIf="id2 === i">
                        <div fxLayoutAlign="left start">
                          <!--<p class="text-justify">{{keys.kf_details}}</p>-->
                          <div class="text-justify spaceContent" [innerHtml]="keys.kf_details"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="row">-->

                <!--<div class="col-md-12" style="background-color:#428bb5;" ><br>-->
                  <!--<div class="container" *ngFor="let keys of getKeyList;let i = index">-->
                    <!--<div *ngIf="keys.type == 2" fxLayoutAlign="center center" class="well">-->
                      <!--<h4>{{keys.kf_name}}</h4>-->
                    <!--</div>-->
                    <!--<div class="row" *ngIf="keys.type == 2">-->
                      <!--<div class="col-md-12">-->
                        <!--<div fxLayoutAlign="left start">-->
                          <!--&lt;!&ndash;<p class="text-justify">{{keys.kf_details}}</p>&ndash;&gt;-->
                          <!--<div class="text-justify" [innerHtml]="keys.kf_details"> </div>-->

                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>



