<div class="container-fluid">
<h1 mat-dialog-title class="text-center">Who do you want to insure?</h1>
<div mat-dialog-content>
<form>
  <div class="row" fxLayoutAlign="center center">
    <div class="col"><mat-checkbox></mat-checkbox></div>
    <div class="col">Self</div>
    <div class="col"> <mat-form-field >
      <input matInput placeholder="age">
    </mat-form-field></div>
  </div>
  <div class="row" fxLayoutAlign="center center">
    <div class="col"><mat-checkbox></mat-checkbox></div>
    <div class="col">Self</div>
    <div class="col"> <mat-form-field >
      <input matInput placeholder="age">
    </mat-form-field></div>
  </div>
  <div class="row" fxLayoutAlign="center center">
    <div class="col"><mat-checkbox></mat-checkbox></div>
    <div class="col">Self</div>
    <div class="col"> <mat-form-field >
      <input matInput placeholder="age">
    </mat-form-field></div>
  </div>
  <div class="row" fxLayoutAlign="center center">
    <div class="col"><mat-checkbox></mat-checkbox></div>
    <div class="col">Self</div>
    <div class="col"> <mat-form-field >
      <input matInput placeholder="age">
    </mat-form-field></div>
  </div>
</form>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button mat-button class="secondary-bg-color" (click)="onNoClick()">Close</button>
  <button mat-raised-button color="primary">Continue</button>
</div>
</div>






