.heading{
  color:#f06024;
}
.heading1 {
  color:#f06024;
  padding-top: 53px;
  margin-left: -22px;


}

.bc-color{
  background-color:#fffdfb;
}
.second-color{
  background-color:#fff5ec;
  margin-top: -66px;


}
footer{
  background-color: #707070 !important;
  color: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f58721;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: -13px;

}
.policy{

  color: #f58721;

}
.btn-orange{
  background-color:#f06024;

}
.privacy{
  margin-top: 82px;
  margin-left: 338px;
}
.logo-pics {
  margin-top: 163px;
  width: 80%;
}
.logo-pics1{
  margin-top: 141px;
  width: 50%;
}.logo-pics2{
   margin-top: 167px;
   width: 117%;
   margin-left: -22px;
 }.logo-pics3{
    margin-top: 141px;
    width: 80%;
  }
.copy{
  font-size: 10px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
  border-radius: 0.25rem;
  -moz-box-shadow:    1px 1px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.follow{
  margin-top: 82px;

}
