<!--<title>{{metaTitle}}</title>-->
<!--<meta name="keywords" [content]=metaGroupHealth.keyword />-->
<!--<meta name="description" [content]=metaGroupHealth.descrition />-->

<div class="container dashboard h-100" fxLayoutAlign="start start">
    <div class="row my-flex-card">
        <h2 class="w-100 text-center" style="color: #3CB526;"><img src="assets/img/Group-Health-Insurance.png" class="logo-size">&nbsp;Group Health Insurance</h2>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <div class="aboutImg">
                        <img src="assets/img/Group-Health-Insurance-1.jpg" class="w-100">
                        <div class="aboutContent">
                            <h4>About Group Health Insurance</h4>
                            <p style="text-align: left;">You manage their business, they manage your health...… <button class="btn btn-sm" style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"><span><a scrollTo href="#knowMoreShow" style="color: #000000;">Know more</a></span></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-block AllFormView">
                  <mat-card class="p-4" style="background: linear-gradient(to top, #2EB944 0%, #27D7E5 100%) !important; color:#fff;">
                      <h2 class="w-100 text-center" >Let us assist you</h2>
                      <form [formGroup]="medapp">
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="w-100">
                              <mat-select  placeholder="Insurance Type" formControlName ="insurance" required>
                                <mat-option value="shopkeepers">Shopkeepers</mat-option>
                                <mat-option value="marine">Marine Cargo Policy</mat-option>
                                <mat-option value="money">Money Insurance</mat-option>
                                <mat-option value="fire">Fire Policy</mat-option>
                                <mat-option value="burglary">Burglary Policy</mat-option>
                                <mat-option value="machinery">Machinery Breakdown Policy</mat-option>
                                <mat-option value="electronics">Electronics Equiptment Policy</mat-option>
                                <mat-option value="contractors">Contractors All Risk Policy</mat-option>
                                <mat-option value="house-holders">House Holders Policy</mat-option>
                                <mat-option value="public-liability">Public Liability</mat-option>
                                <mat-option value="professional">Professional Indemnity Policy</mat-option>
                                <mat-option value="workmen-compensation">Workmen Compensation</mat-option>
                              </mat-select>
                              <mat-error *ngIf="medapp.controls.insurance.errors?.required">Insurance Type is required</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Company Name" formControlName="name" required>
                              <mat-error *ngIf="medapp.controls.name.errors?.required">Company Name is required</mat-error>
                              <mat-error *ngIf="medapp.controls.name.hasError('minlength')">Company Name isn't long enough, minimum of 3 characters</mat-error>
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Contact Person" formControlName="contactperson" (keypress)="data($event)" required>
                              <mat-error *ngIf="medapp.controls.contactperson.errors?.required">Contact Person is required</mat-error>
                              <mat-error *ngIf="medapp.controls.contactperson.hasError('minlength')">Contact Person isn't long enough, minimum of 10 characters</mat-error>
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Mobile" formControlName="mobile" (keypress)="keyPress($event)" required minlength="10"  maxlength="10">
                              <mat-error *ngIf="medapp.controls.mobile.errors?.required">Mobile number is required</mat-error>
                              <mat-error *ngIf="medapp.controls.mobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                              <mat-error *ngIf="medapp.controls.mobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>

                              <mat-icon matSuffix>call</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Email" formControlName="email" required>
                              <mat-error *ngIf="medapp.controls.email.errors?.required">Email is required</mat-error>
                              <mat-error *ngIf="medapp.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                              <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="PinCode"  formControlName="pincode"  pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPincodeDetails($event.target.value, 'personal')"  autocomplete="off"  required>
                              <mat-error *ngIf="medapp.controls.pincode.errors?.required">Pincode is required</mat-error>
                              <mat-error *ngIf="medapp.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                              <mat-error *ngIf="medapp.controls.pincode.hasError('required')">Pincode required</mat-error>
                              <mat-error *ngIf="medapp.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                              <mat-icon matSuffix>place</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="w-100">
                              <mat-select  placeholder="Fix an Appointment (Call / Meet in Person)" formControlName="appointmentwith" required>
                                <mat-option value="call">Call</mat-option>
                                <mat-option value="meetinperson">Meet in Person</mat-option>
                              </mat-select>
                              <mat-error *ngIf="medapp.controls.appointmentwith.errors?.required">Fix Appointment is required</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="w-100">
                              <input matInput [matDatepicker]="picker" placeholder="Appointment Date (DD/MM/YYYY)" formControlName="appdate" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" maxlength="10" minlength="10" required>
                              <mat-error *ngIf="medapp.controls.appdate.errors?.required">Appointment Date is required</mat-error>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Appointment Time (HH:MM)" type="time" atp-time-picker  formControlName="apptime" required />
                              <mat-error *ngIf="medapp.controls.apptime.errors?.required">Appointment Time is required</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12 text-center mt-3">
                            <button mat-button type="submit" style="background: #fff; color: #000" [disabled]="(!medapp.valid ) || (!pincodeErrors)" (click)="medKeeper(medapp.value)">Submit</button>
                            <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                          </div>
                        </div>
                      </form>
                    </mat-card>
                </div>
            </div>
      </div>

        <section id="knowMoreShow">
            <div class="col-12 mt-4 border border-dark p-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center" style="color: #3CB526"><img src="assets/img/Group-Health-Insurance.png" class="logo-size"> About Group Health Insurance</h3>
                    </div>
                    <p>The GROUP HEALTH INSURANCE is available for any Group/Association/Institution/Corporate Body provided that the group is not formed for the sake of insurance.</p>
                    <p>The group health insurance can be availed after deleting domiciliary hospitalization benefit. It can include maternity extension and the preexisting disease cover can also be opted. It can also be made as a floater for every individual member’s family.</p>
                    <p>A group discount is also available at the same time if it is an existing insured group there will be a loading or discount based on the previous year claim experience. If the group is opting for health insurance for the first time then the group will have a loading or discount on the premium based on the claims experience at the time of renewal of the policy.</p>
                    <p>There is a discount provision if the group opts for a copay and it is possible to cover the parents also.</p>
                    <p>A group health insurance can be tailor made to suite the requisites of the group in a cost effective way and a wide coverage can be obtained. </p>
                </div>
            </div>
        </section>

    </div>
</div>
