<section class="d-none d-sm-none d-md-none d-lg-block d-xl-block">

<div class="row paScroll" >
    <div class="col-sm-11 text-center" >
        <h5 class="text-capitalize" >
            <h5 class="text-center text-capitalize color-pink" *ngIf="type == 'health'">{{compareDetails.group_name}} ({{compareDetails.scheme}})</h5>
            <h5 class="text-center text-capitalize color-pink" *ngIf="type == 'pa'">Compare Details</h5>
        </h5>
    </div>
    <div class="col-sm-1 text-right">
        <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
    </div>
</div>

     <div class="row   paScroll compare-details">
            <table class="table compare">
                <thead class="table-warning1" >
                <tr>
                    <th style="padding-right: 56px;">
                        KEY FEATURES
                    </th>
                    <th *ngFor="let list of compareDetails.productdetails; let i = index;" >
                        <img src="{{webhost + '/' + list.product_logo}}">
                        <br>
                        <p class="content-color pt-2">{{list.product_name}}</p>
                        <button mat-raised-button color="accent" class="text-center" (click)="buyProduct(list)">Buy</button>

                    </th>
                </tr>
                <tr>
                    <th style="padding-right: 56px;">
                        SUM INSURED
                    </th>
                    <th *ngFor="let list of compareDetails.productdetails; let i = index;" >
                        {{list.suminsured_amount}}
                    </th>
                </tr>
                <tr>
                    <th style="padding-right: 56px;">
                        PREMIUM
                    </th>
                    <th *ngFor="let list of compareDetails.productdetails; let i = index;" >
                        {{list.premium_amount}}
                    </th>
                </tr>

                </thead>
                <tbody class="table-success1 tablebodyscroll" >

                <tr *ngFor="let sublist of compareDetails.productdetails[0].key_features; let ci = index;" >
                    <td>
                        {{compareDetails.productdetails[0].key_features[ci].key_features_name}}
                    </td>
                    <td *ngFor="let list of compareDetails.productdetails; let j = index;">
                        {{compareDetails.productdetails[j].key_features[ci].key_features_value}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</section>









<!--<div mat-dialog-content>-->
  <!--<div class="row  scrollmenu paScroll compare-details">-->
      <!--<div class="col">-->
          <!--<table class="table compare">-->
              <!--<tbody>-->
              <!--<tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">-->
                  <!--<td>-->
                      <!--<p class="text-center" style="margin-top: 30px;">Key Features</p>-->
                  <!--</td>-->
              <!--</tr>-->
              <!--<tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">-->
                  <!--<td >SUM INSURED</td>-->
              <!--</tr>-->
              <!--<tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">-->
                  <!--<td >PREMIUM</td>-->
              <!--</tr>-->
              <!--<tr class="table-success1" *ngFor="let names of keyFeatureNames" >-->
                  <!--<td >{{names}}</td>-->
              <!--</tr>-->
              <!--</tbody>-->
          <!--</table>-->
      <!--</div>-->

      <!--<div class="col" *ngFor="let clists of compareDetails.productdetails">-->
          <!--<table class="table compare">-->
              <!--<tbody>-->
              <!--<tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">-->
                  <!--<td class="text-center">-->
                      <!--<img src="{{webhost + '/' + clists.product_logo}}">-->
                      <!--<p class="content-color text-center pt-2">{{clists.product_name}}</p>-->
                  <!--</td>-->
              <!--</tr>-->
              <!--<tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">-->
                  <!--<td >&#8377; {{clists.suminsured_amount}}</td>-->
              <!--</tr>-->
              <!--<tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">-->
                  <!--<td >&#8377; {{clists.premium_amount}}</td>-->
              <!--</tr>-->
              <!--<tr class="table-success1" *ngFor="let keyValues of clists.key_features;let i = index;" >-->
                  <!--<td  *ngIf="keyValues.key_features_value != ''">{{keyValues.key_features_value}}</td>-->
                  <!--<td  *ngIf="keyValues.key_features_value == ''"> &#45;&#45; </td>-->
              <!--</tr>-->

              <!--</tbody>-->
          <!--</table>-->
          <!--&lt;!&ndash;<div style="overflow-x: scroll; overflow-y: scroll; -webkit-overflow-scrolling: touch; height: 500px;">Stuff</div>&ndash;&gt;-->
      <!--</div>-->

    <!--&lt;!&ndash;<div class="col-md-12 text-right">&ndash;&gt;-->
      <!--&lt;!&ndash;<button mat-raised-button color="primary"  [mat-dialog-close]="addnotes" [disabled]="addButton">Ok</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--</section>-->








<!--mobile view-->

<section class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
<div class="row paScroll" >
    <div class="col-11 text-center" >
        <h5 class="text-capitalize" >
            <h5 class="text-center text-capitalize color-pink" *ngIf="type == 'health'">{{compareDetails.group_name}} ({{compareDetails.scheme}})</h5>
            <h5 class="text-center text-capitalize color-pink" *ngIf="type == 'pa'">Compare Details</h5>
        </h5>
    </div>
    <div class="col-1 text-right">
        <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="row  scrollmenu paScroll compare-details">
        <div class="col">
            <table class="table compare">
                <tbody>
                <tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">
                    <td>
                        <p class="text-center" style="margin-top: 30px;">Key Features</p>
                    </td>
                </tr>
                <tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">
                    <td >SUM INSURED</td>
                </tr>
                <tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">
                    <td >PREMIUM</td>
                </tr>
                <tr class="table-success1" *ngFor="let names of keyFeatureNames" >
                    <td >{{names}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col" *ngFor="let clists of compareDetails.productdetails">
            <table class="table compare">
                <tbody>
                <tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">
                    <td class="text-center">
                        <img src="{{webhost + '/' + clists.product_logo}}">
                        <p class="content-color text-center pt-2">{{clists.product_name}}</p>
                    </td>
                </tr>
                <tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">
                    <td >&#8377; {{clists.suminsured_amount}}</td>
                </tr>
                <tr [ngClass]="type == 'health'? 'table-warning1': 'table-warning2'">
                    <td >&#8377; {{clists.premium_amount}}</td>
                </tr>
                <tr class="table-success1" *ngFor="let keyValues of clists.key_features;let i = index;" >
                    <td  *ngIf="keyValues.key_features_value != ''">{{keyValues.key_features_value}}</td>
                    <td  *ngIf="keyValues.key_features_value == ''"> -- </td>
                </tr>

                </tbody>
            </table>
            <!--<div style="overflow-x: scroll; overflow-y: scroll; -webkit-overflow-scrolling: touch; height: 500px;">Stuff</div>-->
        </div>

        <!--<div class="col-md-12 text-right">-->
        <!--<button mat-raised-button color="primary"  [mat-dialog-close]="addnotes" [disabled]="addButton">Ok</button>-->
        <!--</div>-->
    </div>
</div>
</section>
<section class="d-none d-sm-none d-md-block d-lg-none d-xl-none">

    <div class="row paScroll" >
        <div class="col-sm-11 text-center" >
            <h5 class="text-capitalize" >
                <h5 class="text-center text-capitalize color-pink" *ngIf="type == 'health'">{{compareDetails.group_name}} ({{compareDetails.scheme}})</h5>
                <h5 class="text-center text-capitalize color-pink" *ngIf="type == 'pa'">Compare Details</h5>
            </h5>
        </div>
        <div class="col-sm-1 text-right">
            <mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>
        </div>
    </div>

    <div class="row   paScroll compare-details">
        <table class="table compare">
            <thead class="table-warning1" >
            <tr>
                <th style="padding-right: 56px;">
                    KEY FEATURES
                </th>
                <th *ngFor="let list of compareDetails.productdetails; let i = index;" >
                    <img src="{{webhost + '/' + list.product_logo}}">
                    <br>
                    <p class="content-color pt-2">{{list.product_name}}</p>
                    <button mat-raised-button color="accent" class="text-center" (click)="buyProduct(list)">Buy</button>

                </th>
            </tr>
            <tr>
                <th style="padding-right: 56px;">
                    SUM INSURED
                </th>
                <th *ngFor="let list of compareDetails.productdetails; let i = index;" >
                    {{list.suminsured_amount}}
                </th>
            </tr>
            <tr>
                <th style="padding-right: 56px;">
                    PREMIUM
                </th>
                <th *ngFor="let list of compareDetails.productdetails; let i = index;" >
                    {{list.premium_amount}}
                </th>
            </tr>

            </thead>
            <tbody class="table-success1 tablebodyscroll" >

            <tr *ngFor="let sublist of compareDetails.productdetails[0].key_features; let ci = index;" >
                <td>
                    {{compareDetails.productdetails[0].key_features[ci].key_features_name}}
                </td>
                <td *ngFor="let list of compareDetails.productdetails; let j = index;">
                    {{compareDetails.productdetails[j].key_features[ci].key_features_value}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<style>
    .color-blue{
        background-color: #0b9444;
    }
</style>
