.compare-details {
  thead, tfoot {
    display: table;
    width: 100%;
  }

  tbody {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
  }

  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
@media (min-width: 320px) and (max-width: 767px){
  .compare-details {
      height: 300px;
      overflow: auto;
      overflow-x: scroll;
      display: block;
      width: 100%;
    }

   }

.compare-details table button {
  font-size: 12px;
  padding: 0 4px;
  line-height: 1.6;
}
.compare-details table .mat-raised-button.mat-accent {
  background-color: #28a745 !important;
}
