<i class="material-icons text-right"  (click)="close()">
    cancel
</i>
    <h3 align="center">Schedule Details</h3>

   <form [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <input matInput placeholder="First name" formControlName="name"  autocomplete="off" required>
                    <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Email" formControlName="email"  autocomplete="off" required>
                    <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                </mat-form-field>
            </div>
        </div>
       <div class="row">
            <div class="col-md-6">

            <mat-form-field class="w-100">
              <input matInput placeholder="Mobile" formControlName="mobile"   autocomplete="off" required>
              <mat-error *ngIf="form.controls.name.errors?.required">Mobile is required</mat-error>
            </mat-form-field>
            </div>
            <div class="col-md-6">

            <mat-form-field class="w-100">
              <input matInput placeholder="Status" formControlName="status"   autocomplete="off" required>
              <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
            </mat-form-field>
            </div>
        </div>
       <button color="primary" mat-raised-button class="text-center" type="button">Next</button>

   </form>

