<i class="material-icons text-right"  (click)="close()">
    cancel
</i>
<div fxLayoutWrap fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="100" fxFlex.gt-sm="90" fxFlex.sm="90" class="flex-p">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Mail" formControlName="email" required readonly>
                        <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="form.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>

                    </mat-form-field>
                 </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Subject" formControlName="subject">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-4">
                    <quill-editor  formControlName="message" required></quill-editor>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12  text-right">
                    <button mat-raised-button color="primary" (click)="submit()">Send</button>
                </div>
            </div>
        </form>

    </div>
</div>

