<div class="flex-p" >
<div class="row">
    <div class="col-md-6 text-left">
      <mat-form-field  class="w-100">
          <mat-select  placeholder="All Category" (change)="getCategory(selectedCategory)" [(ngModel)]="selectedCategory" >
          <mat-option *ngFor="let list of categoryList" value="{{list.category_id}}">{{list.category_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6 text-right">
      <mat-form-field  class="w-100">
        <mat-select  placeholder="All Subjects" (change)="getSubjects(selectedSubject)" [(ngModel)]="selectedSubject" >
          <mat-option *ngFor="let list of subjectList" value="{{list.subject_id}}">{{list.subject_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>
</div>
<div class="flex-p">
<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form [formGroup]="form" (ngSubmit)="addQuestions()" >
    <mat-form-field class="w-100">
      <textarea matInput placeholder="Enter Questions" formControlName="question" ></textarea>
      <mat-error *ngIf="form.controls.question.errors?.required">Enter Questions is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter Answer1" formControlName="optionA" >
      <mat-error *ngIf="form.controls.optionA.errors?.required">Enter Answer1 is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter Answer2" formControlName="optionB" >
      <mat-error *ngIf="form.controls.optionB.errors?.required">Enter Answer2 is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter Answer3" formControlName="optionC" >
      <mat-error *ngIf="form.controls.optionC.errors?.required">Enter Answer3 is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter Answer4" formControlName="optionD" >
      <mat-error *ngIf="form.controls.optionD.errors?.required">Enter Answer4 is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter True Answer" formControlName="correctanswer" >
      <mat-error *ngIf="form.controls.correctanswer.errors?.required">Enter Correct Answer is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select placeholder="Status" formControlName="status"  name="status">
        <mat-option *ngFor="let list of Status" [value]="list.value">{{list.viewValue}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.status.errors?.required">status is required</mat-error>
    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="primary"  type="submit">Save</button>
    </div>
  </form>
</div>
</div>
