<div class="success-message">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <mat-card class="text-center">
      <div *ngIf="paymentStatus == 'success'">
        <img src="assets/img/success.gif" alt="">
        <h2 style="color:#298126">Payment Successfully</h2>
        <p>Thank you! Your payment was processed successfully.</p>
        <p>Your Application Number {{applicationNo}}.</p>
        <p>Thanks for perchase Apollo Munich product and you will get the policy for register copy send Your Mail Id with in 2 Days</p>
        <h6 *ngIf="remainingStatus">If you want to purchase remaining groups.<span (click)="pay()" class="retryClass"> Please click here... </span></h6>
        <button mat-raised-button color="primary" routerLink="/home"> Done</button>
      </div>
      <div *ngIf="paymentStatus == 'failure'">
        <img src="assets/img/error-icon.png" alt="">
        <h2 style="color:#f44336">Oh no, Your payment failed</h2>
        <p>The transaction has failed due to one of the following reasons:</p>
        <ul><li>Payment was declined by your bank or credit card provider</li>
          <li>Credit/Debit card provided has expired</li>
          <li>Credit/Debit card has insufficient funds</li>
          <li>Credit/Debit card number provided is invalid</li>
          <li>Credit/Debit card provided has not been approved for recurring payments</li></ul>
        <p>If you want to Retry a payment.<span (click)="retry()" class="retryClass"> Please click here... </span></p>

        <!--<button mat-raised-button color="primary" style="background-color:#f44336 !important;" routerLink="/home"> Done</button>-->
      </div>
    </mat-card>
  </div>
</div>

<style>
  .retryClass{
    color: #3e65d4 !important;
    cursor: pointer;
  }

</style>