@import url("https://fonts.googleapis.com/css?family=Parisienne");
* {
  outline: none; }

body {
  font-family: Roboto,sans-serif !important;
  font-size: 14px !important; }

a:hover {
  color: unset !important;
  text-decoration: none !important; }

button:focus {
  outline: none; }

.color-green {
  color: #18CCB4 !important;
  font-size: 12px; }


.color-green-mobile {
  color: #18CCB4 !important;
  font-size: 5px; }

.color-pink {
  color: #F50091; }

.logo-size {
  width: 30px;
  height: 30px; }

.bg-pink {
  color: #F50091; }

.user-menu .user-info {
  width: 130px !important; }

.color-blue {
  color: #2d64d2; }

.matIclass {
  font-size: 14px; }

.dashboard .mat-card {
  background: rgba(243, 240, 240, 0.87) !important; }
.dashboard mat-card.mat-radius {
  background: #faf3f3 !important; }
.dashboard .mat-card-header-text {
  display: none; }
.dashboard .son {
  background: #f5deff;
  padding: 15px;
  border-radius: 5px; }
  .dashboard .son button {
    line-height: 28px;
    font-size: 10px;
    padding: 0 10px; }
    .dashboard .son button i {
      font-size: 18px; }
.dashboard .accentDaughter {
  background-color: #306eca !important; }
.dashboard .ngError {
  color: red;
  font-size: 11px;
  margin-top: -16px; }
.dashboard .mat-primaryBlue {
  background-color: #7dc3e0 !important;
  color: #ffffff !important; }

.sidenav-header {
  border-bottom: 1px solid #ccc; }

.sidenav {
  width: 300px !important; }

.dashboard1 {
  width: 30em; }
  .dashboard1 .mat-card {
    background: #ECFFF0 !important; }
  .dashboard1 .mat-card-header-text {
    display: none;
    color: #13805A; }

.pos_login {
  width: 30em; }
  .pos_login a.forget:visited {
    color: #2FE827; }
  .pos_login a.forget:link {
    color: #2FE827; }
  .pos_login a.forget:active {
    color: #2FE827; }
  .pos_login a.forget:hover {
    color: #939AF6; }
  .pos_login .forget {
    cursor: pointer; }
  .pos_login a.sign:active {
    color: #BBBBBE; }
  .pos_login a.sign:visited {
    color: #BBBBBE; }
  .pos_login a.sign:link {
    color: #BBBBBE; }
  .pos_login a.sign:hover {
    color: #939AF6; }
  .pos_login mat-form-field {
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%; }
  .pos_login mat-card {
    background: #3C463A !important; }
  .pos_login mat-icon {
    color: #2FE827; }
  .pos_login .white-color {
    color: #FFFFFF; }
  .pos_login input {
    background-color: #FFFFFF;
    height: 25px; }
  .pos_login button {
    margin-top: 5px;
    background-color: #2FE827 !important;
    color: #FFFFFF !important; }
  .pos_login .sign {
    margin-top: 18px;
    color: #BBBBBE;
    text-align: center; }
  .pos_login mat-form-field {
    color: #02810E; }

training_page h1 {
  color: green;
  text-align: center; }
training_page h2 {
  text-align: center; }
training_page h3 {
  color: blue; }
training_page table, training_page td, training_page th {
  border: 1px solid black;
  padding: 10px; }
training_page th {
  text-align: center; }
training_page table {
  border-collapse: collapse;
  width: 100%; }
training_page a {
  text-decoration: none !important; }
training_page .no {
  text-align: center; }

.register_page {
  color: #FFFFFF;
  flex-direction: column; }
  .register_page .mat-tab-label {
    background-color: #D6FFCE;
    justify-content: start; }
  .register_page .mat-tab-label-active {
    background: #AEFF9E !important;
    color: #02810E !important; }
  .register_page .mat-tab-labels {
    background: #D6FFCE !important; }
  .register_page mat-card {
    background: #3C463A !important;
    color: white !important; }
  .register_page mat-icon, .register_page i {
    font-size: 18px !important;
    color: #2FE827; }
  .register_page .mat-ink-bar {
    display: none; }
  .register_page .mat-tab-header {
    border: none !important; }
  .register_page .mat-tab-body-wrapper {
    padding: 0 16px; }
  .register_page mat-form-field {
    background-color: #FFFFFF;
    padding: 10px  20px;
    width: 100%;
    color: black;
    margin-bottom: 8px;
    border-radius: 5px; }
  .register_page .btncolor {
    background-color: #2FE827 !important;
    color: #FFFFFF !important; }
  .register_page button {
    margin-buttom: 5px;
    background-color: #2FE827 !important;
    color: #FFFFFF !important;
    margin: -10px 0px 17px 0px; }
  .register_page .mat-tab-header-pagination {
    background: #fff; }
  .register_page .mat-tab-body.mat-tab-body-active {
    margin-top: 15px; }
  .register_page .mat-radio-outer-circle {
    border-left-color: #2FE827 !important;
    border-right-color: #2FE827 !important;
    border-top-color: #2FE827 !important;
    border-bottom-color: #2FE827 !important; }
  .register_page .mat-radio-inner-circle {
    background-color: #2FE827 !important; }

.custom-file-label {
  border-radius: 0 !important;
  border: 1px solid #a7a7a7; }

.custom-file-label::after {
  content: "Attach File" !important;
  background-color: #00695c;
  color: white;
  border: none;
  border-radius: 0; }

.secondary-bg-color {
  background-color: rgba(0, 0, 0, 0.12) !important; }

a:hover {
  color: #02810E;
  text-decoration: none; }

.dashbord-icon mat-card {
  cursor: pointer; }

.mt-login mat-card {
  position: absolute;
  left: 0;
  top: 5px;
  right: 0;
  width: 460px;
  margin: 4em auto 70px; }

.mt-registration .mat-tab-header-pagination {
  background: #ffe8c6 !important;
  display: none !important; }
.mt-registration .mat-tab-label {
  pointer-events: none !important;
  display: none;
  width: 100%; }
.mt-registration .mat-tab-label-active {
  display: block;
  font-size: 17px;
  padding-top: 10px;
  border-radius: 6px 6px 0 0; }
.mt-registration mat-tab-header {
  margin-bottom: 15px; }
.mt-registration mat-card {
  position: absolute;
  left: 0;
  top: 5px;
  right: 0;
  width: 600px;
  margin: 4em auto 70px; }
  .mt-registration mat-card .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important; }
  .mt-registration mat-card .mat-tab-body-content {
    overflow: hidden; }

.bg-map {
  background: url("./assets/img/loginbg.jpg");
  background-color: #02810E !important;
  width: 100%;
  background-size: cover;
  overflow: visible;
  padding: 11em 0;
  height: 100%; }

.mt-login .login-logo {
  padding-bottom: 20px;
  width: 290px; }

.login-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px; }
  .login-options a {
    color: #02810E; }
  .login-options div span {
    font-size: 12px; }

.closeRelation {
  position: absolute;
  top: 12px;
  right: 11px;
  cursor: pointer; }

.social-icons {
  border-left: 1px solid #ccc;
  padding: 0 0 0 10px;
  border-right: 1px solid #ccc;
  text-align: center; }
  .social-icons i {
    font-size: 15px;
    margin-right: 10px;
    background: #3B5998;
    padding: 7px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff; }
  .social-icons a:first-child i {
    background: #3B5998; }
  .social-icons a:nth-child(2) i {
    background: #00aced; }
  .social-icons a:nth-child(3) i {
    background: #4875B4; }
  .social-icons a:nth-child(4) i {
    background: #FF3333; }
  .social-icons a:nth-child(5) i {
    background: #4E433C; }

.error {
  color: #ec0505;
  font-size: 11px;
  width: 100%; }

.home-nav .active {
  font-weight: bold !important;
  color: #00695c !important; }
.home-nav .nav-link {
  padding: 0 45px !important;
  padding: 0 45px !important;
  cursor: pointer;
  font-size: 17px;
  font-weight: normal; }

.side-nav {
  padding-left: 0 !important;
  padding-top: 0 !important; }
  .side-nav .nav-item {
    display: flex;
    cursor: pointer; }
  .side-nav p.icon {
    background: #d81b60;
    padding: 28px 3px 5px;
    margin-right: 10px;
    border-bottom: 1px solid #fff; }
    .side-nav p.icon img {
      width: 25px; }
  .side-nav h6 {
    margin-bottom: 0; }
  .side-nav p {
    margin-bottom: 0; }
  .side-nav .nav-link {
    border-bottom: 1px solid #ccc;
    width: 100%; }
  .side-nav ul li:nth-child(1) .icon {
    background: #07F488; }
  .side-nav ul li:nth-child(2) .icon {
    background: #DF6601; }
  .side-nav ul li:nth-child(3) .icon {
    background: #FD0089; }
  .side-nav ul li:nth-child(4) .icon {
    background: #EF0034; }
  .side-nav ul li:nth-child(5) .icon {
    background: #0FBEEA; }
  .side-nav ul li:nth-child(6) .icon {
    background: #A521B3; }
  .side-nav ul li:nth-child(7) .icon {
    background: #F73D00; }
  .side-nav ul li:nth-child(8) .icon {
    background: #000000; }
  .side-nav ul li:nth-child(9) .icon {
    background: #18CCB4; }
  .side-nav ul li:nth-child(10) .icon {
    background: #F50091; }
  .side-nav ul li:nth-child(11) .icon {
    background: #FAE639; }
  .side-nav ul li:nth-child(12) .icon {
    background: #790075; }
  .side-nav ul li:nth-child(13) .icon {
    background: #F00034; }
  .side-nav ul li:nth-child(14) .icon {
    background: #A811A3; }
  .side-nav ul li:nth-child(15) .icon {
    background: #F00034; }
  .side-nav .nav-item {
    height: 80px; }

.app.teal-light .horizontal-menu {
  background: #fff !important; }

.top-nav {
  height: auto !important;
  min-height: auto !important; }

.breadcrumb .mat-icon {
  height: auto !important;
  width: auto !important; }

.horizontal-menu-item .horizontal-menu-icon {
  display: none; }

.options-icon {
  display: none !important; }

.mat-tab-label-active {
  background-color: #00695c !important;
  color: #cfcfcf !important; }

#product-list .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
  background-color: rgba(24, 204, 180, 0.35); }
#product-list .mat-ink-bar {
  display: none !important; }
#product-list .mat-tab-label-active {
  background-color: #f29a1d !important;
  color: #fff !important; }
#product-list .mat-tab-labels {
  float: right; }
  #product-list .mat-tab-labels .mat-ripple {
    background-color: #18CCB4;
    color: #fff;
    opacity: 1; }
#product-list .son button {
  line-height: 28px;
  font-size: 10px;
  padding: 0 10px; }
#product-list .health-table button {
  font-size: 12px;
  padding: 0 10px;
  line-height: 2; }
#product-list .table-fixed {
  width: 100%;
  background-color: #f3f3f3; }
  #product-list .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%; }
  #product-list .table-fixed thead, #product-list .table-fixed tbody, #product-list .table-fixed tr, #product-list .table-fixed td, #product-list .table-fixed th {
    display: block; }
  #product-list .table-fixed tbody td {
    float: left; }
  #product-list .table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22; }
#product-list .health-table td:nth-child(3) {
  text-align: left !important; }
#product-list .health-table th {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #ccc !important; }
#product-list .health-table td {
  vertical-align: middle;
  color: rgba(4, 78, 67, 0.87);
  font-size: 13px;
  border: 1px solid #ccc;
  text-align: center; }
#product-list .health-table .mat-raised-button.mat-primary {
  background-color: #18CCB4; }
#product-list .health-table .mat-raised-button.mat-primary1 {
  background-color: #ca8845db; }
#product-list .health-table .mat-raised-button.mat-accentRemove {
  background-color: #2d8dc5;
  color: #ffff; }
#product-list .health-table thead th {
  border: none;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #18ccb4;
  color: #fff;
  font-weight: normal;
  font-size: 12px; }
#product-list .mat-tab-label-container {
  margin-bottom: 5px; }
#product-list .h-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #d81b60;
  padding: 6px; }
#product-list .product-choose mat-card-header {
  background: #f29a1d; }
#product-list .product-choose h6 {
  margin-bottom: 0;
  color: #fff; }
#product-list .product-choose mat-card {
  background: rgba(242, 154, 29, 0.05); }
#product-list .mat-tab-labels .mat-tab-label:first-child {
  border-radius: 10px 0 0 0; }
#product-list .mat-tab-labels .mat-tab-label:last-child {
  border-radius: 0 10px 0 0; }
#product-list .linkClor {
  color: #117ab7; }

.closeBtnClass {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer; }

.content-color, .compare td {
  color: rgba(4, 78, 67, 0.87); }

.table-success1 {
  background-color: #ebf7fb; }

.table-warning1 {
  background-color: #e8b7cc; }

.compare-icon {
  height: 100px; }
  .compare-icon img {
    width: 90px; }


.compare-icon-mobile {
  height: 50px; }
.compare-icon-mobile img {
  width: 90px; }

.add-disable.mat-raised-button[disabled][disabled] {
  background: #ccc !important;
  cursor: default; }

.card-group-pop {
  background-color: rgba(255, 255, 255, 0.3) !important;
  height: 265px; }

.horizontal-menu-item .horizontal-sub-menu {
  background: #0b9444 !important;
  color: #fff;
  width: auto !important; }

.horizontal-menu-item .horizontal-sub-menu a.mat-button {
  color: #fff !important; }

.horizontal-menu-item .mat-button {
  height: 40px !important; }

.horizontal-menu .inner-sidenav-content {
  padding-top: 7px !important; }

.btn-bs-file {
  position: relative; }

.btn-bs-file input[type="file"] {
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit; }

.nav-item.active {
  background: #eaeaea; }

.scrollmenu {
  flex-wrap: nowrap; }

/*mobile view*/
@media screen and (max-width: 767px){
  .scrollmenu {
    flex-wrap: wrap; }
}

.proposal .mat-checkbox-layout {
  white-space: pre-wrap; }
.proposal .add-nominee {
  position: absolute;
  right: 10px;
  top: 10px; }
.proposal .add-nominee .mat-raised-button {
  line-height: 30px;
  padding: 0 6px;
  font-size: 11px; }
.proposal .question-panel mat-expansion-panel-header {
  background: #ce801d !important; }
  .proposal .question-panel mat-expansion-panel-header mat-panel-title, .proposal .question-panel mat-expansion-panel-header .mat-expansion-indicator::after {
    color: #fff !important; }
.proposal .question-panel .mat-expansion-panel-body {
  border: 1px solid #ce801d !important; }
.proposal .mat-horizontal-stepper-header {
  pointer-events: none !important; }
.proposal mat-expansion-panel-header {
  background: #18CCB4 !important; }
  .proposal mat-expansion-panel-header mat-panel-title, .proposal mat-expansion-panel-header .mat-expansion-indicator::after {
    color: #fff !important; }
.proposal .mat-expansion-panel-body {
  border: 1px solid #18CCB4; }
.proposal .mat-step-header .mat-step-icon {
  background-color: #F50091 !important; }
.proposal .mat-step-label.mat-step-label-active.mat-step-label-selected {
  color: #F50091 !important; }
.proposal .box-card {
  background: #f5f5f5;
  border-left: 5px solid #fff;
  margin-bottom: 15px;
  position: relative;
  text-transform: capitalize; }

.tavelProposal .mat-checkbox-layout {
  white-space: pre-wrap; }
.tavelProposal .mat-primaryBlue {
  background-color: #4896d8 !important; }
.tavelProposal .mat-raised-button.mat-primaryBlue {
  background-color: #2d8dc5 !important;
  color: #ffff; }
.tavelProposal .mat-horizontal-stepper-header {
  pointer-events: none !important; }
.tavelProposal mat-expansion-panel-header {
  background: #3a7fca !important; }
  .tavelProposal mat-expansion-panel-header mat-panel-title, .tavelProposal mat-expansion-panel-header .mat-expansion-indicator::after {
    color: white !important; }
.tavelProposal .color-blue {
  color: #4896d8 !important;
  font-size: 12px; }
.tavelProposal .mat-expansion-panel-body {
  border: 1px solid #4683c4; }
.tavelProposal .mat-step-header .mat-step-icon {
  background-color: #4683c4 !important; }
.tavelProposal .mat-step-label.mat-step-label-active.mat-step-label-selected {
  color: #4683c4 !important; }
.tavelProposal .box-card {
  background: #ffffff;
  border-left: 5px solid #fff;
  margin-bottom: 15px;
  position: relative;
  text-transform: capitalize; }

.non-editable {
  pointer-events: none; }

.mat-placeholder-required {
  color: red; }

.carousel-indicators {
  bottom: -12px; }
  .carousel-indicators li {
    background-color: rgba(0, 105, 92, 0.47);
    height: 16px; }
  .carousel-indicators .active {
    background-color: #00695c; }

.mat-button-toggle label {
  margin-bottom: 0; }

.mat-button-toggle-group .cdk-program-focused:first-child {
  background-color: #18ccb4 !important;
  color: #fff !important; }

.mat-button-toggle-group .cdk-program-focused:last-child {
  background-color: #d81b60 !important;
  color: #fff !important; }

.mat-button-toggle-group .mat-button-toggle-checked:first-child {
  background-color: #18ccb4 !important;
  color: #fff !important; }

.mat-button-toggle-group .mat-button-toggle-checked:last-child {
  background-color: #d81b60 !important;
  color: #fff !important; }

.aadhar {
  background-color: #f1b17a !important; }

.pan {
  background-color: #88c8e0 !important; }

.edu {
  background-color: #78c795 !important; }

.uploadBtn .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.summary-details .sub-title {
  font-size: 14px; }
.summary-details .box-card {
  border: none; }
.summary-details h6 {
  text-align: center;
  color: #18ccb4; }
.summary-details h5 {
  background: #18CCB4;
  color: #fff;
  padding: 8px;
  margin-bottom: 0; }
.summary-details ul {
  list-style-type: none !important; }
.summary-details li {
  padding-bottom: 8px;
  margin-right: 10px; }
  .summary-details li strong {
    width: 150px;
    float: left; }
.summary-details .summary-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0; }
  .summary-details .summary-head a{
    font-size: 16px; }
  .summary-details .summary-head span {
    font-weight: bold; }
  .summary-details .summary-head span:last-child {
    color: #f16d0d;
    font-size: 20px; }
.summary-details1 .summary-head1 {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  align-items: center;
  margin-bottom: 0; }

.mt-viwe-profile .user-name {
  font-size: 15px;
  margin-bottom: 0; }
.mt-viwe-profile .user-content .user-details .mat-icon {
  padding: 0 !important;
  margin-right: 10px; }
.mt-viwe-profile .bg-primary {
  background-color: #dcdcdc !important;
  height: 40px;
  color: #313131 !important; }
.mt-viwe-profile p, .mt-viwe-profile label {
  margin: 0; }

.mat-calendar-body-disabled .mat-calendar-body-cell-content {
  color: #ccc !important; }

.success-message {
  background: url("./assets/img/funky-lines.png");
  background-repeat: repeat;
  width: 100%;
  padding: 11em 0;
  height: 100%; }
  .success-message mat-card {
    width: 500px;
    border-radius: 10px; }
  .success-message img {
    width: 100px;
    margin-bottom: 15px; }
  .success-message h2 {
    color: #0b9444; }
  .success-message .mat-raised-button.mat-primary {
    background-color: #0b9444 !important; }

.vizza-home {
  width: 100%;
  float: left; }
  .vizza-home .h-product {
    margin-top: 30px; }
    .vizza-home .h-product figure {
      -webkit-box-shadow: 0px 0px 10px 0px #999999;
      -moz-box-shadow: 0px 0px 10px 0px #999999;
      box-shadow: 0px 0px 10px 0px #999999;
      border-radius: 10px;
      padding: 20px;
      min-height: 260px; }
      .vizza-home .h-product figure img {
        height: 50px;
        margin-bottom: 12px; }
  .vizza-home .h-plans {
    margin-top: 20px;
    text-align: center; }
    .vizza-home .h-plans img {
      width: 100%; }
    .vizza-home .h-plans figcaption {
      font-size: 16px;
      font-weight: bold; }
  .vizza-home footer p {
    color: #656464;
    text-align: center;
    padding: 10px;
    margin-top: 15px; }
  .vizza-home .h-testimonial {
    background: url("./assets/img/testimonial-Strip.png");
    background-repeat: repeat;
    height: 100%;
    padding: 10px; }

.horizontal-menu-item a {
  justify-content: center !important; }

.horizontal-menu-item .horizontal-sub-menu a {
  justify-content: end !important; }

#view-details {
  color: #ffffff !important;
  height: calc(100vh - 150px);
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  #view-details .nav-item.active {
    background-color: #18ccb4 !important;
    color: #ffffff; }
  #view-details .mat-list, #view-details .mat-nav-list, #view-details .mat-selection-list {
    padding-top: 1px;
    display: block; }
  #view-details .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
  }
#view-details .mat-dialog-content1 {
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
}
  #view-details .row {
    margin: 0; }
  #view-details .mat-list .mat-list-item .mat-list-text > *, #view-details .mat-list .mat-list-option .mat-list-text > *, #view-details .mat-nav-list .mat-list-item .mat-list-text > *, #view-details .mat-nav-list .mat-list-option .mat-list-text > *, #view-details .mat-selection-list .mat-list-item .mat-list-text > *, #view-details .mat-selection-list .mat-list-option .mat-list-text > * {
    margin: 0;
    padding: 0;
    font-weight: 300 !important;
    font-size: inherit;
    color: #ffffff !important; }
  #view-details ::-webkit-scrollbar {
    width: 3px; }
  #view-details ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  #view-details ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px; }
  #view-details ::-webkit-scrollbar-thumb:hover {
    background: #b30000; }
  #view-details .mat-tab-list {
    background: #efefef;
    border-radius: 10px 10px 0 0; }
  #view-details .mat-tab-label-active {
    background-color: #d81b60 !important;
    color: #fff !important; }
  #view-details .mat-tab-labels .mat-tab-label:first-child {
    border-radius: 10px 0 0 0; }
  #view-details .example-tab-icon {
    margin-right: 8px; }

.qesTable td {
  padding: 20px 10px; }
.qesTable .mat-checkbox-layout {
  white-space: nowrap; }

.question-panel .mat-expansion-panel-header-description {
  text-align: right;
  display: block; }
.question-panel .mat-expansion-indicator {
  display: none; }
.question-panel mat-panel-description .mat-checkbox-inner-container {
  background: #fff; }
.question-panel mat-panel-description .mat-checkbox-label {
  color: #fff; }
.question-panel .mat-slide-toggle .mat-slide-toggle-content {
  color: #fff; }

.question-view #timer {
  font-size: 22px !important; }
.question-view .content-color {
  color: #0b9444; }
.question-view p {
  text-align: justify; }

.app.teal-light .mat-chip.mat-chip-selected.mat-accent {
  background-color: #3dccb1d6 !important;
  color: white !important;
  width: 130px !important;
  height: 40px !important; }

.app.teal-light mat-toolbar {
  min-height: 95px !important; }

.inner-sidenav-content {
  top: 105px !important; }

.pie-grid .percent-label {
  font-size: 16px;
  font-weight: 400;
  display: none !important; }

.h-testimonial h3 {
  background: #00b39b;
  margin-bottom: 0;
  padding: 10px 0;
  color: #fff; }

.h-faq {
  width: 100%;
  margin-bottom: 50px; }
  .h-faq h1 {
    color: #ed1490; }

.certificate-bg {
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  width: 100%;
  background-attachment: fixed; }

#pos-cirtificate .c-card {
  border-left: 20px solid #219c44; }
  #pos-cirtificate .c-card li {
    display: block; }
  #pos-cirtificate .c-card header {
    border-bottom: 1px solid #000;
    padding-bottom: 15px; }
    #pos-cirtificate .c-card header img {
      width: 400px; }
  #pos-cirtificate .c-card .c-content, #pos-cirtificate .c-card .c-address, #pos-cirtificate .c-card p, #pos-cirtificate .c-card table {
    font-size: 16px; }
  #pos-cirtificate .c-card footer {
    border-top: 2px solid #1c9a42; }
    #pos-cirtificate .c-card footer h5 {
      color: #1c9a42; }
    #pos-cirtificate .c-card footer p {
      font-size: 19px;
      margin-bottom: 0; }
  #pos-cirtificate .c-card table tr td {
    padding: 10px;
    vertical-align: top; }
  #pos-cirtificate .c-card table tr td:first-child {
    color: #1c9a42; }
  #pos-cirtificate .c-card .view-profile img {
    width: 200px; }

.insurance-renewal li {
  display: block; }
.insurance-renewal h2 {
  background: linear-gradient(to bottom, #993366 0%, #993399 100%);
  padding: 12px;
  margin-bottom: 0;
  margin-top: 0;
  color: #fff;
  font-size: 22px; }
.insurance-renewal form {
  padding: 30px 0;
  background: #ffcccc;
  background-image: url("assets/img/home/alarm-renewal-dark.png");
  background-position: 50% 50%;
  background-repeat: no-repeat; }
.insurance-renewal .input-group-addon {
  color: #fff;
  background-color: #13a89e;
  border: 1px solid #13a89e; }
.insurance-renewal .btn-bs-file {
  position: relative;
  width: 175px;
  background: #ababab;
  color: #fff;
  border-radius: 31px; }
.insurance-renewal .btn-bs-file:hover {
  background: #666; }
.insurance-renewal .btn-bs-file input[type="file"] {
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  cursor: inherit; }
.insurance-renewal .whatsapp {
  font-weight: bold;
  padding-top: 0;
  font-size: 16px; }
.insurance-renewal .fa-whatsapp {
  background: #25d366;
  padding: 7px 15px 17px 10px;
  border-radius: 50%;
  font-size: 30px;
  width: 45px;
  height: 45px;
  color: #fff;
  margin-right: 6px; }
.insurance-renewal .h-border-bottom {
  width: 60%;
  margin: auto; }
.insurance-renewal .h-border-bottom:before {
  content: "";
  border: 1px solid #ababab;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 10px; }
.insurance-renewal .whatsapp span {
  vertical-align: super; }

.f-social-icons ul {
  display: flex;
  justify-content: center;
  align-items: center; }
.f-social-icons i {
  text-align: center;
  background: #d4d4d4;
  border-radius: 50%;
  height: 55px;
  margin: 44px;
  font-size: 25px;
  color: #fff;
  padding-top: 15px;
  width: 55px;
  margin: 10px;
  margin-top: 21px; }

.f-social-icons li {
  cursor: pointer;
  display: block;
  text-align: center; }
  .f-social-icons li:nth-child(1):hover i {
    background: #55acee; }
  .f-social-icons li:nth-child(2):hover i {
    background: #3b5998; }
  .f-social-icons li:nth-child(3):hover i {
    background: #007bb6; }
  .f-social-icons li:nth-child(4):hover i {
    background: #cd201f; }
  .f-social-icons li:nth-child(5):hover i {
    background: #d93175; }
  .f-social-icons li:nth-child(6):hover i {
    background: #DF3F36; }
  .f-social-icons li span {
    float: left;
    width: 100%;
    color: #666;
    visibility: hidden;
    font-weight: bold; }
  .f-social-icons li:hover span {
    visibility: visible; }
.f-social-icons li a, .f-social-icons li a:hover {
  color: #fff;
  display: flex;
  flex-flow: column; }

footer {
  width: 100%;
  float: left;
  padding: 10px; }
  footer img {
    width: 120px; }
  footer p {
    padding: 10px;
    margin-bottom: 0;
    color: black;
    margin-top: 15px; }

.c2-card {
  border-left: 20px solid #219c44;
  background-image: url("./assets/img/pos-bg.png") !important;
  width: 100%;
  background-size: cover !important; }
  .c2-card header {
    border-bottom: 1px solid #006738;
    padding-bottom: 20px; }
    .c2-card header h5 {
      color: #006738; }
    .c2-card header img {
      width: 470px; }
  .c2-card .c-profile .c-font {
    font-family: 'Parisienne', cursive;
    font-size: 170px;
    color: #443034;
    text-align: right; }
  .c2-card .c-profile h5 span {
    background: #443034;
    color: #fff;
    padding: 10px 30px;
    font-size: 25px; }
  .c2-card .c-content {
    position: relative;
    border: 2px solid #443034;
    border-radius: 30px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 45px; }
    .c2-card .c-content .c-title {
      position: absolute;
      top: -15px;
      right: 0px;
      bottom: 0;
      width: 100%;
      text-align: center; }
      .c2-card .c-content .c-title span {
        padding: 10px 35px;
        color: #fff;
        font-size: 25px;
        background: #f01818;
        background: linear-gradient(to right, #f01818 0%, #f7947b 64%, #ff2121 100%); }
    .c2-card .c-content p {
      font-size: 22px; }
  .c2-card table {
    font-size: 20px;
    margin: 185px 28px 100px 28px; }
    .c2-card table tr td {
      padding: 10px;
      vertical-align: top; }
    .c2-card table tr td:first-child {
      color: #443034; }
  .c2-card footer {
    font-size: 20px; }

.letUs .arrow-left {
  position: absolute;
  left: -29px;
  bottom: 47%;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; }
.letUs .let1 {
  background: #e8e8e8; }
  .letUs .let1 h1 {
    color: #bbb; }
.letUs .mat-select-value span span {
  color: #fff !important; }

.login-name {
  font-size: 15px;
  font-weight: bold;
  color: #289e44;
  margin-bottom: 0;
  border-right: 2px solid #ccc;
  padding-right: 10px; }

.selected {
  background-color: #006E5E !important;
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF !important; }

.text-title-color {
  color: darkgreen; }

.h-claim h3 {
  color: #a9a4a4;
  padding: 0 10px; }
.h-claim .bottomQoute {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: #a9a4a4;
  font-weight: bold;
  font-style: italic; }
.h-claim .col-md-3 h4 {
  padding: 13px;
  border-radius: 50px;
  text-align: right;
  color: #fff;
  font-size: 16px;
  position: relative; }
  .h-claim .col-md-3 h4 span {
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    padding-top: 10px;
    font-size: 30px;
    color: #000;
    border: 10px solid;
    top: -13px;
    left: 0;
    text-align: center; }
.h-claim .col-md-3 p {
  padding: 15px;
  text-align: justify;
  border-radius: 15px;
  margin-top: -32px;
  padding-top: 45px;
  min-height: 195px;
  font-size: 12px; }
.h-claim .col-md-3:nth-child(5) h4 {
  background: linear-gradient(to bottom, #cc99ff 0%, #cc00cc 100%); }
.h-claim .col-md-3:nth-child(5) span {
  border-color: #cc00cc; }
.h-claim .col-md-3:nth-child(5) p {
  background: #fdcbf4; }
.h-claim .col-md-3:nth-child(4) h4 {
  background: linear-gradient(to bottom, #66ccff 0%, #0066cc 100%); }
.h-claim .col-md-3:nth-child(4) span {
  border-color: #0066cc; }
.h-claim .col-md-3:nth-child(4) p {
  background: #99edea; }
.h-claim .col-md-3:nth-child(3) h4 {
  background: linear-gradient(to bottom, #66ff99 0%, #006600 100%); }
.h-claim .col-md-3:nth-child(3) span {
  border-color: #006600; }
.h-claim .col-md-3:nth-child(3) p {
  background: #99edaa; }
.h-claim .col-md-3:nth-child(2) h4 {
  background: linear-gradient(to bottom, #ff9999 0%, #ff9900 100%); }
.h-claim .col-md-3:nth-child(2) span {
  border-color: #ff9900; }
.h-claim .col-md-3:nth-child(2) p {
  background: #f6c577; }
.h-claim .col-md-3:nth-child(1) h4 {
  background: linear-gradient(to bottom, #ff9999 0%, #ff0000 100%); }
.h-claim .col-md-3:nth-child(1) span {
  border-color: #ff2525; }
.h-claim .col-md-3:nth-child(1) p {
  background: #ffa0b2; }

.compar-fix {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background: antiquewhite;
  padding: 5px 14px;

}

.margin-bottom170 {
  margin-bottom: 170px; }

#staticTime {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  width: 100%;
  padding-right: 30px; }

.listDisabled {
  pointer-events: none !important; }

.draggable {
  position: relative;
  height: 575px;
  z-index: 1; }
  .draggable li {
    min-height: 80px; }

.dashboard {
  -webkit-perspective: 1000;
  perspective: 1000; }

.dashboard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  transition: all 1.0s linear; }

.loadable {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#a {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: mymoveback 12s infinite;
  animation: mymoveback 12s infinite; }

#b {
  -webkit-animation: mymove 12s infinite;
  animation: mymove 12s infinite; }

#a1 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: mymoveback 14s infinite;
  animation: mymoveback 14s infinite; }

#b1 {
  -webkit-animation: mymove 14s infinite;
  animation: mymove 14s infinite; }

#a2 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: mymoveback 16s infinite;
  animation: mymoveback 16s infinite; }

#b2 {
  -webkit-animation: mymove 16s infinite;
  animation: mymove 16s infinite; }

#a3 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: mymoveback 18s infinite;
  animation: mymoveback 18s infinite; }

#b3 {
  -webkit-animation: mymove 18s infinite;
  animation: mymove 18s infinite; }

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  40% {
    -webkit-transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(180deg); }
  90% {
    -webkit-transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(0deg); } }
@-webkit-keyframes mymoveback {
  40% {
    -webkit-transform: rotateY(-180deg); }
  50% {
    -webkit-transform: rotateY(0deg); }
  90% {
    -webkit-transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-180deg); } }
@keyframes mymove {
  40% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  90% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }
@keyframes mymoveback {
  40% {
    transform: rotateY(-180deg); }
  50% {
    transform: rotateY(0deg); }
  90% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(-180deg); } }
.active-link {
  background-color: #90d050 !important; }

.about-health mat-expansion-panel {
  background: #f5deff; }

.h-testimonial .carousel-control-prev {
  left: -80px !important; }
.h-testimonial .carousel-control-next {
  right: -80px !important; }

.mat-drawer-container, .mat-toolbar, .navbar.bg-light {
  background-color: #fff !important; }

.partner-slide .draggable {
  height: auto !important; }
.partner-slide .slick-slide {
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px; }

.carousel-indicators li {
  height: 16px;
  border-radius: 50px;
  width: 16px; }

app-horizontal-menu a {
  font-size: 12px !important;
  padding: 0 13px !important; }
app-horizontal-menu .horizontal-menu-item:last-child {
  background: #ffffff !important;
  color: #000000;
  font-weight: bold; }

.horizontal-sub-menu app-horizontal-menu .horizontal-menu-item:last-child {
  background: #0b9444 !important; }

fieldset {
  border-top: 1px solid #a9a4a4 !important; }
  fieldset legend {
    width: auto;
    text-align: center; }

.irda p {
  background: #fff !important;
  color: #000 !important;
  margin-bottom: 0;
  margin-top: 0; }
.irda li {
  display: block;
  margin-right: 15px; }

.about-pos mat-expansion-panel {
  background: #f5f4f438 !important; }

.h-login {
  padding: 5px; }
  .h-login .dropdown-item.active, .h-login .dropdown-item:active {
    color: unset !important;
    background: #fff !important; }
  .h-login .dropdown-menu {
    padding: 0 !important; }
  .h-login a.dropdown-item {
    font-size: 14px;
    border-bottom: 1px solid #ccc; }

#mySidenav a {
  position: fixed;
  right: -75px;
  transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  width: 117px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 50px 0 0 50px;
  top: 200px;
  z-index: 999; }

#mySidenav a:hover {
  right: 0;
  color: #fff !important; }

#about {
  top: 20px;
  background-color: #e05b5a; }

#loading {
  -webkit-animation: rotation 2s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(359deg); } }
.about-vizza .card-header {
  background: #28a745;
  padding: 5px 20px; }
  .about-vizza .card-header a {
    color: #fff; }
.about-vizza .card {
  border: 1px solid #28a745;
  margin-bottom: 15px; }

.spaceContent {
  margin-left: 10px; }
  .spaceContent ul {
    margin-left: 30px; }

.mt-viwe-profile1 {
  background: #5d965d !important; }
  .mt-viwe-profile1 .head-card {
    margin-top: 13px !important; }

.text-color {
  color: #428bca !important; }

.f-size {
  cursor: pointer;
  color: white; }
  .f-size h3 {
    font-size: 16px !important; }
  .f-size p {
    display: none; }

#product-list .mat-tab-label-container {
  margin-bottom: 5px;
  background: #dee2e6;
  border-radius: 15px 15px 0px 0px; }

#travel-starthealth .mat-radio-label {
  margin-top: 6px !important; }
#travel-starthealth .mat-tab-group {
  background: #6bc3e4 !important; }
#travel-starthealth .mat-tab-label-active {
  background-color: #ffffff !important;
  color: #201f1f !important; }
#travel-starthealth .travel-box {
  border: 1px solid gray !important; }
#travel-starthealth .mat-tab-group.mat-primary .mat-ink-bar, #travel-starthealth .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b5;
  visibility: visible;
  left: 0px;
  width: 110px !important; }
#travel-starthealth .mat-tab-label {
  min-width: 110px !important; }
#travel-starthealth .mat-card {
  background: #ffffff !important; }
#travel-starthealth mat-card.mat-radius {
  background: #faf3f3 !important; }
#travel-starthealth .mat-card-header-text {
  display: none; }
#travel-starthealth .travel {
  background: #6bc3e4;
  padding: 15px;
  border-radius: 5px; }
  #travel-starthealth .travel button {
    line-height: 28px;
    font-size: 10px;
    padding: 0 10px; }
    #travel-starthealth .travel button i {
      font-size: 18px; }
#travel-starthealth thead th {
  background: #7dc3e0 !important; }
#travel-starthealth .son {
  background: #f5deff;
  padding: 15px;
  border-radius: 5px; }
  #travel-starthealth .son button {
    line-height: 28px;
    font-size: 10px;
    padding: 0 10px; }
    #travel-starthealth .son button i {
      font-size: 18px; }
#travel-starthealth .accentDaughter {
  background-color: #306eca !important; }
#travel-starthealth .ngError {
  color: red;
  font-size: 11px;
  margin-top: -16px; }
#travel-starthealth .mat-primaryBlue {
  background-color: #7dc3e0 !important;
  color: #ffffff !important; }
#travel-starthealth .color-blue {
  color: #4896d8 !important; }

/*# sourceMappingURL=style.css.map */
