<div class="bg-map">
  <div fxLayout="row" fxLayoutAlign="left center" class="h-100">
    <form [formGroup]="form" fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="60" class="mt-registration">
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner"
                style="border-radius: 10px">
        <!--<span class="box-content-header"><img class="login-logo mb-3" src="assets/img/vizza-logoNew.png"> </span>-->
        <mat-card-subtitle><h3>Register</h3></mat-card-subtitle>

        <mat-tab-group class="horizantal-tabs w-100" [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">

          <mat-tab label="Notes">
            <div>
              <p><strong>Please ensure the following documents are kept ready</strong></p>
            </div>
            <ul>
              <li style="display: flex; align-items: center;"><i class="material-icons">chevron_right</i> Aadhaar Card(Front and Back)</li>
              <li style="display: flex; align-items: center;"><i class="material-icons">chevron_right</i> PAN Card</li>
              <li style="display: flex; align-items: center;"><i class="material-icons">chevron_right</i> Highest Educational Qualification</li>
              <li style="display: flex; align-items: center;"><i class="material-icons">chevron_right</i> Cancelled Cheque Leaf</li>
              <li style="display: flex; align-items: center;"><i class="material-icons">chevron_right</i> Your Photo</li>
            </ul>
            <hr>
            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
              <button color="primary" mat-raised-button (click)="nextStep('start')" type="button">Ok</button>
            </div>
          </mat-tab>

          <mat-tab label="Personal" formGroupName="personal">
            <mat-form-field class="w-100">
              <input matInput placeholder="First name" formControlName="firstname"  (keypress)="data($event)" autocomplete="off" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls.personal['controls'].firstname.errors?.required">First name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Last name" formControlName="lastname" (keypress)="data($event)" autocomplete="off" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls.personal['controls'].lastname.errors?.required">Last name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" >
              <input matInput [matDatepicker]="birthday" [max]="today" formControlName="birthday" placeholder="Date of Birth(DD/MM/YYYY)" (dateInput)="addEvent($event)"  (dateChange)="addEvent($event)" (keypress)="dobkeyPress($event)" autocomplete="off" maxlength="10" minlength="10" required>
              <mat-datepicker-toggle matSuffix [for]="birthday" ></mat-datepicker-toggle>
              <mat-datepicker  #birthday ></mat-datepicker>
              <mat-error *ngIf="form.controls.personal['controls'].birthday.errors?.required">Dob is required</mat-error>
              <!--<mat-error *ngIf="img">Age limit should be greater than 18 age</mat-error>-->

              <!--<mat-error *ngIf="form.controls.birthday.hasError('pattern')">Enter Valid Date</mat-error>-->
            </mat-form-field>

            <div *ngIf="img" style="color: red">Age should be greater than 18</div>
            <div class="error" *ngIf="dobError != ''">{{dobError}}</div>
            <mat-radio-group formControlName="gender" (change)="checkGender()" required>
              <mat-radio-button value="male" class="mr-2">Male<span class="error"> *</span></mat-radio-button>
              <mat-radio-button value="female" >Female<span class="error"> *</span></mat-radio-button>
              <!--<div *ngIf="form.controls.gender.errors?.required">Gender is required</div>-->
            </mat-radio-group>
            <div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>


            <mat-form-field class="w-100">
              <input matInput placeholder="Referral Contact Number" formControlName="referralconduct" (keypress)="keyPress($event)"  minlength="10" maxlength="10" autocomplete="off">
              <i class="fas fa-phone" matSuffix></i>
              <mat-error *ngIf="form.controls.personal['controls'].referralconduct.hasError('pattern')">Referral Contact Number is Not Valid</mat-error>
            </mat-form-field>

            <!--<input matInput placeholder="Referral Contact Number" formControlName="referralName" (keypress)="keyPress($event)" minlength="10" maxlength="10" autocomplete="off">-->
            <!--<i class="fas fa-phone" matSuffix></i>-->
            <!--<mat-error *ngIf="form.controls.personal.controls.referralconduct.hasError('pattern')">Referral Contact Number is Not Valid</mat-error>-->
            <!--</mat-form-field>-->
            <!--<input matInput placeholder="Referral Contact Number" formControlName="referralCode" (keypress)="keyPress($event)" minlength="10" maxlength="10" autocomplete="off">-->
            <!--<i class="fas fa-phone" matSuffix></i>-->
            <!--<mat-error *ngIf="form.controls.personal.controls.referralconduct.hasError('pattern')">Referral Contact Number is Not Valid</mat-error>-->
            <!--</mat-form-field>-->
            <!--<div class="error" *ngIf="mismatchError != ''">{{mismatchError}}</div>-->
            <div class="w-100">
              <p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span>
              </p>
            </div>
            <div class="w-100 mt-2">
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" (change)="readUrl($event, 'profile')" formControlName="profile"   aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label"><span class="error">*</span>
                  Attach Your Photo</label>
                <div class="error" *ngIf !="form.controls.personal.controls.profile.valid">Profile Image is required</div>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-12">
                <div *ngIf="profile != ''">
                  <span class="imageclose mr-2"><img src="{{webhost + '/' + profile}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                </div>
              </div>
            </div>
            <hr>
            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
              <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
              <button color="primary" mat-raised-button  [hidden]="nectStatus"  disabled>Next</button>
              <button color="primary" mat-raised-button (click)="nextStep('first')"  *ngIf="nectStatus" type="button">Next</button>

            </div>
          </mat-tab>


          <mat-tab label="Contacts" formGroupName="contacts">
            <mat-form-field class="w-100">
              <!--<input matInput placeholder="Email Id" required formControlName="email" required>-->
              <!--<mat-error *ngIf="form.controls.contacts.controls.email.hasError('pattern')">Enter valid Email</mat-error>-->
              <input matInput type="email" placeholder="Email Id" formControlName="email" autocomplete="off" required>
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="form.controls.contacts['controls'].email.errors?.required">Email ID is required</mat-error>
              <mat-error *ngIf="form.controls.contacts['controls'].email.hasError('pattern')">Please Enter Correct Format</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput (keypress)="keyPress($event)" placeholder="Mobile No"
                     minlength="10" maxlength="10" formControlName="phone1" autocomplete="off" required>
              <i class="fas fa-phone" matSuffix></i>
              <mat-error *ngIf="form.controls.contacts['controls'].phone1.hasError('required')">
                Mobile Number is required
              </mat-error>
              <mat-error *ngIf="form.controls.contacts['controls'].phone1.hasError('pattern')">Enter valid  Mobile Number</mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input matInput (keypress)="keyPress($event)" placeholder="Alternate phone No"
                     minlength="10" maxlength="10" formControlName="phone2">
              <i class="fas fa-phone" matSuffix></i>
            </mat-form-field>
            <!--<mat-form-field class="w-100">-->
            <!--<input matInput placeholder="Phone2" (keypress)="keyPress($event)"  maxlength="13" formControlName="phone2">-->
            <!--</mat-form-field>-->
            <mat-form-field class="w-100">
              <input matInput formControlName="address1" placeholder="Address1" autocomplete="off" required>
              <mat-icon matSuffix>home</mat-icon>
              <mat-error *ngIf="form.controls.contacts['controls'].address1.errors?.required ">
                Enter Address1
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input matInput placeholder="Address2" formControlName="address2" autocomplete="off">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Pincode" pattern="[1-9][0-9]{5}" maxlength="6"
                     minlength="6" (keypress)="keyPress($event);getPin($event.target.value)" (keyup)="getPin($event.target.value)" formControlName="pincode"
                     required autocomplete="off">
              <mat-icon matSuffix>home</mat-icon>
              <mat-error *ngIf="form.controls.contacts['controls'].pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
              <mat-error *ngIf="form.controls.contacts['controls'].pincode.hasError('required')">Pincode required</mat-error>
              <mat-error *ngIf="form.controls.contacts['controls'].pincode.hasError('pattern')">Enter Valid Pincode</mat-error>
            </mat-form-field>
            <div *ngIf="pincodeErrors" style="color: red">Invalid Pincode</div>

            <hr>
            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
              <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
              <button color="primary" mat-raised-button (click)="nextStep('second')"  type="button">Next</button>
            </div>
          </mat-tab>

          <mat-tab label="Documents" formGroupName="documents">
            <mat-form-field class="w-100">
              <input matInput required placeholder="Aadhaar Number" maxlength="12" minlength="12" (keypress)="keyPress($event)" formControlName="aadharnumber" autocomplete="off">
              <i class="far fa-id-card" matSuffix></i>
              <mat-error *ngIf="form.controls.documents['controls'].aadharnumber.hasError('minlength')">Aadhaar Number should be Minimum 12 digits</mat-error>
              <mat-error *ngIf="form.controls.documents['controls'].aadharnumber.hasError('maxlength')">Aadhaar Number should be MAximum 12 digits</mat-error>
              <mat-error *ngIf="form.controls.documents['controls'].aadharnumber.hasError('required')">Enter Valid Aadhaar Number</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Pan Number" maxlength="10" minlength="10" formControlName="pannumber" autocomplete="off" style="text-transform: uppercase">
              <i class="far fa-id-card" matSuffix></i>
              <mat-error *ngIf="form.controls.documents['controls'].pannumber.hasError('minlength')">Pan Number should be 10 digits</mat-error>
              <!--<mat-error *ngIf="form.controls.documents['controls'].pannumber.hasError('required')">Pan Number required</mat-error>-->
              <mat-error *ngIf="form.controls.documents['controls'].pannumber.hasError('pattern')">Enter Valid Pan Number</mat-error>
            </mat-form-field>
            <div class="w-100">
              <p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span></p>
            </div>

            <div class="w-100">
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" formControlName="aadharfront" (change)="readUrl($event, 'aadhar front')"   aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label"><span class="error">*</span> Aadhaar Front Image</label>
                <div class="error" *ngIf !="form.controls.documents['controls'].aadharfront.valid">Aadhaar Front Image is required</div>
              </div>
            </div>
            <div class="row w-100 mb-3">
              <div class="col-md-12">
                <div *ngIf="aadharfront != ''">
                  <span class="imageclose mr-2"><img src="{{webhost + '/' + aadharfront}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                </div>
              </div>
            </div>
            <div class="w-100 mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" formControlName="aadharback" (change)="readUrl($event, 'aadhar back')"   aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label"><span class="error">*</span> Aadhaar Back Image</label>
                <div class="error" *ngIf !="form.controls.documents.controls.aadharback.valid">Aadhaar Back Image is required</div>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-12">
                <div *ngIf="aadharback != ''">
                  <span class="imageclose mr-2"><img src="{{webhost + '/' + aadharback}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" formControlName="pancard" (change)="readUrl($event, 'pancard')"   aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label"> PAN Card Front Image</label>
                <!--<span class="error">*</span>-->
                <!--<div class="error" *ngIf !="form.controls.documents['controls'].pancard.valid">PAN Card Image is required</div>-->
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-12">
                <div *ngIf="pancard != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + pancard}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                </div>
              </div>
            </div>
            <hr>
            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
              <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
              <button color="primary" mat-raised-button (click)="nextStep('third')" type="button">Next</button>
            </div>
          </mat-tab>

          <mat-tab label="Education" formGroupName="education">
            <mat-form-field class="w-100">
              <textarea matInput #message maxlength="300" required (keypress)="typeValidate($event)" placeholder="Highest Education Qualification" rows="3" formControlName="qualification" autocomplete="off"></textarea>
              <mat-hint align="end">{{message.value.length}} /300</mat-hint>
              <mat-error *ngIf="form.controls.education['controls'].qualification.hasError('required')">Educational details required</mat-error>
            </mat-form-field>
            <div class="w-100">
              <p><span class="imglabel"><strong>Allowed file size :</strong><span> 5MB</span>, <strong>Allowed file type :</strong> <span>png, jpg, jpeg</span></span>
              </p>
            </div>
            <div class="w-100">
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" formControlName="educationdocument" (change)="readUrl($event, 'education')"   aria-describedby="inputGroupFileAddon01" multiple>
                <label class="custom-file-label"><span class="error">*</span> Educational Documents</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"  *ngIf="education.length != 0">
                <div    *ngFor="let eduImgs of education">
                                            <span class="imageclose mr-2" >
                                                <img src="{{webhost + '/' + eduImgs}}" class="img-thumbnail" style="height:150px;width: 250px;"/>
                                            </span>
                </div>
              </div>
            </div>
            <hr>
            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
              <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
              <button color="primary" mat-raised-button (click)="nextStep('fourth')" type="button">Next</button>
            </div>
          </mat-tab>
          <mat-tab label="Bank Details" formGroupName="bankdetails">
            <mat-form-field class="w-100">
              <input matInput placeholder="Bank Name" (keypress)="nameValidate($event)" formControlName="bankname" autocomplete="off" required>
              <mat-icon matSuffix>account_balance</mat-icon>
              <mat-error *ngIf="form.controls.bankdetails['controls'].bankname.hasError('required')">Bank Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Branch Name" (keypress)="data($event)" formControlName="bankbranch" autocomplete="off" required>
              <mat-icon matSuffix>account_balance</mat-icon>
              <mat-error *ngIf="form.controls.bankdetails['controls'].bankbranch.hasError('required')">Branch Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="IFSC Code" formControlName="ifsccode" minlength="11" maxlength="11" (keypress)="character($event)" autocomplete="off" required>
              <mat-icon matSuffix>account_balance</mat-icon>
              <mat-error *ngIf="form.controls.bankdetails['controls'].ifsccode.hasError('minlength')">IFSC Code Number should be Minimum 11 digits</mat-error>
              <mat-error *ngIf="form.controls.bankdetails['controls'].ifsccode.hasError('maxlength')">IFSC Code Number should be Maximum 11 digits</mat-error>
              <mat-error *ngIf="form.controls.bankdetails['controls'].ifsccode.hasError('required')">IFSC Code details required</mat-error>
              <!--<mat-error *ngIf="form.controls.bankdetails.controls.ifsccode.hasError('pattern')">Enter Valid IFSC Code</mat-error>-->
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Account Number" formControlName="accountnumber" (keypress)="keyPress($event)" maxlength="25" minlength="8" autocomplete="off" required>
              <mat-icon matSuffix>account_balance</mat-icon>
              <mat-error *ngIf="form.controls.bankdetails['controls'].accountnumber.hasError('required')">Account Number details required</mat-error>
              <mat-error *ngIf="form.controls.bankdetails['controls'].accountnumber.hasError('minlength')">Account Number should be Minimum 8 digits</mat-error>
            </mat-form-field>
            <div class="w-100">
              <div class="custom-file">
                <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" formControlName="chequeleaf" (change)="readUrl($event, 'chequeleaf')"   aria-describedby="inputGroupFileAddon01" autocomplete="off">
                <label class="custom-file-label"> <span class="error">*</span> Attached Cancelled Cheque Leaf (or) Passbook</label>
                <!--<div class="error" [hidden]="form.controls.bankdetails.controls.chequeleaf.valid">Education Back Image is required</div>-->
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-12">
                <div *ngIf="chequeleaf != ''"><span class="imageclose mr-2"><img src="{{webhost + '/' + chequeleaf}}" class="img-thumbnail" style="height:150px;width: 250px;"/></span>
                </div>
              </div>
            </div>
            <hr>
            <div style="padding-left: 10px" fxLayout="row" fxLayoutAlign="end end">
              <button mat-button type="button" class="mr-3" (click)="previousStep()" mat-raised-button color="warn"><i class="material-icons">keyboard_backspace</i></button>
              <button color="primary" mat-raised-button (click)="submit(form.value)" type="button">Save</button>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div class="login-options">
          <div><span>Already You have an account ? </span> <a [routerLink]="['/dm-login']"> Login</a></div>
        </div>
      </mat-card>


    </form>


  </div>

</div>

