<div class="question-view">
      <div *ngIf="startOnlineExam">
          <mat-card>
            <mat-card-header>
              <div fxFlex="100" class="flex-p">
                <mat-card-title>Aptitude Test (<span class="content-color">Random Questions</span>) </mat-card-title>
              </div>
              <div fxFlex="50" class="flex-p">
                <mat-card-subtitle>Number of questions : <span class="content-color">30</span> </mat-card-subtitle>
              </div>
              <div fxFlex="50" class="flex-p">
                <mat-card-subtitle>Time : <span class="content-color">45</span> </mat-card-subtitle>
              </div>
            </mat-card-header>

          <!--<img mat-card-image src="assets/img/app/7.jpg" alt="7">-->

          <mat-card-content  fxLayoutAlign="space-between center" >
            <!--<mat-divider></mat-divider>-->
            <mat-list class="ml-5">
              <h5 matLine class="content-color"> Instructions </h5>
              <mat-list-item >
                <p matLine>
                  <mat-card-subtitle> -> Total number of questions : <span class="content-color">30.</span> </mat-card-subtitle>
                </p>
                <p matLine>
                  <mat-card-subtitle> -> Time alloted : <span class="content-color">45</span > minutes.</mat-card-subtitle>
                </p>
                <p matLine>
                   <mat-card-subtitle> -> Each question carry 1 mark, no negative marks. </mat-card-subtitle>
                </p>
                <p matLine>
                   <mat-card-subtitle> -> DO NOT refresh the page. </mat-card-subtitle>
                </p>
                <p matLine>
                  <mat-card-subtitle> -> All the best :-). </mat-card-subtitle>
                </p>
              </mat-list-item>
            </mat-list>

          </mat-card-content>

            <div fxLayoutAlign="center center" class="text-center">
              <button mat-raised-button color="primary" (click)="startExam()">Start Test</button>
            </div>
        </mat-card>
      </div>

      <div [hidden]="startOnlineExam">
          <mat-card class="p-0">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
              <mat-card-subtitle class="m-0">Questions</mat-card-subtitle>
              <mat-chip-list>
                <mat-chip color="accent" selected="true" class="info-chip" >
                  <mat-icon class="icon-sm">access_time</mat-icon>
                  <p id="timer" class="mt-3"></p>
                </mat-chip>
              </mat-chip-list>
            </mat-card-header>
            <mat-card-content  fxLayoutAlign="space-between center" >
              <div class="flex-p">
                <p>1. A clock is started at noon. By 10 minutes past 5, the hour hand has turned through:</p>
                <mat-radio-group [(ngModel)]="favoriteSeason" fxLayout="column" fxLayoutAlign="center">
                    <div class="row px-5">
                      <mat-radio-button *ngFor="let season of seasons" [value]="season" class="season-item">

                      <div class="col-md-6  px-3">
                        {{season}}
                      </div>
                      </mat-radio-button>


                    </div>
                </mat-radio-group>
                <div class="py-1">Your favorite season is: <b> {{favoriteSeason}} </b></div>
              </div>
            </mat-card-content>
          </mat-card>
      </div>




</div>
