<div class="container-fluid">
  <div class="row religareTavelProposal">
    <div class="col-md-12">
      <mat-horizontal-stepper  #stepper>
        <mat-step [stepControl]="religarePersonal">
          <ng-template matStepLabel>PROPOSER DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <form [formGroup]="religarePersonal" >
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Group A
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row mt-3">
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-blue">PROPOSER DETAILS</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="title" (change)="changeGender()" required>
                            <mat-option value="MR">Mr</mat-option>
                            <mat-option value="MS">Ms</mat-option>
                          </mat-select>
                          <mat-error *ngIf="religarePersonal.controls.title.errors?.required">Title is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="firstname"  (keypress)="typeValidate($event)"  autocomplete="off" required >
                          <mat-error *ngIf="religarePersonal.controls.firstname.errors?.required"> First Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="lastname"  (keypress)="typeValidate($event)"  autocomplete="off" required >
                          <mat-error *ngIf="religarePersonal.controls.lastname.errors?.required">Last Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Gender" formControlName="gender" required readonly>
                        <mat-error *ngIf="religarePersonal.controls.gender.errors?.required">Gender is required</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="dob" (dateInput)="addEvent($event, 'personal')" (dateChange)="addEvent($event, 'personal')" (keypress)="keyPress($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="religarePersonal.controls.dob.errors?.required">DOB is required</mat-error>
                        </mat-form-field>
                        <div class="error" *ngIf="personalDobError !=''">{{personalDobError}}</div>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required>
                        <mat-error *ngIf="religarePersonal.controls.email.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="religarePersonal.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Mobile Number"  (keypress)="keyPress($event)"  minlength="10" maxlength="10" formControlName="mobile" autocomplete="off" required>
                        <mat-error *ngIf="religarePersonal.controls.mobile.errors?.required">Mobile Number is required</mat-error>
                        <mat-error *ngIf="religarePersonal.controls.mobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Residence Mobile Number"  (keypress)="keyPress($event)"  minlength="10" maxlength="10" formControlName="phone" autocomplete="off" >
                        <mat-error *ngIf="religarePersonal.controls.phone.errors?.required">Mobile Number is required</mat-error>
                        <mat-error *ngIf="religarePersonal.controls.phone.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                      </mat-form-field></div>
                    <div class="col-md-4"><mat-form-field class="w-100">
                      <input matInput placeholder="PASSPORT"  minlength="10" maxlength="10" formControlName="passport" autocomplete="off" required>
                      <mat-error *ngIf="religarePersonal.controls.passport.errors?.required">passport is required</mat-error>
                      <mat-error *ngIf="religarePersonal.controls.passport.hasError('pattern')">Enter Valid  passport</mat-error>
                    </mat-form-field></div>
                    <div class="col-md-4"><mat-form-field class="w-100">
                      <input matInput placeholder="PAN"  minlength="10" maxlength="10" formControlName="pannumber" autocomplete="off" >
                      <mat-error *ngIf="religarePersonal.controls.pannumber.errors?.required">passport is required</mat-error>
                      <mat-error *ngIf="religarePersonal.controls.pannumber.hasError('pattern')">Enter Valid  passport</mat-error>
                    </mat-form-field></div>
                  <div class="col-md-4"><mat-form-field class="w-100">
                    <input matInput placeholder="ADHAR No"  formControlName="adharnumber" autocomplete="off" >
                    <mat-error *ngIf="religarePersonal.controls.adharnumber.errors?.required">passport is required</mat-error>
                    <mat-error *ngIf="religarePersonal.controls.adharnumber.hasError('pattern')">Enter Valid  passport</mat-error>
                  </mat-form-field></div>
                      <div class="col-md-12 box-card pt-3">
                        <div class="row" *ngIf="studentdetails">
                        <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Sponser Name"  formControlName="sponsername" autocomplete="off" required>
                        <mat-error *ngIf="religarePersonal.controls.sponsername.errors?.required">Sponser Name is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker1"  placeholder="Sponser DOB (DD/MM/YYYY)"   formControlName="sponserdob"  (keypress)="keyPress($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="religarePersonal.controls.sponserdob.errors?.required">Sponser Dob is required</mat-error>
                    </mat-form-field></div>
                          <div class="col-md-4"><mat-form-field class="w-100">
                            <mat-select placeholder="Relationship with Student"  formControlName="studentRelationShip" required>
                              <mat-option *ngFor="let lists of insuretravelRelationList" value="{{lists.relation_id}}" >
                                {{lists.relation_name}}
                              </mat-option>
                            </mat-select>
                            <!--<mat-error *ngIf="religarePersonal.controls.studentRelationShip.errors?.required">Relationship with Student is required</mat-error>-->
                          </mat-form-field></div>
                          <div class="col-md-4"><mat-form-field class="w-100">
                            <input matInput placeholder="Course details"  formControlName="coursedetails" autocomplete="off" required>
                            <mat-error *ngIf="religarePersonal.controls.universityname.errors?.required">Course details is required</mat-error>
                          </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                      <input matInput placeholder="University Name"  formControlName="universityname" autocomplete="off" required>
                      <mat-error *ngIf="religarePersonal.controls.universityname.errors?.required">University Name is required</mat-error>
                    </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="University Address"  formControlName="universityaddress" autocomplete="off" required>
                        <mat-error *ngIf="religarePersonal.controls.universityname.errors?.required">University Address is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Guide Title" formControlName="guidetitle" required>
                            <mat-option value="MR">Mr</mat-option>
                            <mat-option value="MS">Ms</mat-option>
                          </mat-select>
                          <mat-error *ngIf="religarePersonal.controls.guidetitle.errors?.required">Guide Title is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Guide Firstname"  formControlName="guidefirstname" autocomplete="off" required >
                        <mat-error *ngIf="religarePersonal.controls.guidefirstname.errors?.required">Guide Firstname is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="Guide Lastname"  formControlName="guidelastname" autocomplete="off" required>
                        <mat-error *ngIf="religarePersonal.controls.guidelastname.errors?.required">Guide Lastname is required</mat-error>
                      </mat-form-field></div>
                          <div class="col-md-4"><mat-form-field class="w-100">
                            <input matInput placeholder="Guide Address"  formControlName="guideAddress" autocomplete="off" required>
                            <!--<mat-error *ngIf="religarePersonal.controls.guideAddress.errors?.required">Guide Address is required</mat-error>-->
                          </mat-form-field></div>
                          <div class="col-md-12">
                            <h6 class="color-blue mb-4 w-100"><strong>ADDON</strong></h6>
                            <span *ngFor="let item of addon; let i = index;">
                      <mat-checkbox class="mr-4">{{item.addon_name}}</mat-checkbox>
                    </span>
                          </div>
                      </div>
                      </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-blue"> PROPOSER COMMUNICATION ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <textarea #message maxlength="80" matInput placeholder="Address 1" rows="2" formControlName="address1"  autocomplete="off" required></textarea>
                          <mat-hint align="start"></mat-hint>
                          <mat-hint align="end">{{message.value.length}} / 80</mat-hint>
                          <mat-error *ngIf="religarePersonal.controls.address1.errors?.required">Address is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <textarea #message1 maxlength="80" matInput placeholder="Address 2" rows="2" formControlName="address2" autocomplete="off" ></textarea>
                          <mat-hint align="start"></mat-hint>
                          <mat-hint align="end">{{message1.value.length}} / 80</mat-hint>
                          <mat-error *ngIf="religarePersonal.controls.address2.errors?.required">Address2 is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPostal($event.target.value, 'personal')" formControlName="pincode" autocomplete="off" required>
                        <mat-error *ngIf="religarePersonal.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                        <mat-error *ngIf="religarePersonal.controls.pincode.hasError('required')">Pincode required</mat-error>
                        <mat-error *ngIf="religarePersonal.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100" >
                        <mat-select placeholder="City" formControlName="city" autocomplete="off" required>
                          <mat-option *ngFor="let city of personalTravelCitys" [value]= 'city.city'>
                            {{city.city}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="religarePersonal.controls.city.errors?.required">City is required</mat-error>
                      </mat-form-field></div>

                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="state" autocomplete="off" required readonly>
                        <mat-error *ngIf="religarePersonal.controls.state.errors?.required">State is required</mat-error>
                      </mat-form-field></div>
                    </div>
                    <div class="col-md-12 box-card pt-3">
                        <h6 class="color-blue"> PROPOSER PERMENENT ADDRESS</h6>
                        <div class="row">
                            <div class="col-md-12">
                              <mat-checkbox formControlName="sameAsProposer" (change)="sameAddress($event)"><strong>Same as Communication Address</strong></mat-checkbox>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <textarea #message maxlength="80" matInput placeholder="Address 1" rows="2" formControlName="raddress1"  autocomplete="off" required></textarea>
                                    <mat-hint align="start"></mat-hint>
                                    <mat-hint align="end">{{message.value.length}} / 80</mat-hint>
                                    <!--<mat-error *ngIf="religarePersonal.controls.religarePersonalPAddress.errors?.required">Address is required</mat-error>-->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <textarea #message1 maxlength="80" matInput placeholder="Address 2" rows="2" formControlName="raddress2" autocomplete="off" ></textarea>
                                    <mat-hint align="start"></mat-hint>
                                    <mat-hint align="end">{{message1.value.length}} / 80</mat-hint>
                                    <!--<mat-error *ngIf="religarePersonal.controls.religarePersonalPAddress2.errors?.required">Address2 is required</mat-error>-->

                                </mat-form-field>
                            </div>
                            <div class="col-md-4"><mat-form-field class="w-100">
                                <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPostal($event.target.value, 'residence')" formControlName="rpincode" autocomplete="off" required>
                                <mat-error *ngIf="religarePersonal.controls.rpincode.hasError('minlength')">Pin should be 6 digits</mat-error>
                                <mat-error *ngIf="religarePersonal.controls.rpincode.hasError('required')">Pincode required</mat-error>
                                <mat-error *ngIf="religarePersonal.controls.rpincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                            </mat-form-field></div>
                            <!--<div class="col-md-4"><mat-form-field class="w-100" >-->
                                <!--<mat-select placeholder="City" formControlName="rcity" autocomplete="off" required>-->
                                    <!--<mat-option *ngFor="let city of personalTravelResCitys" [value]= 'city.city'>-->
                                        <!--{{city.city}}-->
                                    <!--</mat-option>-->
                                <!--</mat-select>-->
                                <!--<mat-error *ngIf="religarePersonal.controls.rcity.errors?.required">City is required</mat-error>-->
                            <!--</mat-form-field></div>-->
                          <div class="col-md-4" *ngIf="sameinsure != true"><mat-form-field class="w-100">
                            <mat-select placeholder="City" formControlName="rcity" autocomplete="off"   required>
                              <mat-option *ngFor="let citys of personalTravelResCitys" [value]= 'city.city'>
                                {{city.city}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="religarePersonal.controls.rcity.errors?.required">City is required</mat-error>
                          </mat-form-field></div>

                          <div class="col-md-4" *ngIf="sameinsure"><mat-form-field class="w-100" >
                            <input matInput placeholder="City" formControlName="rcity" autocomplete="off">
                            <mat-error *ngIf="religarePersonal.controls.rcity.errors?.required">City is required</mat-error>
                          </mat-form-field></div>

                          <div class="col-md-4"><mat-form-field class="w-100">
                                <input matInput placeholder="State" formControlName="rstate" autocomplete="off" required readonly>
                                <mat-error *ngIf="religarePersonal.controls.rstate.errors?.required">State is required</mat-error>
                            </mat-form-field></div>
                        </div>
                    </div>

                    </div>
                  </div>
                </div>


                <div class="proposal-buttom mt-3 text-right w-100">
                    <button mat-raised-button color="primaryBlue"  (click)="personalDetails(stepper, religarePersonal.value)">Next</button>
                      </div>
                  </div>
              </mat-expansion-panel>
            </form>
          </mat-accordion>
        </mat-step>

        <mat-step [stepControl]="">

          <ng-template matStepLabel >INSURED DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <form [formGroup]="insureReligareArray">
              <div formArrayName="items" *ngFor="let item of insureReligareArray.get('items')['controls']; let i = index;">
                <mat-expansion-panel  [formGroupName]="i" [expanded]="i == 0">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{insureReligareArray['controls'].items['controls'][i]['controls'].type.value}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matStepLabel>INSURED DETAILS </ng-template>
                  <div class="row mt-3">
                    <div class="col-md-12 box-card pt-3">
                      <h6 class="color-blue">INSURED DETAILS</h6>
                      <div class="row">
                        <div class="col-md-12 mb-3" *ngIf="i == 0" >
                          <mat-checkbox formControlName="sameAsInsuredProposer" (change)="sameInsuredProposer()"><strong>Same as proposer</strong></mat-checkbox>
                        </div>
                        <div class="col-md-4"  [ngStyle]="{'pointer-events': insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value ? 'none' : ''}">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Title" formControlName="title" (change)="insureChangeGender(i)" >
                              <mat-option value="MR" *ngIf="insureReligareArray['controls'].items['controls'][i]['controls'].type.value != 'Daughter'">Mr</mat-option>
                              <mat-option value="MS" *ngIf="insureReligareArray['controls'].items['controls'][i]['controls'].type.value != 'Son'">Ms</mat-option>
                              <!--<mat-option value="MRS" *ngIf="insureArray['controls'].items['controls'][i]['controls'].type.value != 'Son'">Mrs</mat-option>-->
                            </mat-select>
                            <mat-error *ngIf="insureReligareArray.invalid">Title is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="First Name" formControlName="firstname"  (keypress)="typeValidate($event)" autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                            <mat-error *ngIf="insureReligareArray.invalid">First Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100" >
                            <input matInput placeholder="Last Name" formControlName="lastname"  (keypress)="typeValidate($event)" autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}" >
                            <mat-error *ngIf="insureReligareArray.invalid">Last Name is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4"  [ngStyle]="{'pointer-events': insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value ? 'none' : ''}"><mat-form-field class="w-100">
                          <input matInput placeholder="Gender" formControlName="gender" required readonly>
                          <mat-error *ngIf="insureReligareArray.invalid">Gender is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4"><mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="dob" (dateInput)="addEventInsurer($event, i, insureReligareArray['controls'].items['controls'][i]['controls'].type.value)" (dateChange)="addEventInsurer($event, i, insureReligareArray['controls'].items['controls'][i]['controls'].type.value)" (keypress)="dobkeyPress($event)"  minlength="10"  maxlength="10" autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="insureReligareArray.invalid">DOB is required</mat-error>
                        </mat-form-field>
                          <p class="error mb-0" *ngIf="insureReligareArray['controls'].items['controls'][i]['controls'].insurerDobError.value != ''">{{insureReligareArray['controls'].items['controls'][i]['controls'].insurerDobError.value}}</p>
                          <p class="error mb-0" *ngIf="insureReligareArray['controls'].items['controls'][i]['controls'].insurerDobValidError.value != ''">{{insureReligareArray['controls'].items['controls'][i]['controls'].insurerDobValidError.value}}</p>
                        </div>

                        <div class="col-md-4"  [ngStyle]="{'pointer-events': insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value ? 'none' : ''}"><mat-form-field class="w-100">
                          <mat-select placeholder="Relationship with Proposer"  formControlName="relationship" required>
                            <mat-option *ngFor="let lists of insuretravelRelationList" value="{{lists.relation_id}}" >
                              {{lists.relation_name}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="insureReligareArray.invalid">Relationship is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4" ><mat-form-field class="w-100">
                          <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-error *ngIf="insureReligareArray.invalid">Email Id is required</mat-error>
                        </mat-form-field></div>

                        <div class="col-md-4"><mat-form-field class="w-100">
                          <input matInput placeholder="Mobile Number"  (keypress)="keyPress($event)"  minlength="10" maxlength="10" formControlName="mobile" autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-error *ngIf="insureReligareArray.invalid">Mobile Number is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4"><mat-form-field class="w-100">
                          <input matInput placeholder="Residence MobileNumber"  (keypress)="keyPress($event)"  minlength="10" maxlength="10" formControlName="phone" autocomplete="off"  readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-error *ngIf="insureReligareArray.invalid">Mobile Number is required</mat-error>
                        </mat-form-field></div>

                        <div class="col-md-4" ><mat-form-field class="w-100">
                          <input matInput placeholder="passport"  minlength="10" maxlength="10" formControlName="passport" autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-error *ngIf="insureReligareArray.invalid">passport is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4" ><mat-form-field class="w-100">
                          <input matInput placeholder="Pan Number"  minlength="10" maxlength="10" formControlName="pannumber" autocomplete="off"  readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-error *ngIf="insureReligareArray.invalid">pannumber is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4" ><mat-form-field class="w-100">
                          <input matInput placeholder="Aadhar No"  minlength="10" maxlength="10" formControlName="adharnumber" autocomplete="off"  readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">
                          <mat-error *ngIf="insureReligareArray.invalid">adharnumber is required</mat-error>
                        </mat-form-field></div>
                      </div>
                      </div>
                    <div class="col-md-12 box-card pt-3">
                      <h6 class="color-blue"> INSURED COMMUNICATION ADDRESS</h6>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <textarea #message maxlength="80" matInput placeholder="Address 1" rows="2" formControlName="address1"  autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"></textarea>
                            <mat-hint align="start"></mat-hint>
                            <mat-hint align="end">{{message.value.length}} / 80</mat-hint>
                            <mat-error *ngIf="insureReligareArray.invalid">Address is required</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-100">
                            <textarea #message1 maxlength="80" matInput placeholder="Address 2" rows="2" formControlName="address2" autocomplete="off" readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"></textarea>
                            <mat-hint align="start"></mat-hint>
                            <mat-hint align="end">{{message1.value.length}} / 80</mat-hint>
                            <mat-error *ngIf="insureReligareArray.invalid">Address2 is required</mat-error>

                          </mat-form-field>
                        </div>
                        <div class="col-md-4"><mat-form-field class="w-100">
                          <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6"   maxlength="6" (input)="getPostalInsurer($event.target.value, i, 'insurer')" formControlName="pincode" autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}">

                        </mat-form-field></div>
                        <div class="col-md-4"  [ngStyle]="{'pointer-events': insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value ? 'none' : ''}"><mat-form-field class="w-100" >
                          <mat-select placeholder="City" formControlName="city" autocomplete="off" required>
                            <mat-option *ngFor="let city of iPersonalCitys" [value]= 'city.city'>
                              {{city.city}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="insureReligareArray.invalid">City is required</mat-error>
                        </mat-form-field></div>
                        <div class="col-md-4"  [ngStyle]="{'pointer-events': insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value ? 'none' : ''}"><mat-form-field class="w-100">
                          <input matInput placeholder="State" formControlName="state" autocomplete="off" required readonly>
                          <mat-error *ngIf="insureReligareArray.invalid">State is required</mat-error>
                        </mat-form-field></div>
                      </div>
                    </div>
                  <div class="col-md-12 box-card pt-3">
                    <h6 class="color-blue"> INSURED PERMENENT ADDRESS</h6>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-checkbox formControlName="sameAsInsurer" (change)="sameInsureAddress($event, i)"><strong>Same as Communication Address</strong></mat-checkbox>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <textarea #message maxlength="80" matInput placeholder="Address 1" rows="2" formControlName="raddress1"  autocomplete="off" required readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"></textarea>
                          <mat-hint align="start"></mat-hint>
                          <mat-hint align="end">{{message.value.length}} / 80</mat-hint>
                          <mat-error *ngIf="insureReligareArray.invalid">Address is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <textarea #message1 maxlength="80" matInput placeholder="Address 2" rows="2" formControlName="raddress2" autocomplete="off" readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"></textarea>
                          <mat-hint align="start"></mat-hint>
                          <mat-hint align="end">{{message1.value.length}} / 80</mat-hint>
                          <mat-error *ngIf="insureReligareArray.invalid">Address2 is required</mat-error>

                        </mat-form-field>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="PIN Code"  pattern="[1-9][0-9]{5}" (keypress)="keyPress($event)" minlength="6" readonly = "{{insureReligareArray['controls'].items['controls'][i]['controls'].sameasreadonly.value}}"  maxlength="6" (input)="getPostalInsurer($event.target.value, i, 'permment')" formControlName="rpincode" autocomplete="off" required>

                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100" >
                        <mat-select placeholder="City" formControlName="rcity" autocomplete="off" required>
                          <mat-option *ngFor="let city of rPersonalCitys" [value]= 'city.city'>
                            {{city.city}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="insureReligareArray.invalid">City is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <input matInput placeholder="State" formControlName="rstate" autocomplete="off" required readonly>
                        <mat-error *ngIf="insureReligareArray.invalid">State is required</mat-error>
                      </mat-form-field></div>
                    </div>
                  </div>
                    <div class="proposal-buttom mt-3 text-right w-100" *ngIf="items.length -1 == i">
                      <button mat-button matStepperPrevious >Back</button>
                      <button mat-raised-button color="primaryBlue"  (click)="InsureDetails(stepper, insureReligareArray.value)">Next</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </form>
          </mat-accordion>
        </mat-step>

        <mat-step [stepControl]="">
          <ng-template matStepLabel>MEDICAL DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left ">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <!--{{groupName}}-->
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matStepLabel>MEDICAL DETAILS</ng-template>
              <div class="row mt-3">
                <div class="col-md-12 box-card pt-3 pb-3" >
                  <h6 class="color-green mb-3" >SECURE DETAILS </h6>

                  <mat-accordion class="question-panel">
                    <mat-expansion-panel [expanded]="true">

                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Question
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div *ngFor="let item of religareTravelQuestionsList; let i = index ">
                        <mat-checkbox [(ngModel)]="item.checked" (change)="changereligareTravelQuestions($event, i)" *ngIf="item.showQuesion" >{{item.question_name}}</mat-checkbox>
                      </div>



                    </mat-expansion-panel>
                  </mat-accordion>
                  <div class="proposal-buttom mt-3 text-right w-100">
                    <button mat-button matStepperPrevious >Back</button>
                    <button mat-raised-button color="primary" (click)="medicalHistoryDetails(stepper)">Next</button>
                  </div>

                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-step>
        <mat-step [stepControl]="">
          <ng-template matStepLabel>NOMINEE DETAILS</ng-template>
          <mat-accordion class="mt-4 w-100 float-left">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <!--{{groupName}}-->
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matStepLabel>INSURED DETAILS</ng-template>
              <div class="row mt-3">
                <div class="col-md-12 box-card pt-3 pb-3" >
                  <h6 class="color-green mb-3" >NOMINEE DETAILS </h6>
                  <form [formGroup]= "nomineeDetails">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Name of Nominee"  formControlName="religareTravelNomineeName" autocomplete="off" (keypress)="typeValidate($event)" required>
                          <mat-error *ngIf="nomineeDetails.controls.religareTravelNomineeName.errors?.required">Name of Nominee is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4"><mat-form-field class="w-100">
                        <mat-select placeholder="Relationship with Proposer"  formControlName="religareTravelRelationship" required>
                          <mat-option *ngFor="let lists of insuretravelRelationList" value="{{lists.relation_id}}" >
                            {{lists.relation_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="nomineeDetails.controls.religareTravelRelationship.errors?.required">Relationship with Proposer is required</mat-error>
                      </mat-form-field></div>
                      <div class="col-md-4">
                        <div class="proposal-buttom mb-3 text-right w-100">
                          <button mat-button matStepperPrevious  (click)="quesback()">Back</button>
                          <button mat-raised-button color="primary"   (click)="religareNomineeDetails(stepper, nomineeDetails.value)">Next</button>
                        </div></div>
                    </div>
                  </form>
                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-step>
        <mat-step [stepControl]="">
          <ng-template matStepLabel>SUMMARAY</ng-template>
          <section class="summary-details" *ngIf="summaryData">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <h4> <span style="font-size: 17px; color: #666;">Sum Insured: &nbsp;<i class="fas fa-rupee-sign"></i> {{summaryData.suminsured_amount}}</span></h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <ul class="summary-head">
                  <li><span>Start Date:</span> &nbsp;{{summaryData.trip_start_on }} </li>
                  <li><span>End Date:</span> &nbsp; {{summaryData.trip_end_on }} </li>
                  <li></li>
                </ul>
              </div>
            </div>
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th>Insurer</th>
                <th>Plan Name</th>
                <th>Premium</th>
                <th>Service Tax</th>
                <th>Total Premium</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <img src="{{webhost + '/' + getTravelPremiumList.company_logo}}" class="img-thumbnail" style="width: 125px;" />
                </td>
                <td class="align-middle">{{getTravelPremiumList.plan_name}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.premium_amount}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.premium_amount}}</td>
                <td class="align-middle"><i class="fas fa-rupee-sign"></i> {{summaryData.premium_amount}}</td>
              </tr>

              </tbody>
            </table>
            <div *ngFor="let item of summaryData.proposer_insurer_details; let i = index;">

            <mat-expansion-panel   [expanded]="true">
                  <mat-expansion-panel-header>
                <mat-panel-title>
                  <span *ngIf="i == 0">Proposer Details</span>
                  {{insureReligarePerson.type}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row box-card">
                <div class="col-md-12">
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong>Name:</strong> {{item.title}} {{item.first_name}} {{item.last_name}}</li>
                      <li class="list-group-item"><strong>Gender:</strong>{{item.gender}}</li>
                      <li class="list-group-item"><strong>D.O.B:</strong> {{item.dob}}</li>
                      <li class="list-group-item"><strong>Email:</strong> {{item.personal_email}}</li>
                      <li class="list-group-item"><strong>Mobile Number:</strong> {{item.mobile_no}}</li>
                      <li class="list-group-item" *ngIf="item.resedential_contact_no != '' && item.resedential_contact_no != null"><strong>Phone:</strong> {{item.resedential_contact_no}}</li>
                      <li class="list-group-item" *ngIf="item.official_email != '' && item.official_email != null"><strong>Offical Email:</strong> {{item.official_email}}</li>
                      <li class="list-group-item" *ngIf="item.aadhar_no != '' && item.aadhar_no != null"><strong>Aadhar No:</strong> {{item.aadhar_no}}</li>
                      <li class="list-group-item" *ngIf="item.pan_no != '' && item.pan_no != null"><strong>Pan No:</strong> {{item.pan_no}}</li>
                      <li class="list-group-item"><strong>PassPort:</strong> {{item.gst_no}}</li>

                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-3">
                    <ul class="m-0 list-group">
                      <li class="list-group-item"><strong> Address1:</strong> {{item.res_address_line1}}</li>
                      <li class="list-group-item"*ngIf="item.res_address_line2 != '' && item.res_address_line2 != null"><strong>Address2 :</strong> {{item.res_address_line2}}</li>
                      <li class="list-group-item"><strong>Area:</strong> {{item.res_area}}</li>
                      <li class="list-group-item"><strong>City:</strong> {{item.res_city}}</li>
                      <li class="list-group-item"><strong>State:</strong> {{item.res_state}}</li>
                      <li class="list-group-item"><strong>Pincode:</strong> {{item.res_pincode}}</li>

                    </ul>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>

            </div>
            <br>
            <p class="mt-2 pl-3"><mat-checkbox [(ngModel)]="acceptSummaryDeclaration">I hereby declare all  the  details provided above is correct</mat-checkbox></p>
          </section>
          <hr>
          <!--<div class="row">-->
            <!--<div class="col-md-12 text-center">-->
              <!--<button mat-button matStepperPrevious >Back</button>-->
              <!--<button mat-raised-button color="primaryBlue" class="ml-2" [disabled]="!acceptSummaryDeclaration" (click)="paynow();">Pay Now</button>-->
            <!--</div>-->
          <!--</div>-->
          <div class="row"  *ngIf="summaryData">
            <div class="col-md-12 text-center">
              <form action={{summaryData.action}}  method='post' #form>

                <div>
                  <input type='hidden' name='proposalNum' value={{summaryData.proposalNum}}/>
                  <input type='hidden' name='returnURL' value={{summaryData.returnURL}}/>
                </div>
                <div class="col-md-12">
                  <div class="proposal-buttom mb-3 text-center w-100">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primaryBlue" [disabled]="!acceptSummaryDeclaration" (click)="form.submit()">Pay Now</button>
                  </div>
                </div>
              </form>

            </div>
          </div>

        </mat-step>


      </mat-horizontal-stepper>

    </div>
  </div>
</div>
