<div class="container dashboard h-100" fxLayoutAlign="start start">
  <div class="row my-flex-card">
    <h2 class="w-100 text-center" style="color: #6db100">Bajaj Goal Suraksha</h2>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block">
          <div class="aboutImg">
            <img src="assets/img/Bajaj Life_Goal Suraksha2.jpg" style="height:605px;" class="w-100">
            <div class="aboutContent">
              <h4 class="w-100 text-center">About Bajaj Goal Suraksha</h4>
              <p class="text-justify text-left">At the highest tax slab (30%), effective returns will be upwards… <button class="btn btn-sm" style="border: 1px solid #000; background-color: inherit; padding: 0px 3px; font-size:11px;"><span><a scrollTo href="#knowMoreShow" style="color: #000000;">Know more</a></span></button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-block AllFormView">
          <mat-card class="p-4" style="background: linear-gradient(to top, #e3eaa4 0%, #b8cc6a 100%) !important; color:#fff;">
            <!--<h2 class="w-100 text-center" >Let us assist you</h2>-->
            <form [formGroup]="bajajgold">

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="First Name" formControlName="fname" required maxlength="30" (keypress)="nameValidate($event)" class="textFieldd">
                    <mat-error *ngIf="bajajgold.controls.fname.errors?.required">First Name is required</mat-error>
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput placeholder="last Name" formControlName="lname" required maxlength="30" (keypress)="nameValidate($event)" class="textFieldd">
                      <mat-error *ngIf="bajajgold.controls.lname.errors?.required">Last Name is required</mat-error>
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                  </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input matInput [matDatepicker]="picker" placeholder="Date Of Birth (DD/MM/YYYY)" formControlName="dob" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" (keypress)="dobValidate($event)" required>
                      <mat-error *ngIf="bajajgold.controls.dob.errors?.required">DOB  is required</mat-error>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Gender" formControlName="gender" required>
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="bajajgold.controls.gender.errors?.required">Gender is required</mat-error>
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Mobile" formControlName="mobile" (keypress)="numberValidate($event)" required minlength="10"  maxlength="10">
                    <mat-error *ngIf="bajajgold.controls.mobile.errors?.required">Mobile number is required</mat-error>
                    <mat-error *ngIf="bajajgold.controls.mobile.hasError('minlength')">Mobile isn't long enough, minimum of 10 characters</mat-error>
                    <mat-error *ngIf="bajajgold.controls.mobile.hasError('pattern')">Enter valid  Mobile Number</mat-error>
                    <mat-icon matSuffix>call</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Email" formControlName="email" required maxlength="80">
                    <mat-error *ngIf="bajajgold.controls.email.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="bajajgold.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="PinCode" pattern="[1-9][0-9]{5}" (keypress)="numberValidate($event)" minlength="6"   maxlength="6" formControlName="pincode"  (input)="getPincodeDetails($event.target.value, 'personal')"  autocomplete="off" required>
                    <mat-error *ngIf="bajajgold.controls.pincode.errors?.required">Pincode is required</mat-error>
                    <!--<mat-error *ngIf="bajajgold.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>-->
                    <!--<mat-error *ngIf="bajajgold.controls.pincode.hasError('required')">Pincode required</mat-error>-->
                    <mat-error *ngIf="bajajgold.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>
                    <mat-icon matSuffix>place</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Policy Term" formControlName="policyTerm" autocomplete="off"  required (selectionChange)="getPaymentTerm()">
                      <mat-option *ngFor="let list of getpolicyTerm | keys" [value]= 'list.value'>
                        {{list.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="bajajgold.controls.policyTerm.errors?.required">Policy Term is required</mat-error>
                  </mat-form-field>
                </div>
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<input matInput placeholder="Policy Term" formControlName="policyTerm" required>-->
                    <!--<mat-error *ngIf="bajajgold.controls.policyTerm.errors?.required">Policy Term is required</mat-error>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <div class="col-md-6">

                </div>
                <!--<div class="col-md-12">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<input matInput placeholder="Payment Term" formControlName="paymentTerm" required>-->
                    <!--<mat-error *ngIf="bajajgold.controls.paymentTerm.errors?.required">Payment Term is required</mat-error>-->
                    <!--&lt;!&ndash;<mat-icon matSuffix>person</mat-icon>&ndash;&gt;-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <div class="col-md-12">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Payment Term" formControlName="paymentTerm" autocomplete="off"  required>
                      <mat-option *ngFor="let list of paymentTerm | keys" [value]= 'list.value'>
                        {{list.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="bajajgold.controls.paymentTerm.errors?.required">Payment Term is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Payment frequency" formControlName="frequency" autocomplete="off"  required>
                      <mat-option *ngFor="let list of PaymentFreq | keys" [value]= 'list.value'>
                        {{list.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="bajajgold.controls.frequency.errors?.required">Payment frequency is required</mat-error>
                  </mat-form-field>
                </div>
                <!--<div class="col-md-12">-->
                  <!--<mat-form-field class="w-100">-->
                    <!--<input matInput placeholder="Payment frequency" formControlName="frequency" required>-->
                    <!--<mat-error *ngIf="bajajgold.controls.frequency.errors?.required">Payment frequency is required</mat-error>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <div class="col-md-12">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Sum Assured Amount" formControlName="premium" required (keypress)="nameValidate($event)" maxlength="7">
                    <mat-error *ngIf="bajajgold.controls.premium.errors?.required">Sum Assured Amount is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12 text-center mt-3">
                  <!--<form action={{redirectUrl}}  method='POST' #form>-->
                    <button mat-button type="submit"  style="color:#fff; Background:#6db100; border: 1px solid #fff;" (click)="getSubmitDetails(bajajgold.value)">Submit</button>
                  <!--&lt;!&ndash;</form>&ndash;&gt;style="background: #fff; color: #000"-->
                  <button mat-button type="reset" style="color: #fff; position: absolute; right: 10px;"><i class="material-icons">refresh</i> Reset</button>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>

    <section id="knowMoreShow">
      <div class="col-12 mt-4 border border-dark p-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="text-center" style="color: #17a2b8"> Why This Plan Should Not Be Missed by Anyone</h4>
          </div>
          <ol class="ml-4">
            <li> Rare opportunity to lock high returns for the next 10/15 years .</li>
            <li> Returns of up to 6.20% tax-free.</li>
            <li>FD rates as of Oct 2018 for 3-year FD is 7.5% and 5-year FD is 7.25% (constantly reducing)</li>
          </ol>
          The current FD rates of about 7.25% (Oct 2018) will reduce significantly in the coming years because of the following major national and international developments: .
          <ol class="ml-4">
            <li> Reduction in crude oil prices .</li>
            <li> Decline in interest rate of G-Sec (Government of India Securities) .</li>
            <li>Appreciation of the Rupee.</li>
            <li>Decline in inflation.</li>
          </ol>  </div>
      </div>
    </section>

  </div>
</div>
