<div class="container-fluid">
  <!--    apolloMunichProposal-->
  <div class="row apolloMunichProposal mb-4">
    <div class="col-md-12">
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="">
          <ng-template matStepLabel>PROPOSER DETAILS</ng-template>
          <mat-accordion class="w-100 float-left">
            <form [formGroup]="customerDetails">
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    PROPOSER DETAILS
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row ">
                  <div class="col-md-12 box-card pt-3">
                    <div class="row">
                      <div class="col-md-3 mt-3" >
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Title" formControlName="title" (change)="changeTitle()" required>
                            <mat-option *ngFor="let title of titleList | keys" value="{{title.key}}" > {{title.value}} </mat-option>
                          </mat-select>
                          <mat-error *ngIf="customerDetails.controls.title.errors?.required">Title is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="firstName"  (keypress)="nameValidate($event)" autocomplete="off" required >
                          <mat-error *ngIf="customerDetails.controls.firstName.errors?.required">First Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Middle Name" formControlName="middleName" (keypress)="nameValidate($event)" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="lastName" (keypress)="nameValidate($event)" required>
                          <mat-error *ngIf="customerDetails.controls.lastName.errors?.required">last Name is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <mat-select placeholder="Gender" formControlName="gender" required >
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                          </mat-select>
                          <mat-error *ngIf="customerDetails.controls.gender.errors?.required">Gender is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" [max]="today" placeholder="DOB (DD/MM/YYYY)"   formControlName="dob" (dateInput)="addEvent($event,'proposor')" (dateChange)="addEvent($event,'proposor')" (keypress)="dobValidate($event)"  minlength="10"  maxlength="10"   autocomplete="off"  required >
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="customerDetails.controls.dob.errors?.required">DOB is required</mat-error>
                        </mat-form-field>
                        <div class="error" *ngIf="personalDobError != ''">{{personalDobError}}</div>
                      </div>
                      <div class="col-md-3 mt-3"><mat-form-field class="w-100">
                        <input matInput placeholder="Email ID"   formControlName="email"  autocomplete="off" required>
                        <mat-error *ngIf="customerDetails.controls.email.errors?.required">Email ID is required</mat-error>
                        <mat-error *ngIf="customerDetails.controls.email.hasError('pattern')">Please Enter Correct Format</mat-error>
                      </mat-form-field>
                      </div>

                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Mobile Number"  (keypress)="numberValidate($event)"   maxlength="10" formControlName="mobile" autocomplete="off" required>
                          <mat-error *ngIf="customerDetails.controls.mobile.errors?.required">Mobile Number is required</mat-error>
                          <mat-error *ngIf="customerDetails.controls.mobile.hasError('pattern')">Enter Valid  Mobile Number</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Alternate Contact"  (keypress)="numberValidate($event)"   maxlength="10" formControlName="alternateContact" autocomplete="off">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3 mt-3">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="GST Number"  minlength="15"  maxlength="15"  class="text-uppercase" formControlName="gstNumber" (keypress)="idValidate($event)" pattern="^([0-9]){2}([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}([0-9]){1}([a-zA-Z]){1}([a-zA-Z0-9]){1}?$"  autocomplete="off" >
                          <mat-error *ngIf="customerDetails.controls.gstNumber.hasError('minlength')">GST Number isn't long enough, minimum of 15 characters</mat-error>
                          <mat-error *ngIf="customerDetails.controls.gstNumber.hasError('pattern')">Enter Valid GST Number</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="row" fxLayoutAlign="center center">


<!--                        <div class="col-md-12">-->
<!--                          <div class="box-card addressBox">-->

<!--                            <h6 class="color-blue">COMMUNICATION ADDRESS</h6>-->

<!--                            <div class="row">-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="Address 1" rows="2" formControlName="address" autocomplete="off" maxlength="30" required>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.address.errors?.required">Address is required</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="Address 2" rows="2" formControlName="address2" maxlength="30"   autocomplete="off" required>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.address2.errors?.required">Address2 is required</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="Address 3" rows="2" formControlName="address3"  maxlength="30"  autocomplete="off">-->
<!--                                  <mat-error *ngIf="customerDetails.controls.address3.errors?.required">Address3 is required</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="PIN Code"  (keypress)="numberValidate($event)" pattern="[1-9][0-9]{5}"  minlength="6" maxlength="6" formControlName="pincode"  (input)="pincode($event.target.value,'comm')" autocomplete="off" required>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.pincode.hasError('minlength')">Pin should be 6 digits</mat-error>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.pincode.hasError('required')">Pincode required</mat-error>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.pincode.hasError('pattern')">Enter Valid  Pin</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="State" formControlName="state"  autocomplete="off" readonly required >-->
<!--                                  <mat-error *ngIf="customerDetails.controls.state.errors?.required">State is required</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="City" formControlName="city"  autocomplete="off" readonly required>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.city.errors?.required">City is required</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="District" formControlName="district"  autocomplete="off" readonly required>-->
<!--                                  <mat-error *ngIf="customerDetails.controls.district.errors?.required">District is required</mat-error>-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                              <div class="col-md-3 mt-3">-->
<!--                                <mat-form-field class="w-100">-->
<!--                                  <input matInput placeholder="LandMark" formControlName="landmark"  autocomplete="off" >-->
<!--                                </mat-form-field>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->

                      </div>



                      <div class="proposal-buttom mt-3 text-right w-100">

                        <!--                        <button mat-raised-button color="primaryBlue"  (click)="createProposal(customerDetails.value)" >Next</button>-->

                        <button mat-raised-button color="primaryBlue"  (click)="nextTab(stepper,customerDetails.value,'stepper1')" >Next</button>
                      </div>

                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </form>
          </mat-accordion>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>

