.customCard {
  height: 250px !important;
}
.docCard {
  height: 225px !important;
}
.mailbox[_ngcontent-c15] .empty[_ngcontent-c15] mat-icon[_ngcontent-c15] {
  font-size: 137px !important;
  height: 149px !important;
  //width: 205px;
}